{# @var node \Generated\Shared\Transfer\NavigationNodeStorageTransfer #}

{% extends atom('node') %}

{% define config = {
    name: 'navigation-multilevel-node',
    tag: 'li',
} %}

{% block body %}
    {{ parent() }}

    <ul class="menu">
        {% for childNode in node.children %}
            {% set hasChildren = childNode.hasChildren | default(childNode.children | length) %}

            {% include molecule('navigation-multilevel-node') with {
                class: 'menu__item' ~ (hasChildren ? ' menu__item--has-children-list') ~ (not childNode.url ? ' ' ~ childNode.cssClass),
                data: {
                    node: childNode,
                },
            } only %}
        {% endfor %}
    </ul>
{% endblock %}

{% block url %}
    <a class="link {{ node.cssClass }}" href="{{ functionExists('generatePath') ? generatePath(node.url) : node.url }}">{{ node.title }}</a>
{% endblock %}

{% block link %}
    <a class="link {{ node.cssClass }}" href="{{ functionExists('generatePath') ? generatePath(node.url) : node.url }}">{{ node.title }}</a>
{% endblock %}

{% block externalUrl %}
    <a class="link {{ node.cssClass }}" href="{{ node.url }}" target="_blank">{{ node.title }}</a>
{% endblock %}

{% block other %}
    <span tabindex="0">{{ node.title }}</span>
{% endblock %}

