{% extends model('component') %}

{% define config = {
    name: 'cart-item-attributes',
    tag: 'ul'
} %}

{% define data = {
    cartItem: required,
    attributes: required,
    attributeOptions: {}
} %}

{% set itemAttributes = data.attributes[data.cartItem.sku] | default(null) %}

{% set options = [] %}

{% block body %}

    {% if itemAttributes|length > 0 %}
        {# Product Variants #}
        <li><strong>{{ 'product.variants' | trans }}:</strong></li>
        <li>
            <form method="POST" action="{{ path('cart/update', {'sku': data.cartItem.sku }) }}">
                {% for attributeName, attributeOptions in itemAttributes %}
                        <div data-component="cart-item">
                            {% if attributeOptions|length > 1 %}

                                {% for optionName, properties in attributeOptions %}
                                    {% set element = {value: optionName, label: optionName} %}
                                    {% if attribute(properties,'selected') %}
                                        {% set element = element|merge({selected: "selected"}) %}
                                    {% endif %}
                                    {% if not attribute(properties,'available') %}
                                        {% set element = element|merge({disabled: "disabled"}) %}
                                    {% endif %}
                                    {% set options = options|merge([element]) %}
                                {% endfor %}

                                <label>{{ ('product.attribute.' ~ attributeName) | trans }}:

                                    {% include atom('select') with {
                                        modifiers: ['expand'],

                                        config: {
                                            tag: 'div'
                                        },
                                        data: {
                                            options: options,
                                            label: 'product.attribute.' | trans
                                        },
                                        attributes: {
                                            name: 'preselectedAttributes[' ~ attributeName ~ ']'
                                        }
                                    } only %}
                                </label>

                                <input name="selectedAttributes[{{ attributeName }}]" type="hidden">

                            {% endif %}
                        </div>
                {% endfor %}

                <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey">
                <input type="hidden" value="{{ data.cartItem.quantity }}" name="quantity">

                {% if data.cartItem.productOptions|length > 0 %}
                    {% for productOption in data.cartItem.productOptions %}
                        <input name="product-option[{{ productOption.groupName }}]" type="hidden" value="{{ productOption.idProductOptionValue }}">
                    {% endfor %}
                {% endif %}
            </form>
        </li>
    {% endif %}
{% endblock %}
