{% extends model('component') %}

{% define config = {
    name: 'cart-item-attributes',
    tag: 'ul'
} %}

{% define data = {
    cartItem: required,
    attributes: required,
    attributeOptions: {}
} %}

{% set itemAttributes = data.attributes[data.cartItem.sku] | default(null) %}

{% set options = [] %}

{% block body %}

    {% if itemAttributes|length > 0 %}
        {# Product Variants #}
        <li><strong>{{ 'product.variants' | trans }}:</strong></li>
        <li>
            <form method="POST" action="{{ path('cart/update', {'sku': data.cartItem.sku }) }}">
                {% for attributeName, attributeOptions in itemAttributes %}
                        <div data-component="cart-item">
                            {% if attributeOptions|length > 1 %}

                                {% for optionName, properties in attributeOptions %}
                                    {% set element = {value: optionName, label: optionName} %}
                                    {% if attribute(properties,'selected') %}
                                        {% set element = element|merge({selected: "selected"}) %}
                                    {% endif %}
                                    {% if not attribute(properties,'available') %}
                                        {% set element = element|merge({disabled: "disabled"}) %}
                                    {% endif %}
                                    {% set options = options|merge([element]) %}
                                {% endfor %}

                                {% include atom('select') with {
                                    modifiers: ['expand'],

                                    data: {
                                        options: options,
                                        label: 'product.attribute.' | trans
                                    },
                                    attributes: {
                                        name: 'preselectedAttributes[' ~ attributeName ~ ']'
                                    }
                                } only %}

                                <label>{{ ('product.attribute.' ~ attributeName) | trans }}:

                                    <select class="js-cart-item-select" name="preselectedAttributes[{{ attributeName }}]">
                                        <option value="">
                                            {{ 'product.attribute._none' | trans }}
                                        </option>
                                        {% for option, properties in attributeOptions %}
                                            <option value="{{ option }}"
                                                    {% if attribute(properties,'selected') %}  selected{% endif %} {% if not attribute(properties,'available') %}disabled{% endif %}>
                                                {{ option }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <input name="selectedAttributes[{{ attributeName }}]" type="hidden">
                            {% else %}
                                <label>
                                    {{ ('product.attribute.' ~ attributeName) | trans }}: <a href="{{ url("cart") }}">{{ 'reset' | trans }}</a>
                                    {% for option, properties in attributeOptions %}
                                        <select class="js-cart-item-select" name="selectedAttributes[{{ attributeName }}]">
                                            <option value="{{ option }}" selected>
                                                {{ option }}
                                            </option>
                                        </select>
                                    {% endfor %}
                                </label>
                            {% endif %}
                        </div>
                {% endfor %}

                <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey">
                <input type="hidden" value="{{ data.cartItem.quantity }}" name="quantity">

                {% if data.cartItem.productOptions|length > 0 %}
                    {% for productOption in data.cartItem.productOptions %}
                        <input name="product-option[{{ productOption.groupName }}]" type="hidden" value="{{ productOption.idProductOptionValue }}">
                    {% endfor %}
                {% endif %}
            </form>
        </li>
    {% endif %}
{% endblock %}
