{% extends model('component') %}

{% define config = {
    name: 'cart-item',
    tag: 'article'
} %}

{% define data = {
    cart: required,
    cartItem: required,
    attributes: required
} %}

{% set canWrite = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}

{% block body %}
    <div class="grid grid--stretch grid--gutters-wide">
        <div class="col col--sm-12 col--lg-2">
            {% include molecule('cart-image', 'CartPage') with {
                data: {
                    cartItem: data.cartItem
                }
            } only %}
        </div>

        <div class="col col--sm-12 col--lg-5">
            <h6>{{ data.cartItem.name }}</h6>

            <small class="text-secondary">
                {{ 'cart.item.sku' | trans }}
                {{ data.cartItem.sku }}
            </small>

            {{ widget('ProductBundleItemsWidgetPlugin', data.cartItem, data.cart) }}

            {% include molecule('cart-item-summary', 'CartPage') with {
                data: {
                    cartItem: data.cartItem
                }
            } only %}
        </div>

        <div class="col col--sm-12 col--lg-5">
            {% include molecule('cart-quantity-input', 'CartPage') with {
                data: {
                    cartItem: data.cartItem,
                    cart: data.cart
                }
            } only %}

            {% if canWrite %}
                <a class="float-right" href="{{ path('cart/remove', {'sku': data.cartItem.sku, 'groupKey': data.cartItem.groupKey }) }}">
                    &times; {{ 'remove' | trans }}
                </a>
            {% endif %}

            {% if data.attributes | length > 1 %}
                {% include molecule('cart-item-attribute-list', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem,
                        cartItemAttributes: data.attributes
                    }
                } only %}
            {% endif %}

            {{ widget('CartNoteQuoteItemWidgetPlugin', data.cartItem, data.cart) }}
        </div>
    </div>
{% endblock %}
