{% extends model('component') %}

{% define config = {
    name: 'business-unit-from-address-field',
    id: 'company_business_unit_form_address_collection',
    tag: 'div'
} %}

{% define data = {
    field: required,
} %}

{% block body %}

    {% for key, item in data.field.children %}
        {% if item.vars.checked %}
            {{ form_widget(item) }}
            <a href="{{ url('company/address/update', {'id': item.vars.value }) }}">
                {{ "company.account.address.edit" | trans }}
            </a>
            <a href="{{ url('company/address/delete-confirmation', {'id': item.vars.value, 'idBusinessUnit': data.idBusinessUnit }) }}">
                {{ "company.account.address.delete" | trans }}
            </a>
        {% endif %}
    {% endfor %}

    {% for key, item in data.field.children %}
        {% if not item.vars.checked %}
            {{ form_widget(item) }}
            <a href="{{ url('company/address/update', {'id': item.vars.value }) }}">
                {{ "company.account.address.edit" | trans }}
            </a>
            <a href="{{ url('company/address/delete-confirmation', {'id': item.vars.value, 'idBusinessUnit': data.idBusinessUnit }) }}">
                {{ "company.account.address.delete" | trans }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
