{% extends model('template') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    title: 'global.spryker.shop' | trans,
    metaTitle: 'global.spryker.shop' | trans,
    metaDescription: '',
    metaKeywords: '',
    hasCookies: app.request.cookies.get('last-visit'),
} %}

{% set isNewFrontendBuildSupported = false %}

{% block template %}
    <!doctype html>
    <html lang="{{ data.locale }}">
        <head>
            {% block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
                <meta name="title" content="{% block metaTitle %}{{ data.metaTitle }}{% endblock %}">
                <meta name="description" content="{% block metaDescription %}{{ data.metaDescription }}{% endblock %}">
                <meta name="keywords" content="{% block metaKeywords %}{{ data.metaKeywords }}{% endblock %}">
                <meta name="generator" content="spryker">
            {% endblock %}

            {% block headStyles %}
                <link rel="stylesheet" href="{{ publicPath('css/yves_default.critical.css') }}">

                {% block nonCtriticalStyles %}
                    <link rel="stylesheet" href="{{ publicPath('css/yves_default.non-critical.css') }}">
                {% endblock %}
            {% endblock %}

            {% block headScripts %}
                {% if isNewFrontendBuildSupported %}
                    {% block esmHeadScripts %}
                        <script nomodule type="application/javascript" src="{{ publicPath('js/yves_default.runtime.legacy.js') }}"></script>
                        <script type="module" src="{{ publicPath('js/yves_default.runtime.js') }}" crossorigin="anonymous"></script>
                    {% endblock %}
                {% else %}
                    {% block legacyHeadScripts %}
                        <script src="{{ publicPath('js/yves_default.runtime.js') }}"></script>
                    {% endblock %}
                {% endif %}
            {% endblock %}

            <title>{% block headTitle %}{{ data.title }}{% endblock %}</title>
        </head>
        <body {%- if block('class') is not empty %} class="{%- block class -%}{%- endblock -%}"{%- endif %}
            {%- block attributes %} {{qa('page')}} {% endblock -%}>

            {{ parent() }}

            {% block footerScripts %}
                {% if isNewFrontendBuildSupported %}
                    {% block esmFooterScripts %}
                        <script nomodule type="application/javascript" src="{{ publicPath('js/yves_default.es6-polyfill.legacy.js') }}"></script>
                        <script nomodule type="application/javascript" src="{{ publicPath('js/yves_default.vendor.legacy.js') }}"></script>
                        <script nomodule type="application/javascript" src="{{ publicPath('js/yves_default.app.legacy.js') }}"></script>
                        <script type="module" src="{{ publicPath('js/yves_default.vendor.js') }}" crossorigin="anonymous"></script>
                        <script type="module" src="{{ publicPath('js/yves_default.app.js') }}" crossorigin="anonymous"></script>
                    {% endblock %}
                {% else %}
                    {% block legacyFooterScripts %}
                        <script src="{{ publicPath('js/yves_default.es6-polyfill.js') }}"></script>
                        <script src="{{ publicPath('js/yves_default.vendor.js') }}"></script>
                        <script src="{{ publicPath('js/yves_default.app.js') }}"></script>
                    {% endblock %}
                {% endif %}
            {% endblock %}

            {%- block bodyTop %}{% endblock -%}
        </body>
    </html>
{% endblock %}
