{% extends template('widget') %}

{% define data = {
    isSubscribed: _widget.isSubscribed
} %}

{% block body %}
    <a href="{{ url('customer/newsletter') }}" class="float-right">{{ 'general.edit.button' | trans }}</a>
    <h5>{{ 'customer.account.newsletter' | trans }}</h5>

    <hr>
    {% if data.isSubscribed %}
        {{ 'customer.newsletter.subscribed' | trans }}
    {% else %}
        {{ 'customer.newsletter.not_subscribed' | trans }}
    {% endif %}
{% endblock %}
