{% extends model('component') %}

{% define config = {
    name: 'agent-navigation',
    tag: 'div'
} %}

{% define data = {
    agent: required
} %}

{% block body %}
    <span>{{ 'agent.account.page_title' | trans }}:</span>
    <label class="select" data-qa="component select">
        <select class="select__select" onchange="location = this.value;">
            <option selected="selected">
                {{ data.agent.firstName ~ ' ' ~ data.agent.lastName }}
            </option>
            <option value="{{ path('agent/overview') }}">
                {{ 'agent.account.overview' | trans }}
            </option>
            <option value="{{ path('agent_logout') }}">
                {{ 'agent.control_bar.logout' | trans }}
            </option>
        </select>
        <svg class="icon select__caret" data-qa="component icon">
            <use xlink:href="#:caret-down"></use>
        </svg>
    </label>
{% endblock %}
