{% extends model('component') %}

{% define config = {
    name: 'agent-navigation',
    tag: 'div'
} %}

{% define data = {
    agent: required
} %}

{% block body %}
    <div class="box">
        <ul class="menu menu--wide">
            <li class="menu__item">
                <span>
                    {{ 'agent.account.page_title' | trans }}: {{ data.agent.firstName ~ ' ' ~ data.agent.lastName }}
                </span>
            </li>
            <li class="menu__item">
                <a href="{{ path('agent/overview') }}">
                    {{ "agent.account.overview" | trans }}
                </a>
            </li>
            {% include molecule('quote-request-menu-item', 'AgentQuoteRequestWidget') ignore missing only %}
            <li class="menu__item">
                <a href="{{ path('agent_logout') }}">
                    {{ "agent.control_bar.logout" | trans }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
