{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav'
} %}

{% define data = {
    currentLanguage: currentLanguage,
    availableLanguages: availableLanguages | default([]),
    cartQuantity: app['cart.quantity'],
    showUserMenu: not (hideUserMenu | default(false))
} %}

{% block body %}
    <ul class="menu menu--inline">
        <li class="menu__item">{{ widgetGlobal('PriceModeSwitcherWidgetPlugin') }}</li>
        <li class="menu__separator"></li>
        <li class="menu__item">{{ widgetGlobal('CurrencyWidgetPlugin') }}</li>
        <li class="menu__separator"></li>
        <li class="menu__item">{{ widgetGlobal('LanguageSwitcherWidgetPlugin', app.request) }}</li>
        <li class="menu__separator"></li>

        {# {% for availableLanguage in data.availableLanguages %}
            <li class="menu__item">
                {% if availableLanguage != data.currentLanguage %}
                    <a href="/{{ availableLanguage }}">{{ availableLanguage }}</a>
                {% else %}
                    <span>{{ availableLanguage }}</span>
                {% endif %}
            </li>
        {% endfor %} #}

        {% if data.cartQuantity > 0 %}
            <li class="menu__item">{{data.cartQuantity}}</li>
        {% endif %}
        <li class="menu__item"><a href="{{ url('cart') }}">{{ 'global.cart' | trans }}</a></li>
        <li class="menu__separator"></li>
        
        {% if data.showUserMenu %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="menu__item"><a href="{{ url('customer/overview') }}">{{ 'customer.profile'|trans }}</a></li>
                <li class="menu__item"><a href="{{ url('wishlist/overview') }}">{{ 'wishlist.wishlist'|trans }}</a></li>
                <li class="menu__item"><a href="{{ url('logout') }}">{{ 'customer.logout'|trans }}</a></li>
            {% else %}
                <li class="menu__item"><a href="{{ url('login') }}">{{ 'customer.login'|trans }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
