{% extends model('component') %}

{% define config = {
    name: 'company-navigation',
    tag: 'nav'
} %}

{% define data = {
    activePage: required
} %}

{%- macro isActive(page, activePage) -%}
    {%- if page == activePage -%}menu__item--active{%- endif -%}
{%- endmacro -%}

{%- import _self as macros -%}

{% block body %}
    <ul class="menu">
        <li class="menu__item {{macros.isActive('overview', data.activePage)}}">
            <a href="{{ path('company/overview') }}">{{ 'company.account.overview' | trans }}</a>
        </li>
        <li class="menu__item {{macros.isActive('users', data.activePage)}}">
            <a href="{{ path('company/user') }}" data-id="sidebar-address">{{ 'company.account.company_user' | trans }}</a>
        </li>
        <li class="menu__item {{macros.isActive('address', data.activePage)}}">
            <a href="{{ path('company/address') }}" data-id="sidebar-address">{{ 'company.account.address' | trans }}</a>
        </li>
        <li class="menu__item {{macros.isActive('company-role', data.activePage)}}">
            <a href="{{ path('company/company-role') }}" data-id="sidebar-address">{{ 'company.account.company_role' | trans }}</a>
        </li>
        <li class="menu__item {{macros.isActive('business-unit', data.activePage)}}">
            <a href="{{ path('company/business-unit') }}" data-id="sidebar-business-unit">{{ 'company.account.business_unit' | trans }}</a>
            {% block businessUnitSubmenu %}{% endblock %}
        </li>
    </ul>
{% endblock %}
