{% extends model('component') %}

{% set name = 'price' %}
{% set tag = 'span' %}

{% set amount = data.amount %}
{% set originalAmount = data.originalAmount | default(null) %}

{% block body %}
    {% if originalAmount -%}
        <span class="stat {{name}}__amount {{name}}__amount--original">{{ originalAmount }}</span>
    {%- endif -%}
    <span class="stat {{name}}__amount {{name}}__amount--default">{{ amount }}</span>
{% endblock %}

