{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    idCompanyUserInvitation: _view.idCompanyUserInvitation,
    title: 'company.user.invitation.title.plural' | trans,
    activePage: 'users'
} %}

{% block companyContent %}
    <div class="box">
        <h5>{{ "company.user.invitation.delete.title" | trans }}</h5>
        <hr class="box__separator">
        {{ "company.user.invitation.delete.confirmation.question" | trans }} <br><br>
        <div class="row">
            <a href="javascript:history.go(-1)" class="button button--info float-left">{{ "general.back.button" | trans }}</a>
            <a href="{{url('company/user-invitation/delete/confirm', {'idCompanyUserInvitation': data.idCompanyUserInvitation})}}" class="button button--alert float-right">{{ "company.user.invitation.delete.button" | trans }}</a>
        </div>
     </div>
{% endblock %}
