{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    promotionProducts: _widget.promotionProducts,
} %}

{% block body %}
    {% if data.promotionProducts | length %}
        <div class="box">
            <h4>{{ 'cart.promotion.items' | trans }}</h4>
        </div>

        <div class="grid">
            {% for product in data.promotionProducts %}
                {% block product %}
                    <div class="col col--sm-12 col--md-6">
                        {% embed molecule('product-item') with {
                            data: {
                                product: product,
                            },
                        } only %}
                            {% block sku %}
                                <div class="text-secondary">
                                    {{ 'cart.item.sku' | trans }}
                                    {{ data.sku }}
                                </div>
                            {% endblock %}

                            {% block content %}
                                {{parent()}}

                                {% if data.product.promotionItem.discount.description %}
                                    <hr>
                                    {{ data.product.promotionItem.discount.description }}
                                {% endif %}

                                <hr>
                                {% include molecule('variant-configurator', 'DiscountPromotionWidget') with {
                                    data: {
                                        sku: data.sku,
                                        superAttributes: data.product.attributeMap.superAttributes,
                                        selectedAttributes: data.product.selectedAttributes,
                                        availableAttributes: data.product.availableAttributes,
                                    },
                                } only %}
                                <hr>
                            {% endblock %}

                            {% block actions %}
                                {% set isDisabled = not data.product.idProductConcrete or not data.product.available %}
                                {% set buttonContent %}
                                    {% include atom('icon') with {
                                        data: {
                                            name: 'cart-plus',
                                        },
                                    } only %}
                                    {{- 'page.detail.add-to-cart' | trans -}}
                                {% endset %}

                                {% if isDisabled %}
                                    <button type="button" class="button button--expand" disabled>
                                        {{- buttonContent -}}
                                    </button>
                                {% else %}
                                    <a href="{{ path('cart/add', {sku: data.product.sku}) }}" class="button button--expand {{ config.jsName }}__link-add-to-cart" data-init-single-click>
                                        {{- buttonContent -}}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
