{% extends model('component') %}

{% define config = {
    name: 'review',
    tag: 'article'
} %}

{% define data = {
    summary: required,
    ratingValue: required,
    ratingMaxValue: required,
    nickname: required,
    createdAt: required,
    description: required
} %}

{% define attributes = {
    itemscope: '',
    itemtype: 'http://http://schema.org/Reviewg',
    itemprop: 'review',
} %}

{% block body %}
    <h5 itemprop="name">{{ data.summary | e('html') }}</h5>

    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        data: {
            value: data.ratingValue,
            maxValue: data.ratingMaxValue,
            useHalfSteps: true
        },
        attributes: {
            readonly: true
        }
    } only %}

    <ul class="list spacing-y text-secondary">
        <li class="list__item">
            <small>{{ 'page.product.by' | trans }}</small> <span itemprop="author">{{ data.nickname | e('html')}}</span>
        </li>
        <li class="list__item">
            <small>{{ 'product_review.on' | trans }}</small> <span itemprop="datePublished">{{ data.createdAt }}</span>
        </li>
    </ul>

    <span itemprop="reviewBody">{{ data.description | e('html')}}</span>
{% endblock %}
