{% block link %}
<a href="{{ path('customer/order/reorder', {'idOrder': _widget.order.idSalesOrder}) }}">
    <small><i class="fa fa-repeat"></i> {{ 'customer.order.reorder' | trans }}</small>
</a>
{% endblock %}

{% block form_start %}
<form action="{{ path('customer/order/reorder-items') }}" method="post"
      class="reorder" data-component="customer-reorder-widget">
    <input type="hidden" name="id" value="{{ _widget.order.idSalesOrder }}" />
{% endblock %}

{% block form_checkbox %}
    <input type="checkbox" class="reorder order-item"
           title="Sales order item id, selected for reorder"
           {% if not _widget.availability %} disabled {% endif %}
           name="items[]"
           value="{{ _widget.item.idSalesOrderItem }}"
    />
{% endblock %}

{% block form_buttons %}
<div class="small-12 medium-6 large-4 columns align-bottom">
    <a href="{{ path('customer/order/reorder', {'idOrder': _widget.order.idSalesOrder}) }}"
       class="button success expanded"
    >
        {{ 'customer.order.reorder_all' | trans }}
    </a>
</div>
<div class="small-12 medium-6 large-4 columns align-bottom">
    <input type="submit" class="button expanded success reorder partial"
           value="{{ 'customer.order.reorder_selected' | trans }}"
    />
</div>
{% endblock %}

{% block form_end %}
</form>
{% endblock %}
