{% extends model('component') %}

{% define config = {
    name: 'configurator-state-form',
} %}

{% define data = {
    form: required,
    action: required,
    submitButtonText: required,
    submitButtonClass: 'btn-link',
    isSubmitButtonActive: true,
    method: 'GET'
} %}

{% block body %}
    {{ form_start(data.form,  {'action': data.action, 'method': data.method}) }}

    {% for slotForm in data.form.slots %}
        {{ form_widget(slotForm) }}
    {% endfor %}

    <button type="submit" name="submit" class="{{ data.submitButtonClass }}" {{ data.isSubmitButtonActive ? '' : 'disabled' }}>
        {{ data.submitButtonText }}
    </button>

    {{ form_end(data.form) }}
{% endblock %}
