{% extends model('component') %}

{% set name = 'product-details-info' %}
{% set description = data.description %}
{% set attributes = data.attributes %}

{% block body %}
    <div class="callout">
        <h5>{{ 'product.attribute.long_description' | trans }}</h5>
        <p>{{ description }}</p>

        <h5>{{ 'page.product.details' | trans }}</h5>
        <div class="row">
            {% for attributeName, attributeValue in attributes if attributeName  %}
                <p class="small-12 medium-6 xlarge-4 xxlarge-3 columns">
                    <strong>{{ ('product.attribute.'~attributeName) | trans }} </strong><br>
                    {{ attributeValue }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
