{% extends model('component') %}

{% define config = {
    name: 'banner',
} %}

{% define data = {
    imageUrl: required,
    title: required,
    subtitle: required,
    clickUrl: required,
    altText: required
} %}

{% block body %}
    <div>
        <a href="{{ data.clickUrl | raw }}">
            {% block content %}
                <div class="box box--stretch">
                    {% block image %}
                        <span>
                            <img src="{{ data.imageUrl | raw }}" alt="{{ data.altText | escape }}">
                        </span>
                    {% endblock %}

                    {% block title %}
                        <h5>{{ data.title | escape }}</h5>
                    {% endblock %}

                    {% block subtitle %}
                        <p>{{ data.subtitle | escape }}</p>
                    {% endblock %}
                </div>
            {% endblock %}
        </a>
    </div>
{% endblock %}
