{% extends model('component') %}

{% define config = {
    name: 'banner',
    tag: 'li'
} %}

{% define modifiers: null, %}

{% define data = {
    data: {
        imageUrl: null,
        title: null,
        subtitle: null,
        clickUrl: null,
        altText: null
    }
} %}

{% block body %}
    {% if modifiers %}
        <div class="col">
            <a href="{{ data.data.banner.clickUrl | raw }}">
                <div class="box box--stretch">
                    <span>
                        <img src="{{ data.banner.imageUrl | raw }}" alt="{{ data.banner.altText | escape }}" />
                    </span>
                    <h5>{{ data.banner.title | escape }}</h5>
                    <p>{{ data.banner.subtitle | escape }}</p>
                </div>
            </a>
        </div>
    {% else %}
        <div class="col">
            <a href="{{ data.banner.clickUrl | raw }}">
                <div class="box box--stretch">
                    <h5>{{ data.banner.title | escape }}</h5>
                    <span>
                        <img src="{{ data.banner.imageUrl | raw }}" alt="{{ data.banner.altText | escape }}" />
                    </span>
                    <p>{{ data.banner.subtitle | escape }}</p>
                </div>
            </a>
        </div>
    {% endif %}
{% endblock %}