{% extends model('component') %}

{% define config = {
    name: 'autocomplete-form',
    tag: 'autocomplete-form',
} %}

{% define data = {
    id: required,
    name: 'query',
    value: '',
    hiddenValue: '',
    suggestionsUrl: required,
    placeholder: 'autocomplete.placeholder',
    showCleanButton: false,
} %}

{# @deprecated property "suggested-item-selector" is deprecated: use "suggested-item-class-name" instead. #}
{% define attributes = {
    'suggested-item-selector': '',
    'suggested-item-class-name': '',
    'query-string': 'query',
    'value-attribute-name': 'data-value',
    'debounce-delay': 500,
    'min-letters': 3,
    'auto-init': false,
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__provider-' ~ data.id,
        attributes: {
            url: data.suggestionsUrl,
        },
    } only %}

    {% include molecule('ajax-loader') with {
        attributes: {
            'provider-class-name': config.jsName ~ '__provider-' ~ data.id,
        },
    } only %}

    {% include molecule('ajax-renderer') with {
        attributes: {
            'provider-class-name': config.jsName ~ '__provider-' ~ data.id,
            'target-class-name': config.jsName ~ '__suggestions-' ~ data.id,
            'render-if-response-is-empty': true,
        },
    } only %}

    {% block input %}
        <div class="grid">
            <div class="col {% if data.showCleanButton %}col--sm-11{% else %}col--sm-12{% endif %}">
                <input type="text"
                       class="input input--expand {{ config.jsName }}__text-input"
                       placeholder="{{ data.placeholder | trans }}"
                       value="{{ data.value }}"
                       autocomplete="off">

                <input {% if data.name is not empty %}name="{{data.name}}"{% endif %}
                       type="hidden"
                       class="{{ config.jsName }}__value-input"
                       value="{{ data.hiddenValue }}">
            </div>

            {% if data.showCleanButton %}
                <div class="col col--sm-1">
                    {% block cleanButton %}
                        <button type="button" class="button button--warning {{ config.jsName }}__clean-button button--expand">
                            &times;
                        </button>
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block suggestions %}
        <div class="box is-hidden {{ config.name }}__suggestions {{ config.jsName }}__suggestions {{ config.jsName }}__suggestions-{{data.id}}"></div>
    {% endblock %}
{% endblock %}
