{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    quoteRequestForm: _view.quoteRequestForm,
    quoteRequest: _view.quoteRequestForm.vars.value,
    latestVersion: _view.quoteRequestForm.vars.value.latestVersion,
    breadcrumbLabel: 'quote_request_page.quote_request.create' | trans,
} %}

{% block content %}
    {% set quote = data.latestVersion ? data.latestVersion.quote : null %}

    {% if not quote or quote.items is empty %}
        <div class="box text-center">
            {% include atom('icon') with {
                modifiers: ['biggest'],
                class: 'text-alt',
                data: {
                    name: 'shopping-cart',
                },
            } only %}
            <h6>{{ 'cart.empty' | trans }}</h6>
        </div>
    {% else %}
        {{ form_start(data.quoteRequestForm) }}
            {{ parent() }}
        {{ form_end(data.quoteRequestForm) }}
    {% endif %}
{% endblock %}

{% block orderInformation %}
    {% for child in data.quoteRequestForm.latestVersion.metadata %}
        <div class="col col--sm-12 col--xl-6">
            <div class="box">
                {{ form_row(child) }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block rgqInformation %}
    <p>{{ 'quote_request_page.quote_request.labels.date' | trans }}: <b>{{ data.quoteRequestForm.vars.value.createdAt | formatDateTime }}</b></p>
    <p>{{ 'quote_request_page.quote_request.labels.status' | trans }}:</p>
    <p>{{ 'quote_request_page.quote_request.labels.valid_till' | trans }}:</p>
    <p>{{ 'quote_request_page.quote_request.labels.history' | trans }}:</p>
{% endblock %}

{% block rfqSidebar %}
    {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') with {
        class: 'list spacing-y',
        data: {
            quote: quote,
            hasMultiShipments: hasMultiShipments,
        }
    } only %}

    {% include molecule('quote-request-cart-summary', 'QuoteRequestPage') with {
        class: 'box',
        data: {
            cart: quote,
            shipmentGroups: data.shipmentGroups,
        },
    } only %}

    <div class="box spacing-top spacing-top--big">
        <a class="button button--expand button--cancel" href="{{ url('cart') }}">
            {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
        </a>
        <hr class="box__separator">
        <button type="submit" class="button button--expand button--success">
            {{ 'quote_request_page.quote_request.submit' | trans }}
        </button>
    </div>
{% endblock %}
