{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    title: 'quote_request_page.quote_request.title_create' | trans,
    quoteRequestForm: _view.quoteRequestForm,
    quoteRequest: _view.quoteRequestForm.vars.value,
    latestVersion: _view.quoteRequestForm.vars.value.latestVersion,
    breadcrumbExtend: [
        {
            label: 'quote_request_page.quote_request.breadcrumb.create' | trans,
        },
    ],
} %}

{% block content %}
    {% set quote = data.latestVersion ? data.latestVersion.quote %}

    {{ parent() }}
{% endblock %}

{% block contentInner %}
    {{ form_start(data.quoteRequestForm) }}
        {{ parent() }}
    {{ form_end(data.quoteRequestForm) }}
{% endblock %}

{% block orderInformation %}
    <div class="grid">
        {% for child in data.quoteRequestForm.latestVersion.metadata %}
            {% block orderInformationBoxWrapper %}
                <div class="col col--sm-12 col--xl-6 spacing spacing--big spacing--inner">
                    {% block orderInformationBoxInner %}
                        {{ form_row(child) }}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block quoteRequestInformation %}
    {% include molecule('quote-request-information', 'QuoteRequestPage') with {
        data: {
            quoteRequest: data.quoteRequest,
        },
    } only %}
{% endblock %}

{% block quoteRequestSidebar %}
    {% block delivery %}
        {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') with {
            data: {
                quote: quote,
                hasMultiShipments: hasMultiShipments,
            },
        } only %}
    {% endblock %}

    {% block summary %}
        {% include molecule('quote-request-cart-summary', 'QuoteRequestPage') with {
            data: {
                cart: quote,
                shipmentGroups: data.shipmentGroups,
            },
        } only %}
    {% endblock %}

    {% block actions %}
        {% set classButtonCancel = 'button button--expand' %}
        {% set classButtonSubmit = 'button button--expand button--success' %}

        <div class="box spacing-top spacing-top--big">
            {% block actionCancel %}
                <a class="{{ classButtonCancel }}" href="{{ url('cart') }}">
                    {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
                </a>
            {% endblock %}

            {% block actionSeparator %}
                <hr class="box__separator">
            {% endblock %}

            {% block actionSubmit %}
                <button type="submit" class="{{ classButtonSubmit }}">
                    {{ 'quote_request_page.quote_request.submit' | trans }}
                </button>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
