{% extends template('widget') %}

{% define data = {
    products: productViews,
    name: productSet.name,
    description: productSet.description,
    images: productSet.imageSets.0.images | default([]),
    optionResetUrls: optionResetUrls,
} %}

{% block body %}
    {% embed organism('product-set-cms-content', 'ProductSetWidget') with {
        data: {
            buttonClass: 'float-none',
            products: data.products,
            name: data.name,
            description: data.description,
            images: data.images,
            optionResetUrls: data.optionResetUrls,
        },
    } only %}
        {% block title %}{% endblock %}

        {% block header %}
            {{ block('productSetTitle') }}

            {% block description %}
                {{ parent() }}
            {% endblock %}
        {% endblock %}

        {% block descriptionInner %}
            <p>{{ data.description }}</p>
        {% endblock %}

        {% block productSet %}
            {{ parent() }}
            {{ block('addToCartForm') }}
            <hr>
        {% endblock %}
    {% endembed %}
{% endblock %}
