{% extends template('widget') %}

{% define data = {
    products: productViews,
    name: productSet.name,
    description: productSet.description,
    images: productSet.imageSets.0.images | default([]),
} %}

{% block body %}
    {% embed organism('product-set-cms-content', 'ProductSetWidget') ignore missing with {
        data: {
            formClass: 'text-center',
            buttonClass: 'float-none',
            products: data.products,
            name: data.name,
            description: data.description,
            images: data.images,
        },
    } only %}
        {% block productSetTitle %}
            <h5>{{ data.name }}</h5>
        {% endblock %}

        {% block title %}{% endblock %}

        {% block header %}
            {{ block('productSetTitle') }}

            {% block description %}
                {% if data.description %}
                    <p>{{ data.description }}</p>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block productSet %}
            {{ parent() }}
            {{ block('addToCartForm') }}
            <hr>
        {% endblock %}
    {% endembed %}
{% endblock %}
