{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    businessUnit: _view.businessUnit,
    addresses: _view.addresses,

    title: 'company.account.business_unit.details' | trans,
    activePage: 'business-unit'
} %}

{% block companyContent %}
    <div class="box text-right">
        <a class="button button--hollow" href="{{ url('company/business-unit') }}">
            {{ 'general.back.button' | trans }}
        </a>
    </div>
    
    {% include molecule('business-unit-table', 'CompanyPage') with {
            class: 'box spacing-top spacing-top--big',
            data: {
                businessUnits: [data.businessUnit],
                actions: {
                    view: false,
                    update: true,
                    delete: true
                }
            }
    } only %}

    <div class="box spacing-top spacing-top--big">
        <a class="float-right" href="{{ url('company/business-unit/address/create', {'id': data.businessUnit.idCompanyBusinessUnit}) }}">
            {{ 'company.account.add_new_address' | trans }}
        </a>
        <h5>{{ 'company.account.business_unit.address' | trans }}</h5>
        {% if data.addresses is not empty %}
            <hr class="box__separator">
            {% for address in data.addresses %}
                <ul class="menu menu--inline float-right">
                    <li class="menu__item">
                        <a href="{{ url('company/address/update', {'id': address.idCompanyUnitAddress }) }}">
                            {{ "company.account.address.edit" | trans }}
                        </a>
                    </li>
                    <li class="menu__item">
                        <a data-init-single-click
                           href="{{ url('company/address/delete', {'id': address.idCompanyUnitAddress, 'idBusinessUnit': data.businessUnit.idCompanyBusinessUnit }) }}">
                            {{ "company.account.address.delete" | trans }}
                        </a>
                    </li>
                </ul>

                {% include molecule('display-company-address', 'CompanyPage') with {
                    data: {
                        address: address
                    }
                } only %}
                
                {% if not loop.last %}<hr class="box__separator">{% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
