{# @var data.merchantStorageProfile \Generated\Shared\Transfer\MerchantStorageProfileTransfer #}

{% extends model('component') %}

{% define config = {
    name: 'merchant-profile',
} %}

{% define data = {
    idMerchant: required,
    merchantStorageProfile: required,
    merchantReference: '',
    merchantName: '',
} %}

{%- block extraClass -%}
    spacing-bottom spacing-bottom--big
{%- endblock -%}

{% block body %}
    <div class="grid" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="identifier" content="{{ data.merchantReference }}"/>
        <meta itemprop="name" content="{{ data.merchantName }}"/>
        {% if data.merchantStorageProfile.logoUrl %}
            <meta itemprop="logo" content="{{ data.merchantStorageProfile.logoUrl | trans }}"/>
        {% endif %}

        {% block contentInner %}
            <div class="col col--sm-12 col--lg-5">
                {% set additionaImageClass = 'box' %}
                {% set additionaImageModifiers = ['thumbnail', 'bigger'] %}

                {% set bannerUrlGlossaryValue = (data.merchantStorageProfile.bannerUrlGlossaryKey ?: '') | trans %}
                {% set hasBannerUrlTranslation = data.merchantStorageProfile.bannerUrlGlossaryKey
                    ? data.merchantStorageProfile.bannerUrlGlossaryKey != bannerUrlGlossaryValue %}
                {% if hasBannerUrlTranslation %}
                    {% block image %}
                        {% include molecule('lazy-image') with {
                            class: additionaImageClass,
                            modifiers: additionaImageModifiers,
                            data: {
                                imageSrc: bannerUrlGlossaryValue,
                            },
                        } only %}
                    {% endblock %}
                {% endif %}
            </div>

            <div class="col col--sm-12 col--lg-7">
                {% block detailContainer %}
                    <div class="box">
                        {% block detail %}
                            <div class="grid">
                                {% block detailInner %}
                                    <div class="col col--sm-12 col--lg-12 col--xl-10">
                                        <section itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating"></section>

                                        {% set descriptionGlossaryValue = (data.merchantStorageProfile.descriptionGlossaryKey ?: '') | trans %}
                                        {% set hasDescriptionTranslation = data.merchantStorageProfile.descriptionGlossaryKey
                                            ? data.merchantStorageProfile.descriptionGlossaryKey != descriptionGlossaryValue %}
                                        {% if hasDescriptionTranslation %}
                                            {% block description %}
                                                <p>{{ descriptionGlossaryValue }}</p>
                                            {% endblock %}
                                        {% endif %}

                                        {% block information %}
                                            <div class="grid">
                                                {% block informationInner %}
                                                    {% block emailCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% if data.merchantStorageProfile.publicEmail %}
                                                                {% block email %}
                                                                    {% include molecule('information-item', 'MerchantPage') with {
                                                                        data: {
                                                                            title: 'merchant_profile.email' | trans,
                                                                            text: data.merchantStorageProfile.publicEmail | trans,
                                                                        },
                                                                    } only %}
                                                                {% endblock %}
                                                            {% endif %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block addressCol %}
                                                        {% set merchantAddresses = data.merchantStorageProfile.addressCollection | default([]) %}

                                                        {% if merchantAddresses %}
                                                            <div class="col col--sm-12 col--lg-6">
                                                                {% block address %}
                                                                    {% embed molecule('information-item', 'MerchantPage') with {
                                                                        data: {
                                                                            title: 'merchant_profile.address' | trans,
                                                                        },
                                                                        embed: {
                                                                            addresses: merchantAddresses,
                                                                        },
                                                                    } only %}
                                                                        {% block text %}
                                                                            {% for address in embed.addresses %}
                                                                                <div>{{ address.address1 }} {{ address.address2 }}</div>
                                                                                <div>{{ address.zipCode }} {{ address.city}}</div>
                                                                                <div>{{ address.address3 }}</div>
                                                                                <div>{{ address.countryName }}</div>
                                                                            {% endfor %}
                                                                        {% endblock %}
                                                                    {% endembed %}
                                                                {% endblock %}
                                                            </div>
                                                        {% endif %}
                                                    {% endblock %}

                                                    {% block phoneCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% if data.merchantStorageProfile.publicPhone %}
                                                                {% block phone %}
                                                                    {% include molecule('information-item', 'MerchantPage') with {
                                                                        data: {
                                                                            title: 'merchant_profile.phone' | trans,
                                                                            text: data.merchantStorageProfile.publicPhone | trans,
                                                                        },
                                                                    } only %}
                                                                {% endblock %}
                                                            {% endif %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block deliveryTimeCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% set deliveryTimeGlossaryValue = (data.merchantStorageProfile.deliveryTimeGlossaryKey ?: '') | trans %}
                                                            {% set hasDeliveryTimeTranslation = data.merchantStorageProfile.deliveryTimeGlossaryKey
                                                                ? data.merchantStorageProfile.deliveryTimeGlossaryKey != deliveryTimeGlossaryValue %}
                                                            {% if hasDeliveryTimeTranslation %}
                                                                {% block deliveryTime %}
                                                                    {% include molecule('information-item', 'MerchantPage') with {
                                                                        data: {
                                                                            title: 'merchant_profile.delivery_time' | trans,
                                                                            text: deliveryTimeGlossaryValue,
                                                                        },
                                                                    } only %}
                                                                {% endblock %}
                                                            {% endif %}
                                                        </div>
                                                    {% endblock %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>

                                    <div class="col col--sm-3 col--lg-2">
                                        {% set additionalLogoClass = 'box' %}
                                        {% set additionalLogoModifiers = ['thumbnail', 'small'] %}

                                        {% if data.merchantStorageProfile.logoUrl %}
                                            {% block logo %}
                                                {% include molecule('lazy-image') with {
                                                    class: additionalLogoClass,
                                                    modifiers: additionalLogoModifiers,
                                                    data: {
                                                        imageSrc: data.merchantStorageProfile.logoUrl | trans,
                                                    },
                                                } only %}
                                            {% endblock %}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block merchantRelationRequestCreateButton %}
                            {% widget 'MerchantRelationRequestCreateButtonWidget' args [data.merchantReference] only %}
                            {% endwidget %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% widget 'MerchantOpeningHoursWidget' args [data.idMerchant] only %}{% endwidget %}
            </div>
        {% endblock %}

        <section class="col col--sm-12 col--lg-12 merchant-review-summary"></section>
    </div>

    {% block additional %}
        {% set additionalArticlesClass = 'box' %}
        {% set informationArticles = [] %}

        {% set termsConditionsGlossaryValue = (data.merchantStorageProfile.termsConditionsGlossaryKey ?: '') | trans %}
        {% set hasTermsConditionsTranslation = data.merchantStorageProfile.termsConditionsGlossaryKey
            ? data.merchantStorageProfile.termsConditionsGlossaryKey != termsConditionsGlossaryValue %}
        {% if hasTermsConditionsTranslation and termsConditionsGlossaryValue | striptags %}
            {% set informationArticles = informationArticles|merge([{
                'title': 'merchant_profile.terms_and_conditions' | trans,
                'text': termsConditionsGlossaryValue,
            }]) %}
        {% endif %}
        {% set cancellationPolicyGlossaryValue = (data.merchantStorageProfile.cancellationPolicyGlossaryKey ?: '') | trans %}
        {% set hasCancellationPolicyTranslation = data.merchantStorageProfile.cancellationPolicyGlossaryKey
            ? data.merchantStorageProfile.cancellationPolicyGlossaryKey != cancellationPolicyGlossaryValue %}
        {% if hasCancellationPolicyTranslation and cancellationPolicyGlossaryValue | striptags %}
            {% set informationArticles = informationArticles|merge([{
                'title': 'merchant_profile.cancellation_policy' | trans,
                'text': cancellationPolicyGlossaryValue,
            }]) %}
        {% endif %}
        {% set imprintGlossaryValue = (data.merchantStorageProfile.imprintGlossaryKey ?: '') | trans %}
        {% set hasImprintTranslation = data.merchantStorageProfile.imprintGlossaryKey
            ? data.merchantStorageProfile.imprintGlossaryKey != imprintGlossaryValue %}
        {% if hasImprintTranslation and imprintGlossaryValue | striptags %}
            {% set informationArticles = informationArticles|merge([{
                'title': 'merchant_profile.imprint' | trans,
                'text': imprintGlossaryValue,
            }]) %}
        {% endif %}
        {% set dataPrivacyGlossaryValue = (data.merchantStorageProfile.dataPrivacyGlossaryKey ?: '') | trans %}
        {% set hasDataPrivacyTranslation = data.merchantStorageProfile.dataPrivacyGlossaryKey
            ? data.merchantStorageProfile.dataPrivacyGlossaryKey != dataPrivacyGlossaryValue %}
        {% if hasDataPrivacyTranslation and dataPrivacyGlossaryValue | striptags %}
            {% set informationArticles = informationArticles|merge([{
                'title': 'merchant_profile.privacy' | trans,
                'text': dataPrivacyGlossaryValue,
            }]) %}
        {% endif %}

        {% block additionalContainer %}
            {% if informationArticles %}
                <div class="{{ additionalArticlesClass }}">
                    {% for informationArticle in informationArticles %}
                        {% block additionalInformation %}
                            <div class="spacing-bottom spacing-bottom--big">
                                <h5>{{ informationArticle.title }}</h5>
                                <p>{{ informationArticle.text | raw }}</p>
                            </div>
                        {% endblock %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
{% endblock %}
