{% set form = form %}

{{ form_start(form) }}
<div class="row">
    <div class="small-12 large-5 columns">
        <label>{{ form.name.vars.label | trans }}*
            {{ form_widget(form.name, { 'attr': {'placeholder': (form.name.vars.label | trans)} }) }}
            {{ form_errors(form.name) }}
        </label>
    </div>

    <div class="small-12 large-5 columns">
        <label>{{ form.email.vars.label | trans }}*
            {{ form_widget(form.email, { 'attr': {'placeholder': (form.email.vars.label | trans)} }) }}
            {{ form_errors(form.email) }}
        </label>
    </div>

    <div class="small-12 large-5 columns">
        <label>{{ form.phone.vars.label | trans }}
            {{ form_widget(form.phone, { 'attr': {'placeholder': (form.phone.vars.label | trans)} }) }}
            {{ form_errors(form.phone) }}
        </label>
    </div>

    <div class="small-12 large-5 columns">
        <label>{{ form.external_url.vars.label | trans }}
            {{ form_widget(form.external_url, { 'attr': {'placeholder': (form.external_url.vars.label | trans)} }) }}
            {{ form_errors(form.external_url) }}
        </label>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <div class="row">
            <div class="small-12 medium-6 columns align-bottom __padding-top">
                <a href="{{ url('company/business-unit') }}"
                   class="button expanded">{{ 'general.back.button' | trans }}</a>
            </div>

            <div class="small-12 medium-6 columns align-bottom __padding-top">
                <button class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
