{% extends template('page-layout-customer', 'CustomerPage') %}

{# @deprecated property 'orderItems' is deprecated: use 'shipmentGroups' instead #}
{% define data = {
    order: _view.order,
    orderItems: _view.items | default([]),
    shipmentGroups: _view.shipmentGroups,
    orderShipmentExpenses: _view.orderShipmentExpenses,
    title: 'customer.account.order_history' | trans,
    activePage: 'order',
    requestUri: app.request.requestUri,
} %}

{% block customerContent %}
    {% embed [
        molecule('customer-reorder-form', 'CustomerReorderWidget'),
        molecule('order-detail', 'CustomerPage'),
    ] ignore missing with {
        data: {
            idSalesOrder: data.order.idSalesOrder,
            shipmentGroups: data.shipmentGroups,
            orderShipmentExpenses: data.orderShipmentExpenses | default([]),
            order: data.order,
        },
    } only %}
        {% block formContent %}
            {% include molecule('order-detail', 'CustomerPage') with {
                data: {
                    order: data.order,
                    shipmentGroups: data.shipmentGroups,
                    orderShipmentExpenses: data.orderShipmentExpenses,
                },
            } only %}
        {% endblock %}

        {% block linkColumnInner %}
            {% set reorderLinkClasses = 'button button--expand js-state-observable' %}

            {{ parent() }}
        {% endblock %}

        {% block orderDetailContent %}
            {{ widgetBlock('CustomerReorderWidgetPlugin', 'formStart', data.order) }} {# @deprecated Use molecule('customer-reorder-form', 'CustomerReorderWidget') instead. #}

            {{ parent() }}

            {{ widgetBlock('CustomerReorderWidgetPlugin', 'formActions', data.order) }} {# @deprecated Use molecule('customer-reorder-form', 'CustomerReorderWidget') instead. #}
            {{ widgetBlock('CustomerReorderWidgetPlugin', 'formEnd', data.order) }} {# @deprecated Use molecule('customer-reorder-form', 'CustomerReorderWidget') instead. #}
        {% endblock %}
    {% endembed %}

    <div class="box">
        {% widget 'CommentThreadWidget' args [
            data.order.idSalesOrder,
            'sales_order',
            data.requestUri,
            data.order.commentThread
        ] only %}
        {% endwidget %}
    </div>
{% endblock %}
