{% extends template('widget') %}

{% define data = {
    currencies: _widget.currencies,
    currentCurrency: _widget.currentCurrency,
    requestUri: app.request.requestUri,
} %}

{% block template %}
    {% if data.currencies is not empty %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <form method="GET" action="{{ path('currency-switch') }}">
        {% embed atom('select') with {
            modifiers: ['naked'],
            attributes: {
                name: 'currency-iso-code',
                'data-form-submitter': true,
            },
            embed: {
                currencies: data.currencies,
                currentCurrency: data.currentCurrency,
            },
        } only %}
            {% block options %}
                {% for currency in embed.currencies %}
                    {% set selectedOption = currency.code == embed.currentCurrency ? 'selected' %}

                    <option value="{{ currency.code }}" {{ selectedOption }}>{{ currency.name | trans }}</option>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <input type="hidden" name="referrer-url" value="{{ data.requestUri }}">
    </form>
{% endblock %}
