{% extends model('component') %}

{% define config = {
    name: 'approve-request-info',
} %}

{% define data = {
    approval: required,
    customer: required,
} %}

{% block body %}
    <div class="grid">
        <div class="col col--sm-6 spacing-y spacing-y--big">
            {% if data.approval.status == 'waiting' %}
                {{ 'quote_approval.request.waiting_for_approval_from'|trans }}
            {% elseif data.approval.status == 'approved' %}
                {{ 'quote_approval.request.approved_by'|trans }}
            {% elseif data.approval.status == 'declined' %}
                {{ 'quote_approval.request.declined_by'|trans }}
            {% endif %}
            {{ data.customer.firstName }} {{ data.customer.lastName }}
        </div>
        <div class="col col--sm-6 spacing-y spacing-y--big text-right">
            {% include atom('icon') with {
                data: {
                    name: 'clock'
                }
            } only %}
            {{ data.approval.updatedAt | date }}
        </div>
        {% if data.quoteStatus == 'waiting' %}
            <div class="col col--sm-12">
                <form method="POST" action="{{ path('quote-approval-remove', {'idQuoteApproval': data.approval.idQuoteApproval}) }}">
                    <button type="submit" class="button button--expand button--hollow button--alert">{{ 'quote_approval.remove' | trans }}</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
