{% extends model('component') %}

{% define config = {
    name: 'approve-request-info',
} %}

{% define data = {
    approval: required,
    customer: required,
} %}

{% block body %}
    <div class="grid">
        <div class="col col--sm-6 spacing-y spacing-y--big">
            {% if data.approval.status == 'Waiting' %}
                {{ 'quote_approval.request.waiting_for_approval_from'|trans }}
            {% elseif data.approval.status == 'Approved' %}
                {{ 'quote_approval.request.approved_by'|trans }}
            {% elseif data.approval.status == 'Declined' %}
                {{ 'quote_approval.request.declined_by'|trans }}
            {% endif %}
            {{ data.customer.firstName }} {{ data.customer.lastName }}
        </div>
        <div class="col col--sm-6 spacing-y spacing-y--big text-right">
            {% include atom('icon') with {
                data: {
                    name: 'clock'
                }
            } only %}
            {{ data.approval.updatedAt | date }}
        </div>
        {% if data.quoteApprovalStatus == 'Waiting' %}
            <div class="col col--sm-12">
                <a class="button button--expand button--hollow button--alert" href="{{ path('quote-approval/remove', {'idQuoteApproval': data.approval.idQuoteApproval }) }}">
                    {{ 'quote_approval.remove'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
