{% extends model('component') %}

{% define config = {
    name: 'shopping-list-info',
} %}

{% define data = {
    shoppingList: required,
    isShareable: true,
} %}

{% block body %}
    {% set hasWritePermission = can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}

    {% block content %}
        <div class="grid">
            {% block contentInner %}
                {% block owner %}
                    <div class="col col--sm-12 col--md-6 col--lg-4">
                        {% block ownerInner %}
                            {% block ownerTitle %}
                                <strong>{{ 'customer.account.shopping_list.overview.owner' | trans }}:</strong>
                            {% endblock %}
                            {{ data.shoppingList.owner }}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block access %}
                    <div class="col col--sm-12 col--md-6 col--lg-4">
                        {% block accessInner %}
                            {% block accessTitle %}
                                <strong>{{ 'customer.account.shopping_list.access' | trans }}:</strong>
                            {% endblock %}

                            {% set shoppingListPermissionModifiers = [] %}

                            {% block shoppingListPermission %}
                                {% include molecule('shopping-list-permission', 'ShoppingListPage') with {
                                    modifiers: shoppingListPermissionModifiers,
                                    data: {
                                        hasWritePermission: hasWritePermission,
                                    },
                                } only %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sharedContainer %}
                    {% if data.isShareable %}
                        {% block shared %}
                            <div class="col col--sm-12 col--md-6 col--lg-4">
                                {% block sharedInner %}
                                    {% block sharedTitle %}
                                        <strong>{{ 'customer.account.shopping_list.overview.shared_with' | trans }}:</strong>
                                    {% endblock %}

                                    {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}
                                        {% block sharedLink %}
                                            <a href="{{ url('shopping-list/share', { idShoppingList: data.shoppingList.idShoppingList }) }}">
                                                {% block sharedInfo %}
                                                    {{ data.shoppingList.sharedCompanyUsers.count ~ ' ' ~ 'company.account.company_user' | trans }},
                                                    {{ data.shoppingList.sharedCompanyBusinessUnits.count ~ ' ' ~ 'company.account.business_unit' | trans }}
                                                {% endblock %}
                                            </a>
                                        {% endblock %}
                                    {% else %}
                                        {% block sharedText %}
                                            <span>
                                                {{ block('sharedInfo') }}
                                            </span>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
