<div class="columns text-right">
    {{ 'customer.order.subTotal' | trans }}: {{ _view.order.totals.subtotal | money(true, _view.order.currencyIsoCode) }}<br/>
    {% for expense in _view.order.expenses %}
        {{ 'customer.order.shipment' | trans }} {{ expense.name }}: {{ expense.unitPrice | money(true, _view.order.currencyIsoCode) }}<br/>
    {% endfor %}

    {{ 'customer.order.discount.total' | trans }}: -{{ _view.order.totals.discountTotal | money(true, _view.order.currencyIsoCode) }}<br/>

    {% if _view.order.totals.canceledTotal %}
        {{ 'customer.order.canceledTotal' | trans }}: -{{ _view.order.totals.canceledTotal | money(true, _view.order.currencyIsoCode) }}<br/>
    {% endif %}

    <strong>{{ 'customer.order.grandTotal' | trans }}: {{ _view.order.totals.grandTotal | money(true, _view.order.currencyIsoCode) }}</strong>
</div>
