{% extends model('component') %}

{% set config = {
    name: 'navigation',
    tag: 'section'
} | merge(config | default({})) %}

{% block body %}
    <div class="text-right">
        <ul class="menu menu--inline">
            <li class="menu__item">
                <span class="float-left small-10 columns">
                    {{ widgetGlobal('CurrencyWidgetPlugin') }}
                </span>
            </li>
            
            <li class="menu__separator"></li>

            {% if availableLanguages is defined and availableLanguages|length > 0 %}
                {% for availableLanguage in availableLanguages %}
                    <li class="menu__item">
                        {% if availableLanguage != currentLanguage %}
                            <a href="/{{ availableLanguage }}">{{ availableLanguage }}</a>
                        {% else %}
                            <span>{{ availableLanguage }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}

            <li class="menu__separator"></li>
            
            {% if app['cart.quantity'] > 0 %}
                <li class="menu__item"><span class="warning badge float-left">{{ app['cart.quantity'] }}</span></li>
            {% endif %}
            
            <li class="menu__item"><a href="{{ url('cart') }}"><i class="fa fa-shopping-cart"></i>{{ 'global.cart' | trans }}</a></li>
            
            <li class="menu__separator"></li>
            
            {% if hideUserMenu is not defined or hideUserMenu != true %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="menu__item"><a href="{{ url('customer/overview') }}"><i class="fa fa-user"></i>{{ 'customer.profile'|trans }}</a></li>
                    <li class="menu__item"><a href="{{ url('wishlist/overview') }}"><i class="fa fa-list"></i>{{ 'wishlist.wishlist'|trans }}</a></li>
                    <li class="menu__item"><a href="{{ url('logout') }}"><i class="fa fa-sign-out"></i>{{ 'customer.logout'|trans }}</a></li>
                {% else %}
                    <li class="menu__item"><a href="{{ url('login') }}"><i class="fa fa-sign-in"></i>{{ 'customer.login'|trans }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
