{% set actions = actions|default(false) %}
<table class="stack">
    <thead>
    <tr class="active">
        <th>{{ 'company.account.company_role.permission.key' | trans }}</th>
        {% if (actions) %}
            <th class="text-right">{{ 'company.account.table.actions' | trans }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for permission in _view.permissions %}
        <tr>
            <td>{{ permission.key | trans }}</td>
            {% if (actions) %}
                <td class="text-right">
                {% if (permission.configurationSignature) %}
                    <a href="{{ path('company/company-role-permission/configure', {
                        'id-permission': permission.idPermission,
                        'id-company-role': companyRole.idCompanyRole
                    }) }}">
                        <small>
                            <i class="fa fa-users"></i> {{ 'company.account.company_role.permission.configure' | trans }}
                        </small>
                    </a>
                {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
