{% set form = form %}

{{ form_start(form) }}
<div class="row">
    <div class="small-12 large-5 columns">
        <label>{{ form.name.vars.label | trans }}*
            {{ form_widget(form.name, { 'attr': {'placeholder': (form.name.vars.label | trans)} }) }}
            {{ form_errors(form.name) }}
        </label>
    </div>


</div>

<div class="row">
    <div class="small-12 medium-6 columns">
        <div class="row ">
            <div class="small-12 columns">
                {{ form_widget(form.is_default) }}
                <label for="{{ form.is_default.vars.id }}" class="checkbox">{{ form.is_default.vars.label | trans }}</label>
            </div>
        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <div class="row">
            <div class="small-12 medium-6 columns align-bottom __padding-top">
                <a href="{{ url('company/company-role') }}" class="button expanded">{{ 'general.back.button' | trans }}</a>
            </div>

            <div class="small-12 medium-6 columns align-bottom __padding-top">
                <button class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
