{% extends model('component') %}

{% define config = {
    name: 'quote-request-item-summary',
} %}

{% define data = {
    priceMode: required,
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required,
    currency: required,
} %}

{% set priceModeGross = 'GROSS_MODE' %}
{% set originUnitPrice = (data.priceMode == priceModeGross) ? data.cartItem.originUnitGrossPrice : data.cartItem.originUnitNetPrice %}

{% block body %}
    {% block priceWrapper %}
        <div class="grid grid--justify">
            {% if can('SeePricePermissionPlugin') %}
                {% block priceLabel %}
                    <span class="col">
                        {{ 'cart.item.item_price' | trans }}
                    </span>
                {% endblock %}

                {% block price %}
                    <span class="col">
                        {% if data.cartItem.sourceUnitGrossPrice is not null or data.cartItem.sourceUnitNetPrice is not null %}
                            <s>{{ originUnitPrice | money(true, data.currency.code) }}</s> {{ data.unitPrice }}
                        {% else %}
                            {{ data.unitPrice }}
                        {% endif %}
                    </span>
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}

    {% if data.cartItem.productOptions | length > 0 %}
        {% block productOptions %}
            {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                data: {
                    options: data.cartItem.productOptions,
                }
            } only %}
        {% endblock %}
    {% endif %}

    {% block totalPriceWrapper %}
        <div class="grid grid--justify">
            {% if can('SeePricePermissionPlugin') %}
                {% block totalPriceLabel %}
                    <strong class="col">{{ 'cart.item.item_total' | trans }}</strong>
                {% endblock %}

                {% block totalPrice %}
                    <strong class="col">{{ data.subtotalPrice }}</strong>
                {% endblock %}
            {% else %}
                {% block noPrice %}
                    {{ 'customer.access.cannot_see_price' | trans }}
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
