{% extends model('component') %}

{% define config = {
    name: 'cart-item-summary',
    tag: 'ul'
} %}

{% define data = {
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required
} %}

{% block class %}{{ parent() }} list{% endblock %}

{% block body %}
    {% if can('SeePricePermissionPlugin') %}
        <li class="list__item spacing-y">
            {{ 'cart.item.item_price' | trans }}
            <span class="float-right">{{ data.unitPrice }}</span>
        </li>

        {% if data.cartItem.productOptions | length > 0 %}
            <li class="list__item text-small">
                {% if widgetExists('CartItemProductOptionWidgetPlugin') %}
                    {{ widget('CartItemProductOptionWidgetPlugin', data.cartItem) }} {# @deprecated Use molecule('product-options', 'ProductOptionWidget') instead. #}
                {% else %}
                    {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                        data: {
                            options: data.cartItem.productOptions | default([])
                        }
                    } only %}
                {% endif %}
            </li>
        {% endif %}

        <li class="list__item spacing-y">
            <strong>{{ 'cart.item.item_total' | trans }}</strong>
            <strong class="float-right">{{ data.subtotalPrice }}</strong>
        </li>
    {% else %}
        <li>{{ 'customer.access.cannot_see_price' | trans }}</li>
    {% endif %}
{% endblock %}
