{% extends model('component') %}

{% define config = {
    name: 'configured-bundle-quantity',
} %}

{% define data = {
    configuredBundle: required,
    readOnly: false,
    numberFormatConfig: {},
    ajaxTriggerAttribute: data.ajaxTriggerAttribute,
} %}

{% block body %}
    {% if data.readOnly %}
        {% block quantityCol %}
            <div class="{{ config.name }}__text text-center">
                {% block quantity %}
                    <span class="{{ config.name }}__text">
                        {{ 'configured_bundle.quantity' | trans }} {{ data.configuredBundle.quantity | executeFilterIfExists('formatInt', app.locale) }}
                    </span>
                {% endblock %}
            </div>
        {% endblock %}
    {% else %}
        {% block form %}
            <form method="POST" action="{{ path(data.ajaxTriggerAttribute? 'cart/configured-bundle/async/change' : 'cart/configured-bundle/change', {'configuredBundleGroupKey': data.configuredBundle.groupKey }) }}">
                {% include molecule('quantity-input') with {
                    data: {
                        value: data.configuredBundle.quantity,
                        readOnly: data.readOnly,
                        numberFormatConfig: data.numberFormatConfig,
                        buttonAttributes: data.ajaxTriggerAttribute,
                    }
                } only %}
                <input type="hidden" name="change_configured_bundle_quantity_form[_token]" value="{{ csrf_token('change_configured_bundle_quantity_form') }}">
            </form>
        {% endblock %}
    {% endif %}
{% endblock %}
