{% extends template('widget') %}

{% define data = {
    ownerId: _widget.ownerId,
    ownerType: _widget.ownerType,
    returnRoute: _widget.returnRoute,
    commentThread: _widget.commentThread,
    createCommentForm: _widget.createCommentForm,
    allCommentForms: _widget.allCommentForms,
    attachCommentForms: _widget.attachCommentForms,
} %}

{% set attachedComments = [] %}

{% for comment in data.commentThread.comments %}
    {% if comment.isAttached %}
        {% set attachedComments = attachedComments|merge([comment]) %}
    {% endif %}
{% endfor %}

{% block body %}
    <h6>{{ 'comment_widget.comments_to_cart' | trans }}</h6>
    <hr>
    {% include molecule('cart-comments', 'CommentWidget') with {
        data: {
            ownerId: _widget.ownerId,
            ownerType: _widget.ownerType,
            returnRoute: _widget.returnRoute,
            commentThread: _widget.commentThread,
            createCommentForm: _widget.createCommentForm,
            allCommentForms: _widget.allCommentForms,
            attachCommentForms: _widget.attachCommentForms,
        },
        attributes: {
            'tab-selector': '.js-cart-comments__tab',
            'content-block-selector': '.js-cart-comments__content-item',
            'tab-class-to-toggle': 'cart-comments__action-active',
            'content-block-class-to-toggle': 'cart-comments__content-item-active',
        },
    } only %}

    {{ form_start(data.createCommentForm, {
        action: url('comment/add')
    }) }}
    <div class="cart-comments-main__form">
        {{ form_widget(data.createCommentForm) }}
        <input type="hidden" name="returnRoute" value="{{ data.returnRoute }}" />
        <input type="hidden" name="ownerId" value="{{ data.ownerId }}" />
        <input type="hidden" name="ownerType" value="{{ data.ownerType }}" />
        <input type="submit" class="button button--primary" value="{{ 'comment_widget.form.add_comment' | trans }}" />
        {{ form_end(data.createCommentForm) }}
    </div>
    <hr>
{% endblock %}