{% extends template('widget') %}

{% define data = {
    returnRoute: _widget.returnRoute,
    commentThread: _widget.commentThread,
    createCommentForm: _widget.createCommentForm,
    allCommentForms: _widget.allCommentForms,
    attachCommentForms: _widget.attachCommentForms,
} %}

{% set attachedComments = [] %}

{% for comment in data.commentThread.comments %}
    {% if comment.isAttached %}
        {% set attachedComments = attachedComments|merge([comment]) %}
    {% endif %}
{% endfor %}

{% block body %}
    <h6>{{ 'comment_widget.comments_to_cart' | trans }}</h6>
    <hr>
    {% include molecule('cart-comments', 'CommentWidget') with {
        data: {
            returnRoute: data.returnRoute,
            commentThread: data.commentThread,
            createCommentForm: data.createCommentForm,
            allCommentForms: data.allCommentForms,
            attachCommentForms: data.attachCommentForms,
        },
    } only %}
    <div class="spacing-top spacing-top--inner">
        {{ form_start(data.createCommentForm, {
            action: url('comment/add'),
            attr: {'id': ''},
        }) }}

        {{ form_widget(data.createCommentForm) }}
        <input type="hidden" name="returnRoute" value="{{ data.returnRoute }}">
        <input type="hidden" name="ownerId" value="{{ data.commentThread.ownerId }}">
        <input type="hidden" name="ownerType" value="{{ data.commentThread.ownerType }}">
        <button type="submit" class="button button--primary">{{ 'comment_widget.form.add_comment' | trans }}</button>
        {{ form_end(data.createCommentForm) }}
    </div>
    <hr>
{% endblock %}
