{% extends model('component') %}

{% define config = {
    name: 'quote-request-delivery-summary',
} %}

{% define data = {
    quote: required,
    hasMultiShipments: false,
    isEditable: false,
} %}

{% set hasShipment = data.quote.shipment is not null %}
{% set hasSingleShippingAddress = hasShipment and data.quote.shipment.shippingAddress %}
{% set hasShipmentAddress = data.hasMultiShipments or hasSingleShippingAddress %}
{% set hasSingleShippingMethod = hasShipment and data.quote.shipment.method %}
{% set hasShipmentMethod = data.hasMultiShipments or hasSingleShippingMethod %}

{% block body %}
    <div class="box">
        <h6>{{ 'quote_request_page.quote_request.title_addresses' | trans }}</h6>
        <hr>

        {% if data.quote.billingAddress %}
            <strong>{{ 'quote_request_page.quote_request.title_billing_address' | trans }}</strong>
            {% embed molecule('display-address') with {
                data: {
                    address: data.quote.billingAddress,
                },
            } only %}
                {% block addressBadgeLabel %}{% endblock %}
            {% endembed %}
            <hr>
        {% endif %}

        {% macro titleDeliveryAddress() %}
            <strong>{{ 'quote_request_page.quote_request.title_delivery_address' | trans }}</strong>
        {% endmacro %}

        {% if data.hasMultiShipments %}
            {{ _self.titleDeliveryAddress() }}
            <p class="spacing-y">{{ 'quote_request_page.quote_request.multiple_delivery_address' | trans }}</p>
        {% endif %}

        {% if not data.hasMultiShipments and hasSingleShippingAddress %}
            {{ _self.titleDeliveryAddress() }}
            {% embed molecule('display-address') with {
                data: {
                    address: data.quote.shipment.shippingAddress,
                },
            } only %}
                {% block addressBadgeLabel %}{% endblock %}
            {% endembed %}
        {% endif %}

        {% if data.quote.billingAddress and not hasShipmentAddress %}
            {{ _self.titleDeliveryAddress() }}
            <p class="spacing-y">{{ 'quote_request_page.quote_request.empty_delivery_address' | trans }}</p>
        {% endif %}

        {% if not data.quote.billingAddress and not hasShipmentAddress %}
            <p class="spacing-y">{{ 'quote_request_page.quote_request.empty_address' | trans }}</p>

            {% if data.isEditable %}
                <a href="{{ url('checkout-address') }}"
                   class="button button--expand button--edit-items"
                   title="{{ 'quote_request_page.quote_request.cta_add_address' | trans }}"
                    {{ qa('cart-go-to-address') }}>
                    {{ 'quote_request_page.quote_request.cta_add_address' | trans }}
                </a>
            {% endif %}
        {% endif %}

        {% if data.quote.billingAddress and data.isEditable %}
            <a href="{{ url('checkout-address') }}"
               class="button button--expand button--edit-items"
               title="{{ 'quote_request_page.quote_request.cta_edit_address' | trans }}"
                {{ qa('cart-go-to-address') }}>
                {{ 'quote_request_page.quote_request.cta_edit_address' | trans }}
            </a>
        {% endif %}
    </div>

    <div class="box">
        <h6>{{ 'quote_request_page.quote_request.title_shipment_method' | trans }}</h6>
        <hr>

        {% if data.hasMultiShipments %}
            {{ 'quote_request_page.quote_request.multiple_shipment_method' | trans }}
        {% endif %}

        {% if not data.hasMultiShipments and hasSingleShippingMethod %}
            {% include molecule('delivery-information', 'CustomerPage') ignore missing with {
                data: {
                    carrierName: data.quote.shipment.method.carrierName,
                    methodName: data.quote.shipment.method.name,
                    storeCurrencyPrice: data.quote.shipment.method.storeCurrencyPrice,
                    currencyIsoCode: data.quote.shipment.method.currencyIsoCode,
                },
            } only %}
        {% endif %}

        {% if not hasShipmentMethod %}
            <p class="spacing-y">{{ 'quote_request_page.quote_request.empty_shipment_method' | trans }}</p>

            {% if data.isEditable %}
                <a href="{{ url('checkout-shipment') }}"
                   class="button button--expand button--edit-items"
                   title="{{ 'quote_request_page.quote_request.cta_edit_shipment_method' | trans }}"
                    {{ qa('cart-go-to-shipment') }}>
                    {{ 'quote_request_page.quote_request.cta_add_shipment_method' | trans }}
                </a>
            {% endif %}
        {% endif %}

        {% if hasShipmentMethod and data.isEditable %}
            <a href="{{ url('checkout-shipment') }}"
               class="button button--expand button--edit-items"
               title="{{ 'quote_request_page.quote_request.cta_edit_shipment_method' | trans }}"
                {{ qa('cart-go-to-shipment') }}>
                {{ 'quote_request_page.quote_request.cta_edit_shipment_method' | trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}
