{% extends template('page-layout-sales-return', 'SalesReturnPage') %}

{% define data = {
    returns: _view.returns,

    pagination: {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'return/list',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true
    },

    title: 'sales_return.list.title' | trans,
    activePage: 'sales-return'
} %}

{% block salesReturnContent %}
    <div class="box">
        <h5>{{ 'sales_return.list.title' | trans }}</h5>
        <hr>
        {% if data.returns is empty %}
            <p>{{ 'sales_return.account.no_return' | trans }}</p>
        {% else %}
            <table class="table table--expand">
                <thead>
                <tr>
                    <th>{{ 'sales_return.return.return_ref' | trans }}</th>
                    <th>{{ 'sales_return.return.order_ref' | trans }}</th>
                    <th>{{ 'sales_return.return.number_of_items' | trans }}</th>
                    <th>{{ 'sales_return.return.date' | trans }}</th>
                    <th>{{ 'sales_return.return.items_state' | trans }}</th>
                    <th>{{ 'sales_return.table.actions' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for return in data.returns %}
                    {% set orderReferences = [] %}
                    {% set itemStates = [] %}
                    {% for returnItem in return.returnItems %}
                        {% if returnItem.orderItem.orderReference not in orderReferences %}
                            {% set orderReferences = orderReferences | merge([returnItem.orderItem.orderReference]) %}
                        {% endif %}
                        {% if returnItem.orderItem.state.name not in itemStates %}
                            {% set itemStates = itemStates | merge([returnItem.orderItem.state.name]) %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ return.returnReference }}</td>
                        <td>
                            {% for orderReference in orderReferences %}
                                <p>{{ orderReference }}</p>
                            {% endfor %}
                        </td>
                        <td>{{ return.returnItems| length }}</td>
                        <td>{{ date(return.createdAt) | formatDateTime }}</td>
                        <td>
                            {% for itemState in itemStates %}
                                <p class="item-state item-state--{{ itemState }}">
                                    {{ ('item.state.' ~ itemState) | trans }}
                                </p>
                            {% endfor %}
                        </td>
                        <td>
                            <ul class="menu menu--inline">
                                <li class="menu__item">
                                    <a href="#">
                                        {{ 'sales_return.return.view_return' | trans }}
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">
                                        {{ 'sales_return.return.print_return' | trans }}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <hr>
        {% include molecule('pagination') with {
            data: data.pagination
        } only %}
    </div>
{% endblock %}
