{% extends model('component') %}

{% define config = {
    name: 'money-price',
    tag: 'span',
} %}

{# @deprecated property "noPriceText" is deprecate: kept for BC reasons, will be removed in next major. #}
{% define data = {
    amount: required,
    originalAmount: null,
    noPriceText: '---',
    currencyIsoCode: null,
    parentJsName: '',
} %}

{% block body %}
    {% block originalPrice %}
        {% if data.originalAmount is not empty and data.originalAmount > data.amount -%}
            {% block originalPriceInner %}
                {% set originalPriceJsName = data.parentJsName ? data.parentJsName ~ '__original-price' %}

                <span class="{{ config.name }}__amount {{ config.name }}__amount--original {{ originalPriceJsName }}">
                    {{- data.originalAmount | money(true, data.currencyIsoCode) -}}
                </span>
            {% endblock %}
        {%- endif -%}
    {% endblock %}

    {% block defaultPrice %}
        {% if data.amount is empty -%}
            {% block defaultPriceNoText %}
                {{ data.noPriceText }}
            {% endblock %}
        {%- else -%}
            {% block defaultPriceInner %}
                {% set defaultPriceJsName = data.parentJsName ? data.parentJsName ~ '__default-price' %}

                <span class="{{ config.name }}__amount">
                    {% include atom('icon') with {
                        class: config.name ~ '__tag',
                        data: {
                            name: 'tag',
                        },
                    } only %}
                    <span class="{{ defaultPriceJsName }}">
                        {{- data.amount | money(true, data.currencyIsoCode) -}}
                    </span>
                </span>
            {% endblock %}
        {%- endif -%}
    {% endblock %}
{% endblock %}
