{% extends model('component') %}

{% define config = {
    name: 'merchant-sales-return-create-form',
} %}

{% define data = {
    order: required,
    form: required,
    merchantReferences: required,
} %}

{% block body %}

    {% for merchantReference in data.merchantReferences %}
        {% set productBundleItems = [] %}
        {% set itemsForCurrentMerchant = [] %}
        {% set formProductBundleItems = data.form.vars.value.productBundleItems | default([]) %}
        {% set formReturnItems = data.form.vars.value.returnItems | default([]) %}

        {% for orderItem in formProductBundleItems %}
            {% if orderItem.getMerchantReference() == merchantReference %}
                {% set productBundleItems = productBundleItems | merge([orderItem])  %}
            {% endif %}
        {% endfor %}

        {% for returnItem in formReturnItems %}
            {% if returnItem['orderItem'].getMerchantReference() == merchantReference %}
                {% set itemsForCurrentMerchant = itemsForCurrentMerchant | merge([returnItem['orderItem']])  %}
            {% endif %}
        {% endfor %}

        {% embed molecule('return-create-form', 'SalesReturnPage') with {
            data: {
                form: data.form,
                order: data.order,
                productBundleItems: productBundleItems,
                configurableBundleItems: itemsForCurrentMerchant
            },
            embed: {
                merchantReference: merchantReference,
                firstIteration: loop.first,
                lastIteration: loop.last
            },
        } only %}
            {% block formStart %}
                {% if embed.firstIteration %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}

            {% block salesReturnOrderInfoSeparator %}
                {{ parent() }}
                {% set alreadyRendered = false %}
                {% for returnItem in data.form.returnItems %}
                    {% set orderItem = returnItem.vars.value.orderItem %}
                    {% if not alreadyRendered and orderItem.getMerchantReference() == embed.merchantReference %}
                        <hr class="box__separator">
                        {% widget 'SoldByMerchantWidget' args [orderItem] only %}{% endwidget %}
                        {% set alreadyRendered = true %}
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% block salesReturnProductItem %}
                {% if orderItem.getMerchantReference() == embed.merchantReference %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}

            {% block checkbox %}
                <div class="{{ checkboxWrapperClass }}">
                    {{ form_row(returnItem.isReturnable, {
                        label: ' ',
                        attr: {
                            class: 'js-return-create__trigger-state-toggler',
                        },
                        attributes: {
                            'merchant-reference': orderItem.merchantReference ?? false,
                            'is-returnable': isReturnable,
                        },
                        disabled: not isReturnable,
                    }) }}
                </div>
            {% endblock %}

            {% block salesReturnPageActions %}
                {% if embed.lastIteration %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}

            {% block formEnd %}
                {% if embed.lastIteration %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}

        {% endembed %}
    {% endfor %}

{% endblock %}
