{% extends template('widget') %}

{% define data = {
    concreteItem: _widget.item,
    currencyIsoCode: _widget.currencyIsoCode
} %}

{% block body %}
    <tr>
        {% if data.concreteItem.amount is not null and data.concreteItem.quantity is not null %}
            {% set salesUnitName = data.concreteItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}
            {% set salesUnitSummary = '' %}
            {% if salesUnitName %}
                {% set salesUnitSummary = data.concreteItem.quantity / data.concreteItem.quantitySalesUnit.conversion ~ ' ' ~ salesUnitName | trans %}
            {% endif %}

            {% set amountSalesUnitName = data.concreteItem.amountSalesUnit.productMeasurementUnit.name | default('') %}
        {% endif %}
        <td>
            {{ data.concreteItem.sku }}
        </td>
        <td>
            {{ data.concreteItem.name }}<br>
            {% if data.concreteItem.amount and data.concreteItem.quantity %}
                <span class="text-secondary">&times;</span> {{ data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }} (= {{ data.concreteItem.amount.divide(data.concreteItem.amountSalesUnit.conversion, 2) }}{{ amountSalesUnitName | trans }}) = {{ data.concreteItem.quantity * data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }}
            {% endif %}
        </td>
        <td>
            {{ data.concreteItem.unitPrice | money(true, data.currencyIsoCode) }}
        </td>
        <td>
            {{ data.concreteItem.quantity }} {% if salesUnitSummary is defined and salesUnitSummary is not empty %}(={{ salesUnitSummary }}){% endif %}
        </td>
        <td>
            {{ data.concreteItem.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
        </td>
    </tr>
{% endblock body %}
