{% extends template('widget') %}

{% define data = {
    concreteItem: _widget.item,
    currencyIsoCode: _widget.currencyIsoCode
} %}

{% block body %}
    {% if data.concreteItem.amount is not null and data.concreteItem.quantity is not null %}
        {% set salesUnitName = data.concreteItem.itemQuantityMeasurementUnit.quantityMeasurementUnitName | default('') %}
        {% set salesUnitSummary = '' %}
        {% if salesUnitName %}
            {% set salesUnitSummary = data.concreteItem.quantity / data.concreteItem.itemQuantityMeasurementUnit.quantityMeasurementUnitConversion ~ ' ' ~ salesUnitName | trans %}
        {% endif %}

        {% set amountSalesUnitName = data.concreteItem.itemAmountMeasurementUnit.amountMeasurementUnitName | default('') %}
    {% endif %}
    <td>
        {{ data.concreteItem.sku }}
    </td>
    <td>
        {{ data.concreteItem.name }}<br/>
        {% if data.concreteItem.amount is not null and data.concreteItem.quantity is not null %}
            <span class="text-secondary">&times;</span> {{ data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }} (= {{ data.concreteItem.amount / data.concreteItem.itemAmountMeasurementUnit.amountMeasurementUnitConversion }}{{ amountSalesUnitName | trans }}) = {{ data.concreteItem.quantity * data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }}
        {% endif %}
    </td>
    <td>
        {{ data.concreteItem.unitPrice | money(true, data.currencyIsoCode) }}
    </td>
    <td>
        {{ data.concreteItem.quantity }} {% if salesUnitSummary is defined %}(={{ salesUnitSummary }}){% endif %}
    </td>
    <td>
        {{ data.concreteItem.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
    </td>
{% endblock body %}