{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    shareShoppingListForm: _view.shareShoppingListForm,
    idShoppingList: _view.idShoppingList,
    shoppingList: _view.shoppingList,
    sharedCompanyUsers: _view.shoppingList.sharedCompanyUsers,
    sharedCompanyBusinessUnits: _view.shoppingList.sharedCompanyBusinessUnits,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list' | trans,
                    url: url('shopping-list'),
                },
                {
                    label: 'customer.account.shopping_list.share.from.share' | trans,
                },
            ],
        },
    } only %}
{% endblock %}

{% block customerNavigation %}
    {% widget 'CustomerNavigationWidget' args ['shoppingList', data.idShoppingList] only %}{% endwidget %}
{% endblock %}

{% set formClasses = 'box' %}
{% set formButtonClasses = 'button button--success' %}

{% block customerContent %}
    {% embed molecule('form') with {
        class: formClasses,
        data: {
            form: data.shareShoppingListForm,
            title: 'customer.account.shopping_list.share.from.share.title' | trans({ '%name%': data.title }),
            submit: {
                text: 'customer.account.shopping_list.share.from.share' | trans,
                class: formButtonClasses,
                enable: true,
            },
        },
        embed: {
            sharedCompanyBusinessUnits: data.sharedCompanyBusinessUnits,
            sharedCompanyUsers: data.sharedCompanyUsers,
        },
    } only %}
        {% block title %}
            <h5 class="text-break spacing-bottom spacing-bottom--big">
                {{- data.title -}}
            </h5>
        {% endblock %}

        {% block fields %}
            <div class="{{ config.name }}__field col col--sm-12">
                <div class="grid">
                    <div class="col col--sm-12 col--lg-3 spacing-y">
                        <strong>{{ 'customer.account.shopping_list.share.select_company_business_unit' | trans }}</strong>
                    </div>
                    <div class="col col--sm-12 col--lg-9">
                        {% include molecule('share-list', 'ShoppingListPage') with {
                            data: {
                                shareUnits: embed.sharedCompanyBusinessUnits,
                                shareForm: data.form.sharedCompanyBusinessUnits,
                            },
                        } only %}
                    </div>
                </div>
            </div>

            <div class="{{ config.name }}__field col col--sm-12">
                <hr class="box__separator">
            </div>

            <div class="{{ config.name }}__field col col--sm-12">
                <div class="grid">
                    <div class="col col--sm-12 col--lg-3 spacing-y">
                        <strong>{{ 'customer.account.shopping_list.share.select_company_user' | trans }}</strong>
                    </div>
                    <div class="col col--sm-12 col--lg-9">
                        {% include molecule('share-list', 'ShoppingListPage') with {
                            data: {
                                shareUnits: embed.sharedCompanyUsers,
                                shareForm: data.form.sharedCompanyUsers,
                            },
                        } only %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block actions %}
            <div class="spacing-x">
                {{ parent() }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
