{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    shareShoppingListForm: _view.shareShoppingListForm,
    idShoppingList: _view.idShoppingList,
    shoppingList: _view.shoppingList,
    sharedCompanyUsers: _view.shoppingList.sharedCompanyUsers,
    sharedCompanyBusinessUnits: _view.shoppingList.sharedCompanyBusinessUnits
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list' | trans,
                    url: url('shopping-list')
                },
                {
                    label: 'customer.account.shopping_list.share.from.share' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {% widget 'CustomerNavigationWidget' args ['shoppingList', data.idShoppingList] only %}
    {% elsewidget 'CustomerNavigationWidgetPlugin' args ['shoppingList', data.idShoppingList] only %} {# @deprecated Use CustomerNavigationWidget instead. #}
    {% endwidget %}
{% endblock %}

{% block customerContent %}
    <div class="form box" data-qa="component form">
        <div class="shopping-list-info shopping-list-info--reset">
            <h5 class="shopping-list-info__name spacing-bottom spacing-bottom--big">{{ 'customer.account.shopping_list.share.from.share.title' | trans({
                '%name%': data.title
            })}}</h5>
        </div>

        {{ form_start(data.shareShoppingListForm) }}

        <div class="form__container">
            <div class="form__fields grid grid--bottom">
                <div class="form__field col col--sm-12">
                    <div class="grid">
                        <div class="col col--sm-12 col--lg-3 spacing-y">
                            <b>{{ 'customer.account.shopping_list.share.select_company_business_unit' | trans }}</b>
                        </div>
                        <div class="col col--sm-12 col--lg-9">
                            {% include molecule('share-list', 'ShoppingListPage') with {
                                data: {
                                    shareUnits: data.sharedCompanyBusinessUnits,
                                    shareForm: data.shareShoppingListForm.sharedCompanyBusinessUnits
                                }
                            } only %}
                        </div>
                    </div>
                </div>

                <div class="form__field col col--sm-12">
                    <hr class="box__separator">
                </div>

                <div class="form__field col col--sm-12">
                    <div class="grid">
                        <div class="col col--sm-12 col--lg-3 spacing-y">
                            <b>{{ 'customer.account.shopping_list.share.select_company_user' | trans }}</b>
                        </div>
                        <div class="col col--sm-12 col--lg-9">
                            {% include molecule('share-list', 'ShoppingListPage') with {
                                data: {
                                    shareUnits: data.sharedCompanyUsers,
                                    shareForm: data.shareShoppingListForm.sharedCompanyUsers
                                }
                            } only %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__actions spacing-x">
                <button type="submit" class="form__action button button--success" data-qa="submit-button">
                    {{ 'customer.account.shopping_list.share.from.share' | trans }}
                </button>
            </div>
        </div>

        {{ form_end(data.shareShoppingListForm) }}
    </div>

{% endblock %}
