{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    shareShoppingListForm: _view.shareShoppingListForm,
    idShoppingList: _view.idShoppingList,
    shoppingList: _view.shoppingList,
    labels: {
        shareFormSubmit: 'customer.account.shopping_list.share.from.share' | trans,
    }
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            },{
                label: 'customer.account.shopping_list.share.from.share' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.idShoppingList) }}
{% endblock %}



{% block customerContent %}
    <div class="form box" data-qa="component form"><h5>Share Shopping List with:</h5>

        {{ form_start(data.shareShoppingListForm) }}

        <div class="form__container">
            <div class="form__fields grid grid--bottom">
                <div class="form__field col col--sm-12">
                    <b>{{ form_label(data.shareShoppingListForm.companyBusinessUnits) }}</b>
                    <br clear="all">
                    {% for key, companyBusinessUnit in data.shoppingList.companyBusinessUnits %}

                        {% if companyBusinessUnit.idShoppingListPermissionGroup is not null %}
                            <label>{{ companyBusinessUnit.companyBusinessUnitName }}</label>
                            {{ form_row(data.shareShoppingListForm.companyBusinessUnits[key]) }}
                        {% endif %}
                    {% endfor %}
                    <br clear="all">
                    <hr>
                    {% for key, companyBusinessUnit in data.shoppingList.companyBusinessUnits %}

                        {% if companyBusinessUnit.idShoppingListPermissionGroup is null %}
                            <label>{{ companyBusinessUnit.companyBusinessUnitName }}</label>
                            {{ form_row(data.shareShoppingListForm.companyBusinessUnits[key]) }}
                        {% endif %}
                    {% endfor %}
                </div>

                <br clear="all">
                <br clear="all">

                <div class="form__field col col--sm-12">
                    <b>{{ form_label(data.shareShoppingListForm.companyUsers) }}</b>
                    <br clear="all">
                    {% for key, companyUser in data.shoppingList.companyUsers %}

                        {% if companyUser.idShoppingListPermissionGroup is not null %}
                            <label>{{ companyUser.customerFullName }}</label>
                            {{ form_row(data.shareShoppingListForm.companyUsers[key]) }}
                        {% endif %}
                    {% endfor %}
                    <br clear="all">
                    <hr>
                    {% for key, companyUser in data.shoppingList.companyUsers %}

                        {% if companyUser.idShoppingListPermissionGroup is null %}
                            <label>{{ companyUser.customerFullName }}</label>
                            {{ form_row(data.shareShoppingListForm.companyUsers[key]) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="form__actions">
                <button type="submit" class="form__action button button--success" data-qa="submit-button">
                    {{ data.labels.shareFormSubmit }}
                </button>
            </div>
        </div>


        {{ form_end(data.shareShoppingListForm) }}
    </div>

{% endblock %}
