{% extends model('component') %}

{% define config = {
    name: 'select',
    tag: 'label'
} %}

{% define data = {
    options: [],
    optgroups: [],
    isGrouped: false
} %}

{% block attributes %}{% endblock %}

{% block body %}
    <select class="{{config.name}}__select {% block selectClass %}{% endblock %}" {% block selectAttributes %}{{component.renderAttributes(attributes)}}{% endblock %}>
        {% block options %}
            {% if not isGrouped %}
                {% for option in data.options %}
                    {% set isSelected = option.selected | default(false) %}
                    {% set isDisabled = option.disabled | default(false) %}

                    <option value="{{option.value}}" {% if isSelected %}selected{% endif %} {% if isDisabled %}disabled{% endif %}>
                        {{option.label}}
                    </option>
                {% endfor %}
            {% else %}
                {% for option in data.options %}
                    <optgroup label="{{option.optgroupLabel}}">
                        {% set isSelected = option.selected | default(false) %}
                        {% set isDisabled = option.disabled | default(false) %}

                        <option value="{{option.value}}" {% if isSelected %}selected{% endif %} {% if isDisabled %}disabled{% endif %}>
                            {{option.label}}
                        </option>
                    </optgroup>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </select>
    {% include atom('icon') with {
        class: config.name ~ '__caret',
        data: {
            name: 'caret-down'
        }
    } only %}
{% endblock %}
