{% extends template('widget') %}

{% define data = {
    form: _widget.form,
    quoteRequestReference: _widget.quoteRequestReference
} %}

{% block body %}
    {% if data.quoteRequestReference %}

        {{ form_start(data.form) }}

            <div class="agent-quote-request">
                <hr/>
                <a class="button button--expand button--hollow"
                   href="{{ url('agent/quote-request/details', {quoteRequestReference: data.quoteRequestReference}) }}">
                    {{ 'quote_request_page.quote_request.actions.back_to_view' | trans }}
                </a>
                <hr/>
                <button type="submit" name="save" class="button button--expand button--success">
                    {{ 'quote_request_page.quote_request.actions.save' | trans }}
                </button>
                <hr/>
                <button type="submit" name="saveAndBack" class="button button--expand button--success">
                    {{ 'quote_request_page.quote_request.actions.save_and_back_to_edit' | trans }}
                </button>
            </div>

        {{ form_end(data.form) }}

    {% endif %}
{% endblock %}