{% block topCmsBlock %}
    {% if _view.idCategory %}
        {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'top', _view.idCategory) }}
    {% endif %}
{% endblock %}

<form method="GET" data-component="catalog-filter-form">
    <div class="row">

        {% include '@CatalogPage/_partials/spelling-suggestion.twig' %}

        <div class="small-12 medium-12 large-4 xlarge-3 columns">
            <input id="catalog-filters" type="checkbox" class="__toggler __no-margin-bottom hide" checked>
            <div class="callout hide-for-large">
                <label for="catalog-filters" class="button hollow expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> Show/Hide filters
                </label>
            </div>
            <div class="__toggler-target">
                {% include '@CatalogPage/_partials/filters.twig' %}
            </div>

            {% block middleCmsBlock %}
                {% if _view.idCategory %}
                    {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'middle', _view.idCategory) }}
                {% endif %}
            {% endblock %}
        </div>

        <div class="small-12 medium-12 large-8 xlarge-9 columns">

            {% include '@CatalogPage/_partials/sort.twig' %}

            {% include '@CatalogPage/_partials/active-filters.twig' %}

            {% include '@CatalogPage/_partials/pagination.twig' %}

            <div class="row">
                {% for product in _view.products %}
                    {{ widget('ProductWidgetPlugin', product) }}
                {% endfor %}
            </div>

            {% include '@CatalogPage/_partials/pagination.twig' %}

        </div>
    </div>

    {% if _view.searchString is defined and _view.searchString != '' %}
        <input type="hidden" name="q" value="{{ _view.searchString }}" />
    {% endif %}
</form>

{% block bottomCmsBlock %}
    {% if _view.idCategory %}
        {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'bottom', _view.idCategory) }}
    {% endif %}
{% endblock %}
