{% extends model('component') %}

{% define config = {
    name: 'quote-request-detail',
    tag: 'div',
} %}

{% define data = {
    quoteRequest: required
} %}

{% set cart = data.quoteRequest.latestVersion ? data.quoteRequest.latestVersion.quote : null %}
{% if data.quoteRequest.status == 'in-progress' and data.quoteRequest.quoteInProgress %}
    {% set cart = data.quoteRequest.quoteInProgress %}
{% endif %}

{% block body %}
    <div class="grid grid--middle text-small text-left">
        <div class="col col--sm-3">
            <p>
                <a href="{{ path('agent/quote-request/details', { quoteRequestReference: (data.quoteRequest.quoteRequestReference)}) }}">
                    #{{ data.quoteRequest.quoteRequestReference }}
                </a>
            </p>
            <p>
                {{ cart.items | default(0) | length }}
                {{ 'agent_quote_request_widget.items' | trans }}
            </p>
        </div>
        <div class="col col--sm-6">
            <p>{{ data.quoteRequest.companyUser.company.name }}</p>
            <p>{{ data.quoteRequest.companyUser.companyBusinessUnit.name }}</p>
            <p>{{ data.quoteRequest.companyUser.customer.firstName ~ ' ' ~ data.quoteRequest.companyUser.customer.lastName }}</p>
        </div>
        <div class="col col--sm-3 text-right">
            <p>{{ data.quoteRequest.status }}</p>
            <strong>{{ cart.totals.grandTotal | default(0) | money }}</strong>
        </div>
    </div>
{% endblock %}
