{% extends model('component') %}

{% define config = {
    name: 'configurator-state-adjustment-form',
} %}

{% define data = {
    product: required,
    form: required,
    selectedSlotId: required,
} %}

{% block body %}
    {{ form_start(data.form) }}

    {% block form %}
        {% for slotForm in data.form.slots %}
            {{ form_row(slotForm.sku, { id: '' }) }}
        {% endfor %}

        {% set inputName =  'configurator_state_form[slots][' ~ data.selectedSlotId ~ '][sku]' %}
        {% set inputId =  'configurator_state_form_slots_' ~ data.selectedSlotId ~ '_sku' %}

        <input name="{{ inputName }}" type="hidden" value="{{ data.product.sku }}">

        {% block button %}
            <button type="submit" name="submit" class="{% block buttonClasses %}button button--expand {% endblock %}">
                {% block buttonText %}
                    {{ 'configurable_bundle_page.select' | trans }}
                {% endblock %}
            </button>
        {% endblock %}
    {% endblock %}
    {{ form_row(data.form._token,{ id: '' }) }}
    {{ form_end(data.form) }}
{% endblock %}
