{% extends model('component') %}

{% set locale = locale | default('en') %}
{% set headTitle = headTitle | default('') %}
{% set metaTitle = metaTitle | default(title) %}
{% set metaDescription = metaDescription | default('') %}
{% set metaKeywords = metaKeywords | default('') %}

{% block component %}
    <!doctype html>
    <html class="no-js" lang="{{ locale }}">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
            <meta name="title" content="{% block metaTitle %}{{ metaTitle }}{% endblock %}" />
            <meta name="description" content="{% block metaDescription %}{{ metaDescription }}{% endblock %}" />
            <meta name="keywords" content="{% block metaKeywords %}{{ metaKeywords }}{% endblock %}" />
            <meta name="generator" content="spryker" />
            {% block meta %}{% endblock %}

            {% block headStyles %}
                {# <link rel="stylesheet" href="/assets/default/css/vendor.css" /> #}
                {# <link rel="stylesheet" href="/assets/default/css/app.css" /> #}

                <link rel="stylesheet" href="/assets/css/yves_default.basics.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.app.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.utils.css" />
            {% endblock %}

            {% block headScripts %}
                <script src="/assets/js/yves_default.manifest.js"></script>
            {% endblock %}

            <title>{% block headTitle %}{{ headTitle }}{% endblock %}</title>
        </head>
        <body>
            {# {% include atom('test-component') only %} #}
            {# {% include atom('another-component') only %} #}
            
            {{ parent() }}

            {% block footerScripts %}
                {# <script src="/assets/default/js/vendor.js"></script>
                <script src="/assets/default/js/app.js"></script> #}

                <script src="/assets/js/yves_default.app.js"></script>
            {% endblock %}
        </body>
    </html>
{% endblock %}
