{% extends model('component') %}
{% import model('component') as component %}

{% define config = {
    name: 'password-field',
    tag: 'password-field',
} %}

{% define data = {
    inputAttributes: {},
    inputExtraClasses: '',
    showVisibilitySwitcher: true,
} %}

{% define attributes = {
    'button-trigger-class': config.name ~ '__button--shown',
} %}

{% block body %}
    <input
        type="password"
        class="{{ config.jsName }}__input {{ data.inputExtraClasses }}"
        {{- component.renderAttributes(data.inputAttributes) -}}
    >

    {% if data.showVisibilitySwitcher %}
        <div class="{{ config.name }}__button {{ config.jsName }}__button">
            {% block showIcon %}
                {% include atom('icon') with {
                    class: config.name ~ '__icon-show',
                    data: {
                        name: 'visible',
                    },
                } only %}
            {% endblock %}
            {% block hideIcon %}
                {% include atom('icon') with {
                    class: config.name ~ '__icon-hide',
                    data: {
                        name: 'invisible',
                    },
                } only %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
