{% extends model('component') %}

{% define config = {
    name: 'order-item-list',
    tag: 'div'
} %}

{% define data = {
    items: required,
    currencyIsoCode: required
} %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr>
                <th class="text-left">{{ 'customer.order.item_sku' | trans }}</th>
                <th class="text-left">{{ 'customer.order.product_name' | trans }}</th>
                <th class="text-right">{{ 'customer.order.item_price' | trans }}</th>
                <th class="text-right">{{ 'customer.order.item_quantity' | trans }}</th>
                <th class="text-right">{{ 'customer.order.item_sum' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for orderItem in data.items %}
                {% if orderItem.bundleItems is defined  %}
                    <tr>
                        <td class="text-left">
                            {{ orderItem.bundleProduct.sku }}
                        </td>
                        <td class="text-left">
                            {{ orderItem.bundleProduct.name }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.bundleProduct.unitPrice | money(true, data.currencyIsoCode) }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.bundleProduct.quantity }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.bundleProduct.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            {{ "customer.order.bundled_items" | trans }} <br />
                            {% for bundledItem in orderItem.bundleItems %}
                                - {{ bundledItem.quantity }} x {{ bundledItem.name }} <br />
                            {% endfor %}

                            {% if orderItem.bundleProduct.productOptions is not empty %}
                                {{ "customer.order.options" | trans }} <br />
                                {% for productOption in orderItem.bundleProduct.productOptions %}
                                    &nbsp; - {{ productOption.value | trans }} {{ productOption.unitPrice | money(true, data.currencyIsoCode) }}  <br />
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-left">
                            {{ orderItem.sku }}
                        </td>
                        <td class="text-left">
                            {{ orderItem.name }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.unitPrice | money(true, data.currencyIsoCode) }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.quantity }}
                        </td>
                        <td class="text-right">
                            {{ orderItem.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
                        </td>
                    </tr>
                    {% if orderItem.productOptions is not empty %}
                        {% for productOption in orderItem.productOptions %}
                            <tr>
                                <td class="text-left">
                                    &nbsp; + <small>{{ productOption.sku }}</small>
                                </td>
                                <td class="text-left">
                                    <small>{{ productOption.value | trans }}</small>
                                </td>
                                <td class="text-right">
                                    <small>{{ productOption.unitPrice | money(true, data.currencyIsoCode) }}</small>
                                </td>
                                <td class="text-right" colspan="2"></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
