{% extends molecule('quick-order-row-partial', 'QuickOrderPage') %}

{% define config = {
    name: 'quick-order-row',
    tag: 'quick-order-row'
} %}

{% define data = {
    index: 0,
    quantityField: required,
    skuField: required,

    autocomplete: {
        sku: required,
        fullName: required,
        inputValue: null
    }
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__provider-' ~ data.index,
        attributes: {
            url: '/quick-order/product-additional-data'
        }
    } only %}

    {% include molecule('ajax-renderer') with {
        class: config.jsName ~ '__renderer',
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '__provider-'  ~ data.index,
            'target-selector': '.' ~ config.jsName ~ '__target-' ~ data.index
        }
    } only %}

    {% do data.skuField.setRendered %}

    <div class="grid grid--justify">
        <div class="col col--sm-4 spacing spacing--inner">
            {% block search %}
                {% set inputValue = (data.skuField.vars.value | length > 1) ? data.skuField.vars.value : data.autocomplete.inputValue %}
                {% widget 'ProductConcreteSearchWidget' args [
                    'ajax-provider' ~ data.index,
                    data.autocomplete.fullName ~ '[sku]',
                    inputValue,
                ] only %}
                {% endwidget %}
            {% endblock %}
        </div>

        <div class="col col--sm-7 {{config.jsName}}__target {{config.jsName}}__target-{{data.index}}">
            {{parent()}}
        </div>

        <div class="col col--sm-1 spacing spacing--inner">
            {% block delete %}
                <a href="#remove"
                    class="button button--expand button--warning js-quick-order-form__remove-row-trigger"
                    data-row-index="{{ data.index }}">
                    {% include atom('icon') with {
                        modifiers: ['small'],
                        data: {
                            name: 'times'
                        }
                    } only %}
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}
