{% extends template('widget') %}

{% define data = {
    voucherDiscounts: _widget.cart.voucherDiscounts,
    ruleDiscounts: _widget.cart.cartRuleDiscounts,
    discountTotal: _widget.cart.totals.discounttotal,
    isQuoteEditable: _widget.cart.isLocked,
    currencyIsoCode: _widget.cart.currency.code,
} %}

{% block body %}
    {% if data.discountTotal %}
        {% if data.voucherDiscounts is not empty %}
            <li>
                {% include [molecule('cart-code-clear-link', 'CartCodeWidget'), molecule('voucher-clear-link', 'DiscountWidget')] with {
                    class: 'float-right text-small',
                    data: {
                        isQuoteEditable: data.isQuoteEditable
                    }
                } only %}

                <strong>{{ 'cart.vouchers' | trans }}</strong>

                <ul>
                    {% for voucherDiscount in data.voucherDiscounts %}
                        <li class="grid grid--justify">
                            <span class="col col--sm-8">
                                {{ voucherDiscount.displayName }}

                                {% include [molecule('cart-code-remove-link', 'CartCodeWidget'), molecule('voucher-remove-link', 'DiscountWidget')] with {
                                    class: 'text-small',
                                    data: {
                                        isQuoteEditable: data.isQuoteEditable,
                                        code: voucherDiscount.voucherCode
                                    }
                                } only %}
                            </span>
                            <span class="col col--expand text-right">- {{ voucherDiscount.amount | money(true, data.currencyIsoCode) }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            </li>
        {% endif %}

        {% if data.ruleDiscounts is not empty %}
            <li>
                <strong>{{ 'cart.discounts' | trans }}</strong>
                <ul>
                    {% for ruleDiscount in data.ruleDiscounts %}
                        <li class="grid grid--justify">
                            <span class="col col--sm-8">{{ ruleDiscount.displayName }}</span>
                            <span class="col col--expand text-right">- {{ ruleDiscount.amount | money(true, data.currencyIsoCode) }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
