{% extends "@CompanyPage/layout.twig" %}

{% block title %}
    <h3>{{ 'company.account.address' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'address'} %}
{% endblock %}

{% block companyContent %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'company.account.address' | trans }}</h5>
                <hr>
                {% if _view.addresses | length %}
                    {% include "@CompanyPage/address/partials/company-unit-address-list.twig" %}
                {% else %}
                    <p>{{ 'company.account.address.no_addresses' | trans }}</p>
                {% endif %}
                <div class="row align-right">
                    <div class="small-12 medium-6 large-4 columns">
                        <a class="button expanded __no-margin-bottom" href="{{ url('company/address/create') }}" data-id="company-add-new-address">{{ 'company.account.add_new_address' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
