{% extends model('component') %}

{% define config = {
    name: 'suggestion-list'
} %}

{% define data = {
    name: required,
    items: required,
    length: required,
    titleClass: titleClass | default('')
} %}

{% block body %}
    {% if data.items is not empty %}
        <h6 class="{{ data.titleClass }}">{{ data.name }}</h6>
        <ul class="list {{ config.name }}">
            {% for item in data.items | slice(0, data.length) %}
                <li class="list__item"><a href="{{ item.url }}" class="js-suggestions-navigable {{ config.name }}__link">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
