{{ form_start(form, {attr: {class: "text-order-form"} }) }}

{{ form_errors(form) }}
<div>
    <h3>{{ 'quick-order.paste-order.title' | trans }}</h3>
    <p>{{ 'quick-order.paste-order.description' | trans }}</p>
    {{ form_errors(form.textOrder) }}
    {{ form_widget(form.textOrder, { 'attr': {'placeholder': 'quick-order.paste-order.input-placeholder.copy-paste-order'} }) }}

    <button type="submit" name="verifyTextOrder" class="button secondary">
        <i class="fa fa-check-circle-o"></i>{{ 'quick-order.paste-order.button.verify' | trans }}
    </button>
</div>
{{ form_end(form) }}
