{% extends model('component') %}

{% define config = {
    name: 'selected-product'
} %}

{% define data = {
    product: required,
    selectedSlotId: required,
    form: required
} %}

{% block body %}
    <div class="box">
        <h6>{{ 'configurable_bundle_page.configurator.selected_product' | trans ~ ':' }} </h6>
        <div>
            {{ data.product.localizedAttributes[0].name }}
        </div>
        <div>
            {{ data.product.sku }}
        </div>
        <div>
            {{ form_start(data.form) }}
            {% for slotId,slotForm in data.form.slots %}

                {% if slotId == data.selectedSlotId %}
                    {% do slotForm.setRendered %}
                {% else %}
                    {{ form_widget(slotForm) }}
                {% endif %}

            {% endfor %}

            <button type="submit" name="submit" class="button">
                {{ 'configurable_bundle_page.unselect' | trans }}
            </button>

            {{ form_end(data.form) }}
        </div>
    </div>
{% endblock %}
