{% extends model('component') %}

{% define config = {
    name: 'order-custom-reference-view',
} %}

{% define data = {
    title: 'order_custom_reference.title' | trans,
    order: required,
} %}

{% block component %}
    {% if data.order %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% set classTitle = '' %}
{% set classText = 'text-break' %}

{% block body %}
    {% block title %}
        <h5 class="{{ classTitle }}">{{ data.title }}</h5>
    {% endblock %}

    {% set isOrderCustomReference = data.order.orderCustomReference is defined and data.order.orderCustomReference %}
    {% if isOrderCustomReference %}
        {% block textWrapper %}
            <p class="{{ classText }}">
                {% block text %}
                    {{ data.order.orderCustomReference | escape | nl2br }}
                {% endblock %}
            </p>
        {% endblock %}
    {% endif %}
{% endblock %}
