{% extends model('component') %}

{% define config = {
    name: 'shipment-type-toggler',
    tag: 'shipment-type-toggler',
} %}

{% define data = {
    shipmentTypeForm: required,
    checkoutAddressForm: null,
    shipmentTypesClassName: '',
    servicePointClassName: '',
    deliverySelectClassName: '',
    hideChoices: false,
} %}

{% define attributes = {
    'default-shipment-type': required,
    'delivery-shipment-types': '',
    'delivery-targets-class-name': '',
    'toggle-class-name': 'is-hidden',
    'billing-same-as-shipping-container-class-name': '',
} %}

{% set activeShipmentType = data.shipmentTypeForm.key.vars.value %}

{% block body %}
    {% block radioButtons %}
        <div class="spacing-y spacing-y--big {{ data.hideChoices ? 'is-hidden' }}">
            {{ form_row(data.shipmentTypeForm.key, {
                label_attr: {
                    class: 'list--inline',
                },
                choices_attr: {
                    class: config.jsName ~ '__trigger ' ~ data.shipmentTypesClassName,
                },
            }) }}
        </div>
    {% endblock %}

    {% set servicePointType = 'pickup' %}
    {% set servicePointHiddenClassName = activeShipmentType != servicePointType ? attributes['toggle-class-name'] %}

    {% block servicePointForm %}
        <div class="{{ config.jsName }}__service-point {{ servicePointHiddenClassName }} {{ data.servicePointClassName }}">
            {% widget 'ClickAndCollectServicePointAddressFormWidget' args [data.checkoutAddressForm] with {
                data: {
                    deliverySelectClassName: data.deliverySelectClassName,
                },
            } only %}{% endwidget %}
        </div>
    {% endblock %}
{% endblock %}
