{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    backUrl: _view.previousStepUrl,
    transfer: _view.quoteTransfer,
    cartItems: _view.cartItems,
    shippingAddress: _view.quoteTransfer.shippingAddress,
    billingAddress: _view.quoteTransfer.billingAddress,
    shipmentMethod: _view.quoteTransfer.items[0].shipment.method.name,
    paymentMethod: _view.quoteTransfer.payment.paymentMethod,
    shipmentGroups: _view.shipmentGroups,

    forms: {
        summary: _view.summaryForm
    },

    overview: {
        expenses: _view.quoteTransfer.expenses,
        voucherDiscounts: _view.quoteTransfer.voucherDiscounts,
        cartRuleDiscounts: _view.quoteTransfer.cartRuleDiscounts,
        totalCosts: _view.totalCosts,
        shipmentGroups: _view.shipmentGroups,

        prices: {
            subTotal: _view.quoteTransfer.totals.subtotal,
            storeCurrency: _view.quoteTransfer.items[0].shipment.method.storeCurrencyPrice,
            grandTotal: _view.quoteTransfer.totals.grandtotal,
            tax: _view.quoteTransfer.totals.taxtotal.amount,
            discountTotal: _view.quoteTransfer.totals.discounttotal | default
        }
    },

    title: 'checkout.step.summary.title' | trans
} %}

{% block content %}
    <div class="grid grid--stretch grid--justify">
        {% for shipmentGroup in data.shipmentGroups %}
            <div class="col col--sm-12 col--xl-8">
                <div class="box">
                    <h4>{{ 'checkout.step.shipment.title' | trans }} n°{{ loop.index }}</h4>
                    <hr/>
                    <h6><strong>{{ 'checkout.step.summary.products' | trans }}</strong></h6>
                    {% for item in shipmentGroup.items %}
                        {% set item = item.bundleProduct is defined ? item.bundleProduct : item %}
                        {% embed molecule('summary-item', 'CheckoutPage') with {
                            data: {
                                name: item.name,
                                quantity: item.quantity,
                                price: item.sumPrice | money,
                                options: item.productOptions | default({}),
                                bundleItems: item.bundleItems | default([]),
                                quantitySalesUnit: item.quantitySalesUnit,
                                amountSalesUnit: item.amountSalesUnit,
                                amount: item.amount,
                                images: item.images,
                                sku: item.sku,
                                groupKey: item.groupKey
                            },
                            embed: {
                                isLast: not loop.last,
                                item: item
                            }
                        } only %}
                            {% block body %}
                                {{parent()}}
                                {% if widgetExists('CartNoteQuoteItemNoteWidgetPlugin') %}
                                    {% if embed.item.cartNote is not empty %}
                                        {{ widget('CartNoteQuoteItemNoteWidgetPlugin', embed.item) }} {# @deprecated Use molecule('note-list', 'CartNoteWidget') instead. #}
                                    {% endif %}
                                {% elseif embed.item.cartNote is not empty %}
                                    {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                                        data: {
                                            label: 'cart_note.checkout_page.item_note',
                                            note: embed.item.cartNote
                                        }
                                    } only %}
                                {% endif %}
                                {% if embed.isLast %}<hr/>{% endif %}
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                </div>
            </div>
            <div class="col col--sm-12 col--lg-4">
                <div class="box">
                    <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
                    <hr/>
                    {% include molecule('display-address') with {
                        class: 'text-small',
                        data: {
                            address: shipmentGroup.shipment.shippingAddress
                        }
                    } only %}
                    <a href="{{ url('checkout-address') }}" {{qa('cart-go-to-address')}}>
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>

                <div class="box">
                    <h6>{{ 'checkout.step.summary.delivery_method' | trans }}</h6>
                    <hr/>
                    {% include molecule('display-delivery-method') with {
                        class: 'text-small',
                        data: {
                            method: shipmentGroup.shipment.method
                        }
                    } only %}
                    <a href="{{ url('checkout-shipment') }}" {{qa('cart-go-to-shipment')}}>
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>
                <div class="box">
                    <h6>{{ 'checkout.step.summary.requested_delivery_date' | trans }}</h6>
                    <hr/>
                    <li class="list__item">{{ shipmentGroup.shipment.requestedDeliveryDate }}</li>
                    <a href="{{ url('checkout-shipment') }}" {{qa('cart-go-to-shipment')}}>
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="box">
        <h6>{{ 'checkout.step.summary.payment' | trans }}</h6>
        <hr/>
        <div class="grid grid--stretch grid--justify">
            <div class="col col--sm-12 col--xl-8">
                <div class="box">
                    <b>Method: </b>{{ data.transfer.payment.paymentMethod }}
                </div>
                {% if data.transfer.payment.paymentMethod == 'invoice' %}
                    <div class="box">
                        <b>Date of Birth: </b>{{ data.transfer.payment.dummyPayment.dateOfBirth }}
                    </div>
                {% endif %}
                {% if data.transfer.payment.paymentMethod == 'credit card' %}
                    <div class="box">
                        <b>Card type: </b>{{ data.transfer.payment.dummyPayment.cardType }}
                    </div>
                    <div class="box">
                        {% set asteriskLength = data.transfer.payment.dummyPayment.cardNumber|length -3 %}
                        <b>Card number: </b>
                        {%- for i in range (1, asteriskLength) -%}
                            {{- '*'|trim -}}
                        {%- endfor -%}
                        {{- data.transfer.payment.dummyPayment.cardNumber[asteriskLength:] -}}
                    </div>
                    <div class="box">
                        <b>Name on the Card: </b>{{ data.transfer.payment.dummyPayment.nameOnCard }}
                    </div>
                    <div class="box">
                        <b>Expiry Date: </b>{{ data.transfer.payment.dummyPayment.cardExpiresMonth ~ '.' ~ data.transfer.payment.dummyPayment.cardExpiresYear }}
                    </div>
                {% endif %}
                <div class="box">
                    <a href="{{ url('checkout-payment') }}" {{qa('cart-go-to-payment')}}>
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>
            </div>

            <div class="col col--sm-12 col--lg-4">
                <div class="box">
                    <h6>{{ 'page.checkout.address.billing-address' | trans }}</h6>
                    <hr/>
                    {% include molecule('display-address') with {
                        class: 'text-small',
                        data: {
                            address: data.billingAddress
                        }
                    } only %}
                    <a href="{{ url('checkout-address') }}" {{qa('cart-go-to-address')}}>
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--sm-12 col--lg-12">
            {% if data.transfer.cartNote is not empty %}
                {% if widgetExists('CartNoteQuoteNoteWidgetPlugin') %}
                    <div class="box">
                        {{ widget('CartNoteQuoteNoteWidgetPlugin', data.transfer) }}  {#@deprecated Use molecule('note-list', 'CartNoteWidget') instead.#}
                    </div>
                {% else %}
                    <div class="box">
                        {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                            data: {
                                label: 'cart_note.checkout_page.quote_note',
                                note: data.transfer.cartNote
                            }
                        } only %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="box">
                <h6>{{ 'Complete checkout' | trans }}</h6>
            </div>

            <div class="box">
                {% widget 'CheckoutVoucherFormWidget' args [data.transfer] only %}
                {% elsewidget 'CheckoutVoucherFormWidgetPlugin' args [data.transfer] only %} {# @deprecated Use CheckoutVoucherFormWidget instead. #}
                {% endwidget %}
            </div>

            {% embed molecule('form') with {
                class: 'box',
                data: {
                    form: data.forms.summary,
                    submit: {
                        enable: can('SeeOrderPlaceSubmitPermissionPlugin'),
                        text: 'checkout.step.place.order' | trans
                    },
                    cancel: {
                        enable: true,
                        url: data.backUrl,
                        text: 'general.back.button' | trans
                    }
                },
                embed: {
                    overview: data.overview
                }
            } only %}
                {% block body %}
                    {% include molecule('summary-overview', 'CheckoutPage') with {
                        data: embed.overview
                    } only %}

                    <hr />
                    {{parent()}}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
