{% extends model('component') %}

{% define data = {
    form: required,
} %}

{% define config = {
    name: 'order-custom-reference-form',
} %}

{% set classTitle = '' %}
{% set classButton = 'button' %}

{% block body %}
    {% block title %}
        <h5 class="{{ classTitle }}">{{ 'order_custom_reference.title_form' | trans }}</h5>
    {% endblock %}

    {% block form %}
        {{ form_start(data.form) }}
        {% block action %}
            <button type="submit" class="{{ classButton }}" data-init-single-click>
                {{ 'order_custom_reference.save' | trans }}
            </button>
        {% endblock %}
        {{ form_end(data.form) }}
    {% endblock %}
{% endblock %}
