{% extends model('component') %}

{% define config = {
    name: 'order-custom-reference-form',
} %}

{% define data = {
    orderCustomReference: required,
    backUrl: required,
    method: 'POST',
} %}

{% set classTitle = '' %}
{% set classForm = '' %}
{% set classInput = 'input input--expand spacing-bottom spacing-bottom--small' %}
{% set classButton = 'button' %}

{% block body %}
    {% block title %}
        <h5 class="{{ classTitle }}">{{ 'order_custom_reference.title_form' | trans }}</h5>
    {% endblock %}

    {% block form %}
        <form class="{{ classForm }}" method="{{ data.method }}" action="{{ path('order-custom-reference/save') }}">
            {% block formInner %}
                <input type="hidden" name="backUrl" value="{{ data.backUrl }}">

                {% block input %}
                    <input type="text"
                           class="{{ classInput }}"
                           name="orderCustomReference"
                           value="{{ data.orderCustomReference }}">
                {% endblock %}

                {% block action %}
                    <button class="{{ classButton }}" data-init-single-click>
                        {{ 'order_custom_reference.save' | trans }}
                    </button>
                {% endblock %}
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
