{% extends model('component') %}

{% define config = {
    name: 'order-custom-reference-form',
} %}

{% define data = {
    orderCustomReference: required,
    backUrl: required,
    method: 'POST',
} %}

{% block body %}
    {% block form %}
        <form class="{{ config.jsName }}__form" method="{{ data.method }}" action="{{ path('order-custom-reference/save') }}">
            <input type="hidden" name="backUrl" value="{{ data.backUrl }}">
            <input type="text" name="orderCustomReference" value="{{ data.orderCustomReference }}">

            {% block formHandlers %}
                <div class="{{ config.name }}__handlers">
                    <button class="button button--primary {{ config.jsName }}__submit-button" data-init-single-click>
                        {{ 'order_custom_reference.save' | trans }}
                    </button>
                </div>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
