{% extends template('widget') %}

{% define data = {
    shoppingListCollection: _widget.shoppingListCollection,
} %}

{% block body %}
    {% block navLink %}
        <a href="{{ path('shopping-list') }}">
            {% block navLinkInner %}
                {{ 'shopping_list.shopping_list' | trans }}

                {% include atom('icon') with {
                    data: {
                        name: 'th-list',
                    },
                } only %}
            {% endblock %}
        </a>
    {% endblock %}

    {% block list %}
        <ul class="menu menu--wide text-left shop-list-item__list">
            {% block listInner %}
                {% block loopItems %}
                    {% for shoppingList in data.shoppingListCollection.shoppingLists %}
                        {% block loopItem %}
                            <li class="menu__item">
                                {% block loopItemInner %}
                                    {% include molecule('shop-list-item', 'ShoppingListWidget') with {
                                        data: {
                                            shoppingList: shoppingList,
                                        },
                                    } only %}
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endfor %}

                    {% if not data.shoppingListCollection.shoppingLists | length %}
                        {% block listEmptyItem %}
                            <li class="menu__item">
                                {% block listEmptyItemInner %}
                                    <span class="no-items no-shopping-lists">
                                        {{ 'shopping_list.no_lists_created' | trans }}
                                    </span>
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endif %}
                {% endblock %}

                {% block listItem %}
                    <li class="menu__item">
                        {% block listItemInner %}
                            <a href="{{ path('shopping-list') }}" class="button">
                                {{ 'shopping_list.create_new_list' | trans }}
                            </a>
                        {% endblock %}
                    </li>
                {% endblock %}
            {% endblock %}
        </ul>
    {% endblock %}
{% endblock %}
