{% extends model('component') %}

{% define config = {
    name: 'cart-comment-info',
} %}

{% define data = {
    form: {},
    comment: required,
    returnUrl: '',
} %}

{% block body %}
    {% block text %}
        <p>{{ data.comment.customer.firstName }} {{ data.comment.customer.lastName }}</p>
        <p class="text-secondary">
            {{ data.comment.createdAt | formatDateTime }}
            {% if data.comment.isUpdated %}
                ({{ 'comment_widget.form.edited' | trans }})
            {% endif %}
        </p>
        {% if not data.form %}
            <p>{{ data.comment.message }}</p>
        {% endif %}
    {% endblock %}

    {% block form %}
        {% if data.form %}
            {% include molecule('cart-comment-form', 'CommentWidget') with {
                data: {
                    form: data.form,
                    comment: data.comment,
                    returnUrl: data.returnUrl,
                },
            } only %}
        {% endif %}
    {% endblock %}
{% endblock %}
