{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    role: _view.companyRole,
    users: _view.companyUserCollection,
    currentCompanyUserId: _view.currentCompanyUser.idCompanyUser,
    permissions: _view.permissions,

    title: 'company.account.company_role.details' | trans,
    activePage: 'role'
} %}

{% block companyContent %}
    <div class="box text-right">
        <a class="button button--hollow" href="{{ url('company/company-role') }}">
            {{ 'general.back.button' | trans }}
        </a>
    </div>
    
    {% include molecule('role-table', 'CompanyPage') with {
            class: 'box spacing-top spacing-top--big',
            data: {
                roles: [data.role],
                actions: {
                    view: false,
                    update: true,
                    delete: true
                }
            }
    } only %}

    <div class="box spacing-top spacing-top--big">
        <a class="float-right" href="{{ url('company/company-role/user/manage', {'id': data.role.idCompanyRole}) }}">
            {{ 'company.account.company_role.user.manage' | trans }}
        </a>
        <h5>{{ 'company.account.company_role.users' | trans }}</h5>
        {% if data.users is not empty %}
            <hr class="box__separator">
            {% include molecule('user-table', 'CompanyPage') with {
                data: {
                    users: data.users,
                    currentCompanyUserId: data.currentCompanyUserId,
                    actions: {
                        update: false,
                        delete: false
                    }
                }
            } only %}
        {% endif %}
    </div>
    
    <div class="box spacing-top spacing-top--big">
        <a class="float-right" href="{{ url('company/company-role/update', {'id': data.role.idCompanyRole}) }}">
            {{ 'company.account.company_role.permission.manage' | trans }}
        </a>
        <h5>{{ 'company.account.company_role.permissions' | trans }}</h5>
        {% if data.permissions is not empty %}
            <hr class="box__separator">
            {% include molecule('permission-table', 'CompanyPage') with {
                data: {
                    permissions: data.permissions,
                    idCompanyRole: data.role.idCompanyRole,
                    actions: {
                        configure: true
                    }
                }
            } only %}
        {% endif %}
    </div>
{% endblock %}
