{% extends model('component') %}

{% define config = {
    name: 'filter-range'
} %}

{% set filter = data.filter | default(null) %}
{% set parameter = parameter | default(filter.config.parameterName) %}
{% set min = min | default(filter.min) %}
{% set activeMin = activeMin | default(filter.activeMin) %}
{% set max = max | default(filter.max) %}
{% set activeMax = activeMax | default(filter.activeMax) %}

{% block body %}
    <div class="grid">
        <div class="col col--sm-6">
            <label>
                {{ "catalog.filter.rangeFrom"|trans }}
                <input class="input" type="number" name="{{ parameter }}[min]" data-default-value="{{ min }}"
                        value="{{ activeMin }}"
                        required="required"
                        min="{{ min }}"
                        max="{{ max }}"
                />
            </label>
        </div>

        <div class="col col--sm-6">
            <label>
                {{ "catalog.filter.rangeTo"|trans }}
                <input class="input" type="number" name="{{ parameter }}[max]" data-default-value="{{ max }}"
                    value="{{ activeMax }}"
                    required="required"
                    min="{{ min }}"
                    max="{{ max }}"
                />
            </label>
        </div>
    </div>
{% endblock %}
