{% extends model('component') %}

{% define config = {
    name: 'filter-range'
} %}

{% define data = {
    parameter: required,
    min: required,
    activeMin: required,
    max: required,
    activeMax: required
} %}

{% block body %}
    <div class="grid grid--justify spacing-top">
        <div class="col col--sm-5">
            <label>
                {{ 'catalog.filter.rangeFrom'|trans }}
                <input class="input input--expand"
                       type="number"
                       name="{{ data.parameter }}[min]"
                       {% if data.activeMin != data.min %}
                          value="{{ data.activeMin }}"
                       {% endif %}
                       placeholder="{{ data.min }}"
                       min="{{ data.min }}"
                       max="{{ data.max }}"
                       data-default-value-disabler
                       data-default-value-input="{{ data.min }}"
                >
            </label>
        </div>

        <div class="col col--sm-5">
            <label>
                {{ 'catalog.filter.rangeTo'|trans }}
                <input class="input input--expand"
                       type="number"
                       name="{{ data.parameter }}[max]"
                       {% if data.activeMax != data.max %}
                          value="{{ data.activeMax }}"
                       {% endif %}
                       placeholder="{{ data.max }}"
                       min="{{ data.min }}"
                       max="{{ data.max }}"
                       data-default-value-disabler
                       data-default-value-input="{{ data.max }}"
                >
            </label>
        </div>
    </div>
{% endblock %}
