{% extends model('component') %}

{% define config = {
    name: 'filter-range'
} %}

{% define data = {
    filter: required
} %}

{% set parameter = parameter | default(data.filter.config.parameterName) %}
{% set min = min | default(data.filter.min) %}
{% set activeMin = activeMin | default(data.filter.activeMin) %}
{% set max = max | default(data.filter.max) %}
{% set activeMax = activeMax | default(data.filter.activeMax) %}

{% block body %}
    <div class="grid">
        <div class="col col--sm-6">
            <label>
                {{ 'catalog.filter.rangeFrom'|trans }}
                <input class="input"
                       type="number"
                       name="{{ parameter }}[min]"
                       value="{{ activeMin }}"
                       required="required"
                       min="{{ min }}"
                       max="{{ max }}"
                />
            </label>
        </div>

        <div class="col col--sm-6">
            <label>
                {{ 'catalog.filter.rangeTo'|trans }}
                <input class="input"
                       type="number"
                       name="{{ parameter }}[max]"
                       value="{{ activeMax }}"
                       required="required"
                       min="{{ min }}"
                       max="{{ max }}"
                />
            </label>
        </div>
    </div>
{% endblock %}
