{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% define data = {
    title: _view.quoteRequestOverview.quoteRequest.name,
    quoteRequest: _view.quoteRequestOverview.quoteRequest,
    quoteRequestCollection: _view.quoteRequestOverview.quoteRequests,
    quoteRequestItems: _view.quoteRequestItems,
} %}

{% block customerNavigation %}
    {% widget 'CustomerNavigationWidget' args ['quoteRequest', data.quoteRequest.idQuoteRequest] only %}
    {% elsewidget 'CustomerNavigationWidgetPlugin' args ['quoteRequest', data.quoteRequest.idQuoteRequest] only %} {# @deprecated Use CustomerNavigationWidget instead. #}
    {% endwidget %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        <div class="grid grid--justify">
            <div class="col">
                <h4>{{ data.quoteRequest.name }}</h4>
            </div>
            <div class="col">
                {% if can('WriteQuoteRequestPermissionPlugin', data.quoteRequest.idQuoteRequest) %}
                    <a class="button button--success" href="{{ url('quote-request/update', { idQuoteRequest: data.quoteRequest.idQuoteRequest }) }}">{{ 'customer.account.shopping_list.overview.edit' | trans }}</a>
                    <a class="button button--success" href="{{ url('quote-request/share', { idQuoteRequest: data.quoteRequest.idQuoteRequest }) }}">{{ 'customer.account.shopping_list.overview.share' | trans }}</a>
                {% endif %}
                <a class="button button--success" href="{{ path('quote-request/print', {idQuoteRequest: data.quoteRequest.idQuoteRequest}) }}" target="_blank">{{ 'customer.account.shopping_list.print_shopping_list' | trans }}</a>
            </div>
        </div>
        <hr>

        {% include molecule('quote-request-info', 'QuoteRequestPage') with {
            data: {
                quoteRequest: data.quoteRequest
            }
        } only %}

        <hr>
        {% if data.quoteRequestItems|length %}
            <form method="POST" action="{{ path('quote-request/add-to-cart') }}">
                <div class="grid grid--justify spacing-y spacing-y--inner">
                    <div class="col">
                        <button type="submit" class="button button--success" {{qa('submit-button')}}>
                            {{ 'customer.account.shopping_list.add_selected_items_to_cart' | trans }}
                        </button>
                    </div>
                    <div class="col">
                        <button type="submit" class="button button--success" name="add-all-available" value="1" {{qa('submit-button')}}>
                            {{ 'customer.account.shopping_list.add_all_available_to_cart' | trans }}
                        </button>
                    </div>
                </div>

                <input type="hidden" value="{{ data.quoteRequest.idQuoteRequest }}" name="idQuoteRequest"/>

                <div class="is-scrollable-x">
                    {% include molecule('quote-request-table', 'QuoteRequestPage') with {
                        data: {
                            quoteRequest: data.quoteRequest,
                            quoteRequestItems: data.quoteRequestItems
                        }
                    } only %}
                </div>

            </form>
        {% else %}
            {{ 'customer.account.shopping_list.empty' | trans }}
        {% endif %}
    </div>
{% endblock %}
