{% extends template('widget') %}

{% define data = {
    activeMerchantTransfers: _widget.activeMerchantTransfers | default([]),
    selectedMerchantReference: _widget.selectedMerchantReference | default
} %}

{% block body %}
    {% if data.activeMerchantTransfers is not empty %}
        <form method="GET" action="{{ path('switch-merchant') }}">
            {% embed atom('select') with {
                modifiers: ['naked'],
                attributes: {
                    'onchange': 'this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);',
                    name: 'merchant-reference',
                    'data-form-submitter': true,
                },
                embed: {
                    activeMerchantTransfers: data.activeMerchantTransfers,
                    selectedMerchantReference: data.selectedMerchantReference,
                },
            } only %}
                {% block options %}
                    {% for activeMerchant in embed.activeMerchantTransfers %}
                        <option value="{{ activeMerchant.merchantKey }}" {{ (activeMerchant.merchantKey == embed.selectedMerchantReference) ? 'selected' : ''}}>{{ activeMerchant.name }}</option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            <input type="hidden" name="referrer-url" value="{{ app.request.requestUri }}">
        </form>
    {% endif %}
{% endblock %}
