{% extends template('widget') %}

{% define data = {
    priceModes: _widget.priceModes | default([]),
    currentPriceMode: _widget.currentPriceMode | default,
    requestUri: app.request.requestUri,
} %}

{% block component %}
    {% if data.priceModes is not empty %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <form method="GET" action="{{ path('price-mode-switch') }}">
        {% embed atom('select') with {
            modifiers: ['naked'],
            attributes: {
                name: 'price-mode',
                'data-form-submitter': true,
            },
            embed: {
                priceModes: data.priceModes,
                currentPriceMode: data.currentPriceMode,
            },
        } only %}
            {% block options %}
                {% for priceMode in embed.priceModes %}
                    {% set selectedOption = (priceMode == embed.currentPriceMode) ? 'selected' %}

                    <option value="{{ priceMode }}" {{ selectedOption }}>{{ ('price.mode.' ~ priceMode | lower) | trans }}</option>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <input type="hidden" name="referrer-url" value="{{ data.requestUri }}">
    </form>
{% endblock %}
