{% extends model('template') %}

{% set data = {
    locale: app.locale | slice(0, 2),
    title: 'global.spryker.shop' | trans,
    metaTitle: 'global.spryker.shop' | trans,
    metaDescription: '',
    metaKeywords: ''
} | merge(data | default({})) %}

{% block template %}
    {%- if config.debug -%}
        {%- block class -%}{%- endblock -%}
        {%- block attributes -%}{%- endblock -%}
    {%- endif -%}

    <!doctype html>
    <html lang="{{ data.locale }}">
        <head>
            {% block meta %}
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
                <meta name="title" content="{% block metaTitle %}{{ data.metaTitle }}{% endblock %}" />
                <meta name="description" content="{% block metaDescription %}{{ data.metaDescription }}{% endblock %}" />
                <meta name="keywords" content="{% block metaKeywords %}{{ data.metaKeywords }}{% endblock %}" />
                <meta name="generator" content="spryker" />
            {% endblock %}

            {% block headStyles %}
                <link rel="stylesheet" href="/assets/css/yves_default.basics.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.app.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.utils.css" />
            {% endblock %}

            {% block headScripts %}
                <script src="/assets/js/yves_default.manifest.js"></script>
            {% endblock %}

            <title>{% block headTitle %}{{ data.title }}{% endblock %}</title>
        </head>
        <body 
            {%- if block('class') is not empty %} class="{{-block('class') | trim-}}"{%- endif %}
            {% if block('attributes') is not empty %} {{block('attributes')-}}{%- endif -%}>

            {{block('renderTemplate')}}

            {% block footerScripts %}
                <script src="/assets/js/yves_default.app.js"></script>
            {% endblock %}
        </body>
    </html>
{% endblock %}
