{% extends "@CompanyPage/layout.twig" %}

{% block title %}
    <h3>{{ 'company.account.business_unit' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'business-unit'} %}
{% endblock %}

{% block companyContent %}
    <div class="callout">
        <h5>{{ 'company.account.business_unit' | trans }}</h5>
        <hr>
        {% if _view.businessUnitCollection | length %}
            {% include "@CompanyPage/business-unit/partials/business-unit-list.twig"  with {'actions': true} %}

            <div class="row align-center">
                {% include '@ShopLayout/layout/partials/pagination.twig' with {
                    parameters: {},
                    currentPage: _view.pagination.page,
                    paginationPath: 'company/business-unit',
                    maxPage: _view.pagination.lastPage,
                    showAlwaysFirstAndLast: true
                } %}
            </div>
        {% else %}
            <p>{{ 'company.account.business_unit.no_units' | trans }}</p>
        {% endif %}
        <div class="row align-right">
            <div class="small-12 medium-6 large-4 columns">
                <a class="button expanded __no-margin-bottom" href="{{ url('company/business-unit/create') }}"
                   data-id="customer-add-new-address">{{ 'company.account.business_unit.add' | trans }}</a>
            </div>

        </div>
    </div>
{% endblock %}
