<div class="callout" id="product-set">
    <form method="GET" data-component="product-variants" action="#product-set">
        <h5>{{ 'product.set.detail.set-contents' | trans }}</h5>

        {% for productView in _widget.productViews %}
            <div class="row">
                <div class="small-5 columns">
                    <a href="{{ productView.url }}" class="thumbnail __preview-image __no-margin-bottom">
                        {% if productView.images|length > 0 %}
                            <img src="{{ productView.images.0.externalUrlSmall }}">
                        {% endif %}
                    </a>
                </div>
                <div class="small-7 columns">
                    <p id="test">
                        <a href="{{ productView.url }}"><strong>{{ productView.name }}</strong></a><br>
                        {% if productView.price is not null %}
                            {{ productView.price | money }}
                        {% endif %}
                    </p>

                    {% include '@ProductSetWidget/_partials/variants.twig' with {product: productView}%}

                    <a href="{{ path('cart/add', {sku: productView.sku}) }}"
                       class="button expanded success __no-margin-bottom js-add-to-cart-button {{ (not productView.idProductConcrete or not productView.available) ? 'disabled' : '' }}"
                       data-component="disable-on-click"
                    >
                        <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
                    </a>

                    {% if productView.idProductConcrete and not productView.available %}
                        <p>
                            <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
            {% if not loop.last %}
                <hr />
            {% endif %}
        {% endfor %}
    </form>
</div>

<form method="POST" action="{{ path('cart/add-items') }}">
    {% set isDisabled = false %}

    {% for productView in _widget.productViews %}
        {% if productView.idProductConcrete is not empty %}
            {% if productView.available %}
                <input type="hidden" name="items[{{ loop.index }}][sku]" value="{{ productView.sku }}" />
                <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1" />
            {% endif %}
        {% else %}
            {% set isDisabled = true %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="button expanded success margin" data-component="disable-on-click" {% if isDisabled %}disabled{% endif %}>
        <i class="fa fa-cart-plus"></i>{{ 'product.set.detail.add-all-to-cart' | trans }}
    </button>
</form>
