{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible,
    backUrl: _widget.backUrl,
} %}

{% block body %}
    {% if data.isVisible %}
        {% block saveButton %}
            <button type="submit" class="button button--success">
                {{ 'quote_request_page.quote_request.actions.save' | trans }}
            </button>
        {% endblock %}

        {% block backButton %}
            <a href="{{ data.backUrl }}" class="button button--secondary button--hollow">
                {{ 'general.back.button' | trans }}
            </a>
        {% endblock %}

        {% block cancelButton %}
            <a href="{{ path('quote-request/cart/clear') }}" class="button button--secondary button--hollow">
                {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
            </a>
        {% endblock %}
    {% endif %}
{% endblock %}
