{% extends model('component') %}

{% define config = {
    name: 'packaging-unit-cart',
    tag: 'ul'
} %}

{% define data = {
    amount: required,
    quantity: required,
    quantitySalesUnit: required,
    quantityConversion: required,
    quantityProductMeasurementUnit: required,
    amountSalesUnit: required,
    amountConversion: required,
    amountProductMeasurementUnit: required
} %}

{% block body %}
    {% set salesUnitName = data.quantityProductMeasurementUnit.name | default('') %}
    {% set leadSalesUnitName = data.amountProductMeasurementUnit.name | default('') %}
    {% set amountPerQuantity = data.amount.divide(data.quantity, 10).trim %}

    <li class="{{ config.name }}__item">
        <div>{{ 'packaging_units.cart.quantity' | trans }}</div>
        <div class="{{ config.name }}__value">{{ data.quantity }}</div>
        {% if data.quantityConversion is not empty %}
            <small class="text-secondary">
                [= {{ data.quantity / data.quantityConversion }} {{ salesUnitName | trans }}]
            </small>
        {% endif %}
    </li>
    <li class="{{ config.name }}__item">
        <div>{{ 'packaging_units.cart.amount' | trans }}</div>
        <div class="{{ config.name }}__value">{{ amountPerQuantity }}</div>
        {% if data.amountConversion is not empty %}
            <small class="text-secondary">
                [= {{ amountPerQuantity.divide(data.amountConversion, 10).trim }} {{ leadSalesUnitName | trans }}]
            </small>
        {% endif %}
    </li>
{% endblock body %}
