{% set form = form %}

{{ form_start(form, {'attr': {'class': 'callout'}}) }}
    <h4><i class="fa fa-lock __secondary"></i> {{ 'company.account.login.title' | trans }}</h4>

    <label>{{ form.email.vars.label | trans }}*
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa fa-at"></i>
            </span>
            {{ form_widget(form.email, { 'attr': {'class': 'input-group-field', 'placeholder': form.email.vars.label | trans } }) }}
        </div>
    </label>
    {{ form_errors(form.email) }}

    <label>{{ form.password.vars.label | trans }}*
        <div class="input-group">
            <span class="input-group-label">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            {{ form_widget(form.password, { 'attr': {'class': 'input-group-field', 'placeholder': form.password.vars.label | trans } }) }}
        </div>
    </label>
    {{ form_errors(form.password) }}

    <div class="row __padding-top">
        <div class="small-12 large-offset-6 large-6 columns">
            <button class="button success expanded __no-margin-bottom">
                <i class="fa fa-sign-in"></i>{{ 'forms.submit.login' | trans }}
            </button>
        </div>
    </div>
{{ form_end(form) }}

