{% extends model('component') %}

{% define config = {
    name: 'cart-comment-form',
} %}

{% define data = {
    form: required,
    comment: required,
    returnUrl: required,
} %}

{% block body %}
    {{ form_start(data.form, {
        action: url('comment/update'),
    }) }}

    {{ form_row(data.form.uuid, { 'id': '' }) }}
    {{ form_row(data.form.message, { 'id': '' }) }}
    {% for tagForm in data.form.tags.children %}
        {{ form_row(tagForm, { 'id': '' }) }}
    {% endfor %}
    {% do data.form.tags.setRendered %}
    {{ form_row(data.form._token, { 'id': '' }) }}
    <input type="hidden" name="returnUrl" value="{{ data.returnUrl }}">
    <button type="submit" class="button button--primary float-right">{{ 'comment_widget.form.update_comment' | trans }}</button>

    {{ form_end(data.form) }}

    {% include molecule('cart-comment-action-form', 'CommentWidget') with {
        data: {
            action: url('comment/remove'),
            hiddenData: [
                {
                    name:"uuid",
                    value: data.comment.uuid,
                },
                {
                    name:"returnUrl",
                    value: data.returnUrl,
                },
            ],
            buttonClassString: 'button button--success float-right',
            buttonText: 'comment_widget.form.remove_comment' | trans ,
        },
    } only %}
{% endblock %}
