{% extends model('component') %}

{% define config = {
    name: 'cart-comment-form',
    tag: 'cart-comment-form',
} %}

{% define data = {
    method: 'POST',
    formView: 'add',
    comment: null,
    returnUrl: required,
    ownerId: null,
    ownerType: null,

    submit: {
        text: '',
        class: '',
        action: '',
    },

    edit: {
        text: data.submit.text | default,
        class: data.submit.class | default,
        action: data.submit.action | default,
    },

    remove: {
        text: '',
        class: '',
        action: '',
    },
} %}

{% set isAddFormView = data.formView == 'add' %}
{% set isUpdateFormView = data.formView == 'update' %}

{% block body %}
    {% set uuidField %}
        <input type="hidden" name="uuid" value="{{ data.comment is not null ? data.comment.uuid }}">
    {% endset %}

    {% set messageField %}
        <textarea name="message" required="required" class="textarea textarea--expand spacing-bottom spacing-bottom-small">
            {%- if isUpdateFormView -%}
                {{ data.comment.message }}
            {%- endif -%}
        </textarea>
    {% endset %}

    {% set returnUrlField %}
        <input type="hidden" name="returnUrl" value="{{ data.returnUrl }}">
    {% endset %}

    {% block form %}
        <form class="{{ config.jsName }}__element" method="{{ data.method }}">
            {% if isAddFormView %}
                {{ messageField }}
                {{ returnUrlField }}
                <input type="hidden" name="ownerId" value="{{ data.ownerId }}">
                <input type="hidden" name="ownerType" value="{{ data.ownerType }}">
            {% elseif isUpdateFormView %}
                {{ messageField }}
                {{ uuidField }}
                {{ returnUrlField }}
            {% endif %}

            {% block tags %}
                {% if data.comment.tagNames is defined %}
                    <div class="{{ config.name }}__tag-container">
                        {% for tagName in data.comment.tagNames %}
                            <a class="{{ config.name }}__tag" href="{{ path('comment/tag/remove', {'uuid': data.comment.uuid, 'name': tagName, 'returnUrl': data.returnUrl }) }}">
                                {{ tagName }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block formHandlers %}
                <div class="{{ config.name }}__handlers">
                    <button action="{{ data.edit.action }}" class="{{ data.edit.class }} {{ config.jsName }}__edit-button">
                        {{ data.edit.text }}
                    </button>

                    {% if isUpdateFormView %}
                        <button action="{{ data.remove.action }}" class="{{ data.remove.class }} {{ config.jsName }}__remove-button">
                            {{ data.remove.text }}
                        </button>
                    {% endif %}
                </div>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
