{{ form_start(_widget.voucherForm) }}
<div class="callout">
    <div class="row">
        <div class="columns">
            <h5>{{ _widget.voucherForm.voucherDiscounts.vars.label | trans }}</h5>
            <div class="input-group">
                {% do _widget.voucherForm.voucherDiscounts.setRendered %}
                <input name="{{ _widget.voucherForm.voucherDiscounts.vars.full_name }}" class="input-group-field" value="">
                <div class="input-group-button">
                    <button class="button expanded info" type="submit"><i class="fa fa-gift"></i>{{ 'cart.voucher.redeem' | trans }}</button>
                </div>
            </div>
            {{ form_errors(_widget.voucherForm.voucherDiscounts) }}
        </div>
    </div>
</div>
{{ form_end(_widget.voucherForm) }}
