{% extends model('component') %}

{% define config = {
    name: 'checkbox',
    tag: 'span',
    renderAttributes: false
} %}

{% define data = {
    label: ''
} %}

{% define attributes = {
    type: 'checkbox',
    required: false
} %}

{% set disabled = attributes['disabled'] | default(false) %}

{% block extraAttributes %}
    {%- if disabled %}disabled{% endif -%}
{% endblock %}

{% block body %}
    <label class="{{config.name}}__container" {{qa('label')}}>
        <span class="{{config.name}}__box"></span>
        <input class="{{config.name}}__input {% block inputClass %}{% endblock %}" {{block('attributes')}}/>
        <span class="{{config.name}}__check"></span>
        {%- block labelContainer -%}
            <span class="{{config.name}}__label label {% if attributes.required %}label--required{% endif %}">
                {%- block label -%}{{data.label}}{%- endblock -%}
            </span>
        {%- endblock -%}
    </label>
{% endblock %}
