{% extends model('component') %}

{% set config = {
    name: 'checkbox',
    tag: 'label'
} | merge(config | default({})) %}

{% set attributes = {
    type: 'checkbox'
} | merge(attributes | default({})) %}

{% set data = {
    label: data.label | default('')
} | merge(data | default({})) %}

{% block attributes %}{% endblock %}

{% block body %}
    <span class="{{config.name}}__box"></span>
    <input class="{{config.name}}__input {% block inputClass %}{% endblock %}" {{block('renderAttributes')}}/>
    <span class="{{config.name}}__check"></span>
    {% block labelContainer %}    
        <span class="{{config.name}}__label">
            {% block label %}{{data.label}}{% endblock %}
        </span>
    {% endblock %}
{% endblock %}
