{% extends template('widget') %}

{% define data = {
    form: _widget.form,
    quote: _widget.quote,
    limit: _widget.limit,
    isVisible: _widget.isVisible,
    quoteApprovalStatus: _widget.quoteApprovalStatus,
    canSendApprovalRequest: _widget.canSendApprovalRequest,
    formOptions: {
        action: path('quote-approval/request/send')
    }
} %}
{% block body %}
    {% if data.isVisible and data.form.idApprover.vars.choices | length %}
        <h2>{{ 'quote_approval_widget.title' | trans }}</h2>

        {% if data.canSendApprovalRequest %}
            <b>{{ 'All cart sharings will be removed after creation request!'|trans }}</b>

            {{ 'quote_approval_widget.limit_text'|trans({'%amount%': data.limit / 100 ~ data.quote.currency.symbol}) }}
            {{ form_start(data.form, data.formOptions) }}
                {{ form_widget(data.form.idApprover) }}

                <button type="submit" class="button">
                    {{ 'quote_approval.request.send' | trans }}
                </button>

            {{ form_errors(data.form) }}
            {{ form_end(data.form) }}
        {% endif %}

        {% for approval in data.quote.approvals %}
            {% set customer = approval.approver.customer %}

            <h3>{{ ('quote_approval_widget.cart.status.' ~ approval.status) | trans }}</h3>

            {% if approval.status == 'Waiting' %}
               {{ 'quote_approval.request.waiting_for_approval_from'|trans }}
            {% elseif approval.status == 'Approved' %}
                {{ 'quote_approval.request.approved_by'|trans }}
            {% elseif approval.status == 'Declined' %}
                {{ 'quote_approval.request.declined_by'|trans }}
            {% endif %}

            {{ customer.firstName }} {{ customer.lastName }}

            {{ approval.updatedAt | date }}

            {% if approval.status == 'Waiting' %}
                <a class="button" href="{{ path('quote-approval/request/cancel', {'idQuoteApproval': approval.idQuoteApproval }) }}">
                    {{ 'quote_approval.request.cancel'|trans }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

