{# @var data.servicePoint \Generated\Shared\Transfer\ServicePointTransfer #}
{# @var data.servicePoint.address \Generated\Shared\Transfer\ServicePointAddressTransfer #}

{% extends model('component') %}

{% define config = {
    name: 'service-point',
} %}

{% define data = {
    servicePoint: required,
    availabilityGlossaryKey: '',
    productOfferAvailabilityDataPerServicePoint: [],
} %}

{% set address = data.servicePoint.address %}
{% set formattedAddress = [address.address1, address.address2, address.address3] | filter(address => address) | join(' ') %}
{% set fullAddress = formattedAddress ~ ', ' ~ address.zipCode ~ ' ' ~ address.city %}

{% block body %}
    {% block name %}
        <div class="{{ config.name }}__name">
            {{ data.servicePoint.name }}
        </div>
    {% endblock %}

    {% block address %}
        <address class="{{ config.name }}__address">
            {{ fullAddress }}
        </address>
    {% endblock %}

    {% block status %}
        {% if data.availabilityGlossaryKey %}
            {% widget 'ProductOfferServicePointAvailabilityDisplayWidget' args [data.availabilityGlossaryKey] only %}
            {% endwidget %}
        {% endif %}
    {% endblock %}

    {% set disabledButtonClass = 'all_items_not_available' in data.availabilityGlossaryKey ? 'button--disabled' %}
    {% set partiallyAvailableAttribute = 'some_items_not_available' in data.availabilityGlossaryKey ? 'data-service-point-partially-available' %}

    {% block actions %}
        {% set sspServicePointGeoCodeWidget = findWidget('SspServicePointGeoCodeWidget', [data.servicePoint]) %}
        {% set address = "#{data.servicePoint.name} #{fullAddress}" %}

        <div class="{{ config.name }}__actions">
            <button type="button"
                    class="button {{ config.jsName }}__select-button {{ disabledButtonClass }}"
                    data-service-point-uuid="{{ data.servicePoint.uuid }}"
                    data-service-point-address="{{ address }}"
                    data-service-point-product-offer-availability="{{
                        data.productOfferAvailabilityDataPerServicePoint
                        | map(product => sspServicePointGeoCodeWidget ? product | merge({
                            lat: sspServicePointGeoCodeWidget.latitude,
                            lng: sspServicePointGeoCodeWidget.longitude,
                            address: address,
                        }) : product)
                        | json_encode()
                    }}"
                    {{ partiallyAvailableAttribute }}>
                {{ 'service_point_widget.select_store_action' | trans }}
            </button>
        </div>
    {% endblock %}
{% endblock %}
