{% extends model('component') %}

{% define config = {
    name: 'rating-selector',
    tag: 'rating-selector',
} %}

{% define data = {
    value: 0,
    minValue: 1,
    maxValue: 5,
    steps: 5,
    useHalfSteps: false,
    inputId: '',
    inputName: 'rating',
    productItemJsName: '',
} %}

{% define attributes = {
    'readonly': false,
    'disable-if-empty-value': false,
    'product-item-class-name': data.productItemJsName,
} %}

{% set singleStepValue = (data.maxValue - data.minValue) / (data.steps - 1) %}
{% set precision = data.useHalfSteps ? 1 : 0 %}
{% set value = data.value | round(precision, 'floor') %}
{% set isActive = false %}

{% block extraClass %}
    {% if attributes.readonly %}{{ config.name }}--readonly{% endif %}
{% endblock %}

{% block body %}
    <span class="{{ config.name }}__steps">
        {% spaceless %}
            {% for step in data.steps..1 %}
                {% set currentStepValue = step * singleStepValue %}
                {% if value >= currentStepValue %}
                    {% set isActive = true %}
                {% endif %}

                {% if data.useHalfSteps %}
                    <span
                        data-step-value="{{ currentStepValue }}"
                        class="
                            {{ config.name }}__step
                            {{ config.name }}__step--half
                            {{ isActive ? config.name ~ '__step--active' }}
                            {{ config.jsName }}__step">

                        {% include atom('icon') with {
                            class: config.name ~ '__star ' ~ config.name ~ '__star--half-right',
                            data: {
                                name: 'star-half',
                            },
                        } only %}
                    </span>

                    {% set currentStepValue = (step - 0.5) * singleStepValue %}
                    {% if value >= currentStepValue %}
                        {% set isActive = true %}
                    {% endif %}

                    <span
                        data-step-value="{{ currentStepValue }}"
                        class="
                            {{ config.name }}__step
                            {{ config.name }}__step--half
                            {{ isActive ? config.name ~ '__step--active' }}
                            {{ config.jsName }}__step">

                        {% include atom('icon') with {
                            class: config.name ~ '__star ' ~ config.name ~ '__star--half-left',
                            data: {
                                name: 'star-half',
                            },
                        } only %}
                    </span>
                {% endif %}

                {% if not data.useHalfSteps %}
                    <span
                        data-step-value="{{ currentStepValue }}"
                        class="
                            {{ config.name }}__step
                            {{ config.name }}__step--full
                            {{ isActive ? config.name ~ '__step--active' }}
                            {{ config.jsName }}__step">

                        {% include atom('icon') with {
                            class: config.name ~ '__star',
                            data: {
                                name: 'star',
                            },
                        } only %}
                    </span>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </span>

    {% block input %}
        <input
            type="hidden"
            class="{{ config.jsName }}__input {{ data.productItemJsName }}__rating"
            {% if data.inputId is not empty %}id="{{ data.inputId }}"{% endif %}
            name="{{ data.inputName }}"
            value="{{ data.value }}"
            {% if attributes['disable-if-empty-value'] and data.value is empty %}disabled{% endif %}>
    {% endblock %}
{% endblock %}
