{% extends model('component') %}

{% define config = {
    name: 'agent-navigation',
    tag: 'nav',
} %}

{% define data = {
    activePage: required,
} %}

{%- macro isActive(page, activePage) -%}
    {%- if page == activePage -%}menu__item--active{%- endif -%}
{%- endmacro -%}

{%- import _self as macros -%}

{% block body %}
    <ul class="menu">
        <li class="menu__item {{ macros.isActive('overview', data.activePage) }}">
            <a href="{{ path('agent/overview') }}">{{ 'agent.account.overview' | trans }}</a>
        </li>
        <li class="menu__item {{ macros.isActive('quoteRequestAgent', data.activePage) }}">
            <a href="{{ url('agent/quote-request') }}" data-id="sidebar-quote-request">{{ 'agent.account.quote_request' | trans }}</a>
        </li>
    </ul>
{% endblock %}
