{% define data = {
    productAbstractViewCollection: productAbstractViewCollection,
} %}

{% block content %}
    <div class="grid grid--stretch">
        {% for productAbstractView in data.productAbstractViewCollection %}
            {% embed molecule('product-card') with {
                class: 'col col--sm-12 col--md-6 col--lg-4',
                data: {
                    name: productAbstractView.name,
                    abstractId: productAbstractView.idProductAbstract,
                    url: productAbstractView.url,
                    imageUrl: productAbstractView.images is empty ? '' : productAbstractView.images.0.externalUrlSmall,
                    price: productAbstractView.prices.DEFAULT | default(null),
                    originalPrice: productAbstractView.prices.ORIGINAL is defined ? productAbstractView.prices.ORIGINAL : null
                }
            } only %}
                {% block body %}
                <div class="{% block cardClass %}{{config.name}}__container box box--stretch{% endblock %}">
                        {% block content %}
                            {% block name %}
                                {{ parent() }}
                            {% endblock %}

                            {% block image %}
                                {{ parent() }}
                            {% endblock %}

                            {% block labels %}
                                {{ parent() }}
                            {% endblock %}

                            {% block groups %}
                                {{ parent() }}
                            {% endblock %}

                            {% block sku %}{{ parent() }}{% endblock %}

                            {% block rating %}
                                {{ parent() }}
                            {% endblock %}

                            {% block price %}
                                {{ parent() }}
                            {% endblock %}
                        {% endblock %}

                        {% block actionsContainer %}
                            {{ parent() }}
                        {% endblock %}
                </div>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
{% endblock %}
