{% extends template('layout-main') %}

{% set product = product | default(_view.product) %}
{% set productUrl = productUrl | default(_view.productUrl) %}
{% set title = title | default(product.metaTitle) %}
{% set title = title is empty ? product.name : title %}
{% set metaTitle = metaTitle | default(title) %}
{% set metaDescription = metaDescription | default(product.metaDescription) %}
{% set metaKeywords = metaKeywords | default(product.metaKeywords) %}

{% block breadcrumbs %}
    {{ widget('ProductCategoryWidgetPlugin', product, app.locale) }}
{% endblock %}

{% block title %}
    <h3 itemprop="name">{{ product.name }}</h3>
    <link itemprop="url" href="{{ productUrl }}" />
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12 col--lg-7 col--xl-8">
            <div class="box">
                {{ widget('ProductImageWidgetPlugin', product) }}
                {{ widget('ProductAbstractLabelWidgetPlugin', product) }}
            </div>
        </div>

        <div class="col col--sm-12 col--lg-5 col--xl-4">
            {% include organism('product-info', 'ProductDetailPage') with {
                class: 'box',
                data: {
                    product: product
                }
            } only %}
        </div>
    </div>

    {% include molecule('details-panel', 'ProductDetailPage') with {
        class: 'box',
        data: {
            description: product.description,
            attributes: product.attributes
        }
    } only %}

    {# {{ widgetBlock('ProductReviewWidgetPlugin', 'reviews', product.idProductAbstract) }} #}
    {{ widget('SimilarProductsWidgetPlugin', product) }}
    {{ widget('ProductCmsBlockWidgetPlugin', product) }}
{% endblock %}
