{% extends template('layout-main') %}

{% set data = {
    product: _view.product,
    productUrl: _view.productUrl,
    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default(''),
    metaKeywords: _view.product.metaKeywords | default('')
} | merge(data | default({})) %}

{% block breadcrumbs %}
    {{ widget('ProductCategoryWidgetPlugin', data.product, app.locale) }}
{% endblock %}

{% block title %}
    <h3 itemprop="name">{{ data.product.name }}</h3>
    <link itemprop="url" href="{{ data.productUrl }}" />
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12 col--lg-7 col--xl-8">
            <div class="box">
                {{ widget('ProductImageWidgetPlugin', data.product) }}
                {{ widget('ProductAbstractLabelWidgetPlugin', data.product) }}
            </div>
        </div>

        <div class="col col--sm-12 col--lg-5 col--xl-4">
            {% include organism('product-info', 'ProductDetailPage') with {
                class: 'box',
                data: {
                    product: data.product
                }
            } only %}
        </div>
    </div>

    {% include molecule('details-panel', 'ProductDetailPage') with {
        class: 'box',
        data: {
            description: data.product.description,
            attributes: data.product.attributes
        }
    } only %}

    {# {{ widgetBlock('ProductReviewWidgetPlugin', 'reviews', product.idProductAbstract) }} #}
    {{ widget('SimilarProductsWidgetPlugin', data.product) }}
    {{ widget('ProductCmsBlockWidgetPlugin', data.product) }}
{% endblock %}
