{% extends template('layout', 'ShopLayout') %}

{% set productName = _view.product.name %}

{% set title = productName %}
{% set metaTitle = _view.product.metaTitle | default(productName) %}
{% set metaKeywords = _view.product.metaKeywords | default(null) %}
{% set metaDescription = _view.product.metaDescription | default(null) %}

{% block breadcrumbItems %}
    {{ widget('ProductCategoryWidgetPlugin', _view.product) }}
{% endblock %}

{% block pageTitle %}
    <h3>{{ productName }}</h3>
{% endblock %}

{% block outside %}
    {{ widgetBlock('ProductImageWidgetPlugin', 'smallView', _view.product) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-6 xlarge-7 xxlarge-8 columns">
            <div style="position: relative">
                {{ widgetBlock('ProductImageWidgetPlugin', 'largeView', _view.product) }}
                {{ widget('ProductAbstractLabelWidgetPlugin', _view.product) }}
            </div>
        </div>

        <div class="small-12 medium-6 xlarge-5 xxlarge-4 columns">
            {% include molecule('product-main-info') with {
                data: {
                    brand: _view.product.attributes.brand | default(null),
                    price: _view.product.price,
                    priceOriginal: _view.product.prices.ORIGINAL | default(null),
                    sku: _view.product.sku,
                    product: _view.product
                }
            } only %}

            {{ widget('ProductGroupWidgetPlugin', _view.product.idProductAbstract) }}

            <form method="POST" action="/cart/add/{{ _view.product.sku }}">

                {{ widget('ProductOptionWidgetPlugin', _view.product) }}

                <div>
                    {% if widgetExists('AvailabilityWidgetPlugin') %}
                        {% set disabled = not widgetBlock('AvailabilityWidgetPlugin', 'isAvailable', _view.product) %}
                    {% else %}
                        {% set disabled = (not _view.product.isVariant) %}
                    {% endif %}

                    <button type="submit" class="button expanded success js-add-to-cart-button" {{ disabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;">
                        <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
                    </button>

                    {{ widgetBlock('AvailabilityWidgetPlugin', 'outOfStock', _view.product) }}

                    <div class="small-12 columns"></div>
                </div>
            </form>

            {{ widget('WishlistWidgetPlugin', _view.product) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {% include molecule('product-detail-info') with {
                data: {
                    description: _view.product.description,
                    attributes: _view.product.attributes
                }
            } only %}
        </div>
    </div>

    {{ widgetBlock('ProductReviewWidgetPlugin', 'reviews', _view.product) }}
    {{ widget('SimilarProductsWidgetPlugin', _view.product) }}
    {{ widget('ProductCmsBlockWidgetPlugin', _view.product) }}

{% endblock %}
