{% extends "@CompanyPage/layout.twig" %}
{% set companyRole = _view.companyRole %}
{% block title %}
    <h3>{{ 'company.account.company_role' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'company-role'} %}
{% endblock %}

{% block companyContent %}
    <div class="callout">
        <h5>{{ 'company.account.company_role.details' | trans }}</h5>
        <hr>
        <table class="stack">
            <thead>
            <tr class="active">
                <th>{{ 'company.account.company_role.name' | trans }}</th>
                <th>{{ 'company.account.company_role.is_default' | trans }}</th>
                <th class="text-right">{{ 'company.account.table.actions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ companyRole.name }}</td>
                <td>{% if (companyRole.isDefault) %}
                        <span class="label label-info">{{ 'company.account.company_role.default' | trans }}</span>{% endif %}
                </td>
                <td class="text-right">
                    <a href="{{ url('company/company-role/update', {'id': companyRole.idCompanyRole}) }}" class="float-right">
                        <small><i class="fa fa-users"></i> {{ "company.account.business_unit.edit" | trans }}</small>
                    </a>
                    <a href="{{ url('company/company-role/delete', {'id': companyRole.idCompanyRole }) }}" class="float-right">
                        <small><i class="fa fa-remove"></i> {{ "company.account.business_unit.delete" | trans }}</small>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="callout">
        <h5>{{ 'company.account.company_role.users' | trans }}</h5>
        <hr>
    </div>

    <div class="callout">
        <h5>{{ 'company.account.company_role.permissions' | trans }}</h5>
        <hr>
        {% if _view.permissions | length %}
            {% include "@CompanyPage/company-role/permission/company-role-permission-list.twig"  with {'actions': true} %}
        {% endif %}
        <div class="row align-right">
            <div class="small-12 medium-6 large-4 columns">
                <a class="button expanded __no-margin-bottom" href="{{ url('company/permission/manage', {'id': companyRole.idCompanyRole}) }}" data-id="company-role-manage">{{ 'company.account.company_role.permission.manage' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="callout">
        <div class="row align-right">
            <div class="small-12 medium-6 large-4 columns align-bottom">
                <a href="{{ url('company/company-role') }}"
                   class="button expanded __no-margin-bottom">{{ 'general.back.button' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
