{% extends template('widget') %}

{% define data = {
    quoteRequestOverviewCollection: _widget.quoteRequestOverviewCollection,
    form: _widget.form ?? null,
} %}

{% block body %}
    <div class="grid grid--middle">
        <div class="col col--sm-12 col--md-5 col--xl-3">
            <ul class="menu">
                <li class="menu__item menu__item--has-children-dropdown">
                    <a href="{{ path('agent/quote-request') }}">
                        {{ 'agent_quote_request_widget.quote_request' | trans }}

                        {% include atom('icon') with {
                            data: {
                                name: 'th-list'
                            }
                        } only %}
                    </a>
                    <ul class="menu menu--wide text-left">
                        {% if data.quoteRequestOverviewCollection.quoteRequests | length %}
                            {% for quoteRequest in data.quoteRequestOverviewCollection.quoteRequests %}
                                <li class="menu__item">
                                    {% include molecule('quote-request-detail', 'AgentQuoteRequestWidget') with {
                                        data: {
                                            quoteRequest: quoteRequest
                                        }
                                    } only %}
                                </li>
                                <li class="menu__separator menu__separator--horizontal-line"></li>
                            {% endfor %}
                        {% else %}
                            <li class="menu__item">
                            <span class="no-items no-quote-requests">
                                {{ 'agent_quote_request_widget.no_request_created' | trans }}
                            </span>
                            </li>
                        {% endif %}

                        <li class="menu__item">
                            <div class="grid grid--justify">
                                <div class="col">
                                    <a href="{{ path('agent/quote-request') }}" class="button button--hollow">
                                        {{ 'agent_quote_request_widget.view_all_requests' | trans }}
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="{{ path('agent/quote-request/create') }}" class="button button--success">
                                        {{ 'agent_quote_request_widget.create_new_request' | trans }}
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col col--sm-12 col--md-7 col--xl-9">
            {% if data.quoteRequestOverviewCollection.currentQuoteRequest is not empty %}
                <div class="box box--dark">
                    {% include molecule('quote-request-detail', 'AgentQuoteRequestWidget') with {
                        class: 'spacing-bottom spacing-bottom--inner spacing-bottom--small',
                        data: {
                            quoteRequest: data.quoteRequestOverviewCollection.currentQuoteRequest
                        }
                    } only %}

                    {% include molecule('quote-request-cart-from', 'AgentQuoteRequestWidget') with {
                        data: {
                            quoteRequestReference: data.quoteRequestOverviewCollection.currentQuoteRequest.quoteRequestReference,
                            form: data.form,
                        }
                    } only %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
