{% extends model('component') %}

{% define config = {
    name: 'business-unit-delete-message',
} %}

{% define data = {
    companyBusinessUnit: required,
    form: null,
} %}

{% block body %}
    <h5 class="{{ config.name }}__delete-message">
        {% include atom('icon') with {
            modifiers: ['big'],
            data: {
                name: 'action-warning'
            }
        } only %}
        {{ "company.account.address.delete.message.title" | trans }}
    </h5>

    <div class="spacing-y spacing-y--big">
        {{ "company.business_unit.delete.message.text" | trans }}:
        <div class="{{ config.name }}__business-unit">{{ data.companyBusinessUnit.name }}</div>
    </div>

    <a class="button button--hollow {{ config.name }}__action" href="{{ url('company/business-unit/update', {'id': data.companyBusinessUnit.idCompanyBusinessUnit}) }}">
        {{ "label.button.cancel" | trans }}
    </a>

    {% if data.form %}
        {{ form_start(data.form, {'action': path('company/business-unit/delete', {'id': data.companyBusinessUnit.idCompanyBusinessUnit}) }) }}
        <input data-init-single-click class="button" value="{{ "label.button.submit" | trans }}">
        {{ form_end(data.form) }}
    {% else %}
        <form id="companyBusinesUnitDeleteForm" name="companyBusinesUnitDeleteForm" method="POST"
              action="{{ path('company/business-unit/delete', {'id': data.companyBusinessUnit.idCompanyBusinessUnit}) }}">
            <input type="hidden" name="company_business_unit_delete_form[_token]" value="{{ csrf_token('company_business_unit_delete_form')}}">
            <input data-init-single-click class="button" value="{{ "label.button.submit" | trans }}">
        </form>
    {% endif %}

{% endblock %}
