{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible,
    canProceedCheckout: true,
} %}

{% block template %}
    {% if data.isVisible %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% set disableButton = not data.canProceedCheckout ? 'button--disabled' %}

    <a class="button button--expand button--success {{ disableButton }}" href="{{ url('checkout-index') }}" {{qa('cart-go-to-checkout')}}>
        {{ 'cart.checkout' | trans }}
    </a>
{% endblock %}

