{% extends model('component') %}

{% define config = {
    name: 'quote-request-summary-shipment',
} %}

{% define data = {
    shipmentGroups: required,
    shipmentTotal: required,
    currencyCode: required,
    priceMode: null,
} %}

{% block component %}
    {% if (data.shipmentTotal or data.shipmentTotal is same as(0)) and data.currencyCode %}
        <hr>
        {{ parent() }}
    {% endif %}
{% endblock %}

{% set classShipment = 'grid grid--justify' %}
{% set classShipmentTitle = 'col' %}
{% set classShipmentValue = 'col' %}

{% set priceModeGross = 'GROSS_MODE' %}

{% block body %}
    {% block title %}
        <div class="{{ classShipment }}">
            <strong class="{{ classShipmentTitle }}">{{ 'checkout.step.summary.shipment_costs_total' | trans }}</strong>
            <strong class="{{ classShipmentValue }}">{{ data.shipmentTotal | money(true, data.currencyCode) }}</strong>
        </div>
    {% endblock %}

    {% for shipmentGroup in data.shipmentGroups %}
        {% set isShipmentMethod = shipmentGroup.shipment is not empty and shipmentGroup.shipment.method is not empty %}
        {% set shipmentSourcePrice = isShipmentMethod and shipmentGroup.shipment.method.sourcePrice is defined ? shipmentGroup.shipment.method.sourcePrice %}

        {% if shipmentSourcePrice %}
            {% set sourceUnitPrice = data.priceMode == priceModeGross ? shipmentSourcePrice.grossAmount : shipmentSourcePrice.netAmount %}
        {% else %}
            {% set sourceUnitPrice = shipmentGroup.shipment.method.storeCurrencyPrice %}
        {% endif %}

        {% block summaryShipment %}
            <div class="{{ classShipment }}">
                <span class="{{ classShipmentTitle }}">
                    {{ shipmentGroup.shipment.method.carrierName | default }}
                    - {{ shipmentGroup.shipment.method.name | default }}
                </span>
                <span class="{{ classShipmentValue }}">
                    {{ sourceUnitPrice | money(true, data.currencyCode) }}
                </span>
            </div>
        {% endblock %}
    {% endfor %}
{% endblock %}
