{% extends model('component') %}

{% define config = {
    name: 'cart-quantity-selector',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    cart: required
} %}

{% set canWrite = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}

{% block body %}
    {% if canWrite %}
        <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}">
            {% include molecule('quantity-selector') with {
                data: {
                    maxQuantity: data.cartItem.maxQuantity,
                    value: data.cartItem.quantity,
                    hasUpdateButton: true
                }
            } only %}

            {% if widgetExists('QuantitySalesUnitWidgetPlugin') %}
                {{ widget('QuantitySalesUnitWidgetPlugin', data.cartItem) }}
            {% endif %}

            <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
        </form>
    {% else %}
        <label>
            <strong>{{ 'cart.item_quantity' | trans }}</strong>
            <span class="input-group __no-margin-bottom">
                {{ cartItem.quantity }}
             </span>
        </label>
    {% endif %}
{% endblock %}
