{% extends model('component') %}

{% define config = {
    name: 'quick-order-form-field',
    tag: 'quick-order-form-field'
} %}

{% define data = {
    additionalDataColumnProviderPlugins: null,
    first: false,
    index: required,
    sku: required,
    qty: required,
    idProductConcrete: required,
    fullName: required
} %}

{% block body %}
    <div class="{{ block('cellClass') }}">
        {{ widget(
            'QuickOrderPageProductSearchWidgetPlugin',
            'ajax-provider' ~ data.index,
            data.fullName ~ '[sku]'
        ) }}

        {{ form_row(data.sku) }}
        {{ form_row(data.idProductConcrete) }}

        {% include molecule('ajax-provider') with {
            class: config.jsName ~ '__provider',
            attributes: {
                id: config.jsName ~ '-' ~ data.index,
                method: 'GET',
                url: 'quick-order/product-additional-data'
            }
        } only %}
    </div>

    {% if data.additionalDataColumnProviderPlugins.measurementUnit is defined %}
        <div class="{{ block('cellClass') }}">
            {% include molecule('order-measurement-unit', 'QuickOrderPage') with {
                data: {
                    id:  config.jsName ~ '-' ~ data.index,
                    ajaxUrl: 'quick-order/product-additional-data'
                }
            } only %}
        </div>
    {% endif %}

    <div class="{{ block('cellClass') }}">
        {% include molecule('order-quantity', 'QuickOrderPage') with {
            data: {
                qty: data.qty,
                required: data.first,
            }
        } only %}
    </div>

    <div class="{{ block('cellClass') }}">
        {% include molecule('order-item-price', 'QuickOrderPage') with {
            data: {
                id: 'order-price-' ~ data.index,
                ajaxUrl: 'quick-order/product-price'
            },
            attributes: {
                'quantity-input-selector': '#quantity-input-' ~ data.index,
                'data-ajax-selector': '#order-price-' ~ data.index
            }
        } only %}
    </div>

    <div class="{{ block('cellClass') }}">
        {% if not data.first %}
            <a href="#remove"
               class="button button--expand button--warning {% block removeActionClass %}{% endblock %}"
               data-row-index="{{ data.index }}">
                {% include atom('icon') with {
                    modifiers: ['small'],
                    data: {
                        name: 'times'
                    }
                } only %}
            </a>
        {% endif %}
    </div>
{% endblock %}
