{% extends model('component') %}

{% define config = {
    name: 'quick-order-form-field',
    tag: 'quick-order-form-field'
} %}

{% define data = {
    additionalDataColumnProviderPlugins: null,
    first: false,
    index: required,
    sku: required,
    qty: required,
    fullName: required
} %}

{% block body %}
    <div class="{{ block('cellClass') }}">
        {% if widgetGlobalExists('QuickOrderPageProductSearchWidgetPlugin') %}
            {{ widgetGlobal(
                'QuickOrderPageProductSearchWidgetPlugin',
                'ajax-provider' ~ data.index,
                data.fullName ~ '[sku]'
            ) }}
        {% endif %}

        {{ form_row(data.sku, {
            attr: {
                'data-id': ''
            }
        }) }}
    </div>

    {% if data.additionalDataColumnProviderPlugins.measurementUnit is defined %}
        <div class="{{ block('cellClass') }}">
            {% include molecule('measurement-unit', 'QuickOrderPage') with {
                data: {
                    id:  'measurement-unit-' ~ data.index,
                    ajaxUrl: 'quick-order/product-additional-data'
                },
                attributes: {
                    'data-ajax-selector': '#measurement-unit-' ~ data.index
                }
            } only %}
        </div>
    {% endif %}

    <div class="{{ block('cellClass') }}">
        {{ form_row(data.qty, {
            id: 'quantity-input-' ~ data.index,
            required: data.first,
            label: false
        }) }}
    </div>

    {% if data.additionalDataColumnProviderPlugins.price is defined %}
        <div class="{{ block('cellClass') }}">
            {% include molecule('order-item-price', 'QuickOrderPage') with {
                data: {
                    id: 'order-price-' ~ data.index,
                    ajaxUrl: 'quick-order/product-price'
                },
                attributes: {
                    'quantity-input-selector': '#quantity-input-' ~ data.index,
                    'data-ajax-selector': '#order-price-' ~ data.index
                }
            } only %}
        </div>
    {% endif %}

    <div class="{{ block('cellClass') }}">
        {% if not data.first %}
            <a href="#remove"
               class="button button--expand button--warning {% block removeActionClass %}{% endblock %}"
               data-row-index="{{ data.index }}">
                {% include atom('icon') with {
                    modifiers: ['small'],
                    data: {
                        name: 'times'
                    }
                } only %}
            </a>
        {% endif %}
    </div>
{% endblock %}
