{% extends template('widget') %}

{% define data = {
    cartItem: _widget.itemTransfer,
    isBaseUnit: _widget.isBaseUnit ?? true
} %}

{% block body %}
    {% if data.cartItem.quantitySalesUnit is not empty %}
        {% set value = data.cartItem.quantitySalesUnit.value %}
        {% set precision = data.cartItem.quantitySalesUnit.precision %}
        {% set salesUnitName = data.cartItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}
        {% set quantity = data.cartItem.quantity %}

        <li>
            <strong>{{ 'Quantity:' | trans }}&nbsp;</strong>{{ quantity }}
            <span>{{ value / precision }} {{ salesUnitName | trans }}</span>
        </li>
    {% endif %}
    <br/>
    {% if data.cartItem.amountSalesUnit is not empty %}
        {% set amount = data.cartItem.amount %}
        {% set conversion = data.cartItem.amountSalesUnit.conversion %}
        {% set leadSalesUnitName = data.cartItem.amountSalesUnit.productMeasurementUnit.name | default('') %}

        <li>
            <strong>{{ 'Amount:' | trans }}</strong>&nbsp;{{ amount }}
            <span>{{ amount / conversion }} {{ leadSalesUnitName | trans }}</span>
        </li>
    {% endif %}
{% endblock body %}