{% block title %}
    <h3>{{ 'cart.cart'|trans }}</h3>
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li>{{ 'cart.cart'|trans }}</li>
    {% include '@Checkout/checkout/partials/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    {% if _view.cart.items|length > 0 %}
        <div class="row">
            <div class="small-12 columns">
                {% for cartItem in _view.cartItems %}
                     {% if cartItem.bundleProduct is defined %}
                         {% include '@CartPage/_partials/cart-item.twig' with {
                            cartItem: cartItem.bundleProduct,
                            bundleItems: cartItem.bundleItems
                         } %}
                     {% else %}
                         {% include '@CartPage/_partials/cart-item.twig' %}
                     {% endif %}
                {% endfor %}
            </div>

            {#{% include '@DiscountPromotion/discount-promotion/item-list.twig' %}#}

        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                {#{% include '@CartPage/_partials/voucher-form.twig' %}#}
                {{ widget('DiscountVoucherFormWidgetPlugin') }}
            </div>

            <div class="small-12 large-6 columns">
                {% include '@CartPage/_partials/cart-summary.twig' %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="small-12 columns">
                {#{% include '@CartPage/_partials/cart-empty.twig' %}#}
            </div>
        </div>
    {% endif %}

    {# TODO: fixme #}
    {#{{ product_relation(#}
        {#"up-selling",#}
        {#{ quote: cart },#}
        {#'You might also be interested in these products',#}
        {#'@ProductRelation/partial/product_relation_carousel.twig'#}
    {#) }}#}
{% endblock %}

{% block footer %}{% endblock %}
