{% block title %}
    <h3>{{ 'cart.cart'|trans }}</h3>
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li>{{ 'cart.cart'|trans }}</li>
    {{ widget('CheckoutBreadcrumbWidgetPlugin', _view.cart) }}
{% endblock %}

{% block content %}
    {% if _view.cart.items|length > 0 %}
        <div class="row">
            <div class="small-12 columns">
                {% for cartItem in _view.cartItems %}
                     {# TODO: move to ProductBundleWidget ??? #}
                    {% if cartItem.bundleProduct is defined %}
                        {% include '@CartPage/_partials/cart-item.twig' with {
                            cartItem: cartItem.bundleProduct,
                            bundleItems: cartItem.bundleItems
                        } %}
                    {% else %}
                        {% include '@CartPage/_partials/cart-item.twig' %}
                    {% endif %}
                {% endfor %}
            </div>

            {{ widget('DiscountPromotionItemListWidgetPlugin', _view.cart, app.request) }}

        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                {{ widget('DiscountVoucherFormWidgetPlugin') }}
            </div>

            <div class="small-12 large-6 columns">
                {% include '@CartPage/_partials/cart-summary.twig' %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="small-12 columns">
                {% include '@CartPage/_partials/cart-empty.twig' %}
            </div>
        </div>
    {% endif %}

    {{ widget('UpSellingProductsWidgetPlugin', _view.cart) }}

{% endblock %}

{% block footer %}{% endblock %}
