{% extends "@WishlistPage/wishlist-overview/_partials/wishlist-table.twig" %}

{% block wishlistName %}
    {% if wishlist.idWishlist == _view.wishlistForm.vars.data.idWishlist %}
        {{ form_start(_view.wishlistForm) }}
            <div class="input-group __no-margin-bottom">
                {{ form_widget(_view.wishlistForm.name, {attr: {class: 'input-group-field', placeholder: 'customer.account.wishlist.overview.enter_name'|trans}}) }}
                <div class="input-group-button">
                    <button type="submit" class="button float-right"><i class="fa fa-edit"></i></button>
                </div>
            </div>
            {{ form_errors(_view.wishlistForm) }}
        {{ form_end(_view.wishlistForm) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
