{% extends model('component') %}

{% define config = {
    name: 'single-button-form',
} %}

{% define data = {
    formAction: required,
    iconName: 'times',
    iconModifiers: ['smaller'],
    iconClasses: '',
    buttonText: '',
    buttonClass: config.name ~ '__button',
    fieldName: '',
    fieldValue: '',
} %}

{% set iconName = data.iconName %}

{% block body %}
    <form method="POST" action="{{ data.formAction }}">
        {% block button %}
            <button class="{{ data.buttonClass }}">
                {% block icon %}
                    {% if iconName %}
                        {% include atom('icon') with {
                            modifiers: data.iconModifiers,
                            class: data.iconClasses,
                            data: {
                                name: iconName,
                            },
                        } only %}
                    {% endif %}
                {% endblock %}

                {% block text %}
                    {{ data.buttonText }}
                {% endblock %}
            </button>
        {% endblock %}

        {% block field %}
            <input name="{{ data.fieldName }}" type="hidden" value="{{ data.fieldValue }}">
        {% endblock %}
    </form>
{% endblock %}
