{% extends model('component') %}

{% define config = {
    name: 'single-button-form',
} %}

{% define data = {
    formAction: '   ',
    isIconAllowed: true,
    iconName: 'times',
    iconModifiers: ['smaller'],
    buttonText: '',
    buttonClass: config.name ~ '__button',
    csrfFieldName: '',
    csrfFieldValue: '',
} %}

{% block body %}
    <form method="POST" action="{{ data.formAction }}">
        {% block button %}
            <button class="{{ data.buttonClass }}">
                {% block icon %}
                    {% if data.isIconAllowed %}
                        {% include atom('icon') with {
                            modifiers: data.iconModifiers,
                            data: {
                                name: data.iconName,
                            },
                        } only %}
                    {% endif %}
                {% endblock %}

                {% block text %}
                    {{ data.buttonText }}
                {% endblock %}
            </button>
        {% endblock %}
        {% block csrf_field %}
            <input name="{{ data.csrfFieldName }}" type="hidden" value="{{ data.csrfFieldValue }}">
        {% endblock %}
    </form>
{% endblock %}
