{% extends template('page-layout-main') %}

{% define data = {
    cartName: _view.cart.name | default,
    form: _view.sharedCartForm,
    title: 'shared_cart.form.share_cart.title' | trans({cart_name: _view.cart.name | default}),
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans
            },{
                label: 'shared_cart.share.breadcrumbs.shopping_carts' | trans
            },{
                label: data.cartName
            },{
                label: 'shared_cart.share.breadcrumbs.share' | trans
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    {{ form_start(data.form) }}
    <div class="share-cart-table box" data-qa="component share-cart-table">
        <table class="table table--expand">
            <tbody>
                {% for key, shareDetail in data.form.shareDetails %}
                    {% if shareDetail.vars.value.quotePermissionGroup is not null %}
                    <tr>
                        <td>
                            {{ shareDetail.vars.value.customerName }}
                        </td>
                        <td>
                            {{ form_widget(shareDetail.quotePermissionGroup) }}
                            {{ form_errors(shareDetail.quotePermissionGroup) }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

                {% for key, shareDetail in data.form.shareDetails %}
                    {% if shareDetail.vars.value.quotePermissionGroup is null %}
                    <tr>
                        <td>
                            {{ shareDetail.vars.value.customerName }}
                        </td>
                        <td>
                            {{ form_widget(shareDetail.quotePermissionGroup) }}
                            {{ form_errors(shareDetail.quotePermissionGroup) }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box">
        <button type="submit" class="button button--success float-right">
            {{ 'shared_cart.form.save_button' | trans }}
        </button>
    </div>

    {{ form_end(data.form) }}
{% endblock %}
