{% extends template('page-layout-main') %}

{% define data = {
    companyUserNames: _view.companyUserNames | default([]),
    cartName: _view.cartName | default,
    form: _view.sharedCartForm,
    title: 'shared_cart.form.share_cart' | trans,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'company.account.page-title' | trans
            },{
                label: 'shared_cart.share.breadcrumbs.shopping_carts' | trans
            },{
                label: data.cartName
            },{
                label: 'shared_cart.share.breadcrumbs.share' | trans
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    {{ form_start(data.form) }}

    {% set formShareDetailsValues = data.form.vars.value.shareDetails.getArrayCopy() %}

    <div class="box">
        {% for key, shareDetail in data.form.shareDetails %}
            {% if formShareDetailsValues[key].quotePermissionGroup is not null %}
                <div>
                    <div class="col-md-6">
                        <label class="label label-info">{{ data.companyUserNames[key] }}</label>
                        {{ form_errors(shareDetail) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(shareDetail) }}
                    </div>
                </div>
                <br/>
            {% endif %}
        {% endfor %}
    </div>

    <div class="box">
        {% for key, shareDetail in data.form.shareDetails %}
            {% if formShareDetailsValues[key].quotePermissionGroup is null %}
                <div>
                    <div class="col-md-6">
                        <label class="label label-info">{{ data.companyUserNames[key] }}</label>
                        {{ form_errors(shareDetail) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(shareDetail) }}
                    </div>
                </div>
                <br/>
            {% endif %}
        {% endfor %}
    </div>

    <div class="box">
        <button type="submit" class="button button--success float-right">
            {{ 'shared_cart.form.save_button' | trans }}
        </button>
    </div>

    {{ form_end(data.form) }}
{% endblock %}
