{% extends model('component') %}

{% define config = {
    name: 'summary-product-packaging-unit',
} %}

{% define data = {
    name: required,
    quantity: required,
    amount: required,
    price: required,
    quantitySalesUnit: required,
    amountSalesUnit: required,
    images: [],
} %}

{% block body %}
    {% set imageUrl = data.images ? (data.images | first) : null %}

    <div class="grid">
        <div class="col col--sm-12 col--lg-3">
            {% if imageUrl %}
                {% include atom('thumbnail') with {
                    modifiers: ['small'],
                    attributes: {
                        alt: data.name | default(''),
                        src: imageUrl.externalUrlLarge,
                    },
                } only %}
            {% else %}
                <div class="text-center">
                    <small>{{ 'global.no_image_available' | trans }}</small>
                </div>
            {% endif %}
        </div>
        <div class="col col--sm-12 col--lg-9">
            {% set salesUnitName = data.quantitySalesUnit.productMeasurementUnit.name | default('') %}
            {% set salesUnitSummary = salesUnitName ? data.quantity / data.quantitySalesUnit.conversion ~ ' ' ~ salesUnitName | trans %}
            {% set amountPerQuantity = data.amount is null ? 0 : data.amount.divide(data.quantity, 5).trim %}

            <strong class="float-right">{{ can('SeePricePermissionPlugin') ? data.price : 'customer.access.cannot_see_price' | trans }}</strong>
            <div>{{ data.quantity }} <span class="text-secondary">&times;</span> {{ data.name }} {% if salesUnitSummary %}(={{ salesUnitSummary }}){% endif %}</div>
            <div>{{ 'packaging_units.cart.quantity' | trans }}: {{ data.quantity }}</div>

            {% if data.amountSalesUnit is not empty %}
                {% set amountSalesUnitName = data.amountSalesUnit.productMeasurementUnit.name | default('') %}
                <div>
                    <span class="text-secondary">&times;</span>
                    {{ amountPerQuantity }} {{ 'packaging_units.cart.item' | trans }}
                    (= {{ amountPerQuantity.divide(data.amountSalesUnit.conversion, 5).trim }}{{ amountSalesUnitName | trans }})
                    = {{ data.amount }} {{ 'packaging_units.cart.item' | trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
