{% extends model('component') %}

{% define config = {
    name: 'overview-info',
    tag: 'div'
} %}

{% define data = {
    companyName: required,
    defaultBillingAddress: required
} %}

{% block body %}
    <span class="{{ config.name }}__title">{{ 'company.account.name' | trans }}:</span>
    <span class="{{ config.name }}__text"> {{ data.companyName }}</span><br/>
    {% if data.defaultBillingAddress %}
        <span class="{{ config.name }}__title">{{ 'company.account.address' | trans }}:</span>
        {% set mainAddress = data.defaultBillingAddress %}
        {{ data.defaultBillingAddress.city }} {{ data.defaultBillingAddress.zipCode }} {{ data.defaultBillingAddress.address1 }} {{ data.defaultBillingAddress.address2 }} {{ data.defaultBillingAddress.address3 }}
    {% endif %}
{% endblock %}