
{{ form_start(form, {attr: {class: "quick-order-form", 'data-component': "quick-order-form"} }) }}

{{ form_errors(form) }}

    <div class="items-container">
    {% for item in form.items %}
        <div class="row" data-index="{{ loop.index0 }}">
            <div class="medium-2">
                {{ form_widget(item.searchField) }}
            </div>
            <div class="medium-7 columns">
                {{ form_widget(item.searchQuery, { 'attr': {
                       'class': 'js-autocomplete-input-field',
                       'placeholder': 'quick-order.input-placeholder.search' | trans,
                       'autocomplete': 'off'
                    }})
                }}
                {{ form_widget(item.sku) }}
                <div class="form-error js-product-error"></div>
            </div>
            <div class="medium-1 columns">
                {{ form_widget(item.qty, { 'attr': {'min': 1, 'class': 'js-qty-input-field', 'placeholder': 'quick-order.input-placeholder.qty' | trans } }) }}
            </div>
            <div class="medium-2">
                {{ form_widget(item.price) }}
                {{ form_widget(item.pricePanel) }}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row __padding-top">
        <a href="#add-more" class="button secondary expanded __no-margin-bottom js-add-more-rows-button">
            <i class="fa fa-plus-circle"></i>{{ 'quick-order.button.add-more-rows' | trans }}
        </a>
    </div>

<div class="row __padding-top">
    <p class="small-12 large-6 columns">
        <button type="submit" name="addToCart" class="button expanded success js-add-to-cart-button __no-margin-bottom">
            <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
        </button>
    </p>
    <p class="small-12 large-6 columns">
        <button type="submit" name="createOrder" class="button primary expanded __no-margin-bottom">
            <i class="fa fa-list-alt"></i>{{ 'quick-order.button.create-order' | trans }}
        </button>
    </p>
</div>

{{ form_end(form) }}
