
{{ form_start(form, {attr: {
    'class': "quick-order-form",
    'data-component': "quick-order-form",
    'data-rows-number': rowsNumber
}}) }}

{{ form_errors(form) }}

    <div class="items-container">
    {% for item in form.items %}
        <div class="row product-item-row" data-index="{{ loop.index0 }}">
            <div class="medium-8 columns">
                {{ form_widget(item.sku, { 'attr': { 'class': 'js-sku-input-field', 'placeholder': 'quick-order.input-placeholder.sku' | trans }}) }}
                <div class="form-error js-product-error"></div>
            </div>
            <div class="medium-3 columns">
                {{ form_widget(item.qty, { 'attr': {'min': 1, 'class': 'js-qty-input-field', 'placeholder': 'quick-order.input-placeholder.qty' | trans } }) }}
                {{ form_errors(item.qty) }}
            </div>
            <div class="medium-1 columns">
                {% if loop.index0 > 0 %}
                <a href="#remove" class="inline js-delete-row-button">☓</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row __padding-top">
        <a href="#add-more" class="button secondary expanded __no-margin-bottom js-add-more-rows-button">
            <i class="fa fa-plus-circle"></i>{{ 'quick-order.button.add-more-rows' | trans }}
        </a>
    </div>

<div class="row __padding-top">
    <p class="small-12 large-6 columns">
        <button type="submit" name="addToCart" class="button expanded success js-add-to-cart-button __no-margin-bottom">
            <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
        </button>
    </p>
    <p class="small-12 large-6 columns">
        <button type="submit" name="createOrder" class="button primary expanded __no-margin-bottom">
            <i class="fa fa-list-alt"></i>{{ 'quick-order.button.create-order' | trans }}
        </button>
    </p>
</div>
{{ form_end(form) }}


<script type="application/json" id="quick-order-form-translations">
{
    "error-item-not-found": "{{ 'quick-order.errors.item-not-found' | trans }}",
    "error-item-not-available": "{{ 'quick-order.errors.item-not-available' | trans }}"
}
</script>
