{{ form_start(form, {attr: {class: "text-order-form"} }) }}

{{ form_errors(form) }}
<div>
    <h3>{{ 'quick-order.labels.paste-order' | trans }}</h3>
    <p>{{ 'quick-order.labels.paste-order-description' | trans }}
        Copy and paste your order with item#, quantity, separated by commas, semicolons or spaces.</p>
    {{ form_errors(form.textOrder) }}
    {{ form_widget(form.textOrder, { 'attr': {'placeholder': 'quick-order.hints.copy-paste-order'} }) }}

    <button type="submit" name="verifyTextOrder" class="button secondary js-verify-text-order">
        <i class="fa fa-check-circle-o"></i>{{ 'quick-order.buttons.verify' | trans }}
    </button>
</div>
{{ form_end(form) }}
