{% extends model('component') %}

{% define config = {
    name: 'bundle-item',
} %}

{% define data = {
    item: required,
} %}

{% set thumbnailModifiers = ['small'] %}
{% set imageColumnClass = 'col col--middle col--sm-2' %}
{% set nameWrapperClass = 'col col--middle col--sm-4' %}
{% set quantityWrapperClass = 'col col--middle col--sm-6 text-center' %}

{% block body %}
    {% block imageWrapper %}
        <div class="{{ imageColumnClass }}">
            {% block image %}
                {% include atom('thumbnail') with {
                    modifiers: thumbnailModifiers,
                    attributes: {
                        src: data.item.metadata.image,
                        alt: data.item.name,
                    },
                } only %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block nameWrapper %}
        <div class="{{ nameWrapperClass }}">
            {% block name %}
                <h6>{{ data.item.name }}</h6>
            {% endblock %}
        </div>
    {% endblock %}

    {% block quantityWrapper %}
        <div class="{{ quantityWrapperClass }}">
            {% block quantity %}
                {{ 'product_bundle_widget.quantity' | trans }}
            {% endblock %}

            {{ data.item.quantity }}
        </div>
    {% endblock %}
{% endblock %}
