{% extends template('widget') %}

{% define data = {
    shoppingListCollection: _widget.shoppingListCollection,
    sku: _widget.sku,
    isDisabled: _widget.isDisabled,
    maxQuantity: 10,
} %}

{% set quantities = [] %}

{% for index in 1..data.maxQuantity %}
    {% set quantities = quantities | merge([{
        label: index,
        value: index,
    }]) %}
{% endfor %}

{% set shoppingListOptions = [] %}

{% for shoppingList in data.shoppingListCollection.shoppingLists %}
    {% set shoppingListOptions = shoppingListOptions|merge([{ value: shoppingList.idShoppingList, label: shoppingList.name }]) %}
{% endfor %}

{% block body %}
    <form class="js-shopping-list__form" method="POST" action="{{ path('shopping-list/add-item') }}">
        {% block formContent %}
            <div class="grid grid--justify grid--bottom">
                {% block selectWrap %}
                    <div class="col col--sm-5">
                        <label>{{ 'shopping_list.item_quantity' | trans }}</label>
                        {% block select %}
                            {% include atom('select') with {
                                modifiers: ['expand'],
                                data: {
                                    options: quantities,
                                },
                                attributes: {
                                    name: 'quantity',
                                },
                            } only %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block generalPart %}
                    <div class="col col--sm-6">
                        {% block generalPartInner %}
                            <input type="hidden" name="sku" value="{{ data.sku }}">
                            {% block formInjector %}
                                {% include molecule('form-data-injector', 'ShoppingListWidget') with {
                                    attributes: {
                                        'destination-form-class-name': 'js-shopping-list__form',
                                        'fields-selector': '.js-product-configurator__form select:not([name="quantity"]):not([name="id_quote"])',
                                    },
                                } only %}
                            {% endblock %}

                            {% set disableAttribute = data.isDisabled ? 'disabled' %}
                            {% set buttonClasses = 'button button--expand js-add-to-shopping-list' %}

                            {% block button %}
                                <button type="submit" class="{{ buttonClasses }}" {{ qa('add-to-shopping-list-button') }} {{ disableAttribute }}>
                                    {% block buttonInner %}
                                        {% include atom('icon') with {
                                            data: {
                                                name: 'cart-plus',
                                            },
                                        } only %}
                                        {{ 'page.detail.add-to-shopping-list' | trans }}
                                    {% endblock %}
                                </button>
                            {% endblock %}

                            {% block selectOptionsWrap %}
                                {% if shoppingListOptions is not empty %}
                                    {% block selectOptions %}
                                        {% include atom('select') with {
                                            modifiers: ['expand'],
                                            data: {
                                                options: shoppingListOptions,
                                            },
                                            attributes: {
                                                name: 'idShoppingList',
                                            },
                                        } only %}
                                    {% endblock %}
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </form>
{% endblock %}
