{% extends template('widget') %}

{% define data = {
    title: _widget.title,
    form: _widget.form,
    options: {
        action: path('product-quick-add')
    },
    submitButtonTitle: _widget.submitButtonTitle,
} %}

{% define config = {
    name: 'product-quick-add-form'
} %}

{% block body %}
    <div id="{{ config.name ~ '-wrapper' }}" class="grid">

        {% block title %}
            {% if data.title is not empty %}
                <h5>{{data.title}}</h5>
            {% endif %}
        {% endblock %}

        {% block form %}
            {{ form_start(data.form, data.options) }}

            {% block fields %}
                {% include molecule('product-quick-add-fields', 'ProductQuickAddWidget') with {
                    class: "col col--sm-12",
                    data: {
                        form: data.form
                    }
                } only %}
            {% endblock %}

            {% block actions %}
                <button type="submit" class="button button--expand button--success">
                    {{ data.submitButtonTitle }}
                </button>
            {% endblock %}

            {{ form_end(data.form) }}
        {% endblock %}
    </div>
    <hr/>
{% endblock %}
