{% extends template('page-layout-customer', 'CustomerPage') %}

{% block title %}
    <h3>{{ 'customer.account.wishlist' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}

    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: 'wishlist'
        }
    } only %}

        {% block wishlistNavigation %}
            {% if _view.wishlistOverview.meta.wishlistCollection.wishlists|length %}
                {% include molecule('wishlist-navigation', 'WishlistPage') with {
                    class: 'menu',
                    data: {
                        wishlistCollection: _view.wishlistOverview.meta.wishlistCollection,
                        activeSubmenu: _view.wishlistName
                    }
                } only %}
            {% endif %}
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block customerContent %}

    <div class="box">
        <div class="grid grid--middle space-bottom-big">
            <div class="col col--expand">
                <h4>{{ _view.wishlistName }}</h4>
            </div>

            {% if _view.wishlistItems|length %}
                <div class="col">
                    {{ form_start(_view.addAllAvailableProductsToCartForm, {action: path('wishlist/move-all-available-to-cart', { wishlistName: _view.wishlistName })}) }}
                        <button type="submit" class="button">
                            {% include atom('icon') with {
                                data: {
                                    name: 'cart-plus'
                                }
                            } only %}
                            {{ 'customer.account.wishlist.add_all_available_to_cart' | trans }}
                        </button>
                        {% for wishlistItemMetaField in _view.addAllAvailableProductsToCartForm.wishlistItemMetaCollection %}
                            {{ form_widget(wishlistItemMetaField) }}
                        {% endfor %}
                    {{ form_end(_view.addAllAvailableProductsToCartForm) }}
                </div>
            {% endif %}
        </div>


        {% include molecule('wishlist-table', 'WishlistPage') with {
            data: {
                wishlistItems: _view.wishlistItems
            }
        } only %}

    </div>

{% endblock %}
