{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    wishlistName: _view.wishlistName,
    wishlistItems: _view.wishlistItems,
    addAllProductsToCart: _view.addAllAvailableProductsToCartForm,
    pagination: {
        currentPage: _view.currentPage,
        maxPage: _view.totalPages,
        parameters: {
            wishlistName: _view.wishlistName
        },
        paginationPath: 'wishlist/details',
        showAlwaysFirstAndLast: true
    }
} %}

{% block title %}
    <h3>{{ 'customer.account.wishlist' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}

    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: 'wishlist'
        }
    } only %}

        {% block wishlistNavigation %}
            {% if _view.wishlistOverview.meta.wishlistCollection.wishlists|length %}
                {% include molecule('wishlist-navigation', 'WishlistPage') with {
                    class: 'menu',
                    data: {
                        wishlists: _view.wishlistOverview.meta.wishlistCollection.wishlists,
                        activeSubmenu: _view.wishlistName
                    }
                } only %}
            {% endif %}
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block customerContent %}

    <div class="box">
        <div class="grid grid--middle space-bottom-big">
            <div class="col col--expand">
                <h4>{{ data.wishlistName }}</h4>
            </div>

            {% if data.wishlistItems|length %}
                <div class="col">
                    {{ form_start(data.addAllProductsToCart, {action: path('wishlist/move-all-available-to-cart', { wishlistName: data.wishlistName })}) }}
                        <button type="submit" class="button">
                            {% include atom('icon') with {
                                data: {
                                    name: 'cart-plus'
                                }
                            } only %}
                            {{ 'customer.account.wishlist.add_all_available_to_cart' | trans }}
                        </button>
                        {% for wishlistItemMetaField in data.addAllProductsToCart.wishlistItemMetaCollection %}
                            {{ form_widget(wishlistItemMetaField) }}
                        {% endfor %}
                    {{ form_end(data.addAllProductsToCart) }}
                </div>
            {% endif %}
        </div>

        {% include molecule('wishlist-table', 'WishlistPage') with {
            data: {
                wishlistItems: data.wishlistItems,
                wishlistName: data.wishlistName,
                pagination: data.pagination
            }
        } only %}

    </div>

{% endblock %}
