{% extends model('component') %}

{% define config = {
    name: 'wishlist-table',
    tag: 'div'
} %}

{% define data = {
    wishlistItems: required
} %}

{% block body %}

    {% if _view.wishlistItems|length %}
        <table class="table table--expand table-grid">
            <thead>
                <tr>
                    <th colspan="2">{{ 'customer.account.wishlist.product' | trans  }}</th>
                    <th>{{ 'customer.account.wishlist.price' | trans  }}</th>
                    <th>{{ 'customer.account.wishlist.availability' | trans  }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.wishlistItems %}
                <tr>
                    <td>
                        {% set imageUrl = item.images[0].externalUrlSmall %}
                        {% if imageUrl %}
                            {% include atom('thumbnail') with {
                                modifiers: ['small', 'grid'],
                                attributes: {
                                    alt: item.name,
                                    src: imageUrl,
                                    title: item.name,
                                }
                            } only %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                        <div><small>{{ item.sku }}</small></div>
                        {% for attribute in item.superAttributesDefinition %}
                            {% if item.attributes[attribute] is defined %}
                                {{ ('product.attribute.'~attribute) | trans }}: {{ item.attributes[attribute] }} <br/>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td nowrap="nowrap">
                        {% if item.price is not null %}
                            {% if item.prices.ORIGINAL is defined %}
                                <small><s class="catalog-price__price-reduced">{{ item.price | money }}</s></small> &nbsp;
                                <strong>{{ item.prices.ORIGINAL | money }}</strong>
                            {% else %}
                                {{ item.price | money }}
                            {% endif %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if item.available %}
                            {{ 'customer.account.wishlist.available' | trans }}
                        {% else %}
                            {{ 'customer.account.wishlist.not_available' | trans }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="grid grid--right">
                            {% if item.available and item.price is not null %}
                                <form id="addToCart_{{ loop.index }}"
                                      class="col space-x-small"
                                      method="POST"
                                      action="{{ path('wishlist/move-to-cart', {sku: item.sku, 'wishlist-name': _view.wishlistName}) }}">
                                            <span class="link" title="{{ 'customer.account.wishlist.add-to-cart' | trans }}" onclick="document.getElementById('addToCart_{{ loop.index }}').submit()">
                                                {% include atom('icon') with {
                                                    data: {
                                                        name: 'cart-plus'
                                                    }
                                                } only %}
                                            </span>
                                </form>
                            {% endif %}
                            <form id="deleteWishlistItem_{{ loop.index }}"
                                  class="col space-x-small"
                                  method="POST"
                                  action="{{ path('wishlist/remove-item', {sku: item.sku, 'wishlist-name': _view.wishlistName}) }}">
                                        <span class="link" title="{{ 'customer.account.wishlist.remove' | trans }}" onclick="document.getElementById('deleteWishlistItem_{{ loop.index }}').submit()">
                                            {% include atom('icon') with {
                                                data: {
                                                    name: 'remove'
                                                }
                                            } only %}
                                        </span>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row align-center">
            {#{% include '@ShopLayout/layout/partials/pagination.twig' with {#}
            {#parameters: {#}
            {#wishlistName: _view.wishlistName#}
            {#},#}
            {#currentPage: _view.currentPage,#}
            {#paginationPath: 'wishlist/details',#}
            {#maxPage: _view.totalPages,#}
            {#showAlwaysFirstAndLast: true#}
            {#} %}#}
        </div>
    {% else %}
        <div class="text-center space-y-big">
            <h6>{{ 'customer.account.wishlist.empty' | trans }}</h6>
        </div>
    {% endif %}
{% endblock %}
