{% extends model('component') %}

{% define config = {
    name: 'order-filters',
} %}

{% define data = {
    orderSearchForm: required,
    jsPrefix: required,
} %}

{% block extraClass %}
    spacing-y spacing-y--inner
{% endblock %}

{% block body %}
    {% set row1Class = 'form__fields grid grid--bottom' %}
    {% set searchTypeClass = 'form__field col col--sm-12 col--lg-3' %}
    {% set searchTextClass = 'form__field col col--sm-12 col--lg-9' %}

    {% block row1 %}
        <div class="{{ row1Class }}">
            <div class="{{ searchTypeClass }}">
                {{ form_row(data.orderSearchForm.searchType) }}
            </div>
            <div class="{{ searchTextClass }}">
                {{ form_row(data.orderSearchForm.searchText) }}
            </div>
        </div>
    {% endblock %}

    {% set row2Class = 'form__fields grid grid--bottom' %}

    {% block row2 %}
        <div class="{{ row2Class }}">
            {% for filter in data.orderSearchForm.filters.children %}
                <div class="{{ filter.vars.attr.class }}">
                    {{ form_row(filter, {
                        attr: {
                            class: data.jsPrefix ~ filter.vars.name ~ '-target',
                        }})
                    }}
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block separator1 %}
        <hr class="box__separator">
    {% endblock %}

    {% set row3Class = 'form__fields grid grid--middle grid--justify' %}
    {% set orderItemsVisibleClass = 'form__field col' %}
    {% set actionWrapperClass = 'form__field col text-right' %}
    {% set actionClass = 'button button--success' %}

    {% block row3 %}
        <div class="{{ row3Class }}">
            <div class="{{ orderItemsVisibleClass }}">
                {{ form_row(data.orderSearchForm.isOrderItemsVisible) }}
            </div>
            <div class="{{ actionWrapperClass }}">
                <button type="submit" name="buttonSubmit" class="{{ actionClass }}">
                    {{ 'customer.order_history.apply' | trans }}
                </button>
            </div>
        </div>
    {% endblock %}

    {% block separator2 %}
        <hr class="box__separator">
    {% endblock %}
{% endblock %}
