{% extends model('component') %}

{% define config = {
    name: 'cart-summary',
    tag: 'div'
} %}

{% define data = {
    cart: required,
    isQuoteValid: required
} %}

{% set canProceedToCheckout = data.cart.items is not empty
    and data.isQuoteValid
    and (not is_granted('ROLE_USER') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote))
%}

{% block body %}
    <h6 class="text-secondary float-right">{{ app['cart.quantity'] }} {{ 'item' | trans }}</h6>
    <h6>{{ 'cart.your-order' | trans }}</h6>
    <hr/>

    {% if can('SeePricePermissionPlugin') %}
        {% if widgetExists('DiscountSummaryWidgetPlugin') %}
            <ul class="list spacing-y">
                {{ widget('DiscountSummaryWidgetPlugin', data.cart) }} {# @deprecated Use molecule('cart-discount-summary', 'DiscountWidget') instead. #}
            </ul>
        {% else %}
            {% include molecule('cart-discount-summary', 'DiscountWidget') ignore missing with {
                class: 'list spacing-y',
                data: {
                    voucherDiscounts: data.cart.voucherDiscounts,
                    ruleDiscounts: data.cart.cartRuleDiscounts,
                    discountTotal: data.cart.totals.discounttotal
                }
            } only %}
        {% endif %}

        <ul class="list spacing-y">

            {% if data.cart.shipment is not empty and data.cart.shipment.method is not empty %}
                <li class="list__item spacing-y">
                    <strong>{{ 'cart.shipping' | trans }}</strong>
                    <br/>
                    {{ data.cart.shipment.method.name }}
                    <span class="float-right">{{ data.cart.shipment.method.storeCurrencyPrice | money }}</span>
                    <hr/>
                </li>
            {% endif %}

            {% widget 'SalesOrderThresholdWidget' args [data.cart.expenses] only %}
                {% block body %}
                    <li class="list__item spacing-y">
                        {{ parent() }}
                    </li>
                    <hr/>
                {% endblock %}
            {% elsewidget 'SalesOrderThresholdWidgetPlugin' args [data.cart.expenses] only %} {# @deprecated Use SalesOrderThresholdWidget instead. #}
                {% block body %}
                    <li class="list__item spacing-y">
                        {{ parent() }}
                    </li>
                    <hr/>
                {% endblock %}
            {% endwidget %}

            <li class="list__item spacing-y">
                {{ 'cart.price.subtotal' | trans }}
                <span class="float-right">{{ data.cart.totals.subtotal | money }}</span>
            </li>

            <li class="list__item spacing-y">
                {{ 'cart.total.tax_total' | trans }}
                <span class="float-right">{{ data.cart.totals.taxTotal.amount | money }}</span>
            </li>
            <li class="list__item spacing-y">
                {{ 'cart.price.grand.total' | trans }}
                <strong class="float-right">{{ data.cart.totals.grandTotal | money }}</strong>
            </li>
        </ul>
    {% else %}
        <li>{{ 'customer.access.cannot_see_price' | trans }}</li>
    {% endif %}

    {% if canProceedToCheckout %}
        <hr/>
        <a class="button button--expand button--success"
           href="{{ url('checkout-index') }}" {{ qa('cart-go-to-checkout') }}>
            {{ 'cart.checkout' | trans }}
        </a>
    {% endif %}
{% endblock %}
