{% extends template('page-layout-sales-return', 'SalesReturnPage') %}

{% define data = {
    form: _view.returnCreateForm,
    order: _view.order,
} %}

{% set contentWrapperClass = 'box' %}

{% block salesReturnContent %}
    <div class="{{ contentWrapperClass }}">
        {% block salesReturnContentForm %}
            {{ form_start(data.form) }}

            {% block salesReturnContentHeader %}
                {% set backLinkClass = 'float-right' %}

                {% block backOrderLink %}
                    {% include molecule('order-detail-link', 'CustomerPage') ignore missing with {
                        class: backLinkClass,
                        attributes: {
                            href: path('customer/order/details', {'id': data.order.idSalesOrder}),
                        },
                    } only %}
                {% endblock %}

                {% block salesReturnPageTitle %}
                    <h5>{{ 'return_page.return.title' | trans }}</h5>
                {% endblock %}

                {% block salesReturnPageHeaderSeparator %}
                    <hr class="box__separator">
                {% endblock %}
            {% endblock %}

            {% set salesReturnOrderListClass = '' %}

            {% block salesReturnOrderInfo %}
                <ul class="{{ salesReturnOrderListClass }}">
                    {% block salesReturnOrderInfoInner %}
                        {% set salesReturnItemClass = '' %}

                        {% block salesReturnIdItemInfo %}
                            <li class="{{ salesReturnItemClass }}">
                                {% block salesReturnIdItemInfoInner %}
                                    {{ 'return_page.order_id' | trans }}:
                                    <strong>{{ data.order.orderReference }}</strong>
                                {% endblock %}
                            </li>
                        {% endblock %}

                        {% block salesReturnDateItemInfo %}
                            <li class="{{ salesReturnItemClass }}">
                                {% block salesReturnDateItemInfoInner %}
                                    {{ 'return_page.date' | trans }}:
                                    <strong>{{ data.order.createdAt | formatDateTime }}</strong>
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endblock %}
                </ul>
            {% endblock %}

            {% block salesReturnOrderInfoSeparator %}
                <hr class="box__separator">
            {% endblock %}

            {% set salesReturnProductsClass = '' %}
            {% set salesReturnProductItemClass = 'grid grid--middle grid--justify box' %}
            {% set orderItems = [] %}

            {% block salesReturnProducts %}
                <ul class="{{ salesReturnProductsClass }}">
                    {% for returnItem in data.form.returnItems %}
                        {% set orderItem = returnItem.vars.value.orderItem %}
                        {% set isConfiguredBundle = orderItem.salesOrderConfiguredBundleItem is defined and orderItem.salesOrderConfiguredBundleItem is not null %}

                        {% if not isConfiguredBundle %}
                            {% block salesReturnProductItem %}
                                <li class="{{ salesReturnProductItemClass }}">
                                    {% set checkboxWrapperClass = 'col col--sm-1' %}
                                    {% set productItemReturnClass = 'col col--sm-11 grid' %}

                                    {% block salesReturnProductItemInner %}
                                        {{ form_errors(returnItem) }}

                                        {% block checkbox %}
                                            <div class="{{ checkboxWrapperClass }}">
                                                {{ form_row(returnItem.uuid, {label: ' '}) }}
                                            </div>
                                        {% endblock %}

                                        {% block salesReturnProductItemInfo %}
                                            {% embed molecule('return-product-item', 'SalesReturnPage') with {
                                                class: productItemReturnClass,
                                                data: {
                                                    item: orderItem,
                                                },
                                                embed: {
                                                    returnItem: returnItem,
                                                },
                                            } only %}
                                                {% block productItemInfoInner %}
                                                    {{ parent() }}

                                                    {% include molecule('return-product-reason', 'SalesReturnPage') with {
                                                        data: {
                                                            returnItem: embed.returnItem,
                                                        },
                                                    } only %}
                                                {% endblock %}
                                            {% endembed %}
                                        {% endblock %}
                                    {% endblock %}
                                </li>
                            {% endblock %}
                        {% endif %}
                        {% set orderItems = orderItems | merge([orderItem]) %}
                    {% endfor %}
                </ul>
            {% endblock %}

            {% widget 'OrderItemsConfiguredBundleWidget' args [orderItems] only %}{% endwidget %}

            {{ form_widget(data.form) }}

            {% set salesReturnSaveActionClass = 'button button-primary spacing-top' %}

            {% block salesReturnPageActions %}
                <button class="{{ salesReturnSaveActionClass }}">
                    {{ 'return_page.button_text' | trans }}
                </button>
            {% endblock %}

            {{ form_end(data.form) }}
        {% endblock %}
    </div>
{% endblock %}
