{% extends template('page-layout-sales-return', 'SalesReturnPage') %}

{% define data = {
    form: _view.returnCreateForm,
    order: _view.order,
} %}

{% set contentWrapperClass = 'box' %}

{% block salesReturnContent %}
    <div class="{{ contentWrapperClass }}">
        {% block salesReturnContentForm %}
            {{ form_start(data.form) }}

            {% block salesReturnContentHeader %}
                {% set backLinkClass = 'float-right' %}

                {% block backOrderLink %}
                    {% include molecule('order-detail-link', 'CustomerPage') ignore missing with {
                        class: backLinkClass,
                        attributes: {
                            href: path('customer/order/details', {'id': data.order.idSalesOrder}),
                        },
                    } only %}
                {% endblock %}

                {% block salesReturnPageTitle %}
                    <h5>{{ 'return_page.return.title' | trans }}</h5>
                {% endblock %}

                {% block salesReturnPageHeaderSeparator %}
                    <hr class="box__separator">
                {% endblock %}
            {% endblock %}

            {% set salesReturnOrderListClass = '' %}

            {% block salesReturnOrderInfo %}
                <ul class="{{ salesReturnOrderListClass }}">
                    {% block salesReturnOrderInfoInner %}
                        {% set salesReturnItemClass = '' %}

                        {% block salesReturnIdItemInfo %}
                            <li class="{{ salesReturnItemClass }}">
                                {% block salesReturnIdItemInfoInner %}
                                    {{ 'return_page.order_id' | trans }}:
                                    <strong>{{ data.order.orderReference }}</strong>
                                {% endblock %}
                            </li>
                        {% endblock %}

                        {% block salesReturnDateItemInfo %}
                            <li class="{{ salesReturnItemClass }}">
                                {% block salesReturnDateItemInfoInner %}
                                    {{ 'return_page.date' | trans }}:
                                    <strong>{{ data.order.createdAt | formatDateTime }}</strong>
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endblock %}
                </ul>
            {% endblock %}

            {% block salesReturnOrderInfoSeparator %}
                <hr class="box__separator">
            {% endblock %}

            {% set salesReturnProductsClass = '' %}
            {% set salesReturnProductItemClass = 'grid grid--middle grid--justify box' %}

            {% block salesReturnProducts %}
                <ul class="{{ salesReturnProductsClass }}">
                    {% for returnItem in data.form.returnItems %}
                        {% block salesReturnProductItem %}
                            <li class="{{ salesReturnProductItemClass }}">
                                {% set checkboxWrapperClass = 'col col--sm-1' %}
                                {% set productItemReturnClass = 'col col--sm-11 grid' %}

                                {% block salesReturnProductItemInner %}
                                    {{ form_errors(returnItem) }}

                                    {% block checkbox %}
                                        <div class="{{ checkboxWrapperClass }}">
                                            {{ form_row(returnItem.uuid, {label: ' '}) }}
                                        </div>
                                    {% endblock %}

                                    {% block salesReturnProductItemInfo %}
                                        {% include molecule('return-product-item', 'SalesReturnPage') with {
                                            class: productItemReturnClass,
                                            data: {
                                                item: returnItem.vars.value.orderItem,
                                                currencyIsoCode: data.order.currencyIsoCode,
                                            },
                                        } only %}
                                    {% endblock %}
                                {% endblock %}

                                <div class="reason">
                                    {{ form_row(returnItem.reason) }}
                                </div>
                                <div class="custom-reason">
                                    {{ form_row(returnItem.customReason) }}
                                </div>
                            </li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}

            {{ form_widget(data.form) }}

            {% set salesReturnSaveActionClass = 'button button-primary spacing-top' %}

            {% block salesReturnPageActions %}
                <button class="{{ salesReturnSaveActionClass }}">
                    {{ 'return_page.button_text' | trans }}
                </button>
            {% endblock %}

            {{ form_end(data.form) }}
        {% endblock %}
    </div>
{% endblock %}
