{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    quoteRequest: _view.quoteRequest,
    quoteRequestVersionReferences: _view.quoteRequestVersionReferences,
    version: _view.version,
    isQuoteRequestCancelable: _view.isQuoteRequestCancelable,
    isQuoteRequestReady: _view.isQuoteRequestReady,
    isQuoteRequestEditable: _view.isQuoteRequestEditable,
    breadcrumbLabel: '#' ~ _view.quoteRequest.quoteRequestReference,
} %}

{% set isLatestVersion = (data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion) ? true : false %}

{% block content %}
    {% set quote = data.version.quote %}
    {{ parent() }}
{% endblock %}

{% block orderInformation %}
    {% for key, value in data.version.metadata %}
        <div class="col col--sm-12 col--xl-6">
            <div class="box">
                <label class="label">{{ ('quote_request_page.quote_request.metadata.label.' ~ key) | trans }}</label>
                <hr class="box__separator">
                <p class="text-break">{{ value }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block rgqInformation %}
    <h6>{{ "quote_request_page.quote_request.labels.information" | trans }}</h6>
    <hr class="box__separator">
    <p>{{ 'quote_request_page.quote_request.labels.date' | trans }}:
        <b>{{ data.quoteRequest.createdAt | formatDateTime }}</b>
    </p>
    <p>{{ 'quote_request_page.quote_request.labels.status' | trans }}:
        <span class="request-status request-status--{{ data.quoteRequest.status }}">{{ ('quote_request.status.' ~ data.quoteRequest.status) | trans }}</span>
    </p>
    {% if data.quoteRequest.validUntil %}
        <p>{{ 'quote_request_page.quote_request.labels.valid_till' | trans }}:
            <b>{{ data.quoteRequest.validUntil | formatDateTime }}</b>
        </p>
    {% endif %}
    <hr class="box__separator">
    <h6>{{ "quote_request_page.quote_request.labels.version_information" | trans }}</h6>
    <hr class="box__separator">
    <p>{{ 'quote_request_page.quote_request.labels.history' | trans }}:
        {% embed atom('select') with {
            modifiers: ['naked'],
            attributes: {
                name: 'quote-request-versions',
                onchange: 'this.options[this.selectedIndex].value && (window.location.search = "quote-request-version-reference=" + this.options[this.selectedIndex].value);',
            },
            embed: {
                versionReferences: data.quoteRequestVersionReferences,
                currentVersionReference: data.version ? data.version.versionReference : null,
            },
        } only %}
            {% block options %}
                {% for versionReference in embed.versionReferences %}
                    <option value="{{ versionReference }}" {{ (versionReference == embed.currentVersionReference) ? 'selected'}}>{{ versionReference }}</option>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </p>
{% endblock %}

{% block rfqSidebar %}
    {% if quote.items is not empty %}
        {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') ignore missing with {
            class: 'list spacing-y',
            data: {
                quote: quote,
                hasMultiShipments: hasMultiShipments,
            }
        } only %}

        {% include molecule('quote-request-cart-summary', 'QuoteRequestPage') with {
            class: 'box',
            data: {
                cart: quote,
                shipmentGroups: data.shipmentGroups,
            },
        } only %}
    {% endif %}

    <div class="box">
        <a class="button button--expand button--hollow" href="{{ url('quote-request') }}">
            {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
        </a>

        {% if data.version and data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion %}
            {% if data.isQuoteRequestCancelable %}
                <hr class="box__separator">
                <a class="button button--expand button--cancel"
                   href="{{ path('quote-request/cancel', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
                </a>
            {% endif %}

            {% if data.isQuoteRequestReady %}
                <hr class="box__separator">
                <a class="button button--expand button--hollow"
                   href="{{ path('quote-request/revise', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.revise' | trans }}
                </a>
                <hr class="box__separator">
                <a class="button button--expand button--success"
                   href="{{ path('quote-request/convert-to-cart', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.convert_to_cart' | trans }}
                </a>
            {% endif %}

            {% if data.isQuoteRequestEditable %}
                <hr class="box__separator">
                <a class="button button--expand button--success"
                   href="{{ path('quote-request/edit', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.edit' | trans }}
                </a>
                <hr class="box__separator">
                <a class="button button--expand button--success"
                   href="{{ path('quote-request/send-to-user', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.send_to_agent' | trans }}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
