{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    title: '#' ~ _view.quoteRequest.quoteRequestReference,
    quoteRequest: _view.quoteRequest,
    quoteRequestVersionReferences: _view.quoteRequestVersionReferences,
    version: _view.version,
    isQuoteRequestCancelable: _view.isQuoteRequestCancelable,
    isQuoteRequestReady: _view.isQuoteRequestReady,
    isQuoteRequestEditable: _view.isQuoteRequestEditable,
} %}

{% set isLatestVersion = (data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion) %}

{% block breadcrumbs %}
    {% set breadcrumbExtend = [
        {
            label: '#' ~ _view.quoteRequest.quoteRequestReference,
        },
    ] %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% set quote = data.version.quote %}

    {{ parent() }}
{% endblock %}

{% block orderInformation %}
    <div class="grid">
        {% for key, value in data.version.metadata %}
            {% block orderInformationBoxWrapper %}
                <div class="col col--sm-12 col--xl-6 spacing spacing--big spacing--inner">
                    {% block orderInformationBoxInner %}
                        <label class="label">{{ ('quote_request_page.quote_request.metadata.label.' ~ key) | trans }}</label>

                        {% if value %}
                            <p class="text-break">{{ value }}</p>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block quoteRequestInformation %}
    {% include molecule('quote-request-information', 'QuoteRequestPage') with {
        data: {
            quoteRequest: data.quoteRequest,
            quoteRequestVersionReferences: data.quoteRequestVersionReferences,
            version: data.version,
        },
    } only %}
{% endblock %}

{% block quoteRequestSidebar %}
    {% block delivery %}
        {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') with {
            data: {
                quote: quote,
                hasMultiShipments: hasMultiShipments,
                quoteRequestReference: data.quoteRequest.quoteRequestReference,
            },
        } only %}
    {% endblock %}

    {% block summary %}
        {% include molecule('quote-request-cart-summary', 'QuoteRequestPage') with {
            data: {
                cart: quote,
                shipmentGroups: data.shipmentGroups,
            },
        } only %}
    {% endblock %}

    {% set classButtonBack = 'button button--expand button--hollow' %}
    {% set classButtonCancel = 'button button--expand' %}
    {% set classButtonRevise = 'button button--expand button--hollow' %}
    {% set classButtonConvertToCart = 'button button--expand button--success' %}
    {% set classButtonEdit = 'button button--expand button--success' %}
    {% set classButtonSendToAgent = 'button button--expand button--success' %}

    {% block actions %}
        <div class="box">
            {% block actionBack %}
                <a class="{{ classButtonBack }}" href="{{ url('quote-request') }}">
                    {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
                </a>
            {% endblock %}

            {% if data.version and data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion %}
                {% if data.isQuoteRequestCancelable %}
                    {% block actionSeparator1 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionCancel %}
                        <a class="{{ classButtonCancel }}"
                           href="{{ path('quote-request/cancel', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                           data-init-single-click>
                            {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
                        </a>
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestReady %}
                    {% block actionSeparator2 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionRevise %}
                        <a class="{{ classButtonRevise }}"
                           href="{{ path('quote-request/revise', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                           data-init-single-click>
                            {{ 'quote_request_page.quote_request.actions.revise' | trans }}
                        </a>
                    {% endblock %}

                    {% block actionSeparator3 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionConvertToCart %}
                        <a class="{{ classButtonConvertToCart }}"
                           href="{{ path('quote-request/convert-to-cart', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                           data-init-single-click>
                            {{ 'quote_request_page.quote_request.actions.convert_to_cart' | trans }}
                        </a>
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestEditable %}
                    {% block actionSeparator4 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionEdit %}
                        <a class="{{ classButtonEdit }}"
                           href="{{ path('quote-request/edit', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                           data-init-single-click>
                            {{ 'quote_request_page.quote_request.actions.edit' | trans }}
                        </a>
                    {% endblock %}

                    {% block actionSeparator5 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionSendToAgent %}
                        <a class="{{ classButtonSendToAgent }}"
                           href="{{ path('quote-request/send-to-user', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                           data-init-single-click>
                            {{ 'quote_request_page.quote_request.actions.send_to_agent' | trans }}
                        </a>
                    {% endblock %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
