{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    title: '#' ~ _view.quoteRequest.quoteRequestReference,
    quoteRequest: _view.quoteRequest,
    quoteRequestVersionReferences: _view.quoteRequestVersionReferences,
    version: _view.version,
    isQuoteRequestCancelable: _view.isQuoteRequestCancelable,
    isQuoteRequestReady: _view.isQuoteRequestReady,
    isQuoteRequestEditable: _view.isQuoteRequestEditable,
    shipmentExpenses: _view.shipmentExpenses,
} %}

{% set isLatestVersion = (data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion) %}

{% block breadcrumbs %}
    {% set breadcrumbExtension = [
        {
            label: '#' ~ data.quoteRequest.quoteRequestReference,
        },
    ] %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% set quote = data.version.quote %}

    {{ parent() }}
{% endblock %}

{% block orderInformation %}
    <div class="grid">
        {% for key, value in data.version.metadata %}
            {% block orderInformationBoxWrapper %}
                <div class="col col--sm-12 col--xl-6 spacing spacing--big spacing--inner">
                    {% block orderInformationBoxInner %}
                        <label class="label">{{ ('quote_request_page.quote_request.metadata.label.' ~ key) | trans }}</label>

                        {% if value %}
                            <p class="text-break">{{ value }}</p>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block quoteRequestInformation %}
    {% include molecule('quote-request-information', 'QuoteRequestPage') with {
        data: {
            quoteRequest: data.quoteRequest,
            quoteRequestVersionReferences: data.quoteRequestVersionReferences,
            version: data.version,
        },
    } only %}
{% endblock %}

{% block quoteRequestSidebar %}
    {% block delivery %}
        {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') with {
            data: {
                quote: quote,
                hasMultiShipments: hasMultiShipments,
                quoteRequestReference: data.quoteRequest.quoteRequestReference,
                shipmentExpenses: data.shipmentExpenses,
            },
        } only %}
    {% endblock %}

    {% block summary %}
        {% include molecule('quote-request-summary', 'QuoteRequestPage') with {
            data: {
                cart: quote,
                shipmentGroups: data.shipmentGroups,
            },
        } only %}
    {% endblock %}

    {% set buttonBackClass = 'button button--expand button--hollow' %}
    {% set buttonCancelClass = 'button button--expand' %}
    {% set buttonReviseClass = 'button button--expand button--hollow' %}
    {% set buttonConvertToCartClass = 'button button--expand button--success' %}
    {% set buttonEditClass = 'button button--expand button--success' %}
    {% set buttonSendToAgentClass = 'button button--expand button--success' %}

    {% block actions %}
        <div class="box">
            {% block actionBack %}
                <a class="{{ buttonBackClass }}" href="{{ url('quote-request') }}">
                    {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
                </a>
            {% endblock %}

            {% if data.version and data.version.idQuoteRequestVersion == data.quoteRequest.latestVisibleVersion.idQuoteRequestVersion %}
                {% if data.isQuoteRequestCancelable %}
                    {% block actionCancel %}
                        {{ block('separator') }}

                        {{ _self.button(
                            path('quote-request/cancel', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.cancel',
                            buttonCancelClass) }}
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestReady %}
                    {% block actionRevise %}
                        {{ block('separator') }}

                        {{ _self.button(
                            path('quote-request/revise', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.revise',
                            buttonReviseClass) }}
                    {% endblock %}

                    {% block actionConvertToCart %}
                        {{ block('separator') }}

                        {{ _self.button(
                            path('quote-request/convert-to-cart', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.convert_to_cart',
                            buttonConvertToCartClass) }}
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestEditable %}
                    {% block actionEdit %}
                        {{ block('separator') }}

                        {{ _self.button(
                            path('quote-request/edit', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.edit',
                            buttonEditClass) }}
                    {% endblock %}

                    {% block actionSendToAgent %}
                        {{ block('separator') }}

                        {{ _self.button(
                            path('quote-request/send-to-user', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.send_to_agent',
                            buttonSendToAgentClass) }}
                    {% endblock %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}

{% block separator %}
    <hr class="box__separator">
{% endblock %}

{%- macro button(quoteRequestPath, text, className) -%}
    {% block actionTemplate %}
        <a class="{{ className }}"
           href="{{ quoteRequestPath }}"
           data-init-single-click>
            {{ text | trans }}
        </a>
    {% endblock %}
{%- endmacro -%}
