{% extends template('widget') %}

{% define data = {
    optionGroups: _widget.productOptionGroups | default([]),
    productOptionDropdownName: _widget.productOptionDropdownName | default(''),
} %}

{% block template %}
    {% if data.optionGroups is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    <ul class="list">
        <li class="list__item spacing-y">
            {% embed atom('select') with {
                modifiers: ['expand'],
                attributes: {
                    name: data.productOptionDropdownName,
                },
                embed: {
                    options: data.optionGroups
                }
            } only %}
                {% block options %}
                    <option value="">{{ 'product.product_options_select' | trans }}</option>
                    {% for option in embed.options %}
                        <option value="{{option.idProductOptionValue}}" {% if option.isSelected %} selected {% endif %}>
                            {{ option.value | trans }} {{ option.price | money }}
                        </option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </li>
    </ul>
    <hr />
{% endblock %}
