{% extends model('component') %}

{% define config = {
    name: 'cart-quantity',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    cart: required
} %}

{% set options = [] %}

{% for index in 1..data.cartItem.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% set canWrite = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}

{% block body %}
    {% if canWrite %}

        <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}">
            {% include molecule('quantity-selector') with {
                data: {
                    label: 'cart.item_quantity' | trans,
                    maxQuantity: data.cartItem.maxQuantity,
                    quantity: data.cartItem.quantity,
                    options: options,
                    hasButton: true
                }
            } only %}

            {% if widgetExists('QuantitySalesUnitWidgetPlugin') %}
                {{ widget('QuantitySalesUnitWidgetPlugin', data.cartItem) }}
            {% endif %}

            <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey">
        </form>
    {% else %}
        <label>
            <strong>{{ 'cart.item_quantity' | trans }}</strong>
            <span class="input-group __no-margin-bottom">
                {{ cartItem.quantity }}
             </span>
        </label>
    {% endif %}
{% endblock %}
