{% extends model('component') %}

{% define config = {
    name: 'cart-quantity',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    cart: required
} %}

{% set options = [] %}

{% for index in 1..data.cartItem.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% set canWrite = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}

{% block body %}
    {% if canWrite %}

        <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}">

            <label class="grid">
                <span class="col col--sm-12">
                    {{ 'cart.item_quantity' | trans }}
                </span>
                <div class="col col--expand">
                    {% if not data.cartItem.maxQuantity or data.cartItem.maxQuantity < 0 %}
                        <input class="input input--expand" type="number" value="{{ data.cartItem.quantity }}" name="quantity" {{qa('cart-change-quantity-input')}}>
                    {% else %}
                        {% include atom('select') with {
                            modifiers: ['expand'],
                            data: {
                                options: options
                            },
                            attributes: {
                                name: 'quantity'
                            }
                        } only %}
                    {% endif %}
                </div>

                <div class="col">
                    <button type="submit" class="button button--expand" {{qa('cart-update-quantity-button')}}>
                        {% include atom('icon') with {
                            class: config.name ~ '__sync',
                            data: {
                                name: 'sync'
                            }
                        } only %}
                    </button>
                </div>
            </label>

            {% if widgetExists('QuantitySalesUnitWidgetPlugin') %}
                {{ widget('QuantitySalesUnitWidgetPlugin', data.cartItem) }}
            {% endif %}

            <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey">
        </form>
    {% else %}
        <label>
            <strong>{{ 'cart.item_quantity' | trans }}</strong>
            <span class="input-group __no-margin-bottom">
                {{ cartItem.quantity }}
             </span>
        </label>
    {% endif %}
{% endblock %}
