{% extends model('component') %}

{% define config = {
    name: 'quote-table',
    tag: 'div'
} %}

{% define data = {
    quotes: required,
    actions: {
        update: false,
        delete: false,
        duplicate: false,
    }
} %}

{% set showActions = data.actions.update or data.actions.delete or data.actions.duplicate %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr class="active">
                <th>{{ 'page.multi_cart.shopping_cart.list.label.name' | trans }}</th>
                {% if widgetExists('CartListPermissionGroupWidgetPlugin') %}
                    <th>{{ 'page.multi_cart.shopping_cart.list.label.access' | trans }}</th>
                {% endif %}
                <th>{{ 'page.multi_cart.shopping_cart.list.label.num_of_products' | trans }}</th>
                <th>{{ 'page.multi_cart.shopping_cart.list.label.total' | trans }}</th>
                {% if showActions %}
                    <th>{{ 'page.multi_cart.shopping_cart.list.label.actions' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for quote in data.quotes %}
                {% set totals = quote.items | length %}
                <tr>
                    <td>
                        <a href="{{ url('multi-cart/set-default', {idQuote: quote.idQuote}) }}">
                            {% if quote.isDefault %}<strong>{% endif %}
                                {{ quote.name }}
                            {% if quote.isDefault %}</strong>{% endif %}
                        </a>
                    </td>
                    {% if widgetExists('CartListPermissionGroupWidgetPlugin') %}
                        <td>
                            {{ widget('CartListPermissionGroupWidgetPlugin', quote) }}
                        </td>
                    {% endif %}
                    <td>
                        {% if widgetExists('ProductBundleItemCounterWidgetPlugin') %}
                            {{ widget('ProductBundleItemCounterWidgetPlugin', quote) }}
                        {% else %}
                            {% set label = (totals == 1)
                                ? 'page.multi_cart.shopping_cart.list.label.item'
                                : 'page.multi_cart.shopping_cart.list.label.items'
                            %}

                            <span class="cart-items-quantity">{{ totals }} {{ label | trans }}</span>
                        {% endif %}
                    </td>
                    <td>{{ quote.totals.subtotal | default(0) | money }}</td>
                    {% if showActions %}
                        <td>
                            <ul class="menu menu--inline">
                                {% if widgetExists('CartToShoppingListWidgetPlugin') %}
                                    <li class="menu__item">
                                        {{ widget('CartToShoppingListWidgetPlugin', quote) }}
                                    </li>
                                {% endif %}
                                {% if data.actions.update %}
                                    <li class="menu__item">
                                        <a href="#!">
                                            {{ 'page.multi_cart.shopping_cart.list.link.edit_name' | trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if data.actions.duplicate %}
                                    <li class="menu__item">
                                        <a href="#!">
                                            {{ 'page.multi_cart.shopping_cart.list.link.duplicate' | trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if data.actions.delete %}
                                    <li class="menu__item">
                                        <a href="#!">
                                            {{ 'page.multi_cart.shopping_cart.list.link.delete' | trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
