{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    title: 'quote_request_page.quote_request.title_edit' | trans({
        '%id%': _view.quoteRequestForm.vars.value.quoteRequestReference,
    }),
    quoteRequestForm: _view.quoteRequestForm,
    quoteRequest: _view.quoteRequestForm.vars.value,
    quoteRequestReference: _view.quoteRequestReference,
} %}

{% block breadcrumbs %}
    {% set breadcrumbExtend = [
        {
            label: '#' ~ data.quoteRequestForm.vars.value.quoteRequestReference,
            url: url('quote-request/details', {
                quoteRequestReference: data.quoteRequestForm.vars.value.quoteRequestReference,
            }),
        },
        {
            label: 'quote_request_page.quote_request.breadcrumb.edit' | trans,
        },
    ] %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% set quote = data.quoteRequest.latestVersion.quote %}

    {{ parent() }}
{% endblock %}

{% block contentInner %}
    {{ form_start(data.quoteRequestForm) }}
        {{ parent() }}
    {{ form_end(data.quoteRequestForm) }}
{% endblock %}

{% block orderInformation %}
    <div class="grid">
        {% for child in data.quoteRequestForm.latestVersion.metadata %}
            {% block orderInformationBoxWrapper %}
                <div class="col col--sm-12 col--xl-6 spacing spacing--big spacing--inner">
                    {% block orderInformationBoxInner %}
                        {{ form_row(child) }}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block quoteRequestInformation %}
    {% include molecule('quote-request-information', 'QuoteRequestPage') with {
        data: {
            quoteRequest: data.quoteRequest,
        },
    } only %}
{% endblock %}

{% block quoteRequestSidebar %}
    {% block delivery %}
        {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') with {
            data: {
                quote: quote,
                hasMultiShipments: hasMultiShipments,
                isEditable: true,
                quoteRequestReference: data.quoteRequestReference,
            },
        } only %}
    {% endblock %}

    {% block summary %}
        {% include molecule('quote-request-summary', 'QuoteRequestPage') with {
            data: {
                cart: quote,
                shipmentGroups: data.shipmentGroups,
            },
        } only %}
    {% endblock %}

    {% block actions %}
        {% set classButtonBack = 'button button--expand button--hollow' %}
        {% set classButtonEditItems = 'button button--expand' %}
        {% set classButtonSave = 'button button--expand button--success' %}
        {% set classButtonSend = 'button button--expand button--success' %}

        <div class="box spacing-top spacing-top--big">
            {% block actionBack %}
                <a class="{{ classButtonBack }}"
                   href="{{ url('quote-request/details', { quoteRequestReference: data.quoteRequest.quoteRequestReference }) }}"
                   data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.back_to_view' | trans }}
                </a>
            {% endblock %}

            {% block actionSeparator1 %}
                <hr class="box__separator">
            {% endblock %}

            {% block actionEditItems %}
                <a class="{{ classButtonEditItems }}"
                   href="{{ url('quote-request/edit-items', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}"
                   data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.edit_items' | trans }}
                </a>
            {% endblock %}

            {% block actionSeparator2 %}
                <hr class="box__separator">
            {% endblock %}

            {% block actionSave %}
                <button type="submit" name="save" class="{{ classButtonSave }}" data-init-single-click>
                    {{ 'quote_request_page.quote_request.actions.save' | trans }}
                </button>
            {% endblock %}

            {% block actionSeparator3 %}
                <hr class="box__separator">
            {% endblock %}

            {% block actionSend %}
                <button type="submit" name="sendToUser" class="{{ classButtonSend }}">
                    {{ 'quote_request_page.quote_request.actions.send_to_agent' | trans }}
                </button>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
