{% extends template('widget') %}

{% define data = {
    quoteTransfer: _widget.quoteTransfer,
    quoteApprovalCollection: _widget.quoteApprovalCollection,
    waitingStatus: _widget.waitingStatus,
} %}

{% block body %}
    {% if data.quoteApprovalCollection.quoteApprovals is not null %}
        {% for quoteApproval in data.quoteApprovalCollection.quoteApprovals %}
            <div class="box">
                <p>
                    {{ 'quote_approval_widget.cart.quote_owner_name' | trans }}:
                    {{ data.quoteTransfer.customer.firstName }} {{ data.quoteTransfer.customer.lastName }}
                </p>

                <p>
                    {{ 'quote_approval_widget.cart.request_date' | trans }}:
                    {{ quoteApproval.createdAt | date }}
                </p>
                {% if quoteApproval.status == data.waitingStatus %}
                    {% if can('ApproveQuotePermissionPlugin', data.quoteTransfer) %}
                        <a href="{{ path('quote-approval-approve', {'idQuoteApproval': quoteApproval.idQuoteApproval}) }}" class="button button--success">
                            {{ 'quote_approval_widget.cart.approve' | trans }}
                        </a>

                        <a href="{{ path('quote-approval-decline', {'idQuoteApproval': quoteApproval.idQuoteApproval}) }}" class="button button--alert">
                            {{ 'quote_approval_widget.cart.decline' | trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('quote-approval-cancel', {'idQuoteApproval': quoteApproval.idQuoteApproval}) }}" class="button button--alert">
                            {{ 'quote_approval_widget.cart.cancel' | trans }}
                        </a>
                    {% endif %}
                {% else %}
                    <p>Status: {{ quoteApproval.status }}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
