{% extends model('component') %}

{% define config = {
    name: 'order-summary',
    tag: 'ul',
} %}

{% define data = {
    order: required,
} %}

{% macro item(name, price, isMinus = false, isStrong = false) %}
    {% set tag = isStrong ? 'strong' : 'span' %}
    <li class="grid grid--justify">
        <{{ tag }} class="col">{{ name }}:</{{ tag }}>
        <{{ tag }} class="col text-right">{{ isMinus ? '-' }} {{ price }}</{{ tag }}>
    </li>
{% endmacro %}

{% block body %}
    {{ _self.item('customer.order.subTotal' | trans, data.order.totals.subtotal | money(true, data.order.currencyIsoCode), false, true) }}

    {% for discount in data.order.calculatedDiscounts %}
        {{ _self.item(discount.displayName | trans, discount.sumAmount | money(true, data.order.currencyIsoCode), true) }}
    {% endfor %}

    {{ _self.item('customer.order.expenseTotal' | trans, data.order.totals.expenseTotal | money(true, data.order.currencyIsoCode), false, true) }}

    {% for expense in data.order.expenses %}
        {% set name = expense.type == 'SHIPMENT_EXPENSE_TYPE' ? 'customer.order.shipment' | trans %}

        {{ _self.item(name ~ ' ' ~ (expense.name | trans), expense.sumPrice | money(true, data.order.currencyIsoCode)) }}
    {% endfor %}

    {% if data.order.totals.canceledTotal %}
        {{ _self.item('customer.order.canceledTotal' | trans, data.order.totals.canceledTotal | money(true, data.order.currencyIsoCode), true) }}
    {% endif %}

    {{ _self.item('customer.order.taxTotal' | trans, data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode)) }}

    {{ _self.item('customer.order.grandTotal' | trans, data.order.totals.grandTotal | money(true, data.order.currencyIsoCode), false, true) }}
{% endblock %}
