{% extends model('component') %}

{% define config = {
    name: 'order-summary',
    tag: 'ul',
} %}

{% define data = {
    order: required,
} %}

{% block body %}
    <li class="grid grid--justify">
        <strong class="col">{{ 'customer.order.subTotal' | trans }}:</strong>
        <strong class="col text-right">{{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}</strong>
    </li>
    {% for discount in data.order.calculatedDiscounts %}
        <li class="grid grid--justify">
            <span class="col">{{ discount.displayName | trans}}:</span>
            <span class="col text-right">- {{ discount.sumAmount | money(true, data.order.currencyIsoCode) }}</span>
        </li>
    {% endfor %}
    <li class="grid grid--justify">
        <strong class="col">{{ 'customer.order.expenseTotal' | trans }}:</strong>
        <strong class="col text-right">{{ data.order.totals.expenseTotal | money(true, data.order.currencyIsoCode) }}</strong>
    </li>
    <li>
    {% for expense in data.order.expenses %}
        <li class="grid grid--justify">
            <span class="col">{% if expense.type == constant('\\Spryker\\Shared\\Shipment\\ShipmentConstants::SHIPMENT_EXPENSE_TYPE') %} {{ 'customer.order.shipment' | trans }} {% endif %} {{ expense.name | trans }}:</span>
            <span class="col text-right">{{ expense.sumPrice | money(true, data.order.currencyIsoCode) }}</span>
        </li>
    {% endfor %}
    <li class="grid grid--justify">
        {% if data.order.totals.canceledTotal %}
            <span class="col">{{ 'customer.order.canceledTotal' | trans }}:</span>
            <span class="col text-right">- {{ data.order.totals.canceledTotal | money(true, data.order.currencyIsoCode) }}</span>
        {% endif %}
    </li>
    <li class="grid grid--justify">
        <span class="col">{{ 'customer.order.taxTotal' | trans }}:</span>
        <span class="col text-right">{{ data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode) }}</span>
    </li>
    <li class="grid grid--justify">
        <strong class="col">{{ 'customer.order.grandTotal' | trans }}:</strong>
        <strong class="col text-right">{{ data.order.totals.grandTotal | money(true, data.order.currencyIsoCode) }}</strong>
    </li>
{% endblock %}
