{% extends model('component') %}

{% define config = {
    name: 'order-summary',
    tag: 'ul'
} %}

{% define data = {
    order: required
} %}

{% block body %}
    <li>
        <strong>
            {{ 'customer.order.subTotal' | trans }}:
            {{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}
        </strong>
    </li>
    {% for discount in data.order.calculatedDiscounts %}
        <li>
            {{ discount.displayName | trans}}
            - {{ discount.sumAmount | money(true, data.order.currencyIsoCode) }}
        </li>
    {% endfor %}
    <li>
        <strong>
            {{ 'customer.order.expenseTotal' | trans }}:
            {{ data.order.totals.expenseTotal | money(true, data.order.currencyIsoCode) }}
        </strong>
    </li>
    <li>
    {% for expense in data.order.expenses %}
        <li>
            {% if expense.type == constant('\\Spryker\\Shared\\Shipment\\ShipmentConstants::SHIPMENT_EXPENSE_TYPE') %} {{ 'customer.order.shipment' | trans }} {% endif %} {{ expense.name | trans }}:
            {{ expense.sumPrice | money(true, data.order.currencyIsoCode) }}
        </li>
    {% endfor %}
    <li>
        {% if data.order.totals.canceledTotal %}
            {{ 'customer.order.canceledTotal' | trans }}:
            - {{ data.order.totals.canceledTotal | money(true, data.order.currencyIsoCode) }}
        {% endif %}
    </li>
    <li>
        {{ 'customer.order.taxTotal' | trans }}:
        {{ data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode) }}
    </li>
    <li>
        <strong>
            {{ 'customer.order.grandTotal' | trans }}:
            {{ data.order.totals.grandTotal | money(true, data.order.currencyIsoCode) }}
        </strong>
    </li>
{% endblock %}
