{% extends model('component') %}

{% define config = {
    name: 'product-item',
    tag: 'product-item',
} %}

{% define data = {
    product: required,
    name: data.product.name | default,
    sku: data.product.sku | default,
    url: data.product.url | default,
    image: data.product.images ? data.product.images.0.externalUrlSmall | default,
    idProductAbstract: data.product.idProductAbstract | default,
    currencyIsoCode: null,
} %}

{%- block extraClass %} box{% endblock -%}

{% block body %}
    {% block imageContainer %}
        <a class="{{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">
            {% block image %}
                {% embed atom('thumbnail') with {
                    attributes: {
                        src: data.image,
                        alt: data.name,
                    },
                    embed: {
                        jsName: config.jsName,
                    },
                } only %}
                    {% block additionalClass -%}
                        {{ embed.jsName }}__image
                    {%- endblock %}
                {% endembed %}
            {% endblock %}
        </a>
    {% endblock %}

    {% block labels %}
        {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] only %}{% endwidget %}
    {% endblock %}

    {% block groups %}
        {% widget 'ProductGroupWidget' args [data.idProductAbstract] only %}{% endwidget %}
    {% endblock %}

    {% block colors %}{% endblock %}

    {% block content %}
        {% block name %}
            {% if data.name %}
                <a class="{{ config.name }}__name {{ config.jsName }}__name {{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">{{ data.name }}</a>
            {% endif %}
        {% endblock %}

        {% block sku %}
            {% if data.sku %}
                <div>{{ data.sku }}</div>
            {% endif %}
        {% endblock %}

        {% block rating %}
            {% widget 'DisplayProductAbstractReviewWidget' args [data.idProductAbstract] with {
                data: {
                    productItemJsName: config.jsName,
                },
            } only %}{% endwidget %}
        {% endblock %}

        {% block priceContainer %}
            <div class="spacing-y">
                {% block price %}
                    {% if can('SeePricePermissionPlugin') %}
                        {% include molecule('money-price') with {
                            data: {
                                amount: data.product.prices.DEFAULT | default(null),
                                originalAmount: data.product.prices.ORIGINAL | default(null),
                                currencyIsoCode: data.currencyIsoCode,
                                productItemJsName: config.jsName,
                            },
                        } only %}
                    {% else %}
                        {{ 'customer.access.cannot_see_price' | trans }}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endblock %}

    {% block actionsContainer %}
        <div class="{{ config.name }}__actions">
            {% block actions %}
                <a class="button button--expand {{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">
                    {{- 'product.view' | trans -}}
                    {%- include atom('icon') with {
                        modifiers: ['small'],
                        data: {
                            name: 'angle-double-right',
                        },
                    } only -%}
                </a>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
