{% extends model('component') %}

{% define config = {
    name: 'product-item',
    tag: 'product-item',
} %}

{% define data = {
    product: required,
    name: data.product.name | default,
    sku: data.product.sku | default,
    url: data.product.url | default,
    image: data.product.images is defined ? data.product.images.0.externalUrlSmall | default,
    idProductAbstract: data.product.idProductAbstract | default,
    currencyIsoCode: null,
} %}

{%- block extraClass %} box {{ config.jsName }}{% endblock -%}

{% block body %}
    {% block thumbnailWrapper %}
        {% set extraClass = '' %}
        {% set modifiers = [] %}

        {% block imageContainer %}
            {% macro thumbnail(src, alt='', extraClass='', modifiers=[], jsName) %}
                {% embed atom('thumbnail') with {
                    class: extraClass,
                    modifiers: modifiers,
                    attributes: {
                        src: src,
                        alt: alt,
                    },
                    embed: {
                        jsName: jsName,
                    },
                } only %}
                    {% block image %}
                        {% set additionalClass = embed.jsName ~ '__image' %}

                        {{ parent() }}
                    {% endblock %}
                {% endembed %}
            {% endmacro %}

            {% block image %}
                {% if data.url %}
                    {% block imageLink %}
                        <a class="{{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">
                            {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, config.jsName) }}
                        </a>
                    {% endblock %}
                {% endif %}
                {% if not data.url %}
                    {% block productThumbnail %}
                        {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, config.jsName) }}
                    {% endblock %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endblock %}

    {% block labels %}
        {% if data.idProductAbstract %}
            {% block productAbstractLabels %}
                {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] only %}{% endwidget %}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block groups %}
        {% if data.idProductAbstract %}
            {% block productAbstractGroups %}
                {% widget 'ProductGroupWidget' args [data.idProductAbstract] only %}{% endwidget %}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block content %}
        {% block name %}
            {% if data.name and data.url %}
                {% block link %}
                    <a class="{{ config.name }}__name {{ config.jsName }}__name {{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">{{ data.name }}</a>
                {% endblock %}
            {% endif %}

            {% if data.name and not data.url %}
                {% block title %}
                    <span class="{{ config.name }}__name {{ config.jsName }}__name">{{ data.name }}</span>
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block sku %}
            {% if data.sku %}
                <div>{{ data.sku }}</div>
            {% endif %}
        {% endblock %}

        {% block rating %}
            {% if data.idProductAbstract %}
                {% block productAbstractRating %}
                    {% widget 'DisplayProductAbstractReviewWidget' args [data.idProductAbstract] with {
                        data: {
                            productItemJsName: config.jsName,
                        },
                    } only %}{% endwidget %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block priceContainer %}
            <div class="spacing-y">
                {% block price %}
                    {% if can('SeePricePermissionPlugin') %}
                        {% include molecule('money-price') with {
                            data: {
                                amount: data.product.prices.DEFAULT | default(null),
                                originalAmount: data.product.prices.ORIGINAL | default(null),
                                currencyIsoCode: data.currencyIsoCode,
                                productItemJsName: config.jsName,
                            },
                        } only %}
                    {% else %}
                        {{- 'customer.access.cannot_see_price' | trans -}}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endblock %}

    {% block actionsContainer %}
        <div class="{{ config.name }}__actions">
            {% block actions %}
                {% if data.url %}
                    {% block action %}
                        <a class="button button--expand {{ config.jsName }}__link-detail-page" href="{{ path(data.url) }}">
                            {% block actionInner %}
                                {{- 'product.view' | trans -}}

                                {% set iconModifiers = ['small'] %}
                                {% set iconName = 'angle-double-right' %}

                                {% block icon %}
                                    {%- include atom('icon') with {
                                        modifiers: iconModifiers,
                                        data: {
                                            name: iconName,
                                        },
                                    } only -%}
                                {% endblock %}
                            {% endblock %}
                        </a>
                    {% endblock %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
