{% extends template('widget') %}

{% define data = {
    title: _widget.title,
    form: _widget.form,
    submitUrl: _widget.submitUrl,
    submitButtonTitle: _widget.submitButtonTitle,
    index: 0
} %}

{% define config = {
    name: 'quick-order-form',
    tag: 'quick-order-form',
    jsName: 'js-quick-order-form'
} %}

{% block body %}
    <div>
        {% include molecule('ajax-provider') with {
            class: config.jsName ~ '__provider ' ~ config.jsName ~ '__provider-' ~ data.index,
            attributes: {
                url: '/quick-order/product-additional-data'
            }
        } only %}

        {% include molecule('ajax-renderer') with {
            class: config.jsName ~ '__renderer',
            attributes: {
                'provider-selector': '.' ~ config.jsName ~ '__provider-'  ~ data.index,
                'target-selector': '.' ~ config.jsName ~ '__target-' ~ data.index
            }
        } only %}

        {% embed molecule('form') with {
            data: {
                title: data.title,
                form: data.form,
                options: {
                    action: url(data.submitUrl),
                },
                submitButtonTitle: data.submitButtonTitle,
                index: data.index
            }
        } only %}
            {% block fields %}
                {% do data.form.sku.setRendered %}

                <div class="form__field col col--sm-12">
                    {% widget 'ProductConcreteSearchWidget' args [
                        'ajax-provider' ~ data.form.sku.vars.name,
                        data.form.sku.vars.full_name,
                        '',
                        ''
                    ] only %}
                    {% endwidget %}
                </div>

                <div class="col col--sm-12 {{config.jsName}}__target {{config.jsName}}__target-{{data.index}}">
                    <div class="form__field col col--sm-12">
                        {{ form_widget(data.form.children.quantity, {
                            'attr': {'placeholder': 'cart.quick_add_to_cart.quantity' | trans }}
                        ) }}
                    </div>

                    <div class="col col--sm-4 spacing spacing--inner">
                        {% block price %}
                            {% include molecule('price') with {
                                data: {
                                    amount: null | money
                                }
                            } only %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block actions %}
                    <button type="submit" class="button button--expand button--success">
                        {{ data.submitButtonTitle }}
                    </button>
            {% endblock %}
        {% endembed %}
    </div>
    <hr>
{% endblock %}