{% block content %}
    <div class="grid grid--stretch">
        <div class="col">
            <div class="box box--stretch">
                <h5>{{ banner.title | raw }}</h5>
                <a href="{{ banner.clickUrl | raw }}">
                    <span class="thumbnail thumbnail--bigger" data-qa="component thumbnail">
                        <img src="{{ banner.imageUrl | raw }}" alt="{{ banner.altText | raw }}" />
                    </span>
                </a>
                <p>{{ banner.subTitle | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}

