{% block content %}
    <div class="col">
        <a href="{{ banner.clickUrl | raw }}">
            <div class="box box--stretch">
                <span>
                    <img src="{{ banner.imageUrl | raw }}" alt="{{ banner.altText | escape }}" />
                </span>
                <h5>{{ banner.title | escape }}</h5>
                <p>{{ banner.subtitle | escape }}</p>
            </div>
        </a>
    </div>
{% endblock %}