{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'nav'
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <a href="{{ url('shopping-list/update', { idShoppingList: data.idShoppingList }) }}">{{ 'customer.account.shopping_list.overview.edit' | trans }}</a>
        <a class="spacing-left spacing-left--small" href="{{ url('shopping-list/share', { idShoppingList: data.idShoppingList }) }}">{{ 'customer.account.shopping_list.overview.share' | trans }}</a>
    {% endif %}

    <a class="spacing-left spacing-left--small" href="{{ url('shopping-list/print', { idShoppingList: data.idShoppingList }) }}" target="_blank">{{ 'customer.account.shopping_list.overview.print' | trans }}</a>

    {% if data.hasWritePermission %}
        <a class="spacing-left spacing-left--small" href="{{ url('shopping-list/delete/confirm', { idShoppingList: data.idShoppingList }) }}">{{ 'customer.account.shopping_list.overview.delete' | trans }}</a>
    {% endif %}
{% endblock %}
