{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'nav'
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required,
    labels: {
        viewLabel: 'customer.account.shopping_list.overview.view' | trans,
        editLabel: 'customer.account.shopping_list.overview.edit' | trans,
        deleteLabel: 'customer.account.shopping_list.overview.delete' | trans,
        shareLabel: 'customer.account.shopping_list.overview.share' | trans,
        printLabel: 'customer.account.shopping_list.overview.print' | trans
    }
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <a href="{{ url('shopping-list/update', { idShoppingList: data.idShoppingList }) }}">{{ data.labels.editLabel }}</a>
        <a href="{{ url('shopping-list/share', { idShoppingList: data.idShoppingList }) }}">{{ data.labels.shareLabel }}</a>
    {% endif %}

    <a href="{{ url('shopping-list/print', { idShoppingList: data.idShoppingList }) }}" target="_blank">{{ data.labels.printLabel }}</a>

    {% if data.hasWritePermission %}
        <a href="{{ url('shopping-list/delete/confirm', { idShoppingList: data.idShoppingList }) }}">{{ data.labels.deleteLabel }}</a>
    {% endif %}
{% endblock %}
