{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'nav',
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required,
    shoppingList: required,
} %}

{% block body %}
    {% if data.hasWritePermission %}
        {% block updateButton %}
            <a href="{{ url('shopping-list/update', { idShoppingList: data.idShoppingList }) }}">
                {{- 'customer.account.shopping_list.overview.edit' | trans -}}
            </a>
        {% endblock %}

        {% set shareButtonClasses = 'spacing-left spacing-left--small' %}

        {% block shareButton %}
            <a class="{{ shareButtonClasses }}" href="{{ url('shopping-list/share', { idShoppingList: data.idShoppingList }) }}">
                {{- 'customer.account.shopping_list.overview.share' | trans -}}
            </a>
        {% endblock %}
    {% endif %}

    {% set printButtonClasses = 'spacing-left spacing-left--small' %}

    {% block printButton %}
        <a class="{{ printButtonClasses }}" href="{{ url('shopping-list/print', { idShoppingList: data.idShoppingList }) }}" target="_blank">
            {{- 'customer.account.shopping_list.overview.print' | trans -}}
        </a>
    {% endblock %}

    {% widget 'ShoppingListDismissWidget' args [data.shoppingList] only %}{% endwidget %}

    {% set deleteButtonClasses = 'spacing-left spacing-left--small' %}

    {% if data.hasWritePermission %}
        {% block deleteButton %}
            <a class="{{ deleteButtonClasses }}" href="{{ url('shopping-list/delete/confirm', { idShoppingList: data.idShoppingList }) }}">
                {{- 'customer.account.shopping_list.overview.delete' | trans -}}
            </a>
        {% endblock %}
    {% endif %}
{% endblock %}
