{% extends model('component') %}

{% define config = {
    name: 'business-unit-address-item'
} %}

{% define data = {
    address: required,
    idCompanyBusinessUnit: required
} %}

{% block body %}
    <div class="grid">
        <div class="col col--lg-9">
            {{ form_widget(data.address) }}
        </div>
        <div class="col col--lg-3 text-right">
            <a href="{{ url('company/address/update', {'id': data.address.vars.value, 'idCompanyBusinessUnit': data.idCompanyBusinessUnit }) }}">
                {{ "company.account.address.edit" | trans }}
            </a>
            <a class="link link--alert" href="{{ url('company/address/delete-confirmation', {'id': data.address.vars.value, 'idCompanyBusinessUnit': data.idCompanyBusinessUnit }) }}">
                {{ "company.account.address.delete" | trans }}
            </a>
        </div>
    </div>
{% endblock %}
