<!DOCTYPE html>
<html>
{% define data = {
    shoppingList: _view.shoppingListOverview.shoppingList,
    shoppingListItems: _view.shoppingListItems,
    barcodeGeneratorPlugin: _view.barcodeGeneratorPlugin | default(null),
    labels: {
        barcode: 'customer.account.print_shopping_list.table.barcode' | trans,
        productSku: 'customer.account.print_shopping_list.table.product_sku' | trans,
        productName: 'customer.account.print_shopping_list.table.product_name' | trans,
        defaultPrice: 'customer.account.print_shopping_list.table.default_price' | trans,
    }
} %}
<head>
    <meta charset="utf-8" />
    <title>{{ data.shoppingList.name }}</title>
</head>
<body>

<h1>{{ data.shoppingList.idShoppingList }}</h1>
<h2 class="shopping-list-name">{{ data.shoppingList.name }}</h2>

<table class="shopping-list-items">
    <thead>
    <tr>
        {% if widgetExists('ProductBarcodeWidgetPlugin') %}
            <th>{{ data.labels.barcode }}</th>
        {% endif %}
        <th>{{ data.labels.productSku }}</th>
        <th>{{ data.labels.productName }}</th>
        <th>{{ data.labels.defaultPrice }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data.shoppingListItems %}
    <tr>
        {% if widgetExists('ProductBarcodeWidgetPlugin') %}
            <td>{{ widget('BarcodeWidgetPlugin', item, data.barcodeGeneratorPlugin) }}</td>
        {% endif %}
        <td>{{ item.sku }}</td>
        <td>{{ item.name }}</td>
        <td>
            {% if item.prices.DEFAULT is defined %}
                {{ item.prices.DEFAULT | money }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
