<!DOCTYPE html>
<html>
{% define data = {
    shoppingList: _view.shoppingListOverview.shoppingList,
    shoppingListItems: _view.shoppingListItems,
    barcodeGeneratorPlugin: _view.barcodeGeneratorPlugin | default(null),
    labels: {
        shoppingListId: 'customer.account.print_shopping_list.title.shopping_list_id' | trans,
        shoppingListName: 'customer.account.print_shopping_list.title.shopping_list_name' | trans,
        barcode: 'customer.account.print_shopping_list.table.barcode' | trans,
        productSku: 'customer.account.print_shopping_list.table.product_sku' | trans,
        productName: 'customer.account.print_shopping_list.table.product_name' | trans,
        defaultPrice: 'customer.account.print_shopping_list.table.default_price' | trans,
        note: 'customer.account.print_shopping_list.table.note' | trans,
    }
} %}

{% set notesSupported = widgetExists('ShoppingListItemNoteWidgetPlugin') %}
<head>
    <meta charset="utf-8" />
    <title>{{ data.shoppingList.name }}</title>
    <style type="text/css">

        table.shopping-list-items td, table.shopping-list-items th {
            border: 1px solid black;
        }
        table.shopping-list-title td, table.shopping-list-title th {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table class="shopping-list-title">
    <tr>
        <td>{{ data.labels.shoppingListId }}</td>
        <td>{{ data.shoppingList.idShoppingList }}</td>
    </tr>
    <tr>
        <td>{{ data.labels.shoppingListName }}</td>
        <td>{{ data.shoppingList.name }}</td>
    </tr>
</table>

<br/><br/>

<table class="shopping-list-items">
    <thead>
    <tr>
        {% if widgetExists('ProductBarcodeWidgetPlugin') %}
            <th>{{ data.labels.barcode }}</th>
        {% endif %}
        <th>{{ data.labels.productSku }}</th>
        <th>{{ data.labels.productName }}</th>
        <th>{{ data.labels.defaultPrice }}</th>
        {% if notesSupported %}
            <th>{{ data.labels.note }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in data.shoppingListItems %}
    <tr>
        {% if widgetExists('ProductBarcodeWidgetPlugin') %}
            <td>{{ widget('ProductBarcodeWidgetPlugin', item, data.barcodeGeneratorPlugin) }}</td>
        {% endif %}
        <td>{{ item.sku }}</td>
        <td>{{ item.name }}</td>
        <td>
            {% if item.prices.DEFAULT is defined %}
                {{ item.prices.DEFAULT | money }}
            {% endif %}
        </td>
        {% if notesSupported %}
            <td>{{ item.shoppingListItem.shoppingListItemNote.note }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
