{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingListOverview.shoppingList.name,
    shoppingList: _view.shoppingListOverview.shoppingList,
    shoppingListCollection: _view.shoppingListOverview.shoppingLists,
    shoppingListItems: _view.shoppingListItems,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list' | trans,
                },
            ],
        },
    } only %}
{% endblock %}

{% block customerNavigation %}
    {% widget 'CustomerNavigationWidget' args ['shoppingList', data.shoppingList.idShoppingList] only %}
    {% endwidget %}
{% endblock %}

{% block customerContentInner %}
    {% block panel %}
        <div class="grid grid--justify">
            {% block panelInner %}
                <div class="col">
                    {% block panelTitle %}
                        <h4 class="text-break">{{ data.shoppingList.name }}</h4>
                    {% endblock %}
                </div>

                {% set panelButtonClasses = 'button button--success' %}

                <div class="col">
                    {% block panelButtons %}
                        {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}
                            <a class="{{ panelButtonClasses }}" href="{{ url('shopping-list/update', { idShoppingList: data.shoppingList.idShoppingList }) }}">{{ 'customer.account.shopping_list.overview.edit' | trans }}</a>
                            <a class="{{ panelButtonClasses }}" href="{{ url('shopping-list/share', { idShoppingList: data.shoppingList.idShoppingList }) }}">{{ 'customer.account.shopping_list.overview.share' | trans }}</a>
                        {% endif %}
                        <a class="{{ panelButtonClasses }}" href="{{ path('shopping-list/print', {idShoppingList: data.shoppingList.idShoppingList}) }}" target="_blank">{{ 'customer.account.shopping_list.print_shopping_list' | trans }}</a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block separator %}
        <hr class="box__separator">
    {% endblock %}

    {% block shoppingListInfo %}
        {% include molecule('shopping-list-info', 'ShoppingListPage') with {
            data: {
                shoppingList: data.shoppingList,
            },
        } only %}
    {% endblock %}

    {% block separatorSecondary %}
        <hr class="box__separator">
    {% endblock %}

    {% block shoppingListProductQuickAdd %}
        {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}
            {% include molecule('shopping-list-product-quick-add', 'ShoppingListPage') with {
                data: {
                    activeShoppingListId: data.shoppingList.idShoppingList,
                },
            } only %}
        {% endif %}
    {% endblock %}

    {% block form %}
        {% if data.shoppingListItems | length %}
            <form method="POST" action="{{ path('shopping-list/add-to-cart') }}">
                {% block formInner %}
                    {% set formButtonClasses = 'button button--success' %}

                    {% block formPanel %}
                        <div class="grid grid--justify spacing-y spacing-y--inner">
                            {% block formPanelInner %}
                                <div class="col">
                                    <button type="submit" class="{{ formButtonClasses }}" {{ qa('submit-button') }}>
                                        {{- 'customer.account.shopping_list.add_selected_items_to_cart' | trans -}}
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="{{ formButtonClasses }}" name="add-all-available" value="1" {{ qa('submit-button') }}>
                                        {{- 'customer.account.shopping_list.add_all_available_to_cart' | trans -}}
                                    </button>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block formHiddenInputs %}
                        <input type="hidden" value="{{ data.shoppingList.idShoppingList }}" name="idShoppingList">
                    {% endblock %}

                    {% block shoppingListTableContainer %}
                        <div class="is-scrollable-x">
                            {% block shoppingListTable %}
                                {% include molecule('shopping-list', 'ShoppingListPage') with {
                                    data: {
                                        shoppingList: data.shoppingList,
                                        shoppingListItems: data.shoppingListItems,
                                    },
                                } only %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </form>
        {% endif %}
    {% endblock %}

    {% block emptyShoppingList %}
        {% if not data.shoppingListItems | length %}
            {{ 'customer.account.shopping_list.empty' | trans }}
        {% endif %}
    {% endblock %}

    {% block ShoppingListSubtotal %}
        {% widget 'ShoppingListSubtotalWidget' args [data.shoppingListItems] only %}{% endwidget %}
    {% endblock %}
{% endblock %}
