{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    shoppingList: _view.shoppingListOverview.shoppingList,
    shoppingListCollection: _view.shoppingListOverview.shoppingLists,
    addAvailableProductsToCartForm: _view.addAvailableProductsToCartForm,
    shoppingListItems: _view.shoppingListItems,
    pagination: {
        currentPage: _view.currentPage,
        totalPages: _view.totalPages
    },
    labels: {
        addAllToCartLabel: 'customer.account.shopping_list.add_all_available_to_cart' | trans,
        productLabel: 'customer.account.shopping_list.product' | trans,
        priceLabel: 'customer.account.shopping_list.price' | trans,
        variantLabel: 'customer.account.shopping_list.overview.variant' | trans,
        availabilityLabel: 'customer.account.shopping_list.availability' | trans,
        itemAvailableLabel: 'customer.account.shopping_list.available' | trans,
        itemNotAvailableLabel: 'customer.account.shopping_list.not_available' | trans,
        shoppingListEmptyLabel: 'customer.account.shopping_list.empty' | trans,
        quantityLabel: 'customer.account.shopping_list.quantity' | trans,
        addItemToCartLabel: 'customer.account.shopping_list.add-to-cart' | trans,
        removeItemFromShoppingListLabel: 'customer.account.shopping_list.remove' | trans,
        addSelectedItemsToCartLabel: 'customer.account.shopping_list.add_selected_items_to_cart' | trans
    }
} %}

{% block customerNavigation %}
    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: data.activePage
        },
        embed: {
            activeShoppingListId: data.shoppingList.idShoppingList,
            shoppingListCollection: data.shoppingListCollection
        }
    } only %}
        {% block shoppingListNavigation %}
            {% include molecule('shopping-list-navigation', 'ShoppingListPage') with {
                data: {
                    activeShoppingListId: embed.activeShoppingListId,
                    shoppingListCollection: embed.shoppingListCollection
                }
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        <h4>{{ data.shoppingList.name }}</h4>

        {% if data.shoppingListItems|length %}
            {% include molecule('form') with {
                data: {
                    form: data.addAvailableProductsToCartForm,
                    options: {
                        action: path('shopping-list/add-all-available-to-cart', { idShoppingList: data.shoppingList.idShoppingList })
                    },
                    submit: {
                        enable: true,
                        text: data.labels.addAllToCartLabel,
                    }
                }
            } only %}
        {% endif %}

        {% if data.shoppingListItems|length %}
            <form method="POST" action="{{ path('shopping-list/multi-add-to-cart') }}">
            <button type="submit" class="button button--success col col--sm-12 col--md-5 col--lg-3" {{qa('submit-button')}}>
                {{ data.labels.addSelectedItemsToCartLabel }}
            </button>
            <input type="hidden" value="{{ data.shoppingList.idShoppingList }}" name="idShoppingList"/>
            <table class="table table--expand">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">{{ data.labels.productLabel }}</th>
                    <th class="text-center">{{ data.labels.priceLabel  }}</th>
                    <th class="text-center">{{ data.labels.quantityLabel }}</th>
                    <th class="text-center">{{ data.labels.variantLabel  }}</th>
                    <th class="text-center">{{ data.labels.availabilityLabel  }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in data.shoppingListItems %}
                    <tr>
                        <td>
                            <input type="checkbox" name="idShoppingListItem[]" value="{{ item.idShoppingListItem }}"/>
                        </td>
                        <td class="text-center">
                            <a href="{{ item.url }}">{{ item.name }}</a>
                            <div><small>{{ item.sku }}</small></div>
                            {% if item.images is defined and item.images is not empty %}
                                <img width="75" src="{{ item.images[0].externalUrlSmall }}" />
                            {% endif %}
                        </td>
                        <td nowrap="nowrap" class="text-center">
                            {% if item.price is defined and item.price is not null %}
                                {% if item.prices.ORIGINAL is defined %}
                                    <span class="price__amount">{{ item.price | money }}</span> <span class="price__amount price__amount--original">{{ item.prices.ORIGINAL | money }}</span>
                                {% else %}
                                    {{ item.price | money }}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">
                            {% for attribute in item.superAttributesDefinition %}
                                {% if item.attributes[attribute] is defined %}
                                    {{ ('product.attribute.'~attribute) | trans }}: {{ item.attributes[attribute] }} <br/>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            {% if item.available %}
                                {{ data.labels.itemAvailableLabel }}
                            {% else %}
                                {{ data.labels.itemNotAvailableLabel }}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.available is defined and item.available and item.price is defined and item.price is not null %}
                                <a class="button button--success" href="{{ path('shopping-list/add-to-cart', {sku: item.sku, quantity: item.quantity, idShoppingListItem: item.idShoppingListItem, idShoppingList: data.shoppingList.idShoppingList}) }}">
                                    {{data.labels.addItemToCartLabel}}
                                </a>
                            {% endif %}
                            {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}
                                <a class="button button--alert" href="{{ path('shopping-list/remove-item', {idShoppingListItem: item.idShoppingListItem, idShoppingList: data.shoppingList.idShoppingList}) }}">
                                    {{data.labels.removeItemFromShoppingListLabel}}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>

            {% include molecule('pagination') with {
                data: {
                    parameters: {
                        idShoppingList: data.shoppingList.idShoppingList
                    },
                    currentPage: data.pagination.currentPage,
                    paginationPath: 'shopping-list/details',
                    maxPage: data.pagination.totalPages,
                    showAlwaysFirstAndLast: true
                }
            } only %}
        {% else %}
            {{ data.labels.shoppingListEmptyLabel }}
        {% endif %}
    </div>
{% endblock %}
