{% extends model('component') %}

{% define config = {
    name: 'order-detail-table',
} %}

{% define data = {
    currencyIsoCode: required,
    shipmentGroups: required
} %}

{% block body %}
    {% for shipmentGroup in data.shipmentGroups %}
        <h4>{{ 'customer.order.shipment' | trans }} #{{ loop.index }}</h4>

        <div class="box grid grid--justify spacing-bottom spacing-bottom--big">
            <div class="col col--sm-12 col--lg-6 grid">
                <h5>{{ 'customer.order.products' | trans }}</h5>

                {% for item in shipmentGroup.items %}
                    {% set isBundle = item.bundleItems is defined %}
                    {% set concreteItem = item.bundleProduct | default(item) %}

                    <div class="{{ config.name }}__item col col--sm-12 grid grid--justify spacing-y spacing-y--inner">
                        <div class="col col--sm-1 spacing">
                            {{ widgetBlock('CustomerReorderWidgetPlugin', 'formCheckbox', data.order, concreteItem) }}
                        </div>

                        <div class="col col--sm-11">
                            <div class="grid grid--justify">
                                <span class="spacing-right col col--sm-9">{{ concreteItem.name }}</span>
                                <strong class="col col--sm-3 text-right">{{ concreteItem.unitPrice | money(true, data.currencyIsoCode) }}</strong>
                            </div>

                            <p>{{ 'customer.order.item_quantity' | trans }}: {{ concreteItem.quantity }}</p>

                            {% if isBundle %}
                                <div class="spacing-bottom">
                                    {% block bundleDetailRow %}
                                        <p>{{ "customer.order.bundled_items" | trans }}</p>
                                        <ul>
                                            {% for bundledItem in item.bundleItems %}
                                                <li>
                                                    &nbsp; - {{ bundledItem.quantity }} x {{ bundledItem.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        {% if concreteItem.productOptions is not empty %}
                                            <p>{{ "customer.order.options" | trans }}</p>
                                            <ul>
                                                {% for productOption in concreteItem.productOptions %}
                                                    <li>
                                                        &nbsp; - {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, data.currencyIsoCode) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            {% else %}
                                {% if concreteItem.productOptions is not empty %}
                                    <div>
                                        <small>{{ 'checkout.summary.item.option.description' | trans }}</small>
                                    </div>

                                    {% for productOption in concreteItem.productOptions %}
                                        <div class="spacing-bottom">
                                            {% block detailRow %}
                                                <div>
                                                    &nbsp; + <small>{{ productOption.sku }}</small>
                                                </div>
                                                <div>
                                                    <small>{{ productOption.value | trans }}</small>
                                                </div>
                                                <div>
                                                    <small>{{ productOption.sumPrice | money(true, data.currencyIsoCode) }}</small>
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}

                            {% if widgetExists('CartNoteOrderItemNoteWidgetPlugin') %}
                                <div>
                                    {{ widget('CartNoteOrderItemNoteWidgetPlugin', concreteItem) }} {# @deprecated Use molecule('note-list', 'CartNoteWidget') instead. #}
                                </div>
                            {% else %}
                                {% if concreteItem.cartNote is not empty %}
                                    {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                                        data: {
                                            label: 'cart_note.customer_page.item_note',
                                            note: concreteItem.cartNote
                                        }
                                    } only %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="col col--sm-12 col--lg-5 spacing-left spacing-left--inner">
                <div class="spacing-bottom spacing-bottom--big">
                    <h5>{{ 'customer.order.shipping_address' | trans }}</h5>
                    <div class="spacing-y spacing-y--inner">
                        {% include molecule('display-address') with {
                            data: {
                                address: shipmentGroup.shipment.shippingAddress
                            }
                        } only %}
                    </div>
                </div>

                {% if shipmentGroup.shipment.expense is not empty %}
                    <div class="spacing-bottom spacing-bottom--big">
                        <h5>{{ 'customer.order.delivery_method' | trans }}</h5>
                        <div class="spacing-y spacing-y--inner">
                            {{ shipmentGroup.shipment.expense.name | trans }}:
                            {{ shipmentGroup.shipment.expense.sumPrice | money(true, data.currencyIsoCode) }}
                        </div>
                    </div>
                {% endif %}

                {% if shipmentGroup.shipment.requestedDeliveryDate is not empty %}
                    <div class="spacing-bottom spacing-bottom--big">
                        <h5>{{ 'customer.order.requested_delivery_date' | trans }}</h5>
                        <div class="spacing-y spacing-y--inner">
                            {{ shipmentGroup.shipment.requestedDeliveryDate }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
