{% extends model('component') %}

{% define config = {
    name: 'wishlist-overview-table',
} %}

{% define data = {
    wishlists: required,
    wishlistForm: null,
    wishlistDeleteFormCloner: null,
} %}

{% block body %}
    <div class="is-scrollable-x">
        <table class="table table--expand">
            <thead>
                <tr>
                    <th width="40%">{{ 'customer.account.wishlist.overview.name' | trans }}</th>
                    <th width="30%">{{ 'customer.account.wishlist.overview.item_count' | trans }}</th>
                    <th width="20%">{{ 'customer.account.wishlist.overview.date' | trans }}</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
            {% for wishlist in data.wishlists %}
                {% set hasWishlistForm = data.wishlistForm is not empty and wishlist.idWishlist == data.wishlistForm.vars.data.idWishlist %}
                <tr>
                    <td>
                        {% if hasWishlistForm %}
                            {{ form_start(data.wishlistForm) }}
                            <div class="grid grid--nowrap">
                                <div class="col col--expand"></div>
                                {{ form_widget(data.wishlistForm.name, {attr: {placeholder: 'customer.account.wishlist.overview.enter_name'|trans}}) }}
                                <div class="col">
                                    <button type="submit" class="button">
                                        {% include atom('icon') with {
                                            data: {
                                                name: 'save'
                                            }
                                        } only %}
                                    </button>
                                </div>
                            </div>
                            {{ form_errors(data.wishlistForm) }}
                            {{ form_end(data.wishlistForm) }}
                        {% else %}
                            <a href="{{ path('wishlist/details', { wishlistName: wishlist.name }) }}">{{ wishlist.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ wishlist.numberOfItems }}</td>
                    <td>{{ wishlist.createdAt | formatDate }}</td>
                    <td>
                        <ul class="menu menu--inline float-right">
                            <li class="menu__item">
                                <a href="{{ url('wishlist/update', {wishlistName: wishlist.name}) }}" title="{{ 'customer.account.wishlist.overview.edit' | trans }}">
                                    {% include atom('icon') with {
                                        data: {
                                            name: 'edit'
                                        }
                                    } only %}
                                </a>
                            </li>
                            <li class="menu__item">
                                {% if data.wishlistDeleteFormCloner %}
                                    {% set wishlistDeleteForm = data.wishlistDeleteFormCloner.getForm.createView %}
                                    {{ form_start(wishlistDeleteForm, {'action': path('wishlist/delete', {'wishlistName': wishlist.name}), 'name': 'wishlistDeleteForm_' ~ wishlist.name }) }}
                                    <button data-init-single-click type="submit" class="link"
                                            title="{{ 'customer.account.wishlist.overview.delete' | trans }}">
                                        {% include atom('icon') with {
                                            data: {
                                                name: 'remove'
                                            }
                                        } only %}
                                    </button>
                                    {{ form_end(wishlistDeleteForm) }}
                                {% else %}
                                    <form id="wishlistDeleteForm_{{ loop.index }}" class="col" name="wishlistDeleteForm_{{ loop.index }}" method="POST" action="{{ path('wishlist/delete', {'wishlistName': wishlist.name}) }}">
                                        <input type="hidden" name="wishlist_delete_form[_token]" value="{{ csrf_token('wishlist_delete_form')}}">
                                        <button data-init-single-click type="submit" class="link"
                                                title="{{ 'customer.account.wishlist.overview.delete' | trans }}">
                                            {% include atom('icon') with {
                                                data: {
                                                    name: 'remove'
                                                }
                                            } only %}
                                        </button>
                                    </form>
                                {% endif %}

                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
