{% extends model('component') %}

{% define config = {
    name: 'user-table',
} %}

{% define data = {
    currentCompanyUserId: required,
    users: required,
    actions: {
        update: false,
        delete: false,
    },
} %}

{% set showActions = data.actions.update or data.actions.delete %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr class="active">
                <th>{{ 'company.account.company_user.name' | trans }}</th>
                <th>{{ 'company.account.company_user.business_unit' | trans }}</th>
                <th>{{ 'company.account.company_user.role' | trans }}</th>
                {% if showActions %}
                    <th>{{ 'company.account.table.actions' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in data.users %}
                {% set companyBusinessUnitName = user.companyBusinessUnit.name | default('') %}
                <tr>
                    {% if user.customer.firstName != null and user.customer.lastName != null %}
                        <td>{{ user.customer.firstName ~ ' ' ~ user.customer.lastName }}</td>
                        <td>{{ companyBusinessUnitName }}</td>
                        <td>
                            {% if user.companyRoleCollection is not empty %}
                                {% for companyUserRole in user.companyRoleCollection.roles %}
                                    {{ companyUserRole.name }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% if showActions %}
                            <td>
                                <ul class="menu menu--inline">
                                    {% if data.actions.update %}
                                        <li class="menu__item">
                                            <a href="{{ url('company/user/update', {'id': user.idCompanyUser}) }}">
                                                {{ "company.account.company_user.edit" | trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if data.currentCompanyUserId != user.idCompanyUser %}
                                        {% if can('CompanyUserStatusChangePermissionPlugin') %}
                                            {% if user.isActive %}
                                                <li class="menu__item">
                                                    <a href="{{ url('company/company-user-status/disable', {'id': user.idCompanyUser}) }}">
                                                    {{ "company.account.company_user.disable" | trans }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="menu__item">
                                                    <a href="{{ url('company/company-user-status/enable', {'id': user.idCompanyUser}) }}">
                                                        {{ "company.account.company_user.enable" | trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if data.actions.delete %}
                                            <li class="menu__item">
                                                <a href="{{ url('company/user/confirm-delete', {'id': user.idCompanyUser }) }}">
                                                    {{ "company.account.company_user.delete" | trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
