<div class="callout cart-item">
    <div class="row">

        {% include '@CartPage/_partials/cart-images.twig' %}

        <div class="small-9 large-expand columns">
            <ul class="no-bullet">
                <li class="lead">{{ cartItem.name }}</li>
                <li class="__secondary">
                    <small>{{ 'cart.item.sku' | trans }} {{ cartItem.sku }}</small>
                </li>

                {{ widget('ProductBundleItemsWidgetPlugin', cartItem, _view.cart) }}

                {% include '@CartPage/_partials/cart-product-variants.twig' %}

                {{ widget('CartNoteQuoteItemWidgetPlugin', cartItem) }}
            </ul>
        </div>

        {% include '@CartPage/_partials/cart-item-prices.twig' %}

        {% include '@CartPage/_partials/cart-add-to-cart.twig' %}
    </div>
</div>
