{% extends template('page-layout-quote-request', 'QuoteRequestAgentPage') %}

{% define data = {
    title: 'quote_request_page.quote_request.title_create' | trans,
    quoteRequestCreateForm: _view.quoteRequestCreateForm,
    impersonatedCustomer: _view.impersonatedCustomer,
} %}

{% block breadcrumbs %}
    {% set breadcrumbExtend = [
        {
            label: 'quote_request_page.quote_request.breadcrumb.create' | trans,
        },
    ] %}

    {{ parent() }}
{% endblock %}

{% block agentContent %}
    <div class="box">
        {% block form %}
            {{ form_start(data.quoteRequestCreateForm) }}
                {% block label %}
                    <label>{{ 'quote_request_agent_widget.form.select_customer' | trans }}:</label>
                {% endblock %}

                {% block autocompleteField %}
                    {% include molecule('autocomplete-form') with {
                        data: {
                            id: 'agent-company-user',
                            suggestionsUrl: path('agent/company-user/autocomplete'),
                            name: 'idCompanyUser',
                            value: data.impersonatedCustomer ? data.impersonatedCustomer.email : '',
                        },
                        attributes: {
                            'suggested-item-class-name': 'company-user-list__container-item',
                            'value-data-attribute': 'data-value',
                            'query-string': 'pattern',
                            'auto-init': data.impersonatedCustomer ? true : false,
                        }
                    } only %}
                {% endblock %}

                {% block separator %}
                    <hr class="box__separator">
                {% endblock %}

                {% block actions %}
                    {% block actionBack %}
                        <a class="button button button--hollow"
                           href="{{ url('agent/quote-request') }}">
                            {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
                        </a>
                    {% endblock %}

                    {% block actionSave %}
                        <button type="submit" name="save" class="button button--success">
                            {{ 'quote_request_page.quote_request.actions.save' | trans }}
                        </button>
                    {% endblock %}
                {% endblock %}

            {{ form_end(data.quoteRequestCreateForm) }}
        {% endblock %}
    </div>
{% endblock %}
