{% extends model('Component') %}

{% block component %}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
            <meta name="description" content="{% block pageDescription %}{{ pageDescription | default('') | trans }}{% endblock %}" />
            <meta name="keywords" content="{% block pageKeywords %}{{ pageKeywords | default('') | trans }}{% endblock %}" />
            <meta name="generator" content="spryker" />
            {% block pageMeta %}{% endblock %}

            {% block headCss %}
                {# <link rel="stylesheet" href="{{ assetsPath('css/shop.base.css') }}" />
                <link rel="stylesheet" href="{{ assetsPath('css/shop.main.css') }}" />
                <link rel="stylesheet" href="{{ assetsPath('css/shop.util.css') }}" /> #}
                <link rel="stylesheet" href="/assets/default/css/vendor.css" />
                <link rel="stylesheet" href="/assets/default/css/app.css" />
            {% endblock %}

            {% block headJs %}
                {# <script src="{{ assetsPath('js/shop.manifest.js') }}"></script>   #}
            {% endblock %}

            <title>Test</title>
        </head>
        <body>
            {% include atom('test') only %}

            {% block content -%}{%- endblock %}

            {% block footerJs %}
                {# <script src="{{ assetsPath('js/shop.main.js') }}"></script> #}
                <script src="/assets/default/js/vendor.js"></script>
                <script src="/assets/default/js/app.js"></script>
            {% endblock %}
        </body>
    </html>
{% endblock %}
