{% extends model('component') %}

{% define config = {
    name: 'review-average-display',
    tag: 'section'
} %}

{% define data = {
    summary: required,
    ratingMaxValue: required
} %}

{% define attributes = {
    itemscope: '',
    itemtype: 'http://schema.org/AggregateRating',
    itemprop: 'aggregateRating',
} %}

{% block body %}
    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        class: 'spacing-right',
        data: {
            value: data.summary.averageRating,
            maxValue: data.ratingMaxValue,
            useHalfSteps: true
        },
        attributes: {
            readonly: true
        }
    } only %}

    {% if data.summary.totalReview > 0 %}
        <span itemscope itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
            <strong itemprop="ratingValue">{{ data.summary.averageRating }}</strong> {{ 'product_review.summary.out_of' | trans }}
            <span itemprop="bestRating">{{ data.summary.maximumRating }}</span> {{ 'product_review.summary.stars' | trans }}
            (
            <span itemprop="reviewCount">{{- data.summary.totalReview }}</span>

            {% set amount = data.summary.totalReview > 1 ? 'multiple' : data.summary.totalReview %}

            {{ amount | trans({
                '1' : 'product_review.summary.review' | trans,
                'multiple': 'product_review.summary.reviews' | trans,
            }) -}}
            )
        </span>
    {% else %}
        {{ 'product_review.no_reviews' | trans }}
    {% endif %}
{% endblock %}
