{% extends model('component') %}

{% define config = {
    name: 'cart-comment-action-form',
} %}

{% define data = {
    action: required,
    hiddenData: [],
    buttonClassString: 'button button--warning',
    buttonText: 'comment_widget.form.button_default' | trans,
} %}

{% block body %}
    <form action="{{ data.action }}" method="post">
        {% for hiddenItem in data.hiddenData %}
            <input type="hidden" name="{{ hiddenItem.name }}" value="{{ hiddenItem.value }}" />
        {% endfor %}
        <button type="submit" class="{{ data.buttonClassString }}">
            {{ data.buttonText }}
        </button>
    </form>
{% endblock %}
