{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    shoppingList: _view.shoppingList,
    sharedCompanyUsers: _view.sharedCompanyUsers,
    sharedCompanyBusinessUnits: _view.sharedCompanyBusinessUnits,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            },{
                label: 'customer.account.shopping_list.overview.edit' | trans,
            },{
                label: 'customer.account.shopping_list.overview.warning' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.shoppingList.idShoppingList) }}
{% endblock %}

{% block customerContent %}
    <div class="box">
        <h5>{{ 'customer.account.shopping_list.delete.warning' | trans }}</h5>
        <hr />
        {{ 'customer.account.shopping_list.delete.you_are_trying_to_delete_shopping_list' | trans({
            '%link%': url('shopping-list/details', {'idShoppingList': data.shoppingList.idShoppingList}),
            '%name%': data.title
        }) | raw}}
        <br/>
        {% if data.sharedCompanyUsers.count or data.sharedCompanyBusinessUnits.count %}
            {{ 'customer.account.shopping_list.delete.it_belongs_to_follow' | trans }}

            <br/>
            <br/>

            {% if data.sharedCompanyBusinessUnits.count %}
                <b>{{ 'company.account.business_unit' | trans }}</b>:
                <br/>
                <ul>
                    {% for sharedCompanyBusinessUnit in data.sharedCompanyBusinessUnits %}
                        <li>{{ sharedCompanyBusinessUnit.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br/>

            {% if data.sharedCompanyUsers.count %}
                <b>{{ 'company.account.company_user' | trans }}</b>:
                <br/>
                <ul class="bullets">
                    {% for sharedCompanyUser in data.sharedCompanyUsers %}
                        <li>{{ sharedCompanyUser.customer.firstName ~ ' ' ~  sharedCompanyUser.customer.lastName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br/>
            {{ 'customer.account.shopping_list.delete.it_wll_be_deleted_from_all_of_them' | trans }}
        {% endif %}
        <br/>
        <div class="row">
            <a href="javascript:history.go(-1)" class="button button--info float-left">{{ 'general.back.button' | trans }}</a>
            <a href="{{ url('shopping-list/delete', {'idShoppingList': data.shoppingList.idShoppingList})}}" class="button button--alert float-right">{{ 'customer.account.shopping_list.overview.delete' | trans }}</a>
        </div>
    </div>
{% endblock %}
