{% extends template('widget') %}

{% define data = {
    formType: _widget.formType,
    isApplicable: _widget.isApplicable,
    addresses: _widget.addresses,
    fullAddresses: _widget.fullAddresses
} %}

{% block template %}
    <pre>{{ dump(data.fullAddresses) }}</pre>
    {% embed atom('select') with {
        class: 'spacing-bottom',
        attributes: {
            name: 'checkout-full-addresses'
        },
        data: {
            isGrouped: true
        },
        embed: {
            addressOptions: data.fullAddresses,
            formType: data.formType
        }
    } only %}
        {% block selectClass %}js-form-toggler js-from-select-address__{{ embed.formType }}{% endblock %}
        {% block options %}
            <option value="" selected disabled="disabled">Default address pre-selected</option>
            {% for option in embed.addressOptions %}
                <option value="{{ option['addressesForm[' ~ embed.formType ~ '][full_address]'] }}" data-address-key="addressesForm[{{ embed.formType }}][full_address]">
                    {{ option['addressesForm[' ~ embed.formType ~ '][full_address]'] }}
                </option>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <div>
        <button type="button" class="button spacing-bottom js-from-add-new-address__{{ data.formType }}" disabled="disabled">
            {{ 'page.checkout.address.use_selected_address' | trans }}
        </button>
        {% include molecule('company-business-unit-address-hundler', 'CompanyWidget') with {
            attributes: {
                'form-selector': '.js-form-hundler__' ~ data.formType,
                'trigger-selector': '.js-from-add-new-address__' ~ data.formType,
                'data-selector': '.js-from-select-address__' ~ data.formType,
                'ignore-selector': '.js-form-toggler',
                'hidden-input': '.js-form-hidden-input__' ~ data.formType,
                'addresses': data.addresses
            }
        } only %}
    </div>

    <div>
        <label>
            <input type="checkbox" class="js-from-clear__{{ data.formType }}-toggler js-form-toggler">
            {{ 'page.checkout.address.different_delivery_address' | trans }}
        </label>
        {% include molecule('form-clear') with {
            attributes: {
                'form-selector': '.js-form-clear__' ~ data.formType ~ '-form',
                'trigger-selector': '.js-from-clear__' ~ data.formType ~ '-toggler',
                'ignore-selector': '.js-form-toggler'
            }
        } only %}
    </div>

    <input type="hidden" name="addressesForm[{{ data.formType }}][id_customer_address]" class="js-form-hidden-input__{{ data.formType }}">
{% endblock %}
