{% extends template('widget') %}

{% define data = {
    formType: _widget.formType,
    isApplicable: _widget.isApplicable,
    addresses: _widget.addresses,
    comparableAddresses: _widget.comparableAddresses
} %}

{% block template %}
    <pre>{{ dump(data.comparableAddresses) }}</pre>
    {% embed atom('select') with {
        class: 'spacing-bottom',
        attributes: {
            name: 'checkout-full-addresses'
        },
        data: {
            isGrouped: true
        },
        embed: {
            addressOptions: data.comparableAddresses,
            formType: data.formType
        }
    } only %}
        {% block selectClass %}js-form-ignore-element js-from-select-address__{{ embed.formType }}{% endblock %}
        {% block options %}
            {% set addressGroups = [] %}
            {% set isDefault = false %}
            {% for option in embed.addressOptions %}
                {% set currentOption = option.option_group %}
                {% if (currentOption not in addressGroups) %}
                    {% set addressGroups = addressGroups | merge([currentOption]) %}
                {% endif %}
                {% if option.default == true %}
                    {% set isDefault = true %}
                {% endif %}
            {% endfor %}

            {% if not isDefault %}
                <option value="" selected disabled="disabled">{{ 'page.checkout.address.address_select' | trans }}</option>
            {% endif %}

            {% for addressGroupsItem in addressGroups %}
                <optgroup label="{{ addressGroupsItem | trans }}">
                {% for option in embed.addressOptions %}
                    {% set isSelected = option.default | default(false) %}

                    {% if (option.option_group) == addressGroupsItem %}
                        <option value="" {% if isSelected %}selected{% endif %} data-address-key="full_address">
                            sdcsdf
                        </option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <div>
        <button type="button" class="button spacing-bottom js-from-add-new-address__{{ data.formType }}" disabled="disabled">
            {{ 'page.checkout.address.use_selected_address' | trans }}
        </button>
        {% include molecule('company-business-unit-address-handler', 'CompanyWidget') with {
            attributes: {
                'form-selector': '.js-form-handler__' ~ data.formType,
                'trigger-selector': '.js-from-add-new-address__' ~ data.formType,
                'data-selector': '.js-from-select-address__' ~ data.formType,
                'ignore-selector': '.js-form-ignore-element',
                'customer-id-selector': '.js-form-customer-id__' ~ data.formType,
                'default-address-selector': '.js-form-default-address__' ~ data.formType,
                'addresses': data.addresses
            }
        } only %}
    </div>

    <div>
        <label>
            <input type="checkbox" class="js-from-clear__{{ data.formType }}-toggler js-form-ignore-element">
            {{ 'page.checkout.address.different_delivery_address' | trans }}
        </label>
        {% include molecule('form-clear') with {
            attributes: {
                'form-selector': '.js-form-clear__' ~ data.formType ~ '-form',
                'trigger-selector': '.js-from-clear__' ~ data.formType ~ '-toggler',
                'ignore-selector': '.js-form-ignore-element'
            }
        } only %}
    </div>

    <input type="hidden" name="addressesForm[{{ data.formType }}][id_customer_address]" class="js-form-customer-id__{{ data.formType }}">
    <input type="hidden" name="addressesForm[{{ data.formType }}][default]" class="js-form-ignore-element js-form-default-address__{{ data.formType }}">
{% endblock %}
