{% extends model('component') %}

{% define config = {
    name: 'cart-item-attribute-list',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    cartItemAttributes: []
} %}

{% block component %}
    {% if data.cartItemAttributes is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    <label>{{ 'product.variants' | trans }}:</label>

    <form method="POST" action="{{ path('cart/update', {'sku': data.cartItem.sku }) }}">
        {% for attributeName, attributeOptions in data.cartItemAttributes %}
            {% set options = [] %}

            {% for value, properties in attributeOptions %}
                {% set options = options | merge([{
                    label: value,
                    value: value,
                    selected: attribute(properties, 'selected') ? true : false,
                    disabled: attribute(properties, 'available') ? false : true
                }]) %}
            {% endfor %}

            <label>
                {{ ('product.attribute.' ~ attributeName) | trans }}
                {% include atom('select') with {
                    modifiers: ['expand'],
                    data: {
                        label: ('product.attribute.' ~ attributeName) | trans,
                        options: options
                    },
                    attributes: {
                        name: 'preselectedAttributes[' ~ attributeName ~ ']'
                    }
                } only %}
            </label>

            <input name="selectedAttributes[{{ attributeName }}]" type="hidden" />
        {% endfor %}

        <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
        <input type="hidden" value="{{ data.cartItem.quantity }}" name="quantity" />

        {% if data.cartItem.productOptions is not empty %}
            {% for productOption in data.cartItem.productOptions %}
                <input name="product-option[{{ productOption.groupName }}]" type="hidden" value="{{ productOption.idProductOptionValue }}" />
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}
