{% extends model('component') %}

{% define config = {
    name: 'quick-order-form',
    tag: 'quick-order-form'
} %}

{% define data = {
    form: required,
    products: [],
    prices: [],
    additionalColumns: []
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__add-row-provider',
        attributes: {
            method: 'POST',
            url: url('quick-order/add-rows')
        }
    } only %}

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__remove-row-provider',
        attributes: {
            method: 'POST',
            url: url('quick-order/delete-row')
        }
    } only %}

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__remove-all-rows-provider',
        attributes: {
            method: 'POST',
            url: url('quick-order/delete-all-rows')
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['big'],
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '__provider'
        }
    } only %}

    {% embed molecule('form') with {
        data: {
            form: data.form,
            products: data.products,
            prices: data.prices,
            options: {
                attr: {
                    class: config.jsName ~ '__form'
                }
            }
        },
        embed: {
            name: config.name,
            jsName: config.jsName,
            additionalColumns: data.additionalColumns
        }
    } only %}
        {% block fields %}
            <div class="{{embed.name}}__rows {{embed.jsName}}__rows">
                {% include molecule('quick-order-rows', 'QuickOrderPage') with {
                    data: {
                        rows: data.form.items,
                        products: data.products,
                        prices: data.prices,
                        additionalColumns: embed.additionalColumns
                    }
                } only %}
            </div>
        {% endblock %}

        {% block actions %}
            <hr/>
            <div class="grid grid--bottom grid--justify">
                <div class="col col--sm-12 col--md-3">
                    <a href="#add-more" class="{{embed.jsName}}__add-row-trigger button button--hollow button--expand">
                        {{ 'quick-order.button.add-more-rows' | trans }}
                    </a>
                </div>

                <div class="col col--sm-12 col--md-2">
                    {% widget 'QuickOrderPageWidget' only %}
                    {% elsewidget 'MultiCartListWidgetPlugin' only %} {# @deprecated Use QuickOrderPageWidget instead. #}
                    {% endwidget %}
                </div>

                <div class="col col--sm-12 col--md-2">
                    {% if can('SeeAddToCartPermissionPlugin') %}
                        <button type="submit" name="addToCart" class="button button--expand button--success js-add-to-cart-button">
                            {{ 'page.detail.add-to-cart' | trans }}
                        </button>
                    {% endif %}
                </div>

                <div class="col col--sm-12 col--md-2">
                    {% if can('SeeAddToCartPermissionPlugin') %}
                        <button type="submit" name="createOrder" class="button button--expand button--success">
                            {{ 'quick-order.button.create-order' | trans }}
                        </button>
                    {% endif %}
                </div>

                <div class="col col--sm-12 col--md-2">
                    <a href="#remove-all"
                       class="button button--expand button--warning js-quick-order-form__remove-all-rows-trigger">
                        {{ 'quick-order.button.delete-all-rows' | trans }}
                        {% include atom('icon') with {
                            modifiers: ['small'],
                            data: {
                                name: 'times'
                            }
                        } only %}
                    </a>
                </div>
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% widget 'AddItemsToShoppingListWidget' only %}
                {% endwidget %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
