{% extends model('component') %}

{% define config = {
    name: 'address-delete-message',
} %}

{% define data = {
    companyUnitAddress: required,
    companyBusinessUnits: null,
    idCompanyBusinessUnit: null,
    cancelUrl: required,
} %}

{% block body %}
    <h5 class="{{ config.name }}__delete-title">
        {% include atom('icon') with {
            modifiers: ['big'],
            data: {
                name: 'action-warning'
            }
        } only %}
        {{ "company.account.address.delete.message.title" | trans }}
    </h5>

    <div class="spacing-y spacing-y--big">
        {{ "company.account.address.delete.message.text" | trans }}

        <address class="{{ config.name }}__address">{{ data.companyUnitAddress.address1 }} {{ data.companyUnitAddress.address2 }}</address>
        <address class="{{ config.name }}__address">{{ data.companyUnitAddress.zipCode }} {{ data.companyUnitAddress.city }}, {{ ('countries.iso.' ~ data.companyUnitAddress.iso2code) | trans }}</address>

        {% if data.companyBusinessUnits is not empty %}
            <p class="spacing-bottom spacing-bottom--big">{{ "company_page.address_delete_confirmation.notification" | trans }}</p>
            <strong>{{ 'company.account.business_unit' | trans }}</strong>
            <ul class="list">
                {% for companyBusinessUnit in data.companyBusinessUnits %}
                    <li class="list__item">{{ companyBusinessUnit.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if data.companyBusinessUnits is not empty %}
        <p class="{{ config.name }}__delete-message">
            {{ "company.account.address.delete.message.all" | trans }}.
        </p>
    {% endif %}

    <a class="button button--hollow {{ config.name }}__action" href="{{ data.cancelUrl }}">
        {{ "label.button.cancel" | trans }}
    </a>

    <a data-init-single-click class="button button--alert"
       href="{{ url('company/address/delete', {'id': data.companyUnitAddress.idCompanyUnitAddress, 'idCompanyBusinessUnit': data.idCompanyBusinessUnit }) }}">
        {{ "company.account.company_user.delete" | trans }}
    </a>
{% endblock %}
