{% extends model('component') %}

{% set config = {
    name: 'jumbotron',
    tag: 'section'
} | merge(config | default({})) %}

{% set data = {
    imageUrl: data.imageUrl | default('/assets/default/img/home-banner.jpg'),
    textColor: data.textColor | default('#ffffff'),
    headline: data.headline | default('global.spryker.shop' | trans),
    subHeadline: data.subHeadline | default('global.spryker.motto' | trans)
} | merge(data | default({})) %}

{% block body %}
    <div class="{{config.name}}__container grid grid--center grid--middle" style="background-image: url('{{data.imageUrl}}'); color: {{data.textColor}};">
        <div class="col col--sm-12">
            <h1 class="{{config.name}}__headline">{{data.headline}}</h1>
            <h4 class="{{config.name}}__sub-headline">{{data.subHeadline}}</h4>
        </div>
    </div>
{% endblock %}
