{% extends template('widget') %}

{% define data = {
    isOnBehalf: _widget.isOnBehalf,
    isCustomerChangeAllowed: _widget.isCustomerChangeAllowed,
    companyName: _widget.companyName,
    companyBusinessUnitName: _widget.companyBusinessUnitName,
    isVisible: _widget.isVisible,
} %}

{% block template %}
    {% if data.isVisible %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if data.isCustomerChangeAllowed %}
        {% if data.isOnBehalf and data.companyName is not empty and data.companyBusinessUnitName is not empty %}
            <a href="{{ path('company/user/select') }}">{{ data.companyName }} / {{ data.companyBusinessUnitName }}</a>
        {% else %}
            <a href="{{ path('company/user/select') }}">{{ 'business_on_behalf_widget.no_selected_company' | trans }}</a>
        {% endif %}
    {% else %}
        {% if data.isOnBehalf and data.companyName is not empty and data.companyBusinessUnitName is not empty %}
            <span>{{ data.companyName }} / {{ data.companyBusinessUnitName }}</span>
        {% else %}
            <span>{{ 'business_on_behalf_widget.no_selected_company' | trans }}</span>
        {% endif %}
    {% endif %}
{% endblock %}
