{% extends template('widget') %}

{% define data = {
    idProductConcrete: _widget.product.idProductConcrete | default(null),
    product: _widget.product,
    qtyOptions: _widget.qtyOptions,
    baseUnit: _widget.baseUnit | default(null),
    salesUnits: _widget.salesUnits | default([]),
    jsonScheme: _widget.jsonScheme | default('')
} %}
{% set disabled = data.product.idProductConcrete is empty or data.product.price is empty %}

{% block body %}
    <div class="col col--sm-5">
        <label>
            {{ 'product.quantity' | trans }}
            <input class="select-quantity input" type="number" value="1" step="1" name="sales-unit-value"/>
        </label>
        {% if data.salesUnits|length %}
            <label>
                {{ 'product.measurement.sales_unit' | trans }}
                {% embed atom('select') with {
                    modifiers: ['expand'],
                    attributes: {
                        name: 'id-product-measurement-sales-unit'
                    },
                    embed: {
                        salesUnits: data.salesUnits
                    }
                } only %}
                    {% block selectClass %}select-measurement-unit{% endblock %}
                    {% block options %}
                        {% for salesUnit in embed.salesUnits %}
                            <option value="{{ salesUnit.idProductMeasurementSalesUnit }}" {{ (salesUnit.isDefault) ? 'selected' : '' }}>{{ salesUnit.productMeasurementUnit.name | trans }}</option>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </label>
            <input type="hidden" value="{{ data.idProductConcrete }}" name="id-product-concrete">
        {% endif %}
    </div>
    <div class="col col--sm-6">
        <button type="submit" id="add-to-cart-button" class="button button--success button--expand" {{ disabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;" {{ qa('add-to-cart-button') }}
        ">
        {% include atom('icon') with {
            data: {
                name: 'cart-plus'
            }
        } only %}
        {{ 'page.detail.add-to-cart' | trans }}
        </button>
    </div>
    {% if data.salesUnits|length %}
        <hr/>
        <div class="col col--sm-12">
            {% for salesUnit in data.salesUnits %}
                {% if salesUnit.productMeasurementUnit.idProductMeasurementUnit != data.baseUnit.idProductMeasurementUnit %}
                    <span>1 {{ data.baseUnit.name | trans }}
                        = {{ 1 / salesUnit.conversion }} {{ salesUnit.productMeasurementUnit.name | trans }}</span><br/>
                {% endif %}
            {% endfor %}
        </div>
        {% include molecule('measurement-quantity-selector') with {
            data: {
                json: data.jsonScheme
            }
        } only %}
        <br/>
        <div class="col col--sm-12 is-hidden measurement-unit-choice">
            <span>The quantity you have chosen (<span id="current-choice"></span>) is in between 2 base units</span>
            <span>Would you like to add:</span>
            <div id="measurement-unit-choices" class="col col--sm-12">
                <ul class="list"></ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
