{% extends template('widget') %}

{% define data = {
    idProductConcrete: _widget.product.idProductConcrete | default(null),
    product: _widget.product,
    quantityOptions: _widget.quantityOptions,
    minQuantityInBaseUnits: _widget.minQuantityInBaseUnits,
    minQuantityInSalesUnits: _widget.minQuantityInSalesUnits,
    baseUnit: _widget.baseUnit | default(null),
    idBaseUnit: _widget.idBaseUnit | default(null),
    salesUnits: _widget.salesUnits | default([]),
    jsonScheme: _widget.jsonScheme | default(''),
    salesUnitCount : _widget.salesUnits|length,
    addToCartDisabled : _widget.addToCartDisabled | default(false)
} %}
{% set disabled = data.addToCartDisabled %}

{% block body %}
    <div class="col col--sm-5">
        <label>
            {{ 'cart.item_quantity' | trans }}
            {% if data.salesUnitCount >= 1 %}
                <input id="sales-unit-quantity" class="input" type="number" value="{{ data.minQuantityInSalesUnits }}" name="sales-unit-value"/>
                <input id="base-unit-quantity" type="hidden" value="{{ data.minQuantityInBaseUnits }}" name="quantity"/>
            {% else %}
                {% include atom('select') with {
                    modifiers: ['expand'],
                    data: {
                        options: data.quantityOptions
                    },
                    attributes: {
                        name: 'quantity'
                    }
                } only %}
            {% endif %}
        </label>
        {% if data.salesUnitCount >= 1 %}
            <label>
                {{ 'product.measurement.sales_unit' | trans }}
                {% embed atom('select') with {
                    modifiers: ['expand'],
                    attributes: {
                        name: 'id-product-measurement-sales-unit'
                    },
                    embed: {
                        salesUnits: data.salesUnits
                    }
                } only %}
                    {% block selectClass %}select-measurement-unit{% endblock %}
                    {% block options %}
                        {% for salesUnit in embed.salesUnits %}
                            <option value="{{ salesUnit.idProductMeasurementSalesUnit }}" {{ (salesUnit.isDefault) ? 'selected' : '' }}>{{ salesUnit.productMeasurementUnit.name | trans }}</option>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </label>
        {% endif %}
    </div>
    <div class="col col--sm-6">
        <button type="submit" id="add-to-cart-button" class="button button--success button--expand" {{ disabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;" {{ qa('add-to-cart-button') }}
        ">
        {% include atom('icon') with {
            data: {
                name: 'cart-plus'
            }
        } only %}
        {{ 'page.detail.add-to-cart' | trans }}
        </button>
    </div>
    {% if data.salesUnitCount >= 1 %}
        <hr/>
        <div class="col col--sm-12">
            {% for salesUnit in data.salesUnits %}
                {% if salesUnit.productMeasurementUnit.idProductMeasurementUnit != data.baseUnit.idProductMeasurementUnit %}
                    <span>1 {{ data.baseUnit.name | trans }}
                        = {{ (1 / salesUnit.conversion)|round(4) }} {{ salesUnit.productMeasurementUnit.name | trans }}</span>
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
        {% include molecule('measurement-quantity-selector', 'ProductMeasurementUnitWidget') with {
            data: {
                json: data.jsonScheme
            }
        } only %}
        <br/>
        <div class="col col--sm-12 is-hidden measurement-unit-choice">
            <div class="measurement-unit-notifications">
                <div id="quantity-between-units" class="is-hidden">
                    <span>{{ "measurement_units.recommendation.between-units-info" | trans }} (<span id="current-choice"></span>)</span>
                </div>
                <div id="minimum-quantity" class="is-hidden">
                    <span>{{ "measurement_units.recommendation.min-violation" | trans }}</span>
                </div>
                <div id="maximum-quantity" class="is-hidden">
                    <span>{{  "measurement_units.recommendation.max-violation" | trans }}</span>
                </div>
            </div>
            <div id="measurement-unit-choices" class="col col--sm-12">
                <span>{{ "measurement_units.recommendation.suggestion" | trans}}:</span>
                <ul class="list"></ul>
            </div>
        </div>
    {% endif %}

    {% set translations = [] %}
    {% for key, salesUnit in data.salesUnits %}
        {% set translations = translations | merge({(salesUnit.productMeasurementUnit.code) : (salesUnit.productMeasurementUnit.name | trans)}) %}
    {% endfor %}

    <script type="application/json" id="measurement-unit-translation">{{ translations|json_encode|raw }}</script>
{% endblock %}
