{% extends template('layout-main') %}

{% set title = title | default(_view.category.name | default('')) %}
{% set metaTitle = metaTitle | default(_view.pageTitle | default(title)) %}
{% set metaDescription = metaDescription | default(_view.pageDescription | default('')) %}
{% set metaKeywords = metaKeywords | default(_view.pageKeywords | default('')) %}
{% set viewMode = viewMode | default(_view.viewMode | default(null)) %}

{% set products = products | default(_view.products) %}
{% set category = category | default(_view.category | default(null)) %}
{% set categoryId = categoryId | default(_view.idCategory | default(null)) %}
{% set facets = facets | default(_view.facets) %}
{% set filterPath = filterPath | default(_view.filterPath | default(null)) %}

{% set paginationData = {
    parameters: app.request.query.all(),
    currentPage: _view.pagination.currentPage,
    paginationPath: app.request.getPathInfo(),
    maxPage: _view.pagination.maxPage,
    showAlwaysFirstAndLast: true
} | merge(paginationData | default({})) %}

{% macro renderBreadcrumbSteps(categoryNode, isLastLeaf, filterPath) %}
    {% import _self as self %}
    {% set categoryUrl = filterPath is not empty ? url(filterPath, {categoryPath: (categoryNode.url)}) : categoryNode.url %}
    {% set categoryLabel = categoryNode.name %}
    {% set categoryPatrentNodes = categoryNode.parents | default(null) %}

    {% if categoryPatrentNodes is not empty %}
        {{ self.renderBreadcrumbSteps(categoryPatrentNodes | first, false, filterPath) }}
        
        {% if not isLastLeaf %}
            {% include molecule('breadcrumb-step') with {
                data: {
                    url: categoryUrl,
                    label: categoryLabel
                }
            } only %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% block breadcrumbs %}
    {% import _self as self %}
    
    {% embed molecule('breadcrumb') with {
        embed: {
            breadcrumbs: self.renderBreadcrumbSteps(category, true)
        }
    } only %}
        {% block breadcrumbs %}
            {{ embed.breadcrumbs }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% block cmsTop %}
        {% if categoryId %}
            <div class="box">
                {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'top', categoryId) }}
            </div>
        {% endif %}
    {% endblock %}

    <form method="GET" class="grid">
        {% block form %}
            <div class="col col--sm-12 col--lg-4 col--xl-3">
                {% include molecule('view-mode-switch') with {
                    class: 'box'
                } only %}

                {% include molecule('class-toggler') with {
                    class: 'box is-hidden-lg-xl',
                    attributes: {
                        'class-to-toggle': 'is-hidden-sm-md',
                        target: 'js-catalog__filters-toggle',
                        checked: true
                    },
                    data: {
                        label: 'Show/Hide filters'
                    }
                } only %}

                {% include organism('filter-section') with {
                    class: 'js-catalog__filters-toggle',
                    data: {
                        facets: facets,
                        filterPath: filterPath,
                        categories: categories
                    }
                } only %}

                {% block cmsMiddle %}
                    {% if categoryId %}
                        <div class="box">
                            {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'middle', categoryId) }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>

            <div class="col col--sm-12 col--lg-8 col--xl-9">
                {% include molecule('sort') with {
                    class: 'box'
                } only %}

                {% include organism('active-filter-section') with {
                    data: {
                        facets: facets
                    }
                } only %}

                {% include molecule('pagination') with {
                    class: 'box',
                    data: paginationData
                } only %}

                <div class="grid grid--stretch">
                    {% for product in products %}
                        {{ widget('ProductWidgetPlugin', product, viewMode) }}
                    {% endfor %}
                </div>

                {% include molecule('pagination') with {
                    class: 'box',
                    data: paginationData
                } only %}
            </div>
        {% endblock %}
    </form>

    {% block cmsBottom %}
        {% if categoryId %}
            <div class="box">
                {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'bottom', categoryId) }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
