{# @deprecated This component is deprecated. Use molecule('summary-product-packaging-unit-by-default', 'ProductPackagingUnitWidget') instead. #}
{% extends model('component') %}

{% define config = {
    name: 'summary-product-packaging-unit-default',
} %}

{% define data = {
    name: required,
    quantity: required,
    price: required,
    quantitySalesUnit: required,
} %}

{% block body %}
    {% set salesUnitName = data.quantitySalesUnit.productMeasurementUnit.name | default('') %}
    {% set salesUnitSummary = '' %}
    {% if salesUnitName %}
        {% set salesUnitSummary = data.quantitySalesUnit.value / data.quantitySalesUnit.precision ~ ' ' ~ salesUnitName | trans %}
    {% endif %}
    {% if can('SeePricePermissionPlugin') %}
        <strong class="float-right">{{data.price}}</strong>
    {% else %}
        <strong class="float-right">{{ 'customer.access.cannot_see_price' | trans }}</strong>
    {% endif %}
    {{data.quantity}} <span class="text-secondary">&times;</span> {{data.name}} {% if salesUnitSummary is not empty %}(= {{ salesUnitSummary }}){% endif %}
{% endblock body %}
