{% extends model('component') %}

{% define config = {
    name: 'side-drawer',
    tag: 'side-drawer'
} %}

{% define attributes = {
    'trigger-selector': required,
    'container-selector': '',
} %}

{% block body %}
    <div class="{{config.name}}__overlay {{attributes['trigger-selector']}}"></div>

    <aside class="{{config.name}}__drawer">
        {% block close %}
            <div class="{{config.name}}__close">
                <a href="#" class="link link--alt {{attributes['trigger-selector']}}">
                    {{'global.close' | trans}}
                    {% include atom('icon') with {
                        data: {
                            name: 'times'
                        }
                    } only %}
                </a>
            </div>
        {% endblock %}

        <div class="{{config.name}}__navigation">
            {% block mobileNavigation %}
                {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-main-mobile'] %}
                {% nowidget %}
                    {# @deprecated Kept for BC reasons, will be removed in next major. #}
                    {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', 'navigation-main-mobile') }}
                {% endwidget %}
            {% endblock %}
            <hr>
            {% embed organism('navigation-top') with {
                class: 'text-left',
                data: {
                    isInline: false,
                    withSeparators: false
                }
            } only %}
                {% block multiCart %}
                    <li class="menu__item">
                        {% widget 'MiniCartWidget' args [cartQuantity] only %}
                            {% block cartList %}{% endblock %}
                        {% elsewidget 'MiniCartWidgetPlugin' args [cartQuantity] only %} {# @deprecated Use MiniCartWidget instead. #}
                        {% nowidget %}
                            {% include molecule('cart-counter') with {
                                data: {
                                    quantity: data.cartQuantity,
                                },
                            } only %}
                        {% endwidget %}
                    </li>
                {% endblock %}
            {% endembed %}
        </div>

        {{block('close')}}
    </aside>
{% endblock %}
