{% extends model('component') %}

{% define config = {
    name: 'delivery-information',
    tag: 'ul',
} %}

{% define data = {
    carrierName: required,
    methodName: required,
    storeCurrencyPrice: required,
    currencyIsoCode: required,
    priceMode: null,
    sourcePrice: null,
} %}

{% if data.sourcePrice %}
    {% set priceModeGross = 'GROSS_MODE' %}
    {% set sourceUnitPrice = data.priceMode == priceModeGross ? data.sourcePrice.grossAmount : data.sourcePrice.netAmount %}
{% endif %}

{% block extraClass -%}
    list
{%- endblock %}

{% block body %}
    <li class="list__item">{{ data.carrierName }}</li>
    <li class="list__item">
        {{ data.methodName }}
        <span>
            {% if sourceUnitPrice is defined and sourceUnitPrice %}
                <s>{{ data.storeCurrencyPrice | money(true, data.currencyIsoCode) }}</s>
                {{ sourceUnitPrice | money(true, data.currencyIsoCode) }}
            {% else %}
                {{ data.storeCurrencyPrice | money(true, data.currencyIsoCode) }}
            {% endif %}
        </span>
    </li>
{% endblock %}
