{% extends model('component') %}

{% define config = {
    name: 'delivery-information',
    tag: 'ul',
} %}

{% define data = {
    carrierName: required,
    methodName: required,
    storeCurrencyPrice: required,
    currencyIsoCode: required,
    priceMode: null,
    sourcePrice: null,
} %}

{% block class -%}
    {{ parent() }} list
{%- endblock %}

{% set priceModeGross = 'GROSS_MODE' %}
{% set sourceUnitPrice = '' %}

{% if data.sourcePrice %}
    {% set sourceUnitPrice = data.priceMode == priceModeGross ? data.sourcePrice.grossAmount : data.sourcePrice.netAmount %}
{% endif %}

{% block body %}
    <li class="list__item">{{ data.carrierName }}</li>
    <li class="list__item">
        {{ data.methodName }}
    </li>
    <li class="list__item">
        {% if sourceUnitPrice or sourceUnitPrice is same as(0) %}
            <s>{{ data.storeCurrencyPrice | money(true, data.currencyIsoCode) }}</s>
            {{ sourceUnitPrice | money(true, data.currencyIsoCode) }}
        {% else %}
            {{ data.storeCurrencyPrice | money(true, data.currencyIsoCode) }}
        {% endif %}
    </li>
{% endblock %}
