{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    accessType: _widget.accessType,
    isQuoteDeletable: _widget.isQuoteDeletable,
    isSharingAllowed: _widget.isSharingAllowed,
} %}

{% block template %}
    {% if data.isSharingAllowed %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    {% if data.isSharingAllowed and data.accessType == 'OWNER_ACCESS' %}
        <li class="menu__item">
            <a href="{{ url('shared-cart/share', {idQuote: data.cart.idQuote}) }}" title="{{ 'shared_cart_widget.cart.share' | trans }}">
                {{ 'shared_cart_widget.cart.share' | trans }}
            </a>
        </li>
    {% endif %}
    {% if _widget.accessType != 'OWNER_ACCESS' %}
        <li class="menu__item">
            <a href="{{ url('shared-cart/dismiss-confirm', {idQuote: _widget.cart.idQuote}) }}" title="{{ 'shared_cart_widget.cart.dismiss' | trans }}">
                {{ 'shared_cart_widget.cart.dismiss' | trans }}
            </a>
        </li>
    {% endif %}
    {% if data.isQuoteDeletable and can('WriteSharedCartPermissionPlugin', data.cart.idQuote) %}
            <li class="menu__item">
                <a href="{{ url('multi-cart/confirm-delete', {idQuote: data.cart.idQuote}) }}">
                    {{ 'page.multi_cart.shopping_cart.list.link.delete' | trans }}
                </a>
            </li>
    {% endif %}
{% endblock %}
