{% extends model('component') %}

{% define config = {
    name: 'permission-table',
} %}

{% define data = {
    permissions: required,
    idCompanyRole: required,
    companyRolePermissionAssignFormCloner: null,
    companyRolePermissionUnassignFormCloner: null,
    actions: {
        configure: false,
        switch: false,
    },
} %}

{% set showActions = data.actions.configure or data.actions.switch %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr>
                <th>{{ 'company.account.company_role.permission.key' | trans }}</th>
                {% if data.actions.switch %}
                    <th>{{ 'company.account.company_role.permission.status' | trans }}</th>
                {% endif %}
                {% if showActions %}
                    <th>{{ 'company.account.table.actions' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for permission in data.permissions %}
            {% set isAssigned = permission.idCompanyRole | default(false) %}
            
            <tr>
                <td>{{ permission.key | trans }}</td>
                {% if data.actions.switch %}
                    <td>
                        {% if isAssigned %}
                            {{ 'company.account.company_role.permission.assigned' | trans }}
                        {% else %}
                            {{ 'company.account.company_role.permission.unassigned' | trans }}
                        {% endif %}
                    </td>
                {% endif %}
                {% if showActions %}
                    <td>
                        <ul class="menu menu--inline">
                            {% if isAssigned and data.actions.configure and permission.configurationSignature %}
                                <li class="menu__item">
                                    <a href="{{ path('company/company-role-permission/configure', {
                                        'id-permission': permission.idPermission,
                                        'id-company-role': data.idCompanyRole
                                    }) }}">
                                        {{ 'company.account.company_role.permission.configure' | trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if data.actions.switch %}
                                <li class="menu__item">
                                    {% if isAssigned %}
                                        {% set companyRolePermissionUnassignForm = data.companyRolePermissionUnassignFormCloner.getForm.createView ?? null %}
                                        {% set formAction = path('company/company-role-permission/unassign', {
                                            'id-permission': permission.idPermission,
                                            'id-company-role': data.idCompanyRole,
                                        }) %}
                                        {% set linkText = 'company.account.company_role.permission.unassign' | trans %}

                                        {% if companyRolePermissionUnassignForm %}
                                            {{ form_start(companyRolePermissionUnassignForm, { action: formAction }) }}
                                                <button class="link" data-init-single-click>{{ linkText }}</button>
                                            {{ form_end(companyRolePermissionUnassignForm) }}
                                        {% else %}
                                            <form name="company_role_permission_unassign_form" method="POST" action="{{ formAction }}">
                                                <button class="link" data-init-single-click>{{ linkText }}</button>
                                                <input type="hidden" name="company_role_permission_unassign_form[_token]" value="{{ csrf_token('company_role_permission_unassign_form') }}">
                                            </form>
                                        {% endif %}
                                    {% else %}
                                        {% set companyRolePermissionAssignForm = data.companyRolePermissionAssignFormCloner.getForm.createView ?? null %}
                                        {% set formAction = path('company/company-role-permission/assign', {
                                            'id-permission': permission.idPermission,
                                            'id-company-role': data.idCompanyRole,
                                        }) %}
                                        {% set linkText = 'company.account.company_role.permission.assign' | trans %}

                                        {% if companyRolePermissionAssignForm %}
                                            {{ form_start(companyRolePermissionAssignForm, { action: formAction }) }}
                                                <button class="link" data-init-single-click>{{ linkText }}</button>
                                            {{ form_end(companyRolePermissionAssignForm) }}
                                        {% else %}
                                            <form name="company_role_permission_assign_form" method="POST" action="{{ formAction }}">
                                                <button class="link" data-init-single-click>{{ linkText }}</button>
                                                <input type="hidden" name="company_role_permission_assign_form[_token]" value="{{ csrf_token('company_role_permission_assign_form') }}">
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
