{% extends model('component') %}

{% define config = {
    name: 'order-configured-bundle',
    tag: 'tr',
} %}

{% define data = {
    bundle: required,
    currencyIsoCode: null,
} %}

{% block body %}
    <td class="{{ config.name }}__col"></td>
    <td class="{{ config.name }}__col">
        {%- block name -%}
            {{ data.bundle.name | trans }}
        {%- endblock -%}
    </td>
    <td class="{{ config.name }}__col"></td>
    <td class="{{ config.name }}__col"></td>
    <td class="{{ config.name }}__col">
        {%- block total -%}
            {{ data.bundle.price.sumPrice | money(true, data.currencyIsoCode) }}
        {%- endblock -%}
    </td>
{% endblock %}
