{% extends model('component') %}

{% define config = {
    name: 'quick-order-form-field-list',
    tag: 'div'
} %}

{% define data = {
    items: required,
    additionalDataColumnProviderPlugins: required,
} %}

{% block body %}
    <div class="{{ config.name }}__row">
        <div class="{{ config.name }}__col">
            {{ 'quick-order.input-label.sku.name' | trans }}
        </div>
        {% if (data.additionalDataColumnProviderPlugins.measurementUnit is defined) %}
            <div class="{{ config.name }}__col">
                {{ data.additionalDataColumnProviderPlugins.measurementUnit.getColumnTitle() | trans }}
            </div>
        {% endif %}
        <div class="{{ config.name }}__col {{ config.name }}__col--quantity">
            {{ 'quick-order.input-label.qty' | trans }}
        </div>
        {% if (data.additionalDataColumnProviderPlugins.price is defined) %}
            <div class="{{ config.name }}__col {{ config.name }}__col--price">
                {{ data.additionalDataColumnProviderPlugins.price.getColumnTitle() | trans }}
            </div>
        {% endif %}
        <div class="{{ config.name }}__col {{ config.name }}__col--remove"></div>
    </div>
    {% for item in data.items %}
        {% embed molecule('quick-order-form-field', 'QuickOrderPage') with {
            class: config.name ~ '__row',
            data: {
                additionalDataColumnProviderPlugins: data.additionalDataColumnProviderPlugins,
                first: loop.first,
                index: loop.index,
                sku: item.sku,
                qty: item.qty,
                fullName: item.vars.full_name
            },
            embed: {
                name: config.name
            }
        } only %}
            {% block cellClass %}{{ embed.name }}__col{% endblock %}
            {% block removeActionClass %}js-quick-order-form__remove-row-trigger{% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
