{% extends model('component') %}

{% define config = {
    name: 'quick-order-form-field-list',
    tag: 'div'
} %}

{% block body %}
    <div class="grid grid--middle {{ config.name }}__item">
        <div class="col col--sm-7 spacing spacing--inner">
            {{ 'quick-order.input-label.sku.name' | trans }}
        </div>
        <div class="col col--sm-4 spacing spacing--inner">
            {{ 'quick-order.input-label.qty' | trans }}
        </div>
    </div>
    {% for item in data.items %}
        <div class="grid grid--middle {{ config.name }}__item">
            <div class="col col--sm-7 spacing spacing--inner">
                {% if widgetExists('QuickOrderPageProductSearchWidgetPlugin') %}
                    {{ widget(
                        'QuickOrderPageProductSearchWidgetPlugin',
                        'autocomplete' ~ loop.index,
                        item.vars.full_name ~ '[sku]'
                    ) }}
                {% endif %}
            </div>
            <div class="col col--sm-4 spacing spacing--inner">
                {{ form_row(item.qty, {
                    required: loop.first,
                    label: false
                }) }}
            </div>
            <div class="col col--sm-1 spacing spacing--inner">
                {% if not loop.first %}
                    <a href="#remove"
                       class="button button--expand button--warning {% block removeActionClass %}{% endblock %}"
                       data-row-index="{{ loop.index0 }}">
                        {% include atom('icon') with {
                            modifiers: ['small'],
                            data: {
                                name: 'times'
                            }
                        } only %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
