{% extends template('page-layout-sales-return', 'SalesReturnPage') %}

{% define data = {
    returns: _view.returns,
    returnItems: _view.returns.returnItems,
    reurnItemsCount: _view.reurnItemsCount,
} %}

{% block salesReturnContent %}
    <div class="box">
        <h5>{{ 'sales_return.return_details' | trans }}</h5>
        <hr class="box__separator">
        <ul>
            <li>
                {{ 'sales_return.return_reference' | trans }}:
                <strong>{{ data.returns.returnReference }}</strong>
            </li>
            <li>
                {{ 'sales_return.return_date' | trans }}:
                <strong>{{ data.returns.createdAt | formatDateTime }}</strong>
            </li>
        </ul>
        <hr class="box__separator">
        {% include molecule('sales-return-detail-table', 'SalesReturnPage') with {
            data: {
                returnItems: data.returnItems,
            },
        } only %}
    </div>

    <div class="box">
        <hr />
        {% include molecule('sales-return-summary', 'SalesReturnPage') with {
            class: 'text-right',
            data: {
                returns: data.returns,
                reurnItemsCount: data.reurnItemsCount,
            },
        } only %}
    </div>
{% endblock %}
