{% extends model('component') %}

{% define config = {
    name: 'products-list',
    tag: 'ul'
} %}

{% define data = {
    products: required
} %}

{% block body %}
    {% if data.products is not empty %}
        {% for product in data.products %}
            {% set selectedItem = loop.first ? config.name ~ '__item--selected' : '' %}
            <li class="list__item spacing-y spacing-y--inner {{ config.name }}__item {{ selectedItem }}" data-value="{{ product.sku }}">
                {% widget 'ProductDiscontinuedWidget' args [product.sku] only %}
                    {% block body %}
                        {% if data.discontinuedProduct is not empty %}
                            {{ 'product_search_widget.search.product_discontinued_prefix' | trans }}
                        {% endif %}
                    {% endblock %}
                {% endwidget %}
                {{ product.name }} ({{ product.sku }})
            </li>
        {% endfor %}
    {% else %}
        <li class="list__item spacing-y">{{ 'quick-order.search.no_results' | trans }}</li>
    {% endif %}
{% endblock %}
