{% extends model('component') %}

{% set config = {
    name: 'product-info',
    tag: 'section'
} | merge(config | default({})) %}

{% set data = {
    product: data.product,
    maxQuantity: data.maxQuantity | default(10)
} | merge(data | default({})) %}

{% set options = [] %}
{% set brand = data.product.attributes.brand | default(null) %}
{% set sku = data.product.sku %}
{% set availabilityWidget = '' %}
{% set disabled = data.product.idProductConcrete is not defined or data.product.price is null %}
            
{% for index in 1..data.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% if widgetExists('AvailabilityWidgetPlugin') %}
    {% set availabilityWidget = widget('AvailabilityWidgetPlugin', data.product) %}
    {% set disabled = availabilityWidget is empty or data.product.price is null %}
{% endif %}

{% block body %}
    {% if brand is not empty %}
        <h5><small>{{'page.product.by' | trans}}</small> {{brand}}</h5>
    {% endif %}
    <small>{{ 'product.attribute.sku' | trans }}: {{sku}}</small>

    <hr />

    {{ widget('PriceWidgetPlugin', data.product) }}
    {# {{ widgetBlock('ProductReviewWidgetPlugin', 'rating', data.product.idProductAbstract) }} #}
    {% include molecule('variant-configurator', 'ProductDetailPage') with {
        data: {
            superAttributes: data.product.attributeMap.superAttributes,
            selectedAttributes: data.product.selectedAttributes,
            availableAttributes: data.product.availableAttributes
        }
    } only %}
    {# {{ widget('ProductGroupWidgetPlugin', data.product.idProductAbstract) }} #}

    <hr />

    <form class="grid grid--justify grid--bottom" method="POST" action="/cart/add/{{sku}}">
        {{ widget('data.ProductOptionWidgetPlugin', data.product) }}

        <div class="col col--sm-5">
            <label>
                {{'product.quantity' | trans}}
                {% include atom('select') with {
                    modifiers: ['expand'],
                    data: {
                        options: options
                    }
                } only %}
            </label>
        </div>

        <div class="col col--sm-6">
            <button type="submit" class="button button--success button--expand" {{ disabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;">
                {% include atom('icon') with {
                    data: {
                        name: 'cart-plus'
                    }
                } only %}
                {{ 'page.detail.add-to-cart' | trans }}
            </button>
        </div>

        {{ availabilityWidget | raw }}
    </form>

    {# {{ widget('WishlistWidgetPlugin', data.product) }} #}
{% endblock %}
