<div class="callout">
    <a href="{{ url('customer/newsletter') }}" class="float-right">
        <small><i class="fa fa-envelope"></i> {{ 'general.edit.button' | trans }}</small>
    </a>
    <h5>{{ 'customer.account.newsletter' | trans }}</h5>
    <hr>
    <ul class="no-bullet">
        <li>
            {% if _widget.isSubscribed %}
                {{ 'customer.newsletter.subscribed' | trans }}
            {% else %}
                {{ 'customer.newsletter.not_subscribed' | trans }}
            {% endif %}
        </li>
    </ul>
</div>
