{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    forms: {
        address: _view.addressesForm,
        shipping: _view.addressesForm.shippingAddress,
        billing: _view.addressesForm.billingAddress
    },

    title: 'checkout.step.address.title' | trans
} %}

{% block content %}
    {% embed molecule('form') with {
        class: 'box',
        data: {
            title: 'page.checkout.address.shipping-address' | trans,
            form: data.forms.address,
            submit: {
                enable: true,
                text: 'checkout.step.shipment' | trans
            }
        },
        embed: {
            forms: {
                shipping: data.forms.shipping,
                billing: data.forms.billing
            }
        }
    } only %}
        {% block fields %}
            {% set existingShippingAddresses = data.form.shippingAddress.id_customer_address | default %}
            {% set hasShippingAddresses = existingShippingAddresses is not empty %}
            {% set hideShippingAddressForm = existingShippingAddresses is not empty %}
            {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['shippingAddress', embed.forms.shipping.vars.data]) %}
            {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                {% set hasShippingAddresses = true %}
                {% set hideShippingAddressForm = false %}
            {% endif %}

            <div class="js-form-handler__shippingAddress js-form-clear__shippingAddress-form">
                {% if hasShippingAddresses %}
                    <div class="form__field col col--sm-12">
                        <ul class="list spacing-y">
                            {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                                {% widget companyBusinessUnitAddressWidget %}{% endwidget %}
                                {% for address in existingShippingAddresses %}
                                    {% do address.setRendered %}
                                {% endfor %}
                            {% else %}
                                {% for address in existingShippingAddresses %}
                                    <li class="list__item spacing-y">
                                        {{
                                            form_row(address, {
                                                component: molecule('toggler-radio'),
                                                attributes: {
                                                    'target-selector': '.js-address__shipping',
                                                    'class-to-toggle': 'is-hidden',
                                                    'add-class-when-checked': not loop.last
                                                }
                                            })
                                        }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                {% embed molecule('form') with {
                    class: 'js-address__shipping' ~ (hideShippingAddressForm ? ' is-hidden ' : ''),
                    data: {
                        form: embed.forms.shipping,
                        enableStart: false,
                        enableEnd: false,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-2',
                            first_name: 'col col--sm-12 col--lg-5',
                            last_name: 'col col--sm-12 col--lg-5',
                            address1: 'col col--sm-12 col--md-8 col--lg-10',
                            address2: 'col col--sm-12 col--md-4 col--lg-2',
                            zip_code: 'col col--sm-6 col--lg-4',
                            city: 'col col--sm-6 col--lg-4',
                            iso2_code: 'col col--sm-12 col--lg-4'
                        },
                        submit: {
                            enable: false
                        },
                        cancel: {
                            enable: false
                        }
                    }
                } only %}
                    {% block field %}
                        {{ form_row(field, {
                        attr: {
                                'data-key': field.vars.name
                            },
                        rowAttr: {
                                class: config.name ~ '__field ' ~ fieldLayoutClass
                            }
                        }) }}
                    {% endblock %}
                {% endembed %}

            </div>

            <div class="form__field col col--sm-12">
                {{ form_row(data.form.billingSameAsShipping, {
                    component: molecule('toggler-checkbox'),
                    attributes: {
                        'target-selector': '.js-address__billing-same-as-shipping',
                        'class-to-toggle': 'is-hidden',
                        'add-class-when-checked': true
                    }
                }) }}
            </div>

            <div class="js-form-handler__billingAddress js-form-clear__billingAddress-form">
                {% embed molecule('form') with {
                    class: 'is-hidden spacing-top spacing-top--big js-address__billing-same-as-shipping',
                    data: {
                        title: 'page.checkout.address.billing-address' | trans,
                        form: embed.forms.billing,
                        enableStart: false,
                        enableEnd: false,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-2',
                            first_name: 'col col--sm-12 col--lg-5',
                            last_name: 'col col--sm-12 col--lg-5',
                            address1: 'col col--sm-8 col--lg-10',
                            address2: 'col col--sm-4 col--lg-2',
                            zip_code: 'col col--sm-6 col--lg-4',
                            city: 'col col--sm-6 col--lg-4',
                            iso2_code: 'col col--sm-12 col--lg-4'
                        },
                        submit: {
                            enable: false
                        },
                        cancel: {
                            enable: false
                        }
                    }
                } only %}
                    {% block field %}
                        {{ form_row(field, {
                            attr: {
                                'data-key': field.vars.name
                            },
                            rowAttr: {
                                class: config.name ~ '__field ' ~ fieldLayoutClass
                            }
                        }) }}
                    {% endblock %}
                    {% block fields %}
                        {% set existingBillingAddresses = data.form.id_customer_address | default %}
                        {% set hasBillingAddresses = existingBillingAddresses is not empty %}
                        {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['billingAddress', data.form.vars.data]) %}
                        {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                            {% set hasBillingAddresses = true %}
                        {% endif %}

                        {% if hasBillingAddresses %}
                            <div class="form__field col col--sm-12">
                                <ul class="list spacing-y">
                                    {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                                        {% widget companyBusinessUnitAddressWidget %}{% endwidget %}
                                        {% for address in existingBillingAddresses %}
                                            {% do address.setRendered %}
                                        {% endfor %}
                                    {% else %}
                                        {% for address in existingBillingAddresses %}
                                            <li class="list__item spacing-y">
                                                {{
                                                    form_row(address, {
                                                        component: molecule('toggler-radio'),
                                                        attributes: {
                                                            'target-selector': '.js-address__billing',
                                                            'class-to-toggle': 'is-hidden',
                                                            'add-class-when-checked': not loop.last
                                                        }
                                                    })
                                                }}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="js-address__billing">
                            {{parent()}}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
