{% extends model('component') %}

{% define config = {
    name: 'agent-control-bar',
    tag: 'agent-control-bar'
} %}

{% define data = {
    agent: required,
    customer: null
} %}

{% block body %}
    <div class="container">
        <div class="box grid grid--middle">
            <div class="col col--md-5 col--sm-12 spacing--inner">
                {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <form method="GET" action="/">
                        <div class="grid">
                            <div class="col col--sm-9 col--lg-10">
                                {% include molecule('autocomplete-form') with {
                                    attributes: {
                                        'suggestion-url': path('agent-widget/customer-autocomplete'),
                                        'selected-value-key': '_switch_user'
                                    }
                                } only %}
                            </div>

                            <div class="col col--sm-3 col--lg-2">
                                <button type="submit" class="button button--success button--expand">
                                    {{ 'agent.confirm_user_selection' | trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col col--md-7 col--sm-12 text-right">
                <div class="spacing--inner">
                    {{ 'agent.control_bar.username' | trans({
                        '%username%': "#{data.agent.firstName} #{data.agent.lastName}"
                    }) }}
                    <a href="{{ path('agent/logout') }}" class="button">{{ 'agent.control_bar.logout' | trans }}</a>
                </div>
                <div class="spacing--inner">
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        {{ 'agent.control_bar.customer_name' | trans({
                            '%username%': "#{data.customer.firstName} #{data.customer.lastName}"
                        }) }}
                        <a href="/?_switch_user=_exit" class="button">{{ 'agent.control_bar.logout_as_customer' | trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
