{% extends model('component') %}

{% define config = {
    name: 'agent-control-bar',
    tag: 'agent-control-bar'
} %}

{% define data = {
    agent: required,
    customer: null
} %}

{% block body %}
    <div class="container">
        <div class="box grid grid--middle">
            <div class="col col--sm-12 col--xl-7">
                {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <form method="GET" action="/">
                        <div class="grid">
                            <div class="col col--sm-9 col--lg-10">
                                {% include molecule('autocomplete-form') with {
                                    data: {
                                        id: 'agent',
                                        suggestionsUrl: path('agent-widget/customer-autocomplete'),
                                        name: '_switch_user',
                                    },
                                    attributes: {
                                        'suggested-item-class-name': 'customer-list__container-item',
                                        'value-data-attribute': 'data-value',
                                        'show-clean-button': true,
                                    },
                                } only %}
                            </div>

                            <div class="col col--sm-3 col--lg-2">
                                <button type="submit" class="button button--success button--expand">
                                    {{ 'agent.confirm_user_selection' | trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}

                 {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                     {{ 'agent.control_bar.customer_name' | trans({
                         '%username%': "#{data.customer.firstName} #{data.customer.lastName}"
                     }) }}
                     <a href="/?_switch_user=_exit" class="button" title="{{ 'agent.control_bar.logout_as_customer' | trans }}">{{ 'agent.control_bar.logout_as_customer' | trans }}</a>
                 {% endif %}

            </div>
            <div class="col col--sm-12 col--xl-5 text-right">
                {% include molecule('agent-navigation', 'AgentWidget') with {
                    data: {
                        agent: data.agent
                    }
                } only %}
            </div>
        </div>
        <div class="grid grid--middle spacing-bottom spacing-bottom--big">
            <div class="col col--sm-12">
                {% widget 'QuoteRequestAgentOverviewWidget' only %}
                    {% block body %}
                        <div class="box box--dark">
                            {{ parent() }}
                        </div>
                    {% endblock %}
                {% endwidget %}
            </div>
        </div>
    </div>
{% endblock %}
