{% extends model('component') %}

{% define config = {
    name: 'cart-product-packaging-unit',
    tag: 'div'
} %}

{% define data = {
    cartItem: data.cartItem
} %}

{% block body %}
    {% if data.cartItem.quantitySalesUnit is not empty and data.cartItem.amountSalesUnit is not empty %}
        {% set value = data.cartItem.quantitySalesUnit.value %}
        {% set precision = data.cartItem.quantitySalesUnit.precision %}
        {% set salesUnitName = data.cartItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}
        {% set quantity = data.cartItem.quantity %}
        {% set amount = data.cartItem.amount %}
        {% set conversion = data.cartItem.amountSalesUnit.conversion %}
        {% set leadSalesUnitName = data.cartItem.amountSalesUnit.productMeasurementUnit.name | default('') %}

        <li class="list__item">
            <strong>{{ 'packaging_units.cart.quantity' | trans }}&nbsp;</strong>{{ quantity }}
            <span class="float-right">{{ value / precision }} {{ salesUnitName | trans }}</span>
        </li>
        <li class="list__item">
            <strong>{{ 'packaging_units.cart.amount' | trans }}</strong>&nbsp;{{ amount }}
            <span class="float-right">{{ amount / conversion }} {{ leadSalesUnitName | trans }}</span>
        </li>
    {% endif %}
{% endblock body %}