{% extends model('component') %}

{% define config = {
    name: 'cart-product-packaging-unit',
    tag: 'ul'
} %}

{% define data = {
    amount: required,
    quantity: required,
    quantitySalesUnit: required,
    quantityConversion: required,
    quantityProductMeasurementUnit: required,
    amountSalesUnit: required,
    amountConversion: required,
    amountProductMeasurementUnit: required
} %}

{% block body %}
    {% set salesUnitName = data.quantityProductMeasurementUnit.name | default('') %}
    {% set leadSalesUnitName = data.amountProductMeasurementUnit.name | default('') %}

    <li class="{{ config.name }}__item">
        <span>{{ 'packaging_units.cart.quantity' | trans }}&nbsp;</span>
        <div class="{{ config.name }}__box">{{ data.quantity }}</div>
        <small class="text-secondary">
            [= {{ data.quantity / data.quantityConversion }} {{ salesUnitName | trans }}]
        </small>
    </li>
    <li class="{{ config.name }}__item">
        <span>{{ 'packaging_units.cart.amount' | trans }}&nbsp;</span>
        <div class="{{ config.name }}__box">{{ data.amount }}</div>
        <small class="text-secondary">
            [= {{ data.amount / data.amountConversion }} {{ leadSalesUnitName | trans }}]
        </small>
    </li>
{% endblock body %}
