{% extends "@CustomerPage/layout.twig" %}

{% block title %}
    <h3>{{ 'customer.account.order_history' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@CustomerPage/partials/navigation.twig" with {'active': 'order'} %}
{% endblock %}

{% block customerContent %}
    <form action="{{ path('customer/order/reorder-items') }}">
        <input type="hidden" name="id" value="{{ _view.order.idSalesOrder }}">
    <div class="callout">
        <h5>{{ 'customer.profile.order_details' | trans }}</h5>
        <hr>

        <p>
            <strong>{{ 'customer.order.order_id' | trans }}:</strong> {{ _view.order.orderReference }}<br/>
            <strong>{{ 'customer.order.date' | trans }}:</strong> {{ _view.order.createdAt| formatDateTime }}
        </p>

        {% block orderItems %}
            {% include "@CustomerPage/order/partials/order-items.twig" %}
        {% endblock %}

        <div class="row">
            {% include "@CustomerPage/order/partials/details-sum.twig" %}
        </div>
    </div>


    {% include "@CustomerPage/order/partials/details-personal-data.twig" %}

    <div class="callout">
        <div class="row align-bottom">
            <div class="mall-12 medium-6 large-4 column">
                <a href="{{ url('customer/order') }}" class=" button expanded">{{ 'general.back.button' | trans }}</a>
            </div>
            <div class="mall-12 medium-6 large-4 column">
                <a href="{{ path('cart/reorder', {'id': _view.order.idSalesOrder}) }}" class="button success expanded">
                    {{ 'cart.order.reorder' | trans }}
                </a>
            </div>
            <div class="mall-12 medium-6 large-4 column">
                <input type="submit"  class="button expanded" value="{{ 'customer.order.reorder_selected' | trans }}">
            </div>
        </div>
    </div>
    </form>
{% endblock %}
