{% extends "@CustomerPage/layout.twig" %}

{% block title %}
    <h3>{{ 'customer.account.order_history' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@CustomerPage/partials/navigation.twig" with {'active': 'order'} %}
{% endblock %}

{% block customerContent %}
    {#@TODO: new FE. next line is change#}
    {{ widgetBlock('CustomerReorderWidgetPlugin', 'form_start', _view.order) }}
    <div class="callout">
        <h5>{{ 'customer.profile.order_details' | trans }}</h5>
        <hr>

        <p>
            <strong>{{ 'customer.order.order_id' | trans }}:</strong> {{ _view.order.orderReference }}<br/>
            <strong>{{ 'customer.order.date' | trans }}:</strong> {{ _view.order.createdAt| formatDateTime }}
        </p>

        {% block orderItems %}
            {% include "@CustomerPage/order/partials/order-items.twig" %}
        {% endblock %}

        <div class="row">
            {% include "@CustomerPage/order/partials/details-sum.twig" %}
        </div>
    </div>


    {% include "@CustomerPage/order/partials/details-personal-data.twig" %}

    <div class="callout">
        <div class="row align-right">
            <div class="small-12 medium-6 large-4 columns align-bottom">
                {#@TODO: new FE. removed __no-margin-bottom#}
                <a href="{{ url('customer/order') }}" class="button expanded">{{ 'general.back.button' | trans }}</a>
            </div>
            {#@TODO: new FE. next line is change#}
            {{ widgetBlock('CustomerReorderWidgetPlugin', 'form_buttons', _view.order) }}
        </div>
    </div>
    {#@TODO: new FE. next line is change#}
    {{ widgetBlock('CustomerReorderWidgetPlugin', 'form_end', _view.order) }}
{% endblock %}
