{% extends model('component') %}

{% define config = {
    name: 'cart-table',
    tag: 'div'
} %}

{% define data = {
    carts: required,
    cartItemLimit: 2
} %}

{% block body %}
    <h3 class="float-left">{{ 'multi_cart_widget.cart.list' | trans }}</h3>

    <span class="float-right">
        <a class="button" href="{{url('multi-cart/create')}}" title="{{ 'multi_cart_widget.cart.add' | trans }}">{{ 'multi_cart_widget.cart.add' | trans }}</a>
    </span>

    <table class="table table--expand">
        <thead>
            <tr>
                <th>{{ 'multi_cart_widget.cart.cart_name' | trans }}</th>
                <th>{{ 'multi_cart_widget.cart.items' | trans }}</th>
                <th>{{ 'multi_cart_widget.cart.sub_total' | trans }}</th>
                <th>{{ 'multi_cart_widget.cart.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in data.carts %}
            <tr>
                <td>{{ cart.name }}</td>
                <td>
                    {% if cart.items is not empty %}
                        <ul>
                            {% for item in cart.items | slice(0, data.cartItemLimit) %}
                                <li>{{ item.name }}</li>
                            {% endfor %}
                            {% if data.cartItemLimit < cart.items|length %}
                                <li>&hellip;</li>
                            {% endif %}
                        </ul>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if cart.totals is not empty and cart.items is not empty %}
                        {{ cart.totals.subTotal | money }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="{{ path('multi-cart/set-default', {quoteName: cart.name}) }}">
                                {{ 'multi_cart_widget.cart.action.set_default' | trans }}
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="{{ path('multi-cart/update', {quoteName: cart.name}) }}">
                                {{ "multi_cart_widget.cart.action.change_name" | trans }}
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="{{ path('multi-cart/delete', {quoteName: cart.name}) }}">
                                {{ "multi_cart_widget.cart.action.delete" | trans }}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
