{% extends model('component') %}

{% define config = {
    name: 'search-form'
} %}

{% define data = {
    searchUrl: path('search'),
    searchValue: app.request.get('q')
} %}

{% define attribute = {
    'data-search-id': required
} %}

{% block body %}
    <form action="{{data.searchUrl}}">
        <div class="grid">
            <div class="col col--sm-10">
                <input name="q" type="text" class="input input--expand {{ config.jsName }}__input" placeholder="{{ 'global.search' | trans }}" value="{{data.searchValue}}" autocomplete="off">
            </div>
            <div class="col col--sm-2">
                <button type="submit" class="{{config.name}}__submit button button--expand">
                    {% include atom('icon') with {
                        data: {
                            name: 'search'
                        }
                    } only %}
                </button>
            </div>
        </div>

        {% include molecule('suggest-search') with {
            attributes: {
                suggestionUrl: path('search/suggestion'),
                inputSelector: '[data-search-id="' ~ attributes['data-search-id'] ~ '"] .' ~ config.jsName ~ '__input'
            }
        } only %}
    </form>
{% endblock %}
