{% extends model('component') %}

{% define config = {
    name: 'merchant-selector',
    tag: 'merchant-selector',
} %}

{% define data = {
    merchantList: required,
    currentMerchantReference: required,
    currentMerchantNameTemplate: 'currentMerchantName',
    newMerchantNameTemplate: 'newMerchantName',
} %}

{% define attributes = {
    'current-merchant-name-template': data.currentMerchantNameTemplate,
    'new-merchant-name-template': data.newMerchantNameTemplate,
    'message-template': 'merchant_switcher.message' | trans({
        '%currentMerchant%': data.currentMerchantNameTemplate,
        '%newMerchant%': data.newMerchantNameTemplate,
    }),
} %}

{% block body %}
    <form class="{{ config.jsName }}__form {% block formClass %}{% endblock %}" method="POST" action="{{ path('switch-merchant') }}">
        {% block merchantSelect %}
            {% embed atom('select') with {
                modifiers: ['naked'],
                attributes: {
                    name: 'merchant-reference',
                },
                embed: {
                    jsName: config.jsName,
                    merchantList: data.merchantList,
                    currentMerchantReference: data.currentMerchantReference,
                },
            } only %}
                {% block selectClass %}{{ embed.jsName }}__select{% endblock %}

                {% block options %}
                    {% for merchant in embed.merchantList %}
                        <option value="{{ merchant.merchantKey }}" {{ merchant.merchantKey == embed.currentMerchantReference ? 'selected' }}>
                            {{ merchant.name }}
                        </option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    </form>
{% endblock %}
