{% extends model('component') %}

{% set name = 'product-main-info' %}
{% set sku = data.sku %}
{% set price = data.price %}
{% set product = data.product %}
{% set brand = data.brand | default(null) %}
{% set priceOriginal = data.priceOriginal | default(null) %}

{% block body %}
    <div class="callout">
        {% if brand %}
            <h5>
                <small>{{ 'page.product.by' | trans }}</small> 
                {{ brand }}
            </h5>
        {% endif %}

        <p>
            {% if priceOriginal %}
                {% include molecule('price-reduced') with {
                    data: {
                        amount: priceOriginal | money,
                        amonutReduced: price | money
                    }
                } only %}
            {% else %}
                {% include molecule('price') with {
                    data: {
                        amount: price | money
                    }
                } only %}
            {% endif %}

            <br/>
            <small>{{ 'product.attribute.sku' | trans }}: {{ sku }}</small>
        </p>

        {{ widgetBlock('ProductReviewWidgetPlugin', 'rating', product) }}

        {# {% include '@ProductDetailPage/_product-detail-page/_partials/variants.twig' %} #}
    </div>
{% endblock %}
