<div class="small-12 columns">
    <div class="callout">
        {% if _view.success %}
            <div class="__message">
                <div class="callout success">{{ _view.success | trans }}</div>
            </div>
        {% elseif _view.error %}
            <div class="__message">
                <div class="callout alert">{{ _view.error | trans }}</div>
            </div>
        {% endif %}

        <div class="row">
            <p class="small-12 medium-8 columns text-center medium-text-left">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
            <div class="small-12 medium-4 columns">
                {{ form_start(_view.newsletterSubscriptionForm) }}

                    <div class="input-group">
                        <span class="input-group-label">
                            <i class="fa fa-at"></i>
                        </span>
                        {{ form_widget(_view.newsletterSubscriptionForm.subscribe, {'attr': {'class': 'input-group-field', 'placeholder': _view.newsletterSubscriptionForm.subscribe.vars.label}}) }}
                    </div>
                    {{ form_errors(_view.newsletterSubscriptionForm.subscribe) }}

                    <button type="submit" class="button expanded">Subscribe</button>
                {{ form_end(_view.newsletterSubscriptionForm) }}
            </div>
        </div>
    </div>
</div>
