{% extends model('component') %}

{% define config = {
    name: 'product-set-cms-content',
} %}

{% define data = {
    formClass: '',
    buttonClass: '',
    name: '',
    products: required,
    description: '',
    images: [],
} %}

{% block productSetTitle %}
    <h5>{{ 'product.set.detail.set-contents' | trans }}</h5>
{% endblock %}

{% block body %}
    <hr>
    {% block header %}
        {% block addToCartForm %}
            <form method="POST" class="{{ data.formClass }}" action="{{ path('cart/add-items') }}">
                {% set isDisabled = false %}

                {% for product in data.products %}
                    {% if product.idProductConcrete is not empty %}
                        {% if product.available %}
                            <input type="hidden" name="items[{{ loop.index }}][sku]" value="{{ product.sku }}">
                            <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1">
                        {% endif %}
                    {% else %}
                        {% set isDisabled = true %}
                    {% endif %}
                {% endfor %}

                <button type="submit" class="button {{ data.buttonClass }}" {{ isDisabled ? 'disabled' : 'data-init-single-click' }}>
                    {{ 'product.set.detail.add-all-to-cart' | trans }}
                </button>

                {% block title %}
                    {{ block('productSetTitle') }}
                {% endblock %}
            </form>
        {% endblock %}

        {% block description %}
            {% if data.description is not empty %}
                <h6>{{ 'product.attribute.long_description' | trans }}</h6>
                <p>{{ data.description }}</p>
            {% endif %}
        {% endblock %}
    {% endblock %}
    <hr>

    {% block carousel %}
        {% embed molecule('simple-carousel') with {
            data: {
                slides: data.images,
            },
        } only %}
            {% block slide %}
                <div class="text-center">
                    {% include atom('thumbnail') with {
                        modifiers: ['bigger'],
                        attributes: {
                            itemprop: 'image',
                            src: slide.externalUrlLarge,
                        },
                    } only %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
    <hr>

    {% block productSet %}
        <form method="GET">
            <div class="grid grid--stretch">
                {% for product in data.products %}
                    <div class="col col--sm-12 col--lg-4">
                        {% embed molecule('product-item') with {
                            class: 'box--stretch',
                            data: {
                                product: product,
                                sku: '',
                            },
                        } only %}
                            {% block content %}
                                {{parent()}}
                                {% set isNotAvailable = data.product.idProductConcrete and not data.product.available %}

                                {% embed molecule('variant-configurator', 'ProductDetailPage') ignore missing with {
                                    data: {
                                        superAttributes: data.product.attributeMap.superAttributes,
                                        selectedAttributes: data.product.selectedAttributes,
                                        availableAttributes: data.product.availableAttributes,
                                        useExternalForm: true,
                                    },
                                    embed: {
                                        product: data.product,
                                    },
                                } only %}
                                    {% block variant %}
                                        <li class="list__item">
                                            {% include molecule('variant', 'ProductDetailPage') with {
                                                data: {
                                                    name: name,
                                                    formName: 'attributes[' ~ embed.product.idProductAbstract ~ '][' ~ name ~ ']',
                                                    values: values,
                                                    selectedValue: selectedValue,
                                                    label: ('product.attribute.' ~ name) | trans,
                                                    isAvailable: isAvailable,
                                                },
                                            } only %}
                                        </li>
                                    {% endblock %}
                                {% endembed %}

                                {% if isNotAvailable %}
                                    <p>
                                        <strong>{{ 'product.detail.out_of_stock' | trans }}</strong>
                                    </p>
                                {% endif %}
                            {% endblock %}

                            {% block actions %}
                                {% set isDisabled = not data.product.idProductConcrete or not data.product.available %}
                                {% set buttonContent %}
                                    {% include atom('icon') with {
                                        data: {
                                            name: 'cart-plus',
                                        },
                                    } only %}
                                    {{- 'page.detail.add-to-cart' | trans -}}
                                {% endset %}

                                {% if isDisabled %}
                                    <button type="button" class="button button--expand" disabled>
                                        {{- buttonContent -}}
                                    </button>
                                {% else %}
                                    <a href="{{ path('cart/add', {sku: data.product.sku}) }}" class="button button--expand {{ config.jsName }}__link-add-to-cart" data-init-single-click>
                                        {{- buttonContent -}}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </form>
    {% endblock %}
{% endblock %}
