{% extends organism('product-set-details', 'ProductSetWidget') %}

{% define config = {
    name: 'product-set-cms-content',
    tag: 'product-set-cms-content',
} %}

{# @deprecated property "formClass" is deprecated. #}
{% define data = {
    formClass: '',
    buttonClass: '',
    name: 'product.set.detail.set-contents' | trans,
} %}

{% block productSetTitle %}
    <h5>{{ data.name }}</h5>
{% endblock %}

{% block body %}
    {% block header %}
        <hr>
        {% block addToCartForm %}
            {% widget 'AddItemsFormWidget' args [config, data, data.products] with {
                embed: {
                    productSetAddToCartButtonClass: productSetAddToCartButtonClass,
                },
            } only %}
                {% block embeddedData %}
                    {% set isDisabled = false %}

                    {% for product in data.data.products %}
                        {% if product.idProductConcrete is not empty and product.available %}
                            <input type="hidden" name="items[{{ loop.index }}][sku]" class="{{ data.config.jsName }}__product-sku-hidden-input" value="{{ product.sku }}">
                            <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1">
                        {% endif %}

                        {% if product.idProductConcrete is empty %}
                            {% set isDisabled = true %}
                        {% endif %}
                    {% endfor %}

                    {% if (data.data.products | length) %}
                        <button class="button {{ data.data.buttonClass }} {{ embed.productSetAddToCartButtonClass }}" {{ isDisabled ? 'disabled' : 'data-init-single-click' }}>
                            {{ 'product.set.detail.add-all-to-cart' | trans }}
                        </button>
                    {% endif %}
                {% endblock %}
            {% endwidget %}
        {% endblock %}

        {% block title %}
            {{ block('productSetTitle') }}
        {% endblock %}

        {{ block('description') }}
        <hr>
    {% endblock %}

    {% block carousel %}
        {{ parent() }}
        <hr>
    {% endblock %}

    {{ block('productSet') }}
{% endblock %}
