{% extends model('component') %}

{% define config = {
    name: 'summary-overview-multi-shipment',
    tag: 'ul',
} %}

{% define data = {
    totalCosts: required,
    expenses: [],
    voucherDiscounts: [],
    cartRuleDiscounts: [],
    cartQuantity: cartQuantity is defined ? cartQuantity : app['cart.quantity'] | default,
    shipmentGroups: required,

    prices: {
        subTotal: required,
        storeCurrency: required,
        tax: required,
        grandTotal: required,
        discountTotal: null,
    },
} %}

{% block body %}
    {% block overview %}
        <li>
            <span class="float-right">{{ data.cartQuantity }} {{ 'checkout.step.summary.items' | trans }}</span>
            <h6>{{ 'checkout.step.summary.overview' | trans }}</h6>
        </li>
    {% endblock %}

    {% if can('SeePricePermissionPlugin') %}
        <li>
            <strong class="float-right">{{ data.prices.subTotal | money }}</strong>
            <strong>{{ 'checkout.step.summary.sub_total' | trans }}</strong>
        </li>

        {% block separator %}
            <li>
                <hr/>
            </li>
        {% endblock %}

        {% if data.prices.discountTotal %}
            {% if data.voucherDiscounts is not empty %}
                <li>
                    <strong>{{ 'cart.vouchers' | trans }}</strong>
                    {% for voucherDiscount in data.voucherDiscounts %}
                        <div class="grid grid--justify">
                            <span class="col col--sm-10">{{ voucherDiscount.displayName }}</span>
                            <span class="col col--expand text-right">- {{ voucherDiscount.amount | money }}</span>
                        </div>
                    {% endfor %}
                </li>
            {% endif %}

            {% if data.cartRuleDiscounts|length %}
                <li>
                    <strong>{{ 'cart.discounts' | trans }}</strong>
                    {% for ruleDiscount in data.cartRuleDiscounts %}
                        <div class="grid grid--justify">
                            <span class="col col--sm-10">{{ ruleDiscount.displayName }}</span>
                            <span class="col col--expand text-right">- {{ ruleDiscount.amount | money }}</span>
                        </div>
                    {% endfor %}
                </li>
            {% endif %}

            {{ block('separator') }}
        {% endif %}

        <li>
            <strong class="float-right">{{ data.totalCosts | money }}</strong>
            <strong>{{ 'checkout.step.summary.shipment_costs_total' | trans }}</strong>
            {% for shipmentGroup in data.shipmentGroups %}
                <div class="grid grid--justify">
                    <span class="col col--sm-10">{{ shipmentGroup.shipment.method.carrierName }}
                        - {{ shipmentGroup.shipment.method.name }}</span>
                    <span class="col col--expand text-right">{{ shipmentGroup.shipment.method.storeCurrencyPrice | money }}</span>
                </div>
            {% endfor %}
        </li>

        {% widget 'SalesOrderThresholdWidget' args [data.expenses] only %}
            {% block body %}
                {{ block('separator') }}
                <li>
                    {{ parent() }}
                </li>
            {% endblock %}
        {% elsewidget 'SalesOrderThresholdWidgetPlugin' args [data.expenses] only %} {# @deprecated Use SalesOrderThresholdWidget instead. #}
            {% block body %}
                {{ block('separator') }}
                <li>
                    {{ parent() }}
                </li>
            {% endblock %}
        {% endwidget %}

        {{ block('separator') }}

        <li>
            <span class="float-right">{{ data.prices.tax | money }}</span>
            <span>{{ 'checkout.step.summary.tax' | trans }}</span>
        </li>

        {{ block('separator') }}

        <li>
            <h6 class="float-right"><strong>{{ data.prices.grandTotal | money }}</strong></h6>
            <h6><strong>{{ 'checkout.step.summary.grand_total' | trans }}</strong></h6>
        </li>
    {% else %}
        <li>{{ 'customer.access.cannot_see_price' | trans }}</li>
    {% endif %}
{% endblock %}
