{% extends model('component') %}

{% define config = {
    name: 'shared-cart-customers-table',
    tag: 'div'
} %}

{% define data = {
    cart: required
} %}

{% block body %}
    {{ 'shared_cart_widget.share_list.shared_with' | trans }}:
    <table class="table table--expand">
        <thead>
            <tr>
                <th>{{ 'shared_cart_widget.share_list.customer_name' | trans }}</th>
                <th>{{ 'shared_cart_widget.share_list.permission' | trans }}</th>
                <th>{{ 'shared_cart_widget.share_list.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for shareDetail in data.cart.shareDetails %}
            <td>{{ shareDetail.customerName }}</td>
            <td>{{ shareDetail.quotePermissionGroup.name | trans }}</td>
            <td>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="{{ path('shared-cart/un-share', {idQuote: data.cart.idQuote, idCompanyUser: shareDetail.idCompanyUser, idPermissionGroup: shareDetail.quotePermissionGroup.idQuotePermissionGroup}) }}">
                            {{ 'multi_cart_widget.share_list.action.un_share' | trans }}
                        </a>
                    </li>
                </ul>
            </td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
