{% extends model('component') %}

{% define config = {
    name: 'quick-order-row-partial',
    tag: 'quick-order-row-partial'
} %}

{% define data = {
    product: null,
    quantityField: null,
    customQuantityFieldName: null,
    price: null,
    additionalColumns: [],
    messages: null
} %}

{% block body %}
    <div class="grid grid--justify">
        {% if data.additionalColumns is not empty %}
            <div class="col col--sm-3">
                {% for additionalColumn in data.additionalColumns %}
                    <div class="col col--expand spacing spacing--inner">
                        {% block additionalColumn %}
                            {% if data.product and data.product.columns[additionalColumn.dataPath] is defined %}
                                {{ data.product.columns[additionalColumn.dataPath] | trans }}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="col col--sm-5 spacing spacing--inner">
            {% block quantity %}
                {% set options = {
                    required: true,
                    label: false,
                    attr: {
                        class: config.jsName ~ '__quantity',
                        min: 1,
                        max: null,
                        step: 1,
                        disabled: data.product is empty,
                        value: data.product is empty ? null : data.quantityField.vars.value
                    }
                } %}

                {% if (data.customQuantityFieldName) %}
                    {% set options = options|merge({full_name: data.customQuantityFieldName}) %}
                {% endif %}

                {{ form_widget(data.quantityField, options) }}
            {% endblock %}
        </div>

        <div class="col col--sm-4 spacing spacing--inner">
            {% block price %}
                {% include molecule('money-price') with {
                    data: {
                        amount: data.price is empty ? null : data.price
                    }
                } only %}
            {% endblock %}
        </div>
    </div>

    {% if data.messages is not empty %}
        {% for message in data.messages %}
            <div class="{{ config.name }}__message {{ config.name }}__message--{{ message.type }} spacing-bottom spacing-bottom--big">
                {{ message.value | trans(
                    message.parameters
                ) }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
