{% extends model('component') %}

{% define config = {
    name: 'template-list',
} %}

{% define data = {
    templates: required,
} %}

{% block body %}
    {% block title %}
        {% set titleClasses = 'spacing-bottom--big' %}

        {% block titleItem %}
            <h5 class="{{ titleClasses }}">{{ 'configurable_bundle_page.configurator.choose_template' | trans }}</h5>
        {% endblock %}
    {% endblock %}

    {% block content %}
        {% if data.templates | length %}
            {% block list %}
                <ul class="grid {{ config.name }}__list">
                    {% block listInner %}
                        {% for template in data.templates %}
                            {% set listItemClasses = 'col col--sm-12 col--md-6 col--xl-3' %}

                            {% block item %}
                                <li class="{{ listItemClasses }}">
                                    {% block listItemInner %}
                                        {% set slotsPageUrl = path('configurable-bundle/configurator/slots', {'idConfigurableBundleTemplate': template.fkConfigurableBundleTemplate }) %}

                                        {% block template %}
                                            <div class="box box--stretch">
                                                {% block templateTitle %}
                                                    {% set isTitleImage = template.images is defined %}
                                                    {% set titleAdditionalClass = not isTitleImage ? config.name ~ '__item-title--with-background' %}
                                                    {% set titleClasses = config.name ~ '__item-title ' ~ titleAdditionalClass ~ ' grid grid--center grid--middle spacing-bottom' %}

                                                    {% block templateTitleItem %}
                                                        <a href="{{ slotsPageUrl }}" class="{{ titleClasses }}">
                                                            {% block templateTitleItemInner %}
                                                                {% if isTitleImage %}
                                                                    {% set imageModifiers = ['full-width'] %}

                                                                    {% block templateTitleImage %}
                                                                        {% include atom('thumbnail') with {
                                                                            modifiers: imageModifiers,
                                                                            attributes: {
                                                                                src: publicPath(template.images.0.externalUrlSmall),
                                                                                alt: template.name | trans,
                                                                            },
                                                                        } only %}
                                                                    {% endblock %}
                                                                {% else %}
                                                                    {% block templateTitleText %}
                                                                        {{ template.name | trans }}
                                                                    {% endblock %}
                                                                {% endif %}
                                                            {% endblock %}
                                                        </a>
                                                    {% endblock %}
                                                {% endblock %}

                                                {% block button %}
                                                    {% set buttonClasses = 'button button--expand button--success' %}

                                                    {% block buttonItem %}
                                                        <a href="{{ slotsPageUrl }}" class="{{ buttonClasses }}">
                                                            {{- 'configurable_bundle_page.select' | trans -}}
                                                        </a>
                                                    {% endblock %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    {% endblock %}
                                </li>
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </ul>
            {% endblock %}
        {% else %}
            {% block message %}
                <p>
                    {{- 'configurable_bundle_page.configurator.templates_not_found' | trans -}}
                </p>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
