{# mandatory #}
{% set productName = productName %}
{% set idProductAbstract = idProductAbstract %}
{% set priceValue = priceValue %}
{% set imageUrl = imageUrl %}
{% set detailsUrl = detailsUrl %}

{# optional #}
{% set originalPrice = originalPrice | default(null) %}
{% set class = class | default('') %}

<div class="{{ class }} product js-product-container">
    <div class="product__container callout">
        {% block image %}
            <a href="{{ detailsUrl }}" class="thumbnail __preview-image">
                <img src="{{ imageUrl }}">
            </a>
        {% endblock %}

        {% block productLabels %}
            {{ widget('ProductAbstractLabelWidgetPlugin', idProductAbstract) }}
        {% endblock %}

        {% block productGroups %}
            {{ widget('ProductGroupWidgetPlugin', idProductAbstract) }}
        {% endblock %}

        {% block name %}
            <p class="__no-margin-bottom">
                <strong>{{ productName }}</strong>
            </p>
        {% endblock %}

        {% block productRating %}
            {{ widget('ProductAbstractReviewWidgetPlugin', idProductAbstract) }}
        {% endblock %}

        {% block price %}
            {% if priceValue is not null %}
                <p>
                    {% if originalPrice %}
                        <span class="catalog-price__price-original">{{ originalPrice | money }}</span>
                        <span class="catalog-price__price-reduced">{{ priceValue | money }}</span>
                    {% else %}
                        {{ priceValue | money }}
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}

        <div class="product__action">
            {% block actions %}
                <a class="button expanded" href="{{ detailsUrl }}">{{ 'product.view' | trans }} &raquo;</a>
            {% endblock %}
        </div>
    </div>
</div>
