{# mandatory #}
{% set productName = productName %}
{% set idProductAbstract = idProductAbstract %}
{% set priceValue = priceValue %}
{% set imageUrl = imageUrl %}
{% set detailsUrl = detailsUrl %}

{# optional #}
{% set originalPrice = originalPrice | default(null) %}
{% set class = class | default('') %}

<div class="{{ class }} js-product-container">
    <div class="callout">
        <div class="row">
            {% block image %}
                <div class="small-3 medium-2 columns">
                    <a href="{{ detailsUrl }}" class="thumbnail __preview-image __preview-image--small __no-margin-bottom">
                        <img src="{{ imageUrl }}">
                    </a>
                </div>
            {% endblock %}

            <div class="small-6 medium-7 xlarge-8 columns">
                {% block productLabels %}
                    {{ widget('ProductAbstractLabelWidgetPlugin', idProductAbstract) }}
                {% endblock %}

                {% block productGroups %}
                    {{ widget('ProductGroupWidgetPlugin', idProductAbstract) }}
                {% endblock %}

                {% block name %}
                    <p class="__no-margin-bottom">
                        <strong>{{ productName }}</strong>
                    </p>
                {% endblock %}

                {% block productRating %}
                    {{ widget('ProductAbstractReviewWidgetPlugin', idProductAbstract) }}
                {% endblock %}

                {% block price %}
                    {% if priceValue is not null %}
                        <p>
                            {% if originalPrice %}
                                <span class="catalog-price__price-original">{{ originalPrice | money }}</span>
                                <span class="catalog-price__price-reduced">{{ priceValue | money }}</span>
                            {% elseif priceValue %}
                                {{ priceValue | money }}
                            {% endif %}
                        </p>
                    {% endif %}
                {% endblock %}
            </div>

            <div class="small-3 xlarge-2 columns align-self-bottom">
                {% block actions %}
                    <a class="button small expanded __no-margin-bottom" href="{{ detailsUrl }}">{{ 'product.view' | trans }} &raquo;</a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
