{% set class = class | default('') %}

<div class="{{ class }} product js-product-container">
    <div class="product__container callout">
        {% block image %}
            <a href="{{ _widget.detailsUrl }}" class="thumbnail __preview-image">
                <img src="{{ _widget.imageUrl }}">
            </a>
        {% endblock %}

        {% block productLabels %}
            {{ widget('ProductAbstractLabelWidgetPlugin', _widget.idProductAbstract) }}
        {% endblock %}

        {% block productGroups %}
            {{ widget('ProductGroupWidgetPlugin', _widget.idProductAbstract) }}
        {% endblock %}

        {% block name %}
            <p class="__no-margin-bottom">
                <strong>{{ _widget.productName }}</strong>
            </p>
        {% endblock %}

        {% block productRating %}
            {{ widget('ProductReviewWidgetPlugin', _widget.idProductAbstract) }}
        {% endblock %}

        {% block price %}
            <p>
                {# TODO: original price must be an extension of this template #}
                {% if _widget.originalPrice %}
                    <span class="catalog-price__price-original">{{ _widget.originalPrice | money }}</span>
                    <span class="catalog-price__price-reduced">{{ _widget.priceValue | money }}</span>
                {% else %}
                    {{ _widget.priceValue | money }}
                {% endif %}
            </p>
        {% endblock %}

        <div class="product__action">
            {% block actions %}
                <a class="button expanded" href="{{ _widget.detailsUrl }}">{{ 'product.view' | trans }} &raquo;</a>
            {% endblock %}
        </div>
    </div>
</div>
