{% set locale = locale | default(app.locale | slice(0, 2)) %}
{% set title = title | default('global.spryker.shop') | trans %}
{% set metaTitle = metaTitle | default(title) %}
{% set metaDescription = metaDescription | default('') | trans %}
{% set metaKeywords = metaKeywords | default('') | trans %}
{% set bodyClass = bodyClass | default('') %}

{% block template %}
    <!doctype html>
    <html lang="{{ locale }}">
        <head>
            {% block meta %}
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
                <meta name="title" content="{% block metaTitle %}{{ metaTitle }}{% endblock %}" />
                <meta name="description" content="{% block metaDescription %}{{ metaDescription }}{% endblock %}" />
                <meta name="keywords" content="{% block metaKeywords %}{{ metaKeywords }}{% endblock %}" />
                <meta name="generator" content="spryker" />
            {% endblock %}

            {% block headStyles %}
                <link rel="stylesheet" href="/assets/css/yves_default.basics.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.app.css" />
                <link rel="stylesheet" href="/assets/css/yves_default.utils.css" />
            {% endblock %}

            {% block headScripts %}
                <script src="/assets/js/yves_default.manifest.js"></script>
            {% endblock %}

            <title>{% block headTitle %}{{ title }}{% endblock %}</title>
        </head>
        <body {%- if bodyClass is not empty %} class="{{bodyClass}}"{%- endif -%}>
            {% block body %}{% endblock %}

            {% block footerScripts %}
                <script src="/assets/js/yves_default.app.js"></script>
            {% endblock %}
        </body>
    </html>
{% endblock %}
