{% extends model('component') %}

{% define config = {
    name: 'summary-overview',
    tag: 'ul',
} %}

{#
    @deprecated property "shipmentMethod" is deprecated.
    @deprecated property "payments" is deprecated.
    @deprecated property "cartQuantity" is deprecated.
    @deprecated property "prices.storeCurrency" is deprecated.
#}

{% define data = {
    shipmentMethod: required,
    payments: required,
    totalCosts: required,
    expenses: [],
    voucherDiscounts: [],
    cartRuleDiscounts: [],
    cartQuantity: cartQuantity is defined ? cartQuantity : app['cart.quantity'] | default,
    shipmentGroups: required,
    priceMode: null,

    prices: {
        subTotal: required,
        storeCurrency: required,
        tax: required,
        grandTotal: required,
        discountTotal: null,
    },
} %}

{% set priceModeGross = 'GROSS_MODE' %}

{% macro itemDiscounts(discounts, title) %}
    {% if discounts | length %}
        <li>
            <strong>{{ title | trans }}</strong>
            {% for discount in discounts %}
                <div class="grid grid--justify">
                    <span class="col col--sm-10">{{ discount.displayName }}</span>
                    <span class="col col--expand text-right">- {{ discount.amount | money }}</span>
                </div>
            {% endfor %}
        </li>
    {% endif %}
{% endmacro %}

{% block body %}
    {% if can('SeePricePermissionPlugin') %}
        <li>
            <strong class="float-right">{{ data.prices.subTotal | money }}</strong>
            <strong>{{ 'checkout.step.summary.sub_total' | trans }}</strong>
        </li>

        {% block separator %}
            <li><hr></li>
        {% endblock %}

        {% if data.prices.discountTotal %}
            {{ _self.itemDiscounts(data.voucherDiscounts, 'cart.vouchers') }}
            {{ _self.itemDiscounts(data.cartRuleDiscounts, 'cart.discounts') }}
            {{ block('separator') }}
        {% endif %}

        <li>
            <strong class="float-right">{{ data.totalCosts | money }}</strong>
            <strong>{{ 'checkout.step.summary.shipment_costs_total' | trans }}</strong>
            {% for shipmentGroup in data.shipmentGroups %}
                {% set isShipmentMethod = (shipmentGroup.shipment is not empty and shipmentGroup.shipment.method is not empty) %}
                {% set shipmentSourcePrice = isShipmentMethod and shipmentGroup.shipment.method.sourcePrice is defined ? shipmentGroup.shipment.method.sourcePrice %}

                {% if shipmentSourcePrice %}
                    {% set sourceUnitPrice = (data.priceMode == priceModeGross) ? shipmentSourcePrice.grossAmount : shipmentSourcePrice.netAmount %}
                {% else %}
                    {% set sourceUnitPrice = shipmentGroup.shipment.method.storeCurrencyPrice %}
                {% endif %}

                <div class="grid grid--justify">
                    <span class="col col--sm-10">{{ shipmentGroup.shipment.method.carrierName }}
                        - {{ shipmentGroup.shipment.method.name }}</span>
                    <span class="col col--expand text-right">{{ sourceUnitPrice | money }}</span>
                </div>
            {% endfor %}
        </li>

        {% widget 'SalesOrderThresholdWidget' args [data.expenses] only %}
            {% block body %}
                {{ block('separator') }}
                <li>
                    {{ parent() }}
                </li>
            {% endblock %}
        {% elsewidget 'SalesOrderThresholdWidgetPlugin' args [data.expenses] only %} {# @deprecated Use SalesOrderThresholdWidget instead. #}
            {% block body %}
                {{ block('separator') }}
                <li>
                    {{ parent() }}
                </li>
            {% endblock %}
        {% endwidget %}

        {{ block('separator') }}

        <li>
            <span class="float-right">{{ data.prices.tax | money }}</span>
            <span>{{ 'checkout.step.summary.tax' | trans }}</span>
        </li>

        {{ block('separator') }}

        <li>
            <strong class="{{ config.name }}__grand-total-price float-right">{{ data.prices.grandTotal | money }}</strong>
            <h6><strong>{{ 'checkout.step.summary.grand_total' | trans }}</strong></h6>
        </li>
    {% else %}
        <li>{{ 'customer.access.cannot_see_price' | trans }}</li>
    {% endif %}
{% endblock %}
