{% extends template('page-layout-customer', 'CustomerPage') %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'quote_request_page.quote_request' | trans,
                    url: url('quote-request')
                },
                {
                    label: 'quote_request_page.quote_request.create' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% define data = {
    title: 'quote_request_page.quote_request' | trans,
    quoteRequestForm: _view.quoteRequestForm,
    cart: _view.cart,
    cartItems: _view.cartItems
} %}


{% block content %}

    {% if data.cart.items is empty %}
        <div class="box text-center">
            {% include atom('icon') with {
                modifiers: ['biggest'],
                class: 'text-alt',
                data: {
                    name: 'shopping-cart'
                }
            } only %}
            <h6>{{ 'cart.empty' | trans }}</h6>
        </div>
    {% else %}

        {{ form_start(data.quoteRequestForm) }}

        <div class="grid">
            <div class="col col--sm-12 col--xl-8">
                <div class="box">

                    <div class="col col--sm-12 col--xl-6">
                        <div class="box">
                            {{ form_row(data.quoteRequestForm.metadata.purchase_order_number) }}
                            {{ form_row(data.quoteRequestForm.metadata.delivery_date) }}
                        </div>
                    </div>
                    <div class="col col--sm-12 col--xl-6">
                        <div class="box">
                            {{ form_row(data.quoteRequestForm.metadata.note) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col--sm-12 col--xl-4">
                <div class="box">
                    <p>Date: <b>{{ data.quoteRequestForm.vars.value.createdAt }}</b></p>
                    <p>Status: <b>{{ data.quoteRequestForm.vars.value.status }}</b></p>
                    <p>Valid till:</p>
                    <p>History:</p>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col col--sm-12 col--xl-8">
                {% for cartItem in data.cartItems %}
                    {% include molecule('quote-request-cart-item', 'CartPage') with {
                        class: 'box',
                        data: {
                            cartItem: cartItem
                        }
                    } only %}
                {% endfor %}
            </div>

            <div class="col col--sm-12 col--xl-4">
                <div class="box">
                    {% include molecule('quote-request-cart-summary', 'CartPage') with {
                        data: {
                            cart: data.cart
                        }
                    } only %}
                </div>
                <div class="box">
                    <a class="button button--expand button--cancel" href="{{ url('cart') }}">
                        {{ "label.button.cancel" | trans }}
                    </a>
                    <hr/>
                    <button type="submit" class="button button--expand button--success">
                        {{ 'quote_request_page.quote_request.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(data.quoteRequestForm) }}

    {% endif %}
{% endblock %}
