{% extends model('component') %}

{% define config = {
    name: 'shopping-list-overview-table',
} %}

{% define data = {
    shoppingLists: required,
    idShoppingList: null,
    shoppingListForm: null,
    shoppingListResponse: null,
    labels: {
        viewLabel: 'customer.account.shopping_list.overview.view' | trans,
        editLabel: 'customer.account.shopping_list.overview.edit' | trans,
        deleteLabel: 'customer.account.shopping_list.overview.delete' | trans,
        addShoppingListToCartLabel: 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans,
        shareLabel: 'customer.account.shopping_list.overview.share' | trans,
        printLabel: 'customer.account.shopping_list.overview.print' | trans,
        nameLabel: 'customer.account.shopping_list.overview.name' | trans,
        itemCountLabel: 'customer.account.shopping_list.overview.item_count' | trans,
        createdDateLabel: 'customer.account.shopping_list.overview.created_date' | trans,
        ownerLabel: 'customer.account.shopping_list.overview.owner' | trans,
        actionsLabel: 'customer.account.shopping_list.overview.actions' | trans,
        submitLabel: 'forms.submit-btn' | trans
    }
} %}

{% block body %}
<form method="POST" action="{{ path('shopping-list/add-shopping-list-to-cart') }}">
    <button type="submit" class="button button--success" {{qa('submit-button')}}>
        {{ data.labels.addShoppingListToCartLabel }}
    </button>
    <table class="table table--expand">
        <thead>
            <tr>
                <th></th>
                <th class="text-left">{{ data.labels.nameLabel }}</th>
                <th>{{ data.labels.ownerLabel }}</th>
                <th>{{ data.labels.createdDateLabel }}</th>
                <th>{{ data.labels.itemCountLabel }}</th>
                <th>{{ data.labels.actionsLabel }}</th>
            </tr>
        </thead>
        <tbody>
        {% for shoppingList in data.shoppingLists %}
            <tr>
                <td>
                    {% if data.enableTableForm %}
                        <input title="{{ data.labels.addShoppingListToCartLabel }}" type="checkbox" name="shoppingLists[]" value="{{ shoppingList.idShoppingList }}" />
                    {% endif %}
                </td>
                <td>
                    <a class="text-center" href="{{ path('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">{{ shoppingList.name }}</a>
                </td>
                <td class="text-center">{{ shoppingList.owner }}</td>
                <td class="text-center">{{ shoppingList.createdAt | formatDate }}</td>
                <td class="text-center">{{ shoppingList.numberOfItems }}</td>
                <td>
                    <a href="{{ url('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.viewLabel }}</a>
                    {% if can('WriteShoppingListPermissionPlugin', shoppingList.idShoppingList) %}
                        <a href="{{ url('shopping-list/update', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.editLabel }}</a>
                        <a href="{{ url('shopping-list/delete', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.deleteLabel }}</a>
                        <a href="{{ url('shopping-list/share', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.shareLabel }}</a>
                    {% endif %}
                    <a href="{{ url('shopping-list/print', { idShoppingList: shoppingList.idShoppingList }) }}" target="_blank">{{ data.labels.printLabel }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
