{% extends model('component') %}

{% define config = {
    name: 'shopping-list-overview-table',
} %}

{% define data = {
    shoppingLists: required,
    idShoppingList: null,
    shoppingListForm: null,
    enableTableForm: false,
    labels: {
        editLabel: 'customer.account.shopping_list.overview.edit' | trans,
        deleteLabel: 'customer.account.shopping_list.overview.delete' | trans,
        addShoppingListToCartLabel: 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans,
        shareLabel: 'customer.account.shopping_list.overview.share' | trans
    }
} %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr>
                <th></th>
                <th width="40%">{{ 'customer.account.shopping_list.overview.name' | trans }}</th>
                <th width="25%">{{ 'customer.account.shopping_list.overview.item_count' | trans }}</th>
                <th width="20%">{{ 'customer.account.shopping_list.overview.modified_date' | trans }}</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
        {% if data.enableTableForm %}
            <form method="POST" action="{{ path('shopping-list/add-shopping-list-to-cart') }}">
        {% endif %}
        {% for shoppingList in data.shoppingLists %}
            <tr>
                <td>
                    {% if data.enableTableForm %}
                        <input title="{{ data.labels.addShoppingListToCartLabel }}" type="checkbox" name="shoppingLists[]" value="{{ shoppingList.name }}" />
                    {% endif %}
                </td>
                <td>
                    {% if data.shoppingListForm is not null and shoppingList.idShoppingList == data.idShoppingList %}
                        {% include molecule('form') with {
                            class: '',
                            data: {
                                form: data.shoppingListForm,
                                submit: {
                                    enable: true
                                }
                            }
                        } only %}
                    {% else %}
                        <a href="{{ path('shopping-list/details', { shoppingListName: shoppingList.name }) }}">{{ shoppingList.name }}</a>
                    {% endif %}
                </td>
                <td>{{ shoppingList.numberOfItems }}</td>
                <td>{{ shoppingList.updatedAt | formatDate }}</td>
                <td>
                    <a href="{{ url('shopping-list/update', { shoppingListName: shoppingList.name }) }}">{{ data.labels.editLabel }}</a>
                    <a href="{{ url('shopping-list/delete', { shoppingListName: shoppingList.name }) }}">{{ data.labels.deleteLabel }}</a>
                    <a href="{{ url('shopping-list/share', { shoppingListName: shoppingList.name }) }}">{{ data.labels.shareLabel }}</a>
                </td>
            </tr>
        {% endfor %}
        {% if data.enableTableForm %}
                <button type="submit" class="button button--success col col--sm-12 col--md-5 col--lg-3" {{qa('submit-button')}}>
                    {{ data.labels.addShoppingListToCartLabel }}
                </button>
            </form>
        {% endif %}
        </tbody>
    </table>
{% endblock %}