{% extends model('component') %}

{% define config = {
    name: 'shopping-list-overview-table',
} %}

{% define data = {
    shoppingLists: required,
    idShoppingList: null,
    shoppingListForm: null,
    shoppingListResponse: null
} %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr>
                <th></th>
                <th class="text-left">{{ 'customer.account.shopping_list.overview.name' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.owner' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.created_date' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.access' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.item_count' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for shoppingList in data.shoppingLists %}

            {% set hasWritePermission = can('WriteShoppingListPermissionPlugin', shoppingList.idShoppingList) %}

            <tr>
                <td>
                    {% if data.enableTableForm %}
                        <input title="{{ 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans }}" type="checkbox" name="shoppingLists[]" value="{{ shoppingList.idShoppingList }}">
                    {% endif %}
                </td>
                <td class="{{ config.name }}__name">
                    <a class="text-center" href="{{ path('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">{{ shoppingList.name }}</a>
                </td>
                <td class="text-center">{{ shoppingList.owner }}</td>
                <td class="text-center">{{ shoppingList.createdAt | formatDate }}</td>
                <td class="text-center">
                    {% include molecule('shopping-list-permission', 'ShoppingListPage') with {
                        data: {
                            hasWritePermission: hasWritePermission
                        }
                    } only %}
                </td>
                <td class="text-center">{{ shoppingList.numberOfItems }}</td>
                <td>
                    {% include molecule('shopping-list-action-navigation', 'ShoppingListPage') with {
                        data: {
                            hasWritePermission: hasWritePermission,
                            idShoppingList: shoppingList.idShoppingList,
                            shoppingList: shoppingList
                        }
                    } only %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
