{% extends model('component') %}

{% define config = {
    name: 'shopping-list-overview-table',
} %}

{% define data = {
    shoppingLists: required,
    idShoppingList: null,
    shoppingListForm: null,
    enableTableForm: false,
    shoppingListResponse: null,
    labels: {
        editLabel: 'customer.account.shopping_list.overview.edit' | trans,
        deleteLabel: 'customer.account.shopping_list.overview.delete' | trans,
        addShoppingListToCartLabel: 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans,
        shareLabel: 'customer.account.shopping_list.overview.share' | trans,
        nameLabel: 'customer.account.shopping_list.overview.name' | trans,
        itemCountLabel: 'customer.account.shopping_list.overview.item_count' | trans,
        modifiedDateLabel: 'customer.account.shopping_list.overview.modified_date' | trans,
        ownerLabel: 'customer.account.shopping_list.overview.owner' | trans,
        actionsLabel: 'customer.account.shopping_list.overview.actions' | trans,
        submitLabel: 'forms.submit-btn' | trans
    }
} %}

{% block body %}
    <table class="table table--expand">
        <thead>
            <tr>
                <th></th>
                <th class="text-left">{{ data.labels.nameLabel }}</th>
                <th>{{ data.labels.ownerLabel }}</th>
                <th>{{ data.labels.itemCountLabel }}</th>
                <th>{{ data.labels.modifiedDateLabel }}</th>
                <th>{{ data.labels.actionsLabel }}</th>
            </tr>
        </thead>
        <tbody>
        {% if data.enableTableForm %}
            <form method="POST" action="{{ path('shopping-list/add-shopping-list-to-cart') }}">
        {% endif %}
        {% for shoppingList in data.shoppingLists %}
            <tr>
                <td>
                    {% if data.enableTableForm %}
                        <input title="{{ data.labels.addShoppingListToCartLabel }}" type="checkbox" name="shoppingLists[]" value="{{ shoppingList.idShoppingList }}" />
                    {% endif %}
                </td>
                <td>
                    {% if data.shoppingListForm is not null and shoppingList.idShoppingList == data.idShoppingList %}
                        {% if data.shoppingListResponse is not null and data.shoppingListResponse.errors is not empty %}
                            <ul class="form-field__error-list list list--bullet">
                                {% for error in  data.shoppingListResponse.errors %}
                                    <li class="form-field__error list__item">{{ error | trans }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form_start(data.shoppingListForm) }}
                            {{ form_errors(data.shoppingListForm) }}

                            {% for field in data.shoppingListForm.children | keys %}
                                <div>
                                    {{ form_row(attribute(data.shoppingListForm.children, field)) }}
                                </div>
                            {% endfor %}

                            <button type="submit" class="button button--success float-right">
                                {{data.labels.submitLabel}}
                            </button>
                        {{ form_end(data.shoppingListForm) }}
                    {% else %}
                        <a class="text-center" href="{{ path('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">{{ shoppingList.name }}</a>
                    {% endif %}
                </td>
                <td class="text-center">{{ shoppingList.owner }}</td>
                <td class="text-center">{{ shoppingList.numberOfItems }}</td>
                <td class="text-center">{{ shoppingList.updatedAt | formatDate }}</td>
                <td>
                    {% if can('WriteShoppingListPermissionPlugin', shoppingList.idShoppingList) %}
                        <a href="{{ url('shopping-list/update', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.editLabel }}</a>
                        <a href="{{ url('shopping-list/delete', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.deleteLabel }}</a>
                        <a href="{{ url('shopping-list/share', { idShoppingList: shoppingList.idShoppingList }) }}">{{ data.labels.shareLabel }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if data.enableTableForm %}
                <button type="submit" class="button button--success col col--sm-12 col--md-5 col--lg-3" {{qa('submit-button')}}>
                    {{ data.labels.addShoppingListToCartLabel }}
                </button>
            </form>
        {% endif %}
        </tbody>
    </table>
{% endblock %}