{% extends model('component') %}

{% define config = {
    name: 'shopping-list-overview-table',
} %}

{% define data = {
    shoppingLists: required,
    idShoppingList: null,
    shoppingListForm: null,
    shoppingListResponse: null,
} %}

{% block body %}
<form method="POST" action="{{ path('shopping-list/add-shopping-list-to-cart') }}">
    <button type="submit" class="button button--success" {{qa('submit-button')}}>
        {{ 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans }}
    </button>
    <table class="table table--expand">
        <thead>
            <tr>
                <th></th>
                <th class="text-left">{{ 'customer.account.shopping_list.overview.name' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.owner' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.created_date' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.item_count' | trans }}</th>
                <th>{{ 'customer.account.shopping_list.overview.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for shoppingList in data.shoppingLists %}
            <tr>
                <td>
                    {% if data.enableTableForm %}
                        <input title="{{ 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans }}" type="checkbox" name="shoppingLists[]" value="{{ shoppingList.idShoppingList }}" />
                    {% endif %}
                </td>
                <td>
                    <a class="text-center" href="{{ path('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">{{ shoppingList.name }}</a>
                </td>
                <td class="text-center">{{ shoppingList.owner }}</td>
                <td class="text-center">{{ shoppingList.createdAt | formatDate }}</td>
                <td class="text-center">{{ shoppingList.numberOfItems }}</td>
                <td>
                    <a href="{{ url('shopping-list/details', { idShoppingList: shoppingList.idShoppingList }) }}">
                        {{ 'customer.account.shopping_list.overview.view' | trans }}
                    </a>
                    {% if can('WriteShoppingListPermissionPlugin', shoppingList.idShoppingList) %}
                        <a href="{{ url('shopping-list/update', { idShoppingList: shoppingList.idShoppingList }) }}">
                            {{ 'customer.account.shopping_list.overview.edit' | trans }}
                        </a>
                        <a href="{{ url('shopping-list/delete', { idShoppingList: shoppingList.idShoppingList }) }}">
                            {{ 'customer.account.shopping_list.overview.delete' | trans }}
                        </a>
                        <a href="{{ url('shopping-list/share', { idShoppingList: shoppingList.idShoppingList }) }}">
                            {{ 'customer.account.shopping_list.overview.share' | trans }}
                        </a>
                    {% endif %}
                    <a href="{{ url('shopping-list/print', { idShoppingList: shoppingList.idShoppingList }) }}" target="_blank">
                        {{ 'customer.account.shopping_list.overview.print' | trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
