{% extends model('component') %}

{% define config = {
    name: 'filter-category',
} %}

{% define data = {
    filter: null,
    filterPath: null,
    categories: prepareFilterCategories(data.filter, data.category.node_id | default(0)),
    category: null,
    isEmptyCategoryFilterValueVisible: null,
    parentJsName: '',
} %}

{% block component %}
    {% if data.categories is not empty %}{{ parent() }}{% endif %}
{% endblock %}

{% block body %}

    <ul class="menu">
        {% for categoryNode in data.categories %}
{#            {% set quantity = 0 %}#}

{#            {% for filterValue in data.filter.values if (filterValue.value == categoryNode.nodeId) %}#}
{#                {% set quantity = filterValue.docCount %}#}
{#            {% endfor %}#}

{#            {% set categoryUrl = data.filterPath is not empty ? url(data.filterPath, {categoryPath: ( categoryNode.url | trimLocale )}) : categoryNode.url %}#}
{#            {% set triggerButtonJsName = data.parentJsName ? data.parentJsName ~ '__trigger' %}#}

            {% if (categoryNode.quantity > 0) or (categoryNode.quantity <= 0 and data.isEmptyCategoryFilterValueVisible == true) %}
                {% set childrenClass = categoryNode.hasChildren ? 'menu__item--has-children-list' %}
                {% set isDisabled = categoryNode.quantity == 0 ? 'disabled' %}

                <li class="menu__item {{ childrenClass }}">
                    <button class="link {{ data.parentJsName ? data.parentJsName ~ '__trigger' }}" type="button" {{ isDisabled }} data-url={{ categoryNode.url }}>
                        {{ categoryNode.name }} ({{ categoryNode.quantity }})
                    </button>

                    {% if categoryNode.hasChildren %}
                        {% include molecule('filter-category', 'CatalogPage') with {
                            data: {
                                filter: data.filter,
                                filterPath: data.filterPath,
                                categories: categoryNode.children,
                                isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible,
                                parentJsName: data.parentJsName,
                            },
                        } only %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
