{% extends model('component') %}
{% import model('component') as component %}

{% define config = {
    name: 'password-complexity-indicator',
    tag: 'password-complexity-indicator',
} %}

{% define attributes = {
    'input-class-name': required,
    'debounce-delay': 500,
    'min-length': 8,
    'min-lowercase': 1,
    'min-uppercase': 1,
    'min-numbers': 1,
    'min-symbols': 1,
} %}

{% block body %}
    {% block indicatorList %}
        <ul class="{{ config.name }}__indicator-list {{ config.jsName }}__indicator-list">
            <li class="{{ config.name }}__indicator-item"></li>
            <li class="{{ config.name }}__indicator-item"></li>
            <li class="{{ config.name }}__indicator-item"></li>
            <li class="{{ config.name }}__indicator-item"></li>
            {% block message %}
                <li
                    class="{{ config.name }}__message"
                    data-week="{{ 'password.week' | trans }}"
                    data-medium="{{ 'password.medium' | trans }}"
                    data-strong="{{ 'password.strong' | trans }}"
                    data-very-strong="{{ 'password.very.strong' | trans }}"
                >&nbsp;</li>
            {% endblock %}
        </ul>
    {% endblock %}

    <div class="{{ config.name }}__additional-message {{ config.jsName }}__additional-message">
        {% block additionalMessage %}
            {{ 'password.message' | trans }}
        {% endblock %}
    </div>
{% endblock %}
