{% extends model('component') %}
{% import model('component') as component %}

{% define config = {
    name: 'password-complexity-indicator',
    tag: 'password-complexity-indicator',
} %}

{% define attributes = {
    'input-class-name': required,
    'debounce-delay': 500,
    'min': 8,
    'lowercase': 1,
    'uppercase': 1,
    'digits': 1,
    'symbols': 1,
} %}

{% block body %}
    {% block indicatorList %}
        <ul class="{{ config.name }}__indicator-list {{ config.jsName }}__indicator-list">
            {% block indicatorItems %}
                {% for i in 1..4 %}
                    <li class="{{ config.name }}__indicator-item"></li>
                {% endfor %}
            {% endblock %}

            {% block message %}
                <li
                    class="{{ config.name }}__message"
                    data-weak="{{ 'password.weak' | trans }}"
                    data-medium="{{ 'password.medium' | trans }}"
                    data-strong="{{ 'password.strong' | trans }}"
                    data-very-strong="{{ 'password.very.strong' | trans }}"
                >&nbsp;</li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% block additionalMessage %}
        <div class="{{ config.name }}__additional-message {{ config.jsName }}__additional-message">
            {% block additionalMessageContent %}
                {{ 'password.message' | trans }}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
