{% extends model('component') %}
{% import model('component') as component %}

{% define config = {
    name: 'password-complexity-indicator',
    tag: 'password-complexity-indicator',
} %}

{% define data = {

} %}

{% block body %}
    <ul class="{{ config.name }}__indicator-list">
        <li class="{{ config.name }}__indicator-item"></li>
        <li class="{{ config.name }}__indicator-item"></li>
        <li class="{{ config.name }}__indicator-item"></li>
        <li class="{{ config.name }}__indicator-item"></li>
        <li class="{{ config.name }}__indicator-message"></li>
    </ul>
{% endblock %}
