{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    form: _view.shoppingListForm,
    shoppingList: _view.shoppingList,
    shoppingListItemProducts: _view.shoppingListItemProducts,
    labels: {
        addAllToCartLabel: 'customer.account.shopping_list.add_all_available_to_cart' | trans,
        printShoppingList: 'customer.account.shopping_list.print_shopping_list' | trans,
        productLabel: 'customer.account.shopping_list.product' | trans,
        priceLabel: 'customer.account.shopping_list.price' | trans,
        variantLabel: 'customer.account.shopping_list.overview.variant' | trans,
        availabilityLabel: 'customer.account.shopping_list.availability' | trans,
        productAvailableLabel: 'customer.account.shopping_list.available' | trans,
        productNotAvailableLabel: 'customer.account.shopping_list.not_available' | trans,
        shoppingListEmptyLabel: 'customer.account.shopping_list.empty' | trans,
        quantityLabel: 'customer.account.shopping_list.quantity' | trans,
        addItemToCartLabel: 'customer.account.shopping_list.add-to-cart' | trans,
        removeItemFromShoppingListLabel: 'customer.account.shopping_list.remove' | trans,
        actionsLabel: 'customer.account.shopping_list.overview.actions' | trans,
        deleteLabel: 'customer.account.shopping_list.overview.delete' | trans,
        removeAllItemsLabel: 'Remove all'
    }
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.shoppingList.idShoppingList) }}
{% endblock %}

{% block customerContent %}
    <div class="box">
        <div class="form" data-qa="component form">
            {{ form_start(data.form) }}

            <div class="form__container">
                {{ form_errors(data.form) }}

                <div class="form__fields grid grid--bottom">
                        {{ form_row(data.form.idShoppingList) }}

                        {{ form_row(data.form.name, {
                            rowAttr: {
                                class: 'form__field col col--sm-12'
                            }
                        }) }}

                        <div class="form__field col col--sm-12">
                            <div class="grid">
                                <div class="col col--sm-6">
                                    <strong>{{ 'customer.account.shopping_list.overview.owner' | trans }}:</strong>
                                    {{ data.shoppingList.owner }}
                                </div>

                                <div class="col col--sm-6">
                                    <strong>{{ 'customer.account.shopping_list.access' | trans }}:</strong>
                                    {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) %}
                                        {{ 'customer.account.shopping_list.access.full_access' | trans }}
                                    {% else %}
                                        {{ 'customer.account.shopping_list.access.read_only' | trans }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if data.shoppingList.items | length %}
                        <table class="table table--expand">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2">{{ data.labels.productLabel  }}</th>
                                    <th class="text-center">{{ data.labels.priceLabel  }}</th>
                                    <th class="text-center">{{ data.labels.quantityLabel }}</th>
                                    <th class="text-center">{{ data.labels.availabilityLabel  }}</th>
                                    <th class="text-center">{{ data.labels.actionsLabel }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, shoppingListItem in data.shoppingList.items %}
                                {% set product = data.shoppingListItemProducts[shoppingListItem.idShoppingListItem] %}
                                {% set isProductAvailable = product.available is defined and product.available and product.price is defined and product.price is not null %}
                                {% if widgetExists('ProductDiscontinuedWidgetPlugin') %}
                                    {% set isDiscontinued = widgetBlock('ProductDiscontinuedWidgetPlugin', 'isDiscontinued', product.sku) %}
                                    {% set isProductAvailable = not isDiscontinued and isProductAvailable %}
                                {% endif %}
                                <tr>
                                    <td class="text-center">
                                        {% if product.images is defined and product.images is not empty %}
                                            {% include atom('thumbnail') with {
                                                modifiers: ['small', 'min-size'],
                                                attributes: {
                                                    alt: product.name,
                                                    src: product.images.0.externalUrlSmall,
                                                    title: product.name
                                                }
                                            } only %}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ product.url }}">{{ product.name }}</a>
                                        <div><small>{{ product.sku }}</small></div>
                                        {% for attribute in product.superAttributesDefinition %}
                                            {% if product.attributes[attribute] is defined %}
                                                {{ ('product.attribute.'~attribute) | trans }}: {{ product.attributes[attribute] }} <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td nowrap="nowrap" class="text-center">
                                        {% if product.price is not null %}
                                            {% include molecule('price') with {
                                                data: {
                                                    amount: product.price | money,
                                                    originalAmount: product.prices.ORIGINAL is not defined or product.prices.ORIGINAL is empty ? null : (product.prices.ORIGINAL | money)
                                                }
                                            } only %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {{ form_row(data.form.items[key].quantity, {disabled: not isProductAvailable, type: 'number'}) }}
                                    </td>
                                    <td class="text-center">
                                        {% if isProductAvailable %}
                                            {{ data.labels.productAvailableLabel }}
                                        {% else %}
                                            {% if widgetExists('ProductDiscontinuedWidgetPlugin') %}
                                                {{ widget('ProductDiscontinuedWidgetPlugin', product.sku) }}
                                            {% else %}
                                                {{ data.labels.productNotAvailableLabel }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="button button--alert" href="{{ path('shopping-list/remove-item', {
                                            idShoppingList: data.shoppingList.idShoppingList, idShoppingListItem: shoppingListItem.idShoppingListItem
                                        }) }}">
                                            {{data.labels.removeItemFromShoppingListLabel}}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                    <td>
                                        <a class="" href="{{ path('shopping-list/clear', {idShoppingList: data.shoppingList.idShoppingList}) }}">
                                            {{ data.labels.removeAllItemsLabel }}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% else %}
                            <div class="form__field col col--sm-12 text-center">
                                <hr />
                                {{ data.labels.shoppingListEmptyLabel }}
                            </div>
                        {% endif %}
                </div>


                <div class="form__actions">
                    <div class="col col--sm-6 text-left">
                        <a class="button button--alert" href="{{ path('shopping-list/delete', {idShoppingList: data.shoppingList.idShoppingList}) }}">{{ data.labels.deleteLabel }}</a>
                    </div>
                    <div class="col col--sm-6">
                        <a href="{{ path('shopping-list') }}" class="form__action button button--secondary button--hollow'">
                            {{ 'general.back.button' | trans }}
                        </a>
                        <button type="submit" class="form__action button button--success">
                            {{ 'forms.submit-btn' | trans }}
                        </button>
                    </div>
                </div>
            </div>

            {% do data.form.items.setRendered %}

            {{ form_end(data.form) }}
        </div>

    </div>
{% endblock %}
