{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    form: _view.shoppingListForm,
    shoppingList: _view.shoppingList,
    shoppingListItemProducts: _view.shoppingListItemProducts,
    idShoppingList: _view.shoppingList.idShoppingList | default
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            },{
                label: 'customer.account.shopping_list.overview.edit' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.idShoppingList) }}
{% endblock %}

{% block customerContent %}

    {% set hasWritePermission = can('WriteShoppingListPermissionPlugin', data.idShoppingList) %}
    <div class="box">
        <div class="form" data-qa="component form">
            {{ form_start(data.form) }}

            {{ form_errors(data.form) }}

            <div class="grid grid--bottom">
                {{ form_row(data.form.idShoppingList) }}

                {{ form_row(data.form.name, {
                    rowAttr: {
                        class: 'col col--sm-12'
                    }
                }) }}

                <div class="col col--sm-12">
                    {% embed molecule('shopping-list-info', 'ShoppingListPage') with {
                        class: 'spacing-y spacing-y--big',
                        data: {
                            shoppingList: data.shoppingList
                        }
                    } only %}
                        {% block sharedBlock %}{% endblock %}
                    {% endembed %}
                </div>

                <div class="col col--sm-12">
                    {% if data.shoppingList.items is not empty %}
                        {% include molecule('shopping-list-overview-update-table', 'ShoppingListPage') with {
                            class: 'spacing-bottom spacing-bottom--big',
                            data: {
                                shoppingListItems: data.shoppingList.items,
                                idShoppingList: data.idShoppingList,
                                shoppingList: data.shoppingList,
                                shoppingListItemProducts: data.shoppingListItemProducts,
                                form: data.form
                            }
                        } only %}
                    {% else %}
                        <div class="col col--sm-12 text-center">
                            <hr />
                            {{ 'customer.account.shopping_list.empty' | trans }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="grid">
                <div class="col col--sm-6 text-left">
                    <a class="button button--alert" href="{{ path('shopping-list/delete/confirm', {idShoppingList: data.idShoppingList}) }}">{{ 'customer.account.shopping_list.overview.delete' | trans }}</a>
                </div>
                <div class="col col--sm-6 text-right">
                    <a href="{{ path('shopping-list') }}" class="button spacing-right">
                        {{ 'general.back.button' | trans }}
                    </a>
                    <button type="submit" class="button button--success">
                        {{ 'forms.submit-btn' | trans }}
                    </button>
                </div>
            </div>

            {% do data.form.items.setRendered %}

            {{ form_end(data.form) }}
        </div>

    </div>
{% endblock %}
