{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    form: _view.shoppingListForm,
    shoppingList: _view.shoppingList,
    shoppingListItemProducts: _view.shoppingListItemProducts,
    idShoppingList: _view.shoppingList.idShoppingList | default
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            },{
                label: 'customer.account.shopping_list.overview.edit' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.idShoppingList) }}
{% endblock %}

{% block customerContent %}

    {% set hasWritePermission = can('WriteShoppingListPermissionPlugin', data.idShoppingList) %}
    <div class="box">
        <div class="form" data-qa="component form">
            {{ form_start(data.form) }}

            {{ form_errors(data.form) }}

            <div class="grid grid--bottom">
                {{ form_row(data.form.idShoppingList) }}

                {{ form_row(data.form.name, {
                    rowAttr: {
                        class: 'col col--sm-12'
                    }
                }) }}

                <div class="col col--sm-12">
                    <div class="grid spacing">
                        <div class="col col--sm-6">
                            <strong>{{ 'customer.account.shopping_list.overview.owner' | trans }}:</strong>
                            {{ data.shoppingList.owner }}
                        </div>
                        <div class="col col--sm-6">
                            <strong>{{ 'customer.account.shopping_list.access' | trans }}:</strong>
                            {% include molecule('shopping-list-permission', 'ShoppingListPage') with {
                                data: {
                                    hasWritePermission: hasWritePermission
                                }
                            } only %}
                        </div>
                    </div>
                </div>

                {% if data.shoppingList.items is not empty %}
                    <table class="table table--expand">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="3">{{ 'customer.account.shopping_list.product' | trans }}</th>
                                <th class="text-center">{{ 'customer.account.shopping_list.price' | trans }}</th>
                                <th class="text-center">{{ 'customer.account.shopping_list.quantity' | trans }}</th>
                                <th class="text-center">{{ 'customer.account.shopping_list.availability' | trans }}</th>
                                <th class="text-center">{{ 'customer.account.shopping_list.overview.actions' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for key, shoppingListItem in data.shoppingList.items %}
                        {% set product = data.shoppingListItemProducts[shoppingListItem.idShoppingListItem] %}
                        {% set isProductAvailable = product.available is defined and product.available and product.price is defined and product.price is not null %}
                        {% if widgetExists('ProductDiscontinuedWidgetPlugin') %}
                            {% set isDiscontinued = widgetBlock('ProductDiscontinuedWidgetPlugin', 'isDiscontinued', product.sku) %}
                            {% set isProductAvailable = not isDiscontinued and isProductAvailable %}
                        {% endif %}
                            <tr>
                                <td>&nbsp;</td>
                                <td class="text-center">
                                    {% if product.images is defined and product.images is not empty and product.images.0.externalUrlSmall is not empty %}
                                        {% include atom('thumbnail') with {
                                            modifiers: ['small', 'min-size'],
                                            attributes: {
                                                alt: product.name | default,
                                                src: product.images.0.externalUrlSmall,
                                                title: product.name | default
                                            }
                                        } only %}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if product.name is not empty %}
                                        <a href="{% if product.url is not empty %}{{ product.url }}{% endif %}">{{ product.name }}</a>
                                    {% endif %}
                                    {% if product.sku is not empty %}
                                        <div><small>{{ product.sku }}</small></div>
                                    {% endif %}
                                    {% for attribute in product.superAttributesDefinition %}
                                        {% if product.attributes[attribute] is defined %}
                                            {{ ('product.attribute.'~attribute) | trans }}: {{ product.attributes[attribute] }} <br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td nowrap="nowrap" class="text-center">
                                    {% if product.price is not null %}
                                        {% include molecule('price') with {
                                            data: {
                                                amount: product.price | money,
                                                originalAmount: product.prices.ORIGINAL is not defined or product.prices.ORIGINAL is empty ? null : (product.prices.ORIGINAL | money)
                                            }
                                        } only %}
                                    {% else %}
                                        {{ 'product_alternative_widget.not_applicable' | trans }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ form_row(data.form.items[key].quantity, {'attr': {'readonly': not isProductAvailable}, type: 'number'}) }}
                                </td>
                                <td class="text-center">
                                    {% if isProductAvailable %}
                                        {{ 'customer.account.shopping_list.available' | trans }}
                                    {% else %}
                                        {% if widgetExists('ProductDiscontinuedWidgetPlugin') %}
                                            {{ widget('ProductDiscontinuedWidgetPlugin', product.sku) }}
                                        {% else %}
                                            {{ 'customer.account.shopping_list.not_available' | trans }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="button button--alert" href="{{ path('shopping-list/remove-item', {
                                        idShoppingList: data.idShoppingList, idShoppingListItem: shoppingListItem.idShoppingListItem
                                    }) }}">
                                        {{'customer.account.shopping_list.remove' | trans}}
                                    </a>
                                </td>
                            </tr>
                            {% if can('WriteShoppingListPermissionPlugin', data.shoppingList.idShoppingList) and widgetExists('ProductAlternativeWidgetPlugin') %}
                                {{ widget('ProductAlternativeWidgetPlugin', product, data.shoppingList) }}
                            {% endif %}
                        {% endfor %}
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <a href="{{ path('shopping-list/clear', {idShoppingList: data.idShoppingList}) }}">
                                        {{ 'shopping_list.remove_all_items' | trans }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="col col--sm-12 text-center">
                        <hr />
                        {{ 'customer.account.shopping_list.empty' | trans }}
                    </div>
                {% endif %}
            </div>

            <div class="grid">
                <div class="col col--sm-6 text-left">
                    <a class="button button--alert" href="{{ path('shopping-list/delete/confirm', {idShoppingList: data.idShoppingList}) }}">{{ 'customer.account.shopping_list.overview.delete' | trans }}</a>
                </div>
                <div class="col col--sm-6 text-right">
                    <a href="{{ path('shopping-list') }}" class="button spacing-right">
                        {{ 'general.back.button' | trans }}
                    </a>
                    <button type="submit" class="button button--success">
                        {{ 'forms.submit-btn' | trans }}
                    </button>
                </div>
            </div>

            {% do data.form.items.setRendered %}

            {{ form_end(data.form) }}
        </div>

    </div>
{% endblock %}
