{# @var quote \Generated\Shared\Transfer\QuoteTransfer #}
{# @var quote.items \Generated\Shared\Transfer\item[] #}

{% extends template('page-layout-order-submitted', 'CheckoutPage') %}

{% define data = {
    title: 'checkout.step.success.title' | trans,
    message: 'checkout.step.success.text' | trans,
    quote: _view.quote,
} %}

{% set currency %}
    {% widget 'CurrencyIsoCodeWidget' only %}{% endwidget %}
{% endset %}

{% block content %}
    {{ parent() }}

    <section itemscope itemtype="https://schema.org/Invoice">
        <meta itemprop="identifier" content="{{ data.quote.orderReference }}">
        <section itemprop="totalPaymentDue" itemscope itemtype="https://schema.org/PriceSpecification">
            {% if currency %}
                <meta itemprop="priceCurrency" content="{{ currency | spaceless }}">
            {% endif %}
            <meta itemprop="price" content="{{ data.quote.totals.grandTotal | moneyRaw }}">
        </section>

        <section itemprop="referencesOrder" itemscope itemtype="https://schema.org/Order">
            {% for item in data.quote.items %}
                <section itemprop="orderedItem" itemscope itemtype="https://schema.org/OrderItem">
                    <meta itemprop="orderQuantity" content="{{ item.quantity }}">

                    <section itemprop="orderedItem" itemscope itemtype="https://schema.org/Product">
                        <meta itemprop="sku" content="{{ item.sku }}">

                        <section itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            {% if currency %}
                                <meta itemprop="priceCurrency" content="{{ currency | spaceless }}">
                            {% endif %}
                            <meta itemprop="price" content="{{ item.sumSubtotalAggregation | moneyRaw }}">
                        </section>
                    </section>
                </section>
            {% endfor %}
        </section>
    </section>
{% endblock %}
