{% extends template('page-layout-main') %}

{% define data = {
    set: _view.productSet,
    views: _view.productViews,

    title: _view.productSet.name
} %}

{# {% block pageTitle -%}
    {{ _view.productSet.metaTitle | default(_view.productSet.name) }}
{%- endblock %}
{% block pageKeywords -%}
    {{ _view.productSet.metaKeywords | default }}
{%- endblock %}
{% block pageDescription -%}
    {{ _view.productSet.metaDescription | default }}
{%- endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url('product-sets') }}">{{ 'product.sets' | trans }}</a></li>
{% endblock %}

{% block title %}
    <h3>{{ _view.productSet.name }}</h3>
{% endblock %}

{% block outside %}
    <div class="row hide-for-xlarge">
        <div class="small-12 columns">
            <div class="__image-viewer-block">
                {% if _view.productSet.imageSets|length %}
                    {% for image in _view.productSet.imageSets.0.images %}
                        <div data-viewer-id="{{ image.externalUrlLarge }}" data-viewer-reset>
                            <a class="close-button">&times;</a>
                            <img class="thumbnail" src="{{ image.externalUrlLarge }}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} #}

{% block content %}
    {{ widget('ProductSetWidgetPlugin', data.set, data.views) }}
{% endblock %}
