{% extends model('component') %}

{% define config = {
    name: 'lazy-image',
    tag: 'lazy-image',
} %}

{% define data = {
    imageSrc: required,
    imagePlaceholder: '',
    isBackground: false,
    imageTitle: '',
    extraAttributes: {},
} %}

{% block extraClass %}
    js-viewport-intersection-observer__target
    {% if data.isBackground %}
        {{ config.name }}--background
    {% endif %}
{% endblock %}

{% block body %}
    {% set imageClasses = component.renderClass(config.name ~ '__image', modifiers) %}
    {% set imageExtraClasses = '' %}
    {% set backgroundClasses = component.renderClass(config.name ~ '__background', modifiers) %}
    {% set backgroundExtraClasses = '' %}
    {% set imagePlaceholder = data.imagePlaceholder ?: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' %}

    {% block content %}
        {% set fallbackImageClasses = imageExtraClasses %}
        {% set fallbackBackgroundClasses = backgroundExtraClasses %}

        {% block imageContainer %}
            {% if data.isBackground %}
                {% block background %}
                    <div class="{{ backgroundClasses }} {{ config.jsName }}__background {{ backgroundExtraClasses }}"
                         data-background-image="url('{{ data.imageSrc }}')"
                         title="{{ data.imageTitle }}"
                        {{ component.renderAttributes(data.extraAttributes | merge({'background-image': imagePlaceholder})) }}></div>
                {% endblock %}
            {% else %}
                {% block image %}
                    <img class="{{ imageClasses }} {{ config.jsName }}__image {{ imageExtraClasses }}"
                         src="{{ imagePlaceholder }}"
                         data-src="{{ data.imageSrc }}"
                         alt="{{ data.imageTitle }}"
                        {{ component.renderAttributes(data.extraAttributes) }}>
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block imageNoScriptContainer %}
            <noscript>
                {% if data.isBackground %}
                    {% block backgroundNoScript %}
                        <div class="{{ backgroundClasses }} {{ fallbackBackgroundClasses }}"
                             title="{{ data.imageTitle }}"
                            {{ component.renderAttributes(data.extraAttributes | merge({'background-image': data.imageSrc})) }}></div>
                    {% endblock %}
                {% else %}
                    {% block imageNoScript %}
                        <img class="{{ imageClasses }} {{ fallbackImageClasses }}"
                             src="{{ data.imageSrc }}"
                             alt="{{ data.imageTitle }}"
                            {{ component.renderAttributes(data.extraAttributes) }}>
                    {% endblock %}
                {% endif %}
            </noscript>
        {% endblock %}
    {% endblock %}
{% endblock %}
