{% extends "@CompanyPage/layout.twig" %}

{% block title %}
    <h3>{{ 'company.account.overview' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'overview'} %}
{% endblock %}

{% block companyContent %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'company.account.overview' | trans }}</h5>
                <hr>
                <p>{{ 'Company Information' | trans }}</p>
            </div>
        </div>
    </div>

    {#<div class="row">
        <div class="small-12 medium-6 columns">
            <div class="callout">
                <a href="{{ url('customer/profile') }}" class="float-right">
                    <small><i class="fa fa-user"></i> {{ 'general.edit.button' | trans }}</small>
                </a>
                <h5>{{ 'customer.account.profile_data' | trans }}</h5>
                <hr>
                <ul class="no-bullet">
                    <li>{{ _view.customer.firstName }} {{ _view.customer.lastName }}</li>
                    <li>{{ _view.customer.email }}</li>
                </ul>
            </div>

            {{ widget('NewsletterSubscriptionSummaryWidgetPlugin', _view.customer) }}
        </div>

        <div class="small-12 medium-6 columns">
            <div class="callout">
                {% if _view.addresses.billing is defined %}
                    <a href="{{ url('customer/address/update', {'id': _view.addresses.billing.idCustomerAddress}) }}" class="float-right">
                        <small><i class="fa fa-map-marker"></i> {{ 'general.edit.button' | trans }}</small>
                    </a>
                {% endif %}
                <h5>{{ 'customer.account.default_billing_address' | trans }}</h5>
                <hr>
                <ul class="no-bullet">
                    <li>
                        {% if _view.addresses.billing is defined %}
                            <strong>{{ _view.addresses.billing.firstName }} {{ _view.addresses.billing.lastName }}</strong><br/>
                            {{ _view.addresses.billing.address1 }} {{ _view.addresses.billing.address2 }} {{ _view.addresses.billing.address3 }}<br/>
                            {{ _view.addresses.billing.zipCode }} {{ _view.addresses.billing.city }}
                        {% else %}
                            <a href="{{ url('customer/address/new') }}"><i class="fa fa-map-marker"></i> {{ 'customer.account.please_specify_billing_address' | trans }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="callout">
                {% if _view.addresses.shipping is defined %}
                    <a href="{{ url('customer/address/update', {'id': _view.addresses.shipping.idCustomerAddress}) }}" class="float-right">
                        <small><i class="fa fa-map-marker"></i> {{ 'general.edit.button' | trans }}</small>
                    </a>
                {% endif %}
                <h5>{{ 'customer.account.default_shipping_address' | trans }}</h5>
                <hr>
                <ul class="no-bullet">
                    <li>
                        {% if _view.addresses.shipping is defined %}
                            <strong>{{ _view.addresses.shipping.firstName }} {{ _view.addresses.shipping.lastName }}</strong><br/>
                            {{ _view.addresses.shipping.address1 }} {{ _view.addresses.shipping.address2 }} {{ _view.addresses.shipping.address3 }}<br/>
                            {{ _view.addresses.shipping.zipCode }} {{ _view.addresses.shipping.city }}
                        {% else %}
                            <a href="{{ url('customer/address/new') }}"><i class="fa fa-map-marker"></i> {{ 'customer.account.please_specify_shipping_address' | trans }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>#}
{% endblock %}
