{% extends template('page-layout-main') %}

{% define data = {
    cart: _view.cart,
    cartItems: _view.cartItems,
    isQuoteValid: _view.isQuoteValid,
    attributes: _view.attributes,
    request: app.request,

    title: 'cart.cart' | trans
} %}

{% block breadcrumbs %}
    {{ widget('CheckoutBreadcrumbWidgetPlugin', data.cart) }}
{% endblock %}

{% block title %}
    {{ widgetBlock('CartOperationsWidgetPlugin', 'title', data.cart) }}
{% endblock %}

{% block content %}
    {% set canWriteSharedCart = can('WriteSharedCartPermissionPlugin', data.cart.idQuote) %}
    {% if data.cart.items is empty %}
        <div class="box text-center">
            {% include atom('icon') with {
                modifiers: ['biggest'],
                class: 'text-alt',
                data: {
                    name: 'shopping-cart'
                }
            } only %}
            <h6>{{ 'cart.empty' | trans }}</h6>
        </div>
    {% else %}
        <div class="grid">
            <div class="col col--sm-12 {% if canWriteSharedCart %}col--xl-8{% else %}col--xl-12{% endif %}">
                {% for cartItem in data.cartItems %}
                    {% include molecule('cart-item', 'CartPage') with {
                        class: 'box',
                        data: {
                            cart: data.cart,
                            cartItem: cartItem,
                            attributes: data.attributes[cartItem.sku] | default([])
                        }
                    } only %}
                {% endfor %}

                {{ widget('DiscountPromotionItemListWidgetPlugin', data.cart, data.request) }}

                {% if data.cart.idQuote is not empty %}
                    {{ widgetBlock('CartOperationsWidgetPlugin', 'actions', data.cart) }}
                {% endif %}
            </div>

            {% if canWriteSharedCart %}
                <div class="col col--sm-12 col--xl-4">
                    <div class="box">
                        {% if widgetExists('CartNoteQuoteWidgetPlugin') %}
                            {{ widget('CartNoteQuoteWidgetPlugin', data.cart) }}
                            <hr />
                        {% endif %}

                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ widget('DiscountVoucherFormWidgetPlugin') }}
                            <hr />
                        {% endif %}

                        {% if widgetExists('CartToShoppingListWidgetPlugin') and data.cart.idQuote is not empty and data.cart.items is not empty %}
                            {{ widget('CartToShoppingListWidgetPlugin', data.cart.idQuote) }}
                            <hr />
                        {% endif %}

                        {% include molecule('cart-summary', 'CartPage') with {
                            data: {
                                cart: data.cart,
                                isQuoteValid: data.isQuoteValid
                            }
                        } only %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {{ widget('UpSellingProductsWidgetPlugin', data.cart) }}
{% endblock %}

{% block footer %}{% endblock %}
