{% extends template('page-layout-main') %}

{% define data = {
    cart: _view.cart,
    cartItems: _view.cartItems,
    request: app.request,
    attributes: _view.attributes,

    title: 'cart.cart' | trans
} %}

{% block breadcrumbs %}
    {{ widget('CheckoutBreadcrumbWidgetPlugin', data.cart) }}
{% endblock %}

{% block title %}
    {% if widgetExists('CartOperationsWidgetPlugin') %}
        {{ widget('CartOperationsWidgetPlugin', data.cart) }}
    {% else %}
        {{ parent() }}
    {% endif %}
    {% if widgetExists('CartToShoppingListWidgetPlugin') and data.cart.idQuote is not empty %}
        {{ widget('CartToShoppingListWidgetPlugin', data.cart.idQuote) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if data.cart.items is empty %}
        <div class="box text-center">
            {% include atom('icon') with {
                modifiers: ['biggest'],
                class: 'text-alt',
                data: {
                    name: 'shopping-cart'
                }
            } only %}
            <h6>{{ 'cart.empty' | trans }}</h6>
        </div>
    {% else %}
        <div class="grid">
            <div class="col col--sm-12 col--xl-8">
                <div class="cart-items-box">
                    {% for cartItem in data.cartItems %}
                        {% include molecule('cart-item', 'CartPage') with {
                            data: {
                                cart: data.cart,
                                cartItem: cartItem,
                                attributes: data.attributes
                            }
                        } only %}
                    {% endfor %}
                    <hr/>
                    {{ widget('DiscountPromotionItemListWidgetPlugin', data.cart, data.request) }}
                </div>
            </div>

            <div class="col col--sm-12 col--xl-4">
                <div class="box">
                    {{ widget('CartNoteQuoteWidgetPlugin', data.cart) }}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote) %}
                        {{ widget('DiscountVoucherFormWidgetPlugin') }}
                    {% endif %}
                    <hr/>

                    {% include molecule('cart-summary', 'CartPage') with {
                        data: {
                            cart: data.cart
                        }
                    } only %}

                </div>
            </div>
        </div>
    {% endif %}

    {{ widget('UpSellingProductsWidgetPlugin', data.cart) }}

    {{ widget('MultiCartListWidgetPlugin', data.cart) }}

{% endblock %}

{% block footer %}{% endblock %}
