{% extends template('page-layout-main') %}

{% define data = {
    cart: _view.cart,
    cartItems: _view.cartItems,
    isQuoteValid: _view.isQuoteValid,
    attributes: _view.attributes,
    request: app.request,

    title: 'cart.cart' | trans
} %}

{% block breadcrumbs %}
    {% widget 'CheckoutBreadcrumbWidget' args [data.cart] only %}
    {% elsewidget 'CheckoutBreadcrumbWidgetPlugin' args [data.cart] only %} {# @deprecated Use CheckoutBreadcrumbWidget instead. #}
    {% endwidget %}
{% endblock %}

{% block title %}
    {% widget 'CartOperationsWidget' args [data.cart] only %}
    {% elsewidget 'CartOperationsWidgetPlugin' args [data.cart] only %} {# @deprecated Use CartOperationsWidget instead. #}
    {% nowidget %}
        {{ parent() }}
    {% endwidget %}
{% endblock %}

{% block content %}
    {% if data.cart.idQuote is not empty and data.cart.items is not empty %}
        {% widget 'CreateShoppingListFromCartWidget' args [data.cart.idQuote] only %}
            {% block body %}
                <div class="box">
                    {{ parent() }}
                </div>
            {% endblock %}
        {% elsewidget 'CartToShoppingListWidgetPlugin' args [data.cart.idQuote] only %} {# @deprecated Use CreateShoppingListFromCartWidget instead. #}
            {% block body %}
                <div class="box">
                    {{ parent() }}
                </div>
            {% endblock %}
        {% endwidget %}
    {% endif %}

    {% if data.cart.items is empty %}
        <div class="box text-center">
            {% include atom('icon') with {
                modifiers: ['biggest'],
                class: 'text-alt',
                data: {
                    name: 'shopping-cart'
                }
            } only %}
            <h6>{{ 'cart.empty' | trans }}</h6>
        </div>
    {% else %}
        <div class="grid">
            <div class="col col--sm-12 col--xl-8">
                {% for cartItem in data.cartItems %}
                    {% include molecule('cart-item', 'CartPage') with {
                        class: 'box',
                        data: {
                            cart: data.cart,
                            cartItem: cartItem,
                            attributes: data.attributes[cartItem.sku] | default([])
                        }
                    } only %}
                {% endfor %}

                {% widget 'CartDiscountPromotionProductListWidget' args [data.cart, data.request] only %}
                {% elsewidget 'DiscountPromotionItemListWidgetPlugin' args [data.cart, data.request] only %} {# @deprecated Use CartDiscountPromotionProductListWidget instead. #}
                {% endwidget %}
            </div>

            <div class="col col--sm-12 col--xl-4">
                <div class="box">
                    {% if widgetExists('CartNoteQuoteWidgetPlugin') %}
                        {{ widget('CartNoteQuoteWidgetPlugin', data.cart) }}
                        <hr />
                    {% endif %}
                    {% widget 'CartNoteFormWidget' args [data.cart] only %}
                        {% block body %}
                            {{ parent() }}
                            <hr />
                        {% endblock %}
                    {% elsewidget 'CartNoteQuoteWidgetPlugin' args [data.cart] only %} {# @deprecated Use CartNoteFormWidget instead. #}
                        {% block body %}
                            {{ parent() }}
                            <hr />
                        {% endblock %}
                    {% endwidget %}

                    {% if not is_granted('ROLE_USER') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote) %}
                        {% widget 'VoucherFormWidget' only %}
                        {% elsewidget 'DiscountVoucherFormWidgetPlugin' only %} {# @deprecated Use VoucherFormWidget instead. #}
                        {% endwidget %}
                        <hr />
                    {% endif %}

                    {% include molecule('cart-summary', 'CartPage') with {
                        data: {
                            cart: data.cart,
                            isQuoteValid: data.isQuoteValid
                        }
                    } only %}
                </div>
            </div>
        </div>
    {% endif %}

    {% widget 'UpSellingProductsWidget' args [data.cart] only %}
    {% elsewidget 'UpSellingProductsWidgetPlugin' args [data.cart] only %} {# @deprecated Use UpSellingProductsWidget instead. #}
    {% endwidget %}
    {% widget 'MultiCartListWidget' args [data.cart] only %}
    {% elsewidget 'MultiCartListWidgetPlugin' args [data.cart] only %} {# @deprecated Use MultiCartListWidget instead. #}
    {% endwidget %}
{% endblock %}

{% block footer %}{% endblock %}
