{% extends model('component') %}

{% define config = {
    name: 'file-download-link',
} %}

{% define data = {
    idFile: required,
    fileName: required,
    fileUrl: fileUrl | default(path('files/download', {'id-file': data.idFile})),
    fileIcon: null,
    fileSize: null
} %}

{% block body %}
    <a class="{{ config.name }}__link {% if data.fileIcon %}{{ config.name }}__link--icon{% endif %}" href="{{ data.fileUrl }}">
        {% if data.fileIcon %}
            <span class="{{ config.name }}__icon">
                {% include atom('icon') with {
                    modifiers: ['bigger'],
                    data: {
                        name: data.fileIcon
                    }
                } only %}
            </span>

            <span class="{{ config.name }}__name {{ config.name }}__name--icon">{{ data.fileName | split('.') | slice(0, -1) | join('.') }}</span>
            <span class="{{ config.name }}__extension">.{{ data.fileName | split('.') | last }}</span>
        {% else %}
            <span class="{{ config.name }}__name">{{ data.fileName }}</span>
        {% endif %}

        {% if data.fileIcon %}
            <span class="{{ config.name }}__size">{{ data.fileSize }}</span>
        {% endif %}
    </a>
{% endblock %}
