{% block pageTitle -%}
    {{ _view.category ? _view.category.name : ('catalog.new' | trans) }}
{%- endblock %}
{% block pageKeywords -%}
    {{ _view.category.meta_keywords | default(null) }}
{%- endblock %}
{% block pageDescription -%}
    {{ _view.category.meta_description | default(null) }}
{%- endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url(_view.filterPath) }}">{{ 'catalog.new' | trans }}</a></li>
    {% if _view.category %}
        {% include '@CatalogPage/_partials/category-breadcrumb.twig' with {categoryNode: _view.category, filterPath: _view.filterPath} only %}
    {% endif %}
{% endblock %}

{% block title %}
    <h3>{{ _view.category ? _view.category.name : ('catalog.new' | trans) }}</h3>
{% endblock %}

{% block content %}
    {% include "@CatalogPage/_partials/catalog.twig" with {paginationPath: app.request.attributes.get('_route')} %}
{% endblock %}
