{% extends template('page-layout-customer', 'CustomerPage') %}

{% block title %}
    <h3>{{ 'customer.account.wishlist' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@CustomerPage/partials/navigation.twig" %}

    {% include "@WishlistPage/_partials/wishlist-navigation.twig" with {'activeSubmenu': _view.wishlistName, 'wishlistCollection': _view.wishlistOverview.meta.wishlistCollection} %}
{% endblock %}

{% block customerContent %}
    <div class="row xlarge-unstack">
        <div class="columns">
            <div class="callout">
                <div class="row">
                    <div class="small-12 columns">
                        <h4 class="float-left">{{ _view.wishlistName }}</h4>

                        {% if _view.wishlistItems|length %}
                            {{ form_start(_view.addAllAvailableProductsToCartForm, {action: path('wishlist/move-all-available-to-cart', { wishlistName: _view.wishlistName })}) }}
                                <button type="submit" class="button float-right"><i class="fa fa-shopping-cart"></i>{{ 'customer.account.wishlist.add_all_available_to_cart' | trans }}</button>
                                {% for wishlistItemMetaField in _view.addAllAvailableProductsToCartForm.wishlistItemMetaCollection %}
                                    {{ form_widget(wishlistItemMetaField) }}
                                {% endfor %}
                            {{ form_end(_view.addAllAvailableProductsToCartForm) }}
                        {% endif %}
                    </div>
                </div>

                {% if _view.wishlistItems|length %}
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'customer.account.wishlist.product' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.price' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.overview.variant' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.availability' | trans  }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in _view.wishlistItems %}
                            <tr>
                                {% set imageUrl = item.images[0].externalUrlSmall %}
                                <td>
                                    <a href="{{ item.url }}">{{ item.name }}</a>
                                    <div><small>{{ item.sku }}</small></div>
                                    {% if imageUrl %}
                                        <img width="75" src="{{ imageUrl }}" />
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">
                                    {% if item.price is not null %}
                                        {% if item.prices.ORIGINAL is defined %}
                                            <span class="catalog-price__price-reduced">{{ item.price | money }}</span> <span class="catalog-price__price-original">{{ item.prices.ORIGINAL | money }}</span>
                                        {% else %}
                                            {{ item.price | money }}
                                        {% endif %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% for attribute in item.superAttributesDefinition %}
                                        {% if item.attributes[attribute] is defined %}
                                            {{ ('product.attribute.'~attribute) | trans }}: {{ item.attributes[attribute] }} <br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if item.available %}
                                        {{ 'customer.account.wishlist.available' | trans }}
                                    {% else %}
                                        {{ 'customer.account.wishlist.not_available' | trans }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.available and item.price is not null %}
                                        <form id="addToCart_{{ loop.index }}" class="float-left" method="POST" action="{{ path('wishlist/move-to-cart', {sku: item.sku, 'wishlist-name': _view.wishlistName}) }}">
                                            <a title="{{ 'customer.account.wishlist.add-to-cart' | trans }}" onclick="document.getElementById('addToCart_{{ loop.index }}').submit()">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </form>
                                    {% endif %}
                                    <form id="deleteWishlistItem_{{ loop.index }}" class="float-left" method="POST" action="{{ path('wishlist/remove-item', {sku: item.sku, 'wishlist-name': _view.wishlistName}) }}">
                                        <a title="{{ 'customer.account.wishlist.remove' | trans }}" onclick="document.getElementById('deleteWishlistItem_{{ loop.index }}').submit()">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row align-center">
                        {% include '@ShopLayout/layout/partials/pagination.twig' with {
                            parameters: {
                                wishlistName: _view.wishlistName
                            },
                            currentPage: _view.currentPage,
                            paginationPath: 'wishlist/details',
                            maxPage: _view.totalPages,
                            showAlwaysFirstAndLast: true
                        } %}
                    </div>
                {% else %}
                    {{ 'customer.account.wishlist.empty' | trans }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
