{% extends model('component') %}

{% define config = {
    name: 'mini-cart-detail',
} %}

{% define data = {
    cart: required,
    total: data.cart.totals.grandTotal | default(0),
} %}

{% set itemCount = data.cart.items | length %}

{% block body %}
    <div class="grid grid--middle text-small text-left">
        <div class="col col--sm-1">
            {% include molecule('mini-cart-radio', 'MultiCartWidget') with {
                data: {
                    idCart: data.cart.idQuote,
                    isDefault: data.cart.isDefault,
                }
            } only %}
        </div>

        <div class="col col--sm-8">
            {% if data.cart.isDefault %}
            <a href="{{ url('cart') }}">
                <strong>{{ data.cart.name }}</strong>
            </a>
            {% else %}
            <a href="{{ url('multi-cart/set-default', {idQuote: data.cart.idQuote}) }}">
                <strong>{{ data.cart.name }}</strong>
            </a>
            {% endif %}

            {% if data.cart.isDefault %}
                ({{ 'multi_cart_widget.cart.default' | trans }})
            {% endif %}

            <div>
                {% widget 'ProductBundleItemCounterWidget' args [data.cart] only %}
                {% elsewidget 'ProductBundleItemCounterWidgetPlugin' args [data.cart] only %} {# @deprecated Use ProductBundleItemCounterWidget instead. #}
                {% nowidget %}
                    {% set label = (itemCount == 1)
                        ? 'multi_cart_widget.cart.item'
                        : 'multi_cart_widget.cart.items'
                    %}

                    <span class="cart-items-quantity">
                      {{ itemCount }} {{ label | trans }}
                    </span>
                {% endwidget %}

                {% widget 'SharedCartPermissionGroupWidget' args [data.cart] only %}
                {% elsewidget 'SharedCartPermissionGroupWidgetPlugin' args [data.cart] only %} {# @deprecated Use SharedCartPermissionGroupWidget instead. #}
                {% endwidget %}

                {% if data.cart.priceMode is not empty %}
                    {% include molecule('price-mode') with {
                        data: {
                            priceMode: data.cart.priceMode
                        }
                    } only %}
                {% endif %}
            </div>
        </div>

        <div class="col col--sm-3">
            <div class="grid grid--right">
                {% if widgetGlobalExists('QuoteApprovalStatusWidget') %}
                    {% widget 'QuoteApprovalStatusWidget' args [data.cart] only %}
                        {% block body %}
                            {% include molecule('quote-status') with {
                                class: 'col',
                                modifiers: [_widget.quoteStatus | lower, 'small'],
                                data: {
                                    quoteStatus: _widget.quoteStatus
                                }
                            } only %}
                        {% endblock %}
                    {% endwidget %}
                {% endif %}
                <span class="col">
                   {{ data.total | money(true, data.cart.currency.code) }}<br>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
