{% extends model('component') %}

{% define config = {
    name: 'mini-cart-detail',
    tag: 'div'
} %}

{% define data = {
    cart: required,
    itemDisplayLimit: 2
} %}

{% set itemCount = data.cart.items | length %}

{% block body %}
    <div class="grid grid--middle text-small text-left">
        <div class="col col--sm-1">
            {% include molecule('mini-cart-radio', 'MultiCartWidget') with {
                data: {
                    idCart: data.cart.idQuote,
                    isDefault: data.cart.isDefault,
                }
            } only %}
        </div>

        <div class="col col--sm-8">
            <a href="{{ path('multi-cart/set-default', {idQuote: data.cart.idQuote}) }}">
                <strong>{{ data.cart.name }}</strong>
            </a>

            {% if data.cart.isDefault %}
                ({{ 'multi_cart_widget.cart.default' | trans }})
            {% endif %}
            <div>
                {% if itemCount > 0 %}
                    {% if widgetExists('ProductBundleItemCounterWidgetPlugin') %}
                        {{ widget('ProductBundleItemCounterWidgetPlugin', data.cart) }}
                    {% else %}
                        {% set label = (itemCount == 1)
                            ? 'multi_cart_widget.cart.item'
                            : 'multi_cart_widget.cart.items'
                        %}

                        <span class="cart-items-quantity">
                          {{ itemCount }} {{ label | trans }}
                        </span>
                    {% endif %}
                {% endif %}

                {% if widgetExists('SharedCartPermissionGroupWidgetPlugin') %}
                    {{ widget('SharedCartPermissionGroupWidgetPlugin', data.cart) }}
                {% endif %}
            </div>
        </div>

        <div class="col col--sm-3 text-right">
            {% if itemCount > 0 %}
                <span>
                   {{ data.cart.totals.grandTotal | money(true, data.cart.currency.code) }}<br>
                </span>
            {% endif %}
        </div>

    </div>
{% endblock %}
