{% extends model('component') %}

{% define config = {
    name: 'delivery-method-information',
    tag: 'ul',
} %}

{% define data = {
    method: required,
    priceMode: null,
} %}

{% block class -%}
    {{ parent() }}
    list
{%- endblock %}

{% if data.method.sourcePrice %}
    {% set priceModeGross = 'GROSS_MODE' %}
    {% set sourceUnitPrice = (data.priceMode == priceModeGross) ? data.method.sourcePrice.grossAmount : data.method.sourcePrice.netAmount %}
{% endif %}

{% block body %}
    <li class="list__item">{{ data.method.carrierName }}</li>
    <li class="list__item">
        {{ data.method.name }}

        {% if sourceUnitPrice is defined %}
            <span><s>{{ data.method.storeCurrencyPrice | money(true, data.method.currencyIsoCode) }}</s> {{ sourceUnitPrice | money(true, data.method.currencyIsoCode) }}</span>
        {% else %}
            <span>{{ data.method.storeCurrencyPrice | money(true, data.method.currencyIsoCode) }}</span>
        {% endif %}
    </li>
{% endblock %}
