{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% block body %}
    <div class="box">
        {% widget 'NewsletterSubscriptionWidget' only %} {% endwidget %}
    </div>

    <div class="grid">
        <div class="col col--sm-12 col--md-6">
            <div class="box">
                <h5>{{ 'global.payment_providers' | trans }}</h5>
                {{ content_navigation('navigation-payment-providers', 'list-inline') }}
            </div>
        </div>

        <div class="col col--sm-12 col--md-6">
            <div class="box">
                <h5>{{ 'global.shipment_providers' | trans }}</h5>
                {{ content_navigation('navigation-shipment-providers', 'list-inline') }}
            </div>
        </div>
    </div>

    <div class="box">
        <div class="grid">
            <div class="col col--sm-12 col--md-6 col--lg-6">
                {{ content_navigation('navigation-footer', 'list') }}
            </div>

            <ul class="col col--sm-12 col--md-6 col--lg-3">
                <li><h5>{{ 'global.get_in_touch' | trans }}</h5></li>
                <li>+49 (0)30 2084983 50</li>
                <li><a href="mailto:info@spryker.com">info@spryker.com</a></li>
            </ul>

            <div class="col col--lg-3 is-hidden-sm-md">
                <h5>{{ 'global.social' | trans }}</h5>
                {{ content_navigation('navigation-social-links', 'list-inline') }}
            </div>
        </div>
    </div>

    <div class="box is-hidden-lg-xl">
        <h5>{{ 'global.social' | trans }}</h5>
        {{ content_navigation('navigation-social-links', 'list-inline') }}
    </div>

    {% block copyright %}
        {% include molecule('copyright') only %}
    {% endblock %}
{% endblock %}
