{% extends model('component') %}

{% define config = {
    name: 'customer-reorder-form',
    tag: 'customer-reorder-form'
} %}

{% define data = {
    idSalesOrder: required
} %}

{% block body %}
    <form action="{{ path('customer/order/reorder-items') }}" method="post">
        <input type="hidden" name="id" value="{{ data.idSalesOrder }}">

        {% block formContent %}{% endblock %}

        {% block formActions %}
            <div class="box">
                {% set formActionsWrapperClass = 'grid grid--middle grid--right' %}
                {% set reorderButtonClass = 'button button--expand ' ~ config.jsName ~ '__trigger' %}
                {% set buttonReorderColumnClass = 'form-field col col--sm-5 col--lg-3 spacing-right' %}
                {% set reorderAllLinkColumnClass = 'form-field col col--sm-5 col--lg-3' %}
                {% set reorderAllLinkClass = 'button button--expand js-state-observable' %}

                {% block formActionsInner %}
                    <div class="{{ formActionsWrapperClass }}">
                        {% block buttonReorderColumn %}
                            <div class="{{ buttonReorderColumnClass }}">
                                {% block buttonReorderColumnInner %}
                                    <button class="{{ reorderButtonClass }}" disabled>
                                        {{ 'customer.order.reorder_selected' | trans }}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block reorderAllLinkColumn %}
                            <div class="{{ reorderAllLinkColumnClass }}">
                                {% block reorderAllLinkColumnInner %}
                                    <a href="{{ path('customer/order/reorder', {'idSalesOrder': data.idSalesOrder}) }}" class="{{ reorderAllLinkClass }}">
                                        {{ 'customer.order.reorder_all' | trans }}
                                    </a>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </form>
{% endblock %}
