{% extends model('component') %}

{% define config = {
    name: 'customer-reorder-form',
    tag: 'customer-reorder-form'
} %}

{% define data = {
    idSalesOrder: required
} %}

{% block body %}
    <form action="{{ path('customer/order/reorder-items') }}" method="post">
        <input type="hidden" name="id" value="{{ data.idSalesOrder }}">

        {% block formContent %}{% endblock %}

        {% block formActions %}
            <div class="box">
                <div class="grid grid--middle grid--right">
                    <div class="form-field col col--sm-5 col--lg-3 spacing-right">
                        <button class="button button--expand {{ config.jsName }}__trigger" disabled>
                            {{ 'customer.order.reorder_selected' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}
    </form>
    <div class="box">
        <div class="grid grid--middle grid--right">
            <div class="form-field col col--sm-5 col--lg-3">
                {% widget 'CustomerReorderFormWidget'  args [data.order] only %}
                    {% block embeddedData %}
                        <input class="button button--expand" type="submit" value="{{ 'customer.order.reorder_all' | trans }}">
                    {% endblock %}
                {% endwidget %}
            </div>
        </div>
    </div>
{% endblock %}
