<h5>{{ "customer.profile.update" | trans }}</h5>
<hr>
{{ form_start(_view.profileForm) }}
    <div class="row">
        <div class="small-12 medium-3 columns">
            <label>{{ _view.profileForm.salutation.vars.label | trans }}*
                {{ form_widget(_view.profileForm.salutation) }}
                {{ form_errors(_view.profileForm.salutation) }}
            </label>
        </div>
        <div class="small-12 medium-9 columns">
            <label>{{ _view.profileForm.first_name.vars.label | trans }}*
                {{ form_widget(_view.profileForm.first_name, {'attr': {'placeholder': _view.profileForm.first_name.vars.label | trans }}) }}
                {{ form_errors(_view.profileForm.first_name) }}
            </label>
        </div>
        <div class="small-12 medium-offset-3 medium-9 columns">
            <label>{{ _view.profileForm.last_name.vars.label | trans }}*
                {{ form_widget(_view.profileForm.last_name, {'attr': {'placeholder': _view.profileForm.last_name.vars.label | trans }}) }}
                {{ form_errors(_view.profileForm.last_name) }}
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                {{ _view.profileForm.email.vars.label | trans }}*
                <div class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-at"></i>
                    </span>
                    {{ form_widget(_view.profileForm.email, {'attr': {'class': 'input-group-field', 'placeholder': _view.profileForm.email.vars.label | trans }}) }}
                </div>
            </label>
            {{ form_errors(_view.profileForm.email) }}
        </div>
    </div>

    <div class="row align-right">
        <div class="small-12 medium-6 large-4 columns align-bottom">
            <button type="submit" class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
        </div>
    </div>
{{ form_end(_view.profileForm) }}
