{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    isMultiCartAllowed: _widget.isMultiCartAllowed,
    isDeleteCartAllowed: _widget.isDeleteCartAllowed
} %}

{% block actions %}
    <li class="menu__item">
        <a href="{{ path('multi-cart/clear', {idQuote: _widget.cart.idQuote}) }}" class="button clear">
            {{ "multi_cart_widget.cart.action.clear" | trans }}
        </a>
    </li>
{% endblock %}

{% block title %}
    <h3>{{ _widget.cart.name }}</h3>
{% endblock %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}
        {% if widgetExists('SharedCartOperationsWidgetPlugin') %}
            {{ widget('SharedCartOperationsWidgetPlugin', data.cart) }}
        {% else %}
            <ul class="menu menu--inline">
                <li class="menu__item">
                    <a href="{{ path('multi-cart/update', {idQuote: data.cart.idQuote}) }}" class="button update">
                        {{ "multi_cart_widget.cart.action.change_name" | trans }}
                    </a>
                </li>
                {% if data.cart.isDefault == false %}
                <li class="menu__item">
                    <a href="{{ path('multi-cart/set-default', {idQuote: data.cart.idQuote}) }}" class="button set-default">
                        {{ 'multi_cart_widget.cart.action.set_default' | trans }}
                    </a>
                </li>
                {% endif %}
                <li class="menu__item">
                    <a href="{{ path('multi-cart/duplicate', {idQuote: data.cart.idQuote}) }}" class="button duplicate">
                        {{ "multi_cart_widget.cart.action.duplicate" | trans }}
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{{ path('multi-cart/clear', {idQuote: data.cart.idQuote}) }}" class="button clear">
                        {{ "multi_cart_widget.cart.action.clear" | trans }}
                    </a>
                </li>
                {% if data.isDeleteCartAllowed is not empty %}
                <li class="menu__item">
                    <a href="{{ path('multi-cart/delete', {idQuote: data.cart.idQuote}) }}" class="button delete" onclick="return confirm('{{ 'multi_cart_widget.cart.remove.confirm' | trans }}')">
                        {{ "multi_cart_widget.cart.action.delete" | trans }}
                    </a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
