{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    isMultiCartAllowed: _widget.isMultiCartAllowed,
    isDeleteCartAllowed: _widget.isDeleteCartAllowed,
    multiCartClearForm: _widget.multiCartClearForm,
    multiCartDuplicateForm: _widget.multiCartDuplicateForm,
    multiCartSetDefaultForm: _widget.multiCartSetDefaultForm,
} %}

{% block actions %}
    <li class="menu__item">
        {{ form_start(data.multiCartClearForm, {'action': path('multi-cart/clear', {'idQuote': _widget.cart.idQuote}) }) }}
            <button class="button clear">
                {{ "multi_cart_widget.cart.action.clear" | trans }}
            </button>
        {{ form_end(data.multiCartClearForm) }}
    </li>
{% endblock %}

{% block title %}
    <h3>{{ _widget.cart.name }}</h3>
{% endblock %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}
        {% widget 'SharedCartOperationsWidget' args [data.cart] only %}
        {% elsewidget 'SharedCartOperationsWidgetPlugin' args [data.cart] only %} {# @deprecated Use SharedCartOperationsWidget instead. #}
        {% nowidget %}
            <ul class="menu menu--inline">
                <li class="menu__item">
                    <a href="{{ path('multi-cart/update', {idQuote: data.cart.idQuote}) }}" class="button update">
                        {{ "multi_cart_widget.cart.action.change_name" | trans }}
                    </a>
                </li>
                {% if data.cart.isDefault == false %}
                <li class="menu__item">
                    {{ form_start(data.multiCartSetDefaultForm, {'action': path('multi-cart/set-default', {'idQuote': data.cart.idQuote}) }) }}
                    <button class="button set-default">
                        {{ 'multi_cart_widget.cart.action.set_default' | trans }}
                    </button>
                    {{ form_end(data.multiCartSetDefaultForm) }}
                </li>
                {% endif %}
                <li class="menu__item">
                    {{ form_start(data.multiCartDuplicateForm, {'action': path('multi-cart/duplicate', {'idQuote': data.cart.idQuote}) }) }}
                    <button class="button duplicate">
                        {{ "multi_cart_widget.cart.action.duplicate" | trans }}
                    </button>
                    {{ form_end(data.multiCartDuplicateForm) }}
                </li>
                <li class="menu__item">
                    {{ form_start(data.multiCartClearForm, {'action': path('multi-cart/clear', {'idQuote': data.cart.idQuote}) }) }}
                        <button class="button clear">
                            {{ "multi_cart_widget.cart.action.clear" | trans }}
                        </button>
                    {{ form_end(data.multiCartClearForm) }}
                </li>
                {% if data.isDeleteCartAllowed is not empty %}
                <li class="menu__item">
                    <a href="{{ path('multi-cart/confirm-delete', {idQuote: data.cart.idQuote}) }}" class="button delete">
                        {{ "multi_cart_widget.cart.action.delete" | trans }}
                    </a>
                </li>
                {% endif %}
            </ul>
        {% endwidget %}
    {% endif %}
{% endblock %}
