{% extends model('component') %}

{% define config = {
    name: 'comment',
} %}

{% define data = {
    comment: required,
    commentAvailableTags: required,
    returnUrl: required,
    idCustomer: required,
} %}

{% set isShowTagForm = data.comment.tagNames | length != data.commentAvailableTags | length %}

{% block body %}
    {% block header %}
        <div class="grid grid--middle spacing-bottom spacing-bottom--small">
            <span class="col col--sm-9">{{ data.comment.customer.firstName }} {{ data.comment.customer.lastName }}</span>

            {% if isShowTagForm %}
                {% include molecule('comment-tag-form', 'CommentWidget') with {
                    class: 'col col--sm-3',
                    data: {
                        action: path('comment/tag/add', {'uuid': data.comment.uuid }),
                        availableTags: data.commentAvailableTags,
                        tagNames: data.comment.tagNames,
                        returnUrl: data.returnUrl,
                    },
                } only %}
            {% endif %}
        </div>
    {% endblock %}

    {% block commentCreated %}
        <div class="grid col col--sm-12 spacing-bottom spacing-bottom--small text-secondary">
            {{ data.comment.createdAt | formatDateTime }}
            {% if data.comment.isUpdated %}
                ({{ 'comment_widget.form.edited' | trans }})
            {% endif %}
        </div>
    {% endblock %}

    {% block comment %}
        {% if data.comment.customer.idCustomer == data.idCustomer %}
            {% block commentUpdate %}
                {% include molecule('comment-form', 'CommentWidget') with {
                    data: {
                        formView: 'update',
                        comment: data.comment,
                        returnUrl: data.returnUrl,
                        submit: {
                            text: 'comment_widget.form.update_comment' | trans,
                            class: 'button button--primary',
                            action: path('comment/update'),
                        },
                        remove: {
                            text: 'comment_widget.form.remove_comment' | trans,
                            class: 'button button--success',
                            action: path('comment/remove'),
                        },
                    },
                } only %}
            {% endblock %}
        {% else %}
            {% block commentMessage %}
                <p>{{ data.comment.message }}</p>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
