{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    products: _view.products,
    facets: _view.facets,
    searchString: _view.searchString,
    suggestion: _view.spellingSuggestion,
    category: _view.category | default,
    categories: categories | default([]),
    categoryId: _view.idCategory | default,
    isEmptyCategoryFilterValueVisible: _view.isEmptyCategoryFilterValueVisible | default,
    filterPath: _view.filterPath | default,
    viewMode: _view.viewMode | default,

    title: ('global.search.results' | trans) ~ ' ' ~ _view.searchString,
    metaTitle: _view.pageTitle | default(_view.category.name | default),
    metaDescription: _view.pageDescription | default,
    metaKeywords: _view.pageKeywords | default,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _view.pagination.currentPage,
        paginationPath: app.request.attributes.get('_route'),
        maxPage: _view.pagination.maxPage,
        showAlwaysFirstAndLast: true
    }
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'global.search' | trans
            }]
        }
    } only %}
{% endblock %}

{% block title %}
    <h3>{{ 'global.search.results' | trans }} "<strong class="text-break">{{ data.searchString }}</strong>"</h3>

    {% embed molecule('spelling-suggestion', 'CatalogPage') with {
        data: {
            suggestion: data.suggestion
        }
    } only %}
        {% block body %}
            <hr>
            {{parent()}}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block form %}
    <div class="col col--sm-12 spacing spacing--inner">
        {% widget 'FullTextSearchTabsWidget' args [data.searchString, 'FullTextSearchProductsTab'] only %}{% endwidget %}
    </div>

    {{parent()}}
    {% if data.searchString is not empty %}
        <input type="hidden" name="q" value="{{ data.searchString }}">
    {% endif %}
{% endblock %}
