{% extends view('catalog', 'CatalogPage') %}

{% set pagination = {
    paginationPath: app.request.attributes.get('_route')
} | merge(pagination | default({})) %}

{% set data = {
    title: ('global.search.results' | trans) ~ _view.searchString,
    searchString: _view.searchString,
    suggestion: _view.spellingSuggestion
} | merge(data | default({})) %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'global.search' | trans
            }]
        }
    } only %}
{% endblock %}

{% block title %}
    <h3>{{ 'global.search.results' | trans }} "<strong>{{ data.searchString }}</strong>"</h3>

    {% embed molecule('spelling-suggestion') with {
        data: {
            suggestion: data.suggestion
        }
    } only %}
        {% block body %}
            <hr class="box__separator" />
            {{parent()}}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block form %}
    {{parent()}}
    {% if data.searchString is not empty %}
        <input type="hidden" name="q" value="{{ data.searchString }}" />
    {% endif %}
{% endblock %}
