{% extends model('component') %}

{% define config = {
    name: 'cart-comment',
} %}

{% define data = {
    comment: required,
    commentAvailableTags: required,
    returnUrl: required,
    idCustomer: required,
} %}

{% block body %}
    {% block header %}
        <div class="grid grid--middle spacing-bottom spacing-bottom--small">
            <span class="col col--sm-9">{{ data.comment.customer.firstName }} {{ data.comment.customer.lastName }}</span>

            {% include molecule('cart-comment-tag-form', 'CommentWidget') with {
                class: 'col col--sm-3',
                data: {
                    action: path('comment/tag/add', {'uuid': data.comment.uuid }),
                    commentAvailableTags: data.commentAvailableTags,
                    tagNames: data.comment.tagNames,
                    returnUrl: data.returnUrl,
                },
            } only %}
        </div>
    {% endblock %}

    {% block commentCreated %}
        <div class="grid col col--sm-12 spacing-bottom spacing-bottom--small">
            <span class="text-secondary">
                {{ data.comment.createdAt | formatDateTime }}
                {% if data.comment.isUpdated %}
                    ({{ 'comment_widget.form.edited' | trans }})
                {% endif %}
            </span>
        </div>
    {% endblock %}

    {% block comment %}
        <div class="grid spacing-bottom spacing-bottom--small">
            {% if data.comment.customer.idCustomer == data.idCustomer %}
                {% block commentUpdate %}
                    {% include molecule('cart-comment-form', 'CommentWidget') with {
                        class: 'col col--sm-12',
                        data: {
                            formView: 'update',
                            comment: data.comment,
                            returnUrl: data.returnUrl,
                            edit: {
                                text: 'comment_widget.form.update_comment' | trans,
                                class: 'button button--primary',
                                action: path('comment/update'),
                            },
                            remove: {
                                text: 'comment_widget.form.remove_comment' | trans,
                                class: 'button button--success',
                                action: path('comment/remove'),
                            },
                        },
                    } only %}
                {% endblock %}
            {% else %}
                {% block commentMessgae %}
                    <p class="col col--sm-12">{{ data.comment.message }}</p>
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
