{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    idQuote: _view.idQuote,
    cartDeleteRequestName: 'test',
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.profile' | trans
            },{
                label: 'multi_cart_page.cart_delete_confirmation.breadcrumbs.shopping_carts' | trans
            },{
                label: 'multi_cart_page.cart_delete_confirmation.warning' | trans
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box">
            <h5>{{ "multi_cart_page.cart_delete_confirmation.warning" | trans }}</h5>
            <hr />
            {{ "multi_cart_page.cart_delete_confirmation.trying_to_delete" | trans }}: {{ data.cartDeleteRequestName }}<br/>
            {{ "multi_cart_page.cart_delete_confirmation.shared_with" | trans }}

            {# Add shared cart users rendering. #}

            <div>
                <a href="{{ url('cart') }}" class="button button--info">
                    {{ "multi_cart_page.cart_delete_confirmation.cancel" | trans }}
                </a>
                <a href="{{ url('multi-cart/delete', { 'idQuote' : data.idQuote }) }}" class="button button--alert">
                    {{ "multi_cart_page.cart_delete_confirmation.delete" | trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
