{% extends model('component') %}

{% define config = {
    name: 'order-detail'
} %}

{% define data = {
    orderItems: required,
    order: required
} %}

{% block body %}
    {% block orderDetailContent %} {# @deprecated - This block will be removed with next release. Content will be placed directly under `body` block #}
        <div class="box">
            <a href="{{url('customer/order')}}" class="link float-right">{{ 'general.back.button' | trans }}</a>
            <h5>{{ 'customer.profile.order_details' | trans }}</h5>
            <hr />
            <ul>
                <li>
                    {{ 'customer.order.order_id' | trans }}:
                    <strong>{{ data.order.orderReference }}</strong>
                </li>
                <li>
                    {{ 'customer.order.date' | trans }}:
                    <strong>{{ data.order.createdAt | formatDateTime }}</strong>
                </li>
            </ul>
            <hr />
            {% embed molecule('order-detail-table', 'CustomerPage') with {
                data: {
                    items: data.orderItems,
                    currencyIsoCode: data.order.currencyIsoCode,
                    order: data.order
                }
            } only %}
                {% block headerRow %}
                    <td></td>
                    {{parent()}}
                {% endblock %}
                {% block bundleDetailRow %}
                    <td></td>
                    {{parent()}}
                {% endblock %}
                {% block detailRow %}
                    <td></td>
                    {{parent()}}
                {% endblock %}
            {% endembed %}
            <hr />
            {% include molecule('order-summary', 'CustomerPage') with {
                class: 'text-right',
                data: {
                    order: data.order
                }
            } only %}
        </div>

        <div class="box">
            <h5>{{ 'customer.order.shipping_address' | trans }}</h5>
            <hr />
            {% include molecule('display-address') with {
                data: {
                    address: data.order.shippingAddress
                }
            } only %}
        </div>

        <div class="box">
            <h5>{{ 'customer.order.billing_address' | trans }}</h5>
            <hr />
            {% include molecule('display-address') with {
                data: {
                    address: data.order.billingAddress
                }
            } only %}
        </div>

        {% if data.order.cartNote is not empty %}
            <div class="box">
                {% if widgetExists('CartNoteOrderNoteWidgetPlugin') %}
                    {{ widget('CartNoteOrderNoteWidgetPlugin', data.order) }} {# @deprecated Use molecule('note-list', 'CartNoteWidget') instead. #}
                {% else %}
                    {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                        data: {
                            label: 'cart_note.customer_page.order_note',
                            note: data.order.cartNote
                        }
                    } only %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
