{% extends model('component') %}

{% define config = {
    name: 'templates-list',
} %}

{% define data = {
    templates: required,
} %}

{% block extraClass %} grid grid--center{% endblock %}

{% block body %}
    <h5 class="{{ config.name }}__title col col--sm-12 spacing-left--big spacing-bottom--big">{{ 'configurable_bundle_page.configurator.choose_template' | trans }}</h5>
    <ul class="{{ config.name }}__content col--sm-12">
        {% if data.templates | length %}
            {% for template in data.templates %}
                {# TODO change hard code urls to path() function when backend router will be ready #}
                <li class="{{ config.name }}__item col col--sm-12 col--md-6 col--xl-3">
                    <div class="box box--stretch">
                        <a href="{{ 'configurable-bundle/configurator/' ~ template.idConfigurableBundleTemplate ~ '/slots' }}"  class="{{ config.name }}__item-title grid grid--center grid--middle spacing-bottom">
                            {{ template.name | trans }}
                        </a>
                        <a href="{{ 'configurable-bundle/configurator/' ~ template.idConfigurableBundleTemplate ~ '/slots' }}" class="button button--expand button--success">
                            {{ 'configurable_bundle_page.select' | trans }}
                        </a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <p class="{{ config.name }}__content col--sm-12 spacing-left">
                {{ 'configurable_bundle_page.configurator.templates_not_found' | trans }}
            </p>
        {% endif %}
    </ul>
{% endblock %}
