{% extends template('page-layout-quote-request', 'QuoteRequestAgentPage') %}

{% define data = {
    title: '#' ~ _view.quoteRequest.quoteRequestReference,
    quoteRequest: _view.quoteRequest,
    quoteRequestVersionReferences: _view.quoteRequestVersionReferences,
    version: _view.version,
    isQuoteRequestCancelable: _view.isQuoteRequestCancelable,
    isQuoteRequestRevisable: _view.isQuoteRequestRevisable,
    isQuoteRequestEditable: _view.isQuoteRequestEditable,
} %}

{% set isLatestVersion = data.version.idQuoteRequestVersion == data.quoteRequest.latestVersion.idQuoteRequestVersion %}

{% block breadcrumbs %}
    {% set breadcrumbExtend = [
        {
            label: '#' ~ data.quoteRequest.quoteRequestReference,
        },
    ] %}

    {{ parent() }}
{% endblock %}


{% block content %}
    {% set quote = (data.isQuoteRequestEditable and isLatestVersion) ? data.quoteRequest.latestVersion.quote : data.version.quote %}

    {{ parent() }}
{% endblock %}

{% block orderInformation %}
    <div class="grid">
        {% for key, value in data.version.metadata %}
            <div class="col col--sm-12 col--xl-6 spacing spacing--big spacing--inner">
                <label class="label">{{ ('quote_request_page.quote_request.metadata.label.' ~ key) | trans }}</label>

                {% if value %}
                    <p class="text-break">{{ value }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block quoteRequestInformation %}
    {% include molecule('quote-request-information', 'QuoteRequestPage') ignore missing with {
        data: {
            quoteRequest: data.quoteRequest,
            quoteRequestVersionReferences: data.quoteRequestVersionReferences,
            version: data.version,
        },
    } only %}

    {% block latestVersionVisibilityStatus %}
        <p>
            <strong>
                {{- data.quoteRequest.isLatestVersionVisible ?
                'quote_request_page.quote_request.labels.latest_version_is_visible' | trans :
                'quote_request_page.quote_request.labels.latest_version_is_hidden' | trans -}}
            </strong>
        </p>
    {% endblock %}
{% endblock %}

{% block quoteRequestSidebar %}
    {% if quote and quote.items | length %}
        {% block delivery %}
            {% include molecule('quote-request-delivery-summary', 'QuoteRequestPage') ignore missing with {
                data: {
                    quote: quote,
                    hasMultiShipments: hasMultiShipments,
                    quoteRequestReference: data.quoteRequest.quoteRequestReference,
                },
            } only %}
        {% endblock %}

        {% block summary %}
            {% include molecule('quote-request-summary', 'QuoteRequestPage') ignore missing with {
                data: {
                    cart: quote,
                    shipmentGroups: data.shipmentGroups,
                },
            } only %}
        {% endblock %}
    {% endif %}

    {% set classButtonBack = 'button button--expand button--hollow' %}
    {% set classButtonCancel = 'button button--expand' %}
    {% set classButtonEdit = 'button button--expand button--success' %}
    {% set classButtonSendToCustomer = 'button button--expand button--success' %}
    {% set classButtonRevise = 'button button--expand button--hollow' %}
    {% set classButtonConvertToCart = 'button button--expand button--success' %}

    {% block actions %}
        <div class="box">
            {% block actionBack %}
                <a class="{{ classButtonBack }}" href="{{ url('agent/quote-request') }}">
                    {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
                </a>
            {% endblock %}

            {% if isLatestVersion %}

                {% if data.isQuoteRequestCancelable %}
                    {% block actionSeparator1 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionCancel %}
                        {{ _self.button(
                            path('agent/quote-request/cancel', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.cancel',
                            classButtonCancel) }}
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestEditable %}
                    {% block actionSeparator2 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionEdit %}
                        {{ _self.button(
                            path('agent/quote-request/edit', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.edit',
                            classButtonEdit) }}
                    {% endblock %}
                {% endif %}

                {% set showSendToCustomerButton = data.isQuoteRequestEditable and data.quoteRequest.latestVersion.quote.items is not empty %}
                {% if showSendToCustomerButton %}
                    {% block actionSeparator3 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionSendToCustomer %}
                        {{ _self.button(
                            path('agent/quote-request/send-to-customer', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.send_to_customer',
                            classButtonSendToCustomer) }}
                    {% endblock %}
                {% endif %}

                {% if data.isQuoteRequestRevisable %}
                    {% block actionSeparator4 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionRevise %}
                        {{ _self.button(
                            path('agent/quote-request/revise', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.revise',
                            classButtonRevise) }}
                    {% endblock %}
                {% endif %}

                {% set readyStatus = 'ready' %}
                {% if data.quoteRequest.status == readyStatus %}
                    {% block actionSeparator5 %}
                        <hr class="box__separator">
                    {% endblock %}

                    {% block actionConvertToCart %}
                        {{ _self.button(
                            path('agent/quote-request/convert-to-cart', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }),
                            'quote_request_page.quote_request.actions.convert_to_cart',
                            classButtonConvertToCart) }}
                    {% endblock %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}

{%- macro button(quoteRequestPath, text, className) -%}
    {% block actionTemplate %}
        <a class="{{ className }}"
           href="{{ quoteRequestPath }}"
           data-init-single-click>
            {{ text | trans }}
        </a>
    {% endblock %}
{%- endmacro -%}
