{% extends template('page-layout-main') %}

{% define data = {
    merchantProfileView: _view.merchantProfileView
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: data.merchantProfileView.contactPersonFirstName ~ ' ' ~ data.merchantProfileView.contactPersonLastName,
                    withChevron: false,
                }
            ]
        }
    } only %}
{% endblock %}

{% block title %}
    <div>
        <h2>{{ data.merchantProfileView.merchantName }}</h2>
    </div>
{% endblock %}

{% block content %}
{% set merchantName = data.merchantProfileView.contactPersonFirstName ~ ' ' ~ data.merchantProfileView.contactPersonLastName %}
<div class="grid">
    <div class="row">
        <div class="col col--sm-5 col--lg-5 col--xl-5">
            {% include atom('thumbnail') with {
                modifiers: ['bigger'],
                attributes: {
                    alt: merchantName | default(''),
                    src: (data.merchantProfileView.bannerUrlGlossaryKey | trans),
                },
            } only %}
        </div>
        <div class="col col--sm-7 col--lg-7 col--xl-7">
            <div class="row">
                <div class="col col--sm-10 col--lg-10 col--xl-10">
                    <div class="row">
                        <div class="col col--sm-12 col--lg-12 col--xl-12">
                            <p>
                                {{ data.merchantProfileView.descriptionGlossaryKey | trans }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col--sm-6 col--lg-6 col--xl-6">
                            <p>
                                <strong>{{ 'mearchant_profile.email' | trans }}</strong>
                                <br>
                                <span>{{ data.merchantProfileView.publicEmail | trans }}</span>
                            </p>
                        </div>
                        <div class="col col--sm-6 col--lg-6 col--xl-6">
                            <p>
                                <strong>{{ 'mearchant_profile.address' | trans }}</strong>
                                <br>
                                <span>+++++++</span>
                                <br>
                                <span>+++++++</span>
                                <br>
                                <span>+++++++</span>
                            </p>
                        </div>
                        <div class="col col--sm-6 col--lg-6 col--xl-6">
                            <p>
                                <strong>{{ 'mearchant_profile.phone' | trans }}</strong>
                                <br>
                                <span>{{ data.merchantProfileView.publicPhone }}</span>
                            </p>
                        </div>
                        <div class="col col--sm-6 col--lg-6 col--xl-6">
                            <p>
                                <strong>{{ 'mearchant_profile.delivery_time' | trans }}</strong>
                                <br>
                                <span>{{ data.merchantProfileView.deliveryTimeGlossaryKey | trans }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col--sm-2 col--lg-2 col--xl-2">
                    {% include atom('thumbnail') with {
                        modifiers: ['small'],
                        attributes: {
                            alt: merchantName | default(''),
                            src: (data.merchantProfileView.logoUrl | trans),
                        },
                    } only %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm-12 col--lg-12 col--xl-12">
            <h5>{{ 'mearchant_profile.terms_and_conditions' | trans }}</h5>
            <p>
                {{ data.merchantProfileView.termsConditionsGlossaryKey | trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm-12 col--lg-12 col--xl-12">
            <h5>{{ 'mearchant_profile.cancellation_policy' | trans }}</h5>
            <p>
                {{ data.merchantProfileView.cancellationPolicyGlossaryKey | trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm-12 col--lg-12 col--xl-12">
            <h5>{{ 'mearchant_profile.imprint' | trans }}</h5>
            <p>
                {{ data.merchantProfileView.imprintGlossaryKey | trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm-12 col--lg-12 col--xl-12">
            <h5>{{ 'mearchant_profile.privacy' | trans }}</h5>
            <p>
                {{ data.merchantProfileView.dataPrivacyGlossaryKey | trans }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
