{% extends template('page-layout-main') %}

{% define data = {
    merchantProfile: _view.merchantProfile,
    merchantOpeningHours: _view.merchantOpeningHours,
} %}

{% set merchantName = data.merchantProfile.merchantName %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: merchantName,
                    withChevron: false,
                },
            ],
        },
    } only %}
{% endblock %}

{% block title %}
    <h3>{{ merchantName }}</h3>
{% endblock %}

{% block content %}
    <div class="grid">
        {% block contentInner %}
            <div class="col col--sm-12 col--lg-5">
                {% set additionaImageClass = 'box' %}

                {% block image %}
                    {% include atom('thumbnail') with {
                        class: additionaImageClass,
                        modifiers: ['bigger'],
                        attributes: {
                            alt: merchantName | default,
                            src: data.merchantProfile.bannerUrlGlossaryKey | trans,
                        },
                    } only %}
                {% endblock %}
            </div>

            <div class="col col--sm-12 col--lg-7">
                {% block detailContainer %}
                    <div class="box">
                        {% block detail %}
                            <div class="grid">
                                {% block detailInner %}
                                    <div class="col col--sm-12 col--lg-12 col--xl-10">
                                        {% block description %}
                                            <p>{{ data.merchantProfile.descriptionGlossaryKey | trans }}</p>
                                        {% endblock %}

                                        {% block information %}
                                            <div class="grid">
                                                {% block informationInner %}
                                                    {% block emailCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% block email %}
                                                                {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                    data: {
                                                                        title: 'mearchant_profile.email' | trans,
                                                                        text: data.merchantProfile.publicEmail | trans,
                                                                    },
                                                                } only %}
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block addressCol %}
                                                        {% set merchantAddresses = data.merchantProfile.addressCollection | default([]) %}

                                                        {% if merchantAddresses %}
                                                            <div class="col col--sm-12 col--lg-6">
                                                                {% block address %}
                                                                    {% embed molecule('information-item', 'MerchantProfilePage') with {
                                                                        data: {
                                                                            title: 'mearchant_profile.address' | trans,
                                                                        },
                                                                        embed: {
                                                                            addresses: merchantAddresses,
                                                                        },
                                                                    } only %}
                                                                        {% block text %}
                                                                            {% for address in embed.addresses %}
                                                                                <div>{{ address.address1 }} {{ address.address2 }}</div>
                                                                                <div>{{ address.zipCode }} {{ address.city}}</div>
                                                                                <div>{{ address.address3 }}</div>
                                                                                <div>{{ address.countryName }}</div>
                                                                            {% endfor %}
                                                                        {% endblock %}
                                                                    {% endembed %}
                                                                {% endblock %}
                                                            </div>
                                                        {% endif %}
                                                    {% endblock %}

                                                    {% block phoneCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% block phone %}
                                                                {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                    data: {
                                                                        title: 'mearchant_profile.phone' | trans,
                                                                        text: data.merchantProfile.publicPhone | trans,
                                                                    },
                                                                } only %}
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block deliveryTimeCol %}
                                                        <div class="col col--sm-12 col--lg-6">
                                                            {% block deliveryTime %}
                                                                {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                    data: {
                                                                        title: 'mearchant_profile.delivery_time' | trans,
                                                                        text: data.merchantProfile.deliveryTimeGlossaryKey | trans,
                                                                    },
                                                                } only %}
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>

                                    <div class="col col--sm-3 col--lg-2">
                                        {% set additionalLogoClass = 'box' %}

                                        {% block logo %}
                                            {% include atom('thumbnail') with {
                                                class: additionalLogoClass,
                                                modifiers: ['small'],
                                                attributes: {
                                                    alt: merchantName | default,
                                                    src: data.merchantProfile.logoUrl | trans,
                                                },
                                            } only %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block scheduleContainer %}
                    <div class="box">
                        {% block schedule %}
                            <div class="grid">
                                {% block schedulelInner %}
                                    <div class="col col--sm-12 col--lg-6">
                                        {% block weekdaySchedule %}
                                            {% include molecule('weekday-schedule', 'MerchantProfilePage') with {
                                                data: {
                                                    scheduleData: data.merchantOpeningHours.weekdaySchedule | default([]),
                                                    title: 'merchant_opening_hours.opening_hours_title' | trans,
                                                },
                                            } only %}
                                        {% endblock %}
                                    </div>

                                    <div class="col col--sm-12 col--lg-6">
                                        {% block specialOpeningHours %}
                                            {% include molecule('schedule-list', 'MerchantProfilePage') with {
                                                data: {
                                                    scheduleData: data.merchantOpeningHours.dateSchedule | default([]),
                                                    title: 'merchant_opening_hours.special_opening_hours_title' | trans,
                                                },
                                            } only %}
                                        {% endblock %}

                                        {% block holidays %}
                                            {% include molecule('schedule-list', 'MerchantProfilePage') with {
                                                data: {
                                                    scheduleData: data.merchantOpeningHours.dateSchedule | default([]),
                                                    isHoliday: true,
                                                    title: 'merchant_opening_hours.public_holidays_title' | trans,
                                                },
                                            } only %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block additional %}
        {% set additionalArticlesClass = 'box' %}
        {% set informationArticles = [
            {
                'title': 'mearchant_profile.terms_and_conditions' | trans,
                'text': data.merchantProfile.termsConditionsGlossaryKey | trans,
            },
            {
                'title': 'mearchant_profile.cancellation_policy' | trans,
                'text': data.merchantProfile.cancellationPolicyGlossaryKey | trans,
            },
            {
                'title': 'mearchant_profile.imprint' | trans,
                'text': data.merchantProfile.imprintGlossaryKey | trans,
            },
            {
                'title': 'mearchant_profile.privacy' | trans,
                'text': data.merchantProfile.dataPrivacyGlossaryKey | trans,
            },
        ] %}

        {% block additionalContainer %}
            <div class="{{ additionalArticlesClass }}">
                {% for informationArticle in informationArticles %}
                    {% block additionalInformation %}
                        <div class="spacing-bottom spacing-bottom--big">
                            <h5>{{ informationArticle.title }}</h5>
                            <p>{{ informationArticle.text | raw }}</p>
                        </div>
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
