{% extends template('page-layout-main') %}

{% define data = {
    merchantProfile: _view.merchantProfile,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: data.merchantProfile.contactPersonFirstName ~ ' ' ~ data.merchantProfile.contactPersonLastName,
                    withChevron: false,
                },
            ],
        },
    } only %}
{% endblock %}

{% block title %}
    <h3>{{ data.merchantProfile.contactPersonFirstName ~ ' ' ~ data.merchantProfile.contactPersonLastName }}</h3>
{% endblock %}

{% set merchantName = data.merchantProfile.contactPersonFirstName ~ ' ' ~ data.merchantProfile.contactPersonLastName %}

{% block content %}
    <div class="grid">
        {% block contentInner %}
            <div class="col col--sm-12 col--lg-5">
                {% block image %}
                    {% include atom('thumbnail') with {
                        class: 'box',
                        modifiers: ['bigger'],
                        attributes: {
                            alt: merchantName | default,
                            src: data.merchantProfile.bannerUrlGlossaryKey | trans,
                        },
                    } only %}
                {% endblock %}
            </div>

            <div class="col col--sm-12 col--lg-7">
                {% block description %}
                    <div class="grid box">
                        {% block descriptionInner %}
                            <div class="col col--sm-12 col--lg-12 col--xl-10">
                                {% block mainInfo %}
                                    <p>{{ data.merchantProfile.descriptionGlossaryKey | trans }}</p>
                                {% endblock %}

                                {% block information %}
                                    <div class="grid">
                                        {% block informationInner %}
                                            <div class="col col--sm-12 col--lg-6">
                                                {% block email %}
                                                    {% include molecule('information-item', 'MerchantProfilePage') with {
                                                        data: {
                                                            title: 'mearchant_profile.email' | trans,
                                                            text: data.merchantProfile.publicEmail | trans,
                                                        },
                                                    } only %}
                                                {% endblock %}
                                            </div>

                                            <div class="col col--sm-12 col--lg-6">
                                                {% block address %}
                                                    {% embed molecule('information-item', 'MerchantProfilePage') with {
                                                        class: 'spacing-bottom spacing-bottom--big',
                                                        data: {
                                                            title: 'mearchant_profile.address' | trans,
                                                        },
                                                    } only %}
                                                        {% block text %}
                                                            <div>+++++++</div>
                                                            <div>+++++++</div>
                                                            <div>+++++++</div>
                                                        {% endblock %}
                                                    {% endembed %}
                                                {% endblock %}
                                            </div>

                                            <div class="col col--sm-12 col--lg-6">
                                                {% block phone %}
                                                    {% include molecule('information-item', 'MerchantProfilePage') with {
                                                        class: 'spacing-bottom spacing-bottom--big',
                                                        data: {
                                                            title: 'mearchant_profile.phone' | trans,
                                                            text: data.merchantProfile.publicPhone | trans,
                                                        },
                                                    } only %}
                                                {% endblock %}
                                            </div>

                                            <div class="col col--sm-12 col--lg-6">
                                                {% block deliveryTime %}
                                                    {% include molecule('information-item', 'MerchantProfilePage') with {
                                                        class: 'spacing-bottom spacing-bottom--big',
                                                        data: {
                                                            title: 'mearchant_profile.delivery_time' | trans,
                                                            text: data.merchantProfile.deliveryTimeGlossaryKey | trans,
                                                        },
                                                    } only %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>

                            <div class="col col--sm-3 col--lg-2">
                                {% block logo %}
                                    {% include atom('thumbnail') with {
                                        class: 'box',
                                        modifiers: ['small'],
                                        attributes: {
                                            alt: merchantName | default,
                                            src: data.merchantProfile.logoUrl | trans,
                                        },
                                    } only %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block additionalInformation %}
        <div class="box">
            <div class="spacing-bottom spacing-bottom--big">
                <h5>{{ 'mearchant_profile.terms_and_conditions' | trans }}</h5>
                <p>{{ data.merchantProfile.termsConditionsGlossaryKey | trans }}</p>
            </div>

            <div class="spacing-bottom spacing-bottom--big">
                <h5>{{ 'mearchant_profile.cancellation_policy' | trans }}</h5>
                <p>{{ data.merchantProfile.cancellationPolicyGlossaryKey | trans }}</p>
            </div>

            <div class="spacing-bottom spacing-bottom--big">
                <h5>{{ 'mearchant_profile.imprint' | trans }}</h5>
                <p>{{ data.merchantProfile.imprintGlossaryKey | trans }}</p>
            </div>

            <div class="spacing-bottom spacing-bottom--big">
                <h5>{{ 'mearchant_profile.privacy' | trans }}</h5>
                <p>{{ data.merchantProfile.dataPrivacyGlossaryKey | trans }}</p>
            </div>
        </div>
    {% endblock %}
{% endblock %}
