<ul class="no-bullet">
    {% for address in _view.addresses %}
        {% set isDefaultShipping = address.isDefaultShipping|default(false) %}
        {% set isDefaultBilling = address.isDefaultBilling|default(false) %}
        <li>
            <a href="{{ url('company/address/update', {'id': address.idCompanyUnitAddress }) }}" class="float-right">
                <small><i class="fa fa-map-marker"></i> {{ "company.account.address.edit" | trans }}</small>
            </a>
            <a href="{{ url('company/address/delete', {'id': address.idCompanyUnitAddress }) }}" class="float-right">
                <small><i class="fa fa-remove"></i> {{ "company.account.address.delete" | trans }}</small>
            </a>
            {{ address.address1 }} {{ address.address2 }},
            {{ address.zipcode }} {{ address.city }}{% if address.phone is defined and address.phone != '' %}, {{ address.phone }}{% endif %}
            <br/>
            {% if isDefaultShipping %}<span class="label success">{{ 'company.account.shipping_address' | trans }}</span>{% endif %}
            {% if isDefaultBilling %}<span class="label success">{{ 'company.account.billing_address' | trans }}</span>{% endif %}
            <br/>
            <hr>
        </li>
    {% endfor %}
</ul>
<div class="row align-center">
    {% include '@ShopLayout/layout/partials/pagination.twig' with {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'company/address',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true
    } %}
</div>
