{% extends model('component') %}

{% define config = {
    name: 'cart-operations',
    tag: 'div'
} %}

{% define data = {
    cart: required,
    actions: {
        view: true,
        update: true,
        set_active: true,
        duplicate: true,
        clear: true,
        delete: true
    }
} %}

{% set showActions = data.actions.view or data.actions.update or data.actions.set_active or data.actions.duplicate or data.actions.clear or data.actions.delete %}

{% block body %}
    <h2>{{ 'multi_cart_widget.cart.cart_name' | trans }}: {{ data.cart.name }}</h2>
    {% if showActions %}
    <ul class="menu menu--inline">
        {% if data.actions.update %}
            <li class="menu__item">
                <a href="{{ path('multi-cart/update', {quoteName: data.cart.name}) }}" class="button update">
                    {{ "multi_cart_widget.cart.action.change_name" | trans }}
                </a>
            </li>
        {% endif %}
        {% if data.cart.isActive == false and data.actions.set_active %}
            <li class="menu__item">
                <a href="{{ path('multi-cart/set-active', {quoteName: data.cart.name}) }}" class="button set-active">
                    {{ 'multi_cart_widget.cart.action.set_active' | trans }}
                </a>
            </li>
        {% endif %}
        {% if data.actions.duplicate %}
            <li class="menu__item">
                <a href="{{ path('multi-cart/duplicate', {quoteName: data.cart.name}) }}" class="button duplicate">
                    {{ "multi_cart_widget.cart.action.duplicate" | trans }}
                </a>
            </li>
        {% endif %}
        {% if data.actions.clear %}
            <li class="menu__item">
                <a href="{{ path('multi-cart/clear', {quoteName: data.cart.name}) }}" class="button clear">
                    {{ "multi_cart_widget.cart.action.clear" | trans }}
                </a>
            </li>
        {% endif %}
        {% if data.actions.delete %}
            <li class="menu__item">
                <a href="{{ path('multi-cart/delete', {quoteName: data.cart.name}) }}" class="button delete">
                    {{ "multi_cart_widget.cart.action.delete" | trans }}
                </a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
