{% extends model('component') %}

{% define config = {
    name: 'return-product-item',
} %}

{% define data = {
    item: required,
} %}

{% set checkboxColumnClass = 'col col--middle col--sm-2' %}
{% set productItemColumnClass = 'col col--sm-10 grid' %}

{% block body %}
    {% block checkboxColumn %}
        <div class="{{ checkboxColumnClass }}">
            {% block checkboxColumnInner %}
                {% include atom('thumbnail') with {
                    modifiers: ['small'],
                    attributes: {
                        src: data.item.metadata.image,
                    },
                } only %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block productItemColumn %}
        <div class="{{ productItemColumnClass }}">
            {% set productInfoColumnClass = 'col col--sm-4' %}
            {% set productStatusColumnClass = 'col col--sm-2 text-center' %}
            {% set productPriceColumnClass = 'col col--sm-2 text-center' %}
            {% set productQuantityColumnClass = 'col col--sm-2 text-center' %}
            {% set productPriceTotalColumnClass = 'col col--sm-2 text-center' %}

            {% block productItemColumnInner %}
                {% block productItemInfo %}
                    <div class="{{ productInfoColumnClass }}">
                        {% set productNameClass = '' %}
                        {% set skuClass = 'text-secondary' %}

                        {% block productItemInfoInner %}
                            {% block productItemName %}
                                <h6 class="{{ productNameClass }}">
                                    {{ data.item.name }}
                                </h6>
                            {% endblock %}

                            {% block productItemSku %}
                                <small class="{{ skuClass }}">
                                    {{ 'return_page.item_sku' | trans }} {{ data.item.sku }}
                                </small>
                            {% endblock %}

                            {% if data.item.productOptions is not empty %}
                                <div class="spacing-bottom">
                                    {% block productOptions %}
                                        {{ 'return_page.item.options' | trans }}
                                        <ul>
                                            {% for productOption in data.item.productOptions %}
                                                <li>
                                                    &nbsp; + {{ productOption.value | trans }}
                                                    <strong>{{ productOption.sumPrice | money(true, data.item.currencyIsoCode) }}</strong>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endblock %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% set itemState = data.item.state.name | replace({' ': '-'}) | lower %}

                {% block productState %}
                    <div class="{{ productStatusColumnClass }}">
                        {% block state %}
                            {% include molecule('status') with {
                                data: {
                                    label: ('oms.state.' ~ itemState) | trans,
                                    status: itemState,
                                },
                            } only %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block productItemPrice %}
                    <div class="{{ productPriceColumnClass }}">
                        {% if data.item.sumDiscountAmountFullAggregation is defined and data.item.sumDiscountAmountFullAggregation is not null -%}
                            {% block currentProductItemPrice %}
                                <div>
                                    <strong>{{ (data.item.sumPrice - data.item.sumDiscountAmountFullAggregation) | money(true, data.item.currencyIsoCode) }}</strong>
                                </div>
                            {% endblock %}

                            {% block oldProductItemPrice %}
                                <div>
                                    <del class="text-secondary">{{ data.item.sumPrice | money(true, data.item.currencyIsoCode) }}</del>
                                </div>
                            {% endblock %}
                        {% else %}
                            {% block originalProductItemPrice %}
                                <div>
                                    <strong>{{ data.item.sumPrice | money(true, data.item.currencyIsoCode) }}</strong>
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}

                {% block productItemQuantityAmount %}
                    <div class="{{ productQuantityColumnClass }}">
                        {% block productItemQuantity %}
                            <div>{{ 'return_page.quantity' | trans }} {{ data.item.quantity }}</div>
                        {% endblock %}

                        {% if data.item.amount %}
                            {% block productItemAmount %}
                                <div>{{ 'customer.order.item_amount' | trans }}: {{ data.item.amount.toFloat() }}</div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}

                {% block productItemTotalPrice %}
                    <div class="{{ productPriceTotalColumnClass }}">
                        <strong>{{ data.item.sumPriceToPayAggregation | money(true, data.item.currencyIsoCode) }}</strong>
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
